@import './mixins.scss';

$lime-green: #8EFA00;
$spotify-green: #4EA240;

$instagram-pink: #FF0000;
$instagram-orange: #FF9900;

$facebook-blue: #2F4984;
$twitter-color: #569DE6;
$google-red: #DC4F4F;


// width setting
$panel-collapse-width: 780px;
$mobile-width: 420px;