<template>

<div class="artist-background-container">
  <div class="artist-background"
    :style="{background: 'url(' + (info.image ? info.image : defaultPictureUrl) + ')'}" >
  </div>
</div>

<div id="main-inner">

<!-- ⬇︎ user-info -->
  <div id="user-info">

    <div class="user-thumbnail"
      :style="{background: 'url(' + (info.image ? info.image : defaultPictureUrl) + ')'}"></div>

    <div class="user-desc">

      <p class="header">ARTIST</p>
      <h3 class="name">
        {{ info.name }}
      </h3>
      <div id="action">
        <button class="button shuffle-play" @click="playAll">
          <i class="fa fa-play" aria-hidden="true"></i>
          Shuffle Play
        </button>
        <button class="button follow">
          Follow
        </button>
      </div><!-- action -->
    </div><!-- user-desc -->

  </div><!-- user-info -->


<!-- ⬇︎ nav -->
  <div id="user-nav">
    <h2 :class="{'active': tab=='overview'}" @click="tab='overview'" >
      Videos
    </h2>
    <h2 :class="{'active': tab=='related_artists'}" @click="tab='related_artists'" v-if="false">
      Related Artists
    </h2>
    <h2 :class="{'active': tab=='related_playlists'}" @click="tab='related_playlists'" v-if="false">
      Related Playlists
    </h2>
    <h2 :class="{'active': tab=='about'}" @click="tab='about'">
      About
    </h2>
  </div><!-- nav -->


  <div class="user-content">
<!-- ⬇︎ videos -->
    <div class="full-width-responsive-inner" v-show="tab=='overview'">
      <video-item v-for="video in videos" :video="video"></video-item>
    </div>


<!-- ⬇︎ description -->
    <div class="artist-desc-container" v-show="tab=='about'">
      <table>
        <tr>
          <th>Country</th>
          <td>
            <span> {{ info.country.name }}</span>
          </td>
        </tr>
        <tr>
          <th>Genre</th>
          <td>
            <a v-link="{ name: 'browseDetail' , params: { type: 'genre', id: info.genre.id } }"> 
              {{ info.genre.name }}
            </a>
          </td>
        </tr>
        <tr>
          <th>Type</th>
          <td>
            <span>{{ info.band ? 'Band' : 'Solo'}}</span>
          </td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>
            <span>{{ info.gender ? 'Female' : 'Male'}}</span>
          </td>
        </tr>
        <tr>
          <th>Instrument</th>
          <td>
            <a v-link="{ name: 'browseDetail' , params: { type: 'tag', id: info.tag.id } }">
              {{ info.tag.name }}
            </a>
          </td>
        </tr>
        <tr>
          <th>Description</th>
          <td>
            {{ info.description }}
          </td>
        </tr>
      </table>
    </div>


  </div><!-- user-content -->

</div><!-- main-container -->

</template>

<script>
import http from '../../services/http'
import VideoItem from '../shared/video-item'

export default {
  components: {VideoItem},
  data () {
    return {
      tab: 'overview',
      info: {},
      videos: [],
      defaultPictureUrl: '/static/myapp/img/default_artist.png'
    }
  },
  watch: {
    '$route.params.name': function (val) {
      this.fetchData()
    }
  },
  ready () {
    this.$root.$broadcast('player:minimize')
    this.fetchData()
  },
  events: {
  },
  methods: {
    fetchData: function () {
      var name = this.$route.params.name === undefined ? '' : this.$route.params.name
      http.get('/api/get_detail_artist_info', {name: name}, (res) => {
        this.info = res.artist
        this.videos = res.videos
      })
    },
    playAll: function () {
      this.$root.$broadcast('player:play-video', undefined, undefined, {artist: this.info.id})
    }
  }
}
</script>

<style scoped lang="scss">
@import 'assets/sass/user-page.scss';

</style>