{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}

  <h3>{% trans "Social Login Failure" %}</h3>

  <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>

{% endblock %}
