{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

  <h3>{% trans "Sign Up" %}</h3>

  <p>
    {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}
      You are about to use your <span class="facebook">{{provider_name}}</span> account to login to {{site_name}}.<br>
      To finish signing in, please register your email.
    {% endblocktrans %}
  </p>

  <form id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    <div class="input-container">

      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
    </div>
    <button type="submit" class="signup">{% trans "Sign Up" %} &raquo;</button>
  </form>

{% endblock %}
