<html>
<head>
  {% load staticfiles %}

  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static "css/stylesheets/main.css" %}" />
  <link rel="stylesheet" href="{% static "css/font-awesome/css/font-awesome.min.css" %}"><!-- font awesome -->
  <link rel="shortcut icon" href="../favicon.ico">
  <title>muusick</title>

</head>
<body>

<div class="background"></div>

<div id="main-container">

  <div class="container">
    <div class="panel left">
      <div class="inner">
        <div class="header">
          <a href="/">
            <img src="{% static "css/img/logo.png" %}" class="logo">
          </a>
          <h1>Muusickへようこそ！</h1>
        </div>
        <img src="{% static 'myapp/img/982745981724761248646.png' %}">
      </div>
    </div>

    <div class="panel right">
      <div class="inner">
        <div class="header">
          <a href="/">
            <img src="{% static "css/img/logo.png" %}" class="logo">
          </a>
          <h1>Muusickへようこそ！</h1>
        </div>

        {% block content %}
        {% endblock %}
      </div>
    </div>

  </div>
</div>
</body>
</html>