{% extends "account/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  {% get_providers as socialaccount_providers %}
  {% if socialaccount_providers %}

  <a href="/accounts/facebook/login/?process=login">
    <button class="facebook-login">
      <i class="fa fa-facebook-official" aria-hidden="true"></i>
      Facebook でログインする
    </button>
  </a>

  <div class="divider">
    <p>または</p>
  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  <p>{% blocktrans %}If you have not created an account yet, then please
  <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  {% endif %}

  <form method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}

    <p class="error-msg">{{ form.non_field_errors }}</p>

    <div class="input-container">
      <input autofocus="autofocus" id="id_login" maxlength="150" name="login" placeholder="USERNAME" type="text" required />
      <p class="error-msg">{{ form.username.errors }}</p>
    </div>

    <div class="input-container">
      <input id="id_password" name="password" placeholder="PASSWORD" type="password" required />
      <p class="error-msg">{{ form.password.errors }}</p>
    </div>


    <div class="checkbox-container">
      <input id="id_remember" name="remember" type="checkbox"/>
      ログイン情報を記憶する
    </div>

    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="login" type="submit">{% trans "ログイン" %}</button>
    <p class="link-to-login">
      <a href="{% url 'account_reset_password' %}">{% trans "パスワードを忘れた場合" %}</a>
    </p>

  </form>

  <div class="divider">
    <p>新規にはじめる方は</p>
  </div>

  <button class="signup">
    <a href="{{ signup_url }}">新しくアカウントを登録する</a>
  </button>

{% endblock %}