{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

  <h3>{% trans "Change Password" %}</h3>
  <p>{% trans 'Your password has been changed successfully!' %}</p>

{% endblock %}