{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

  <h3>{% trans "パスワードのリセット" %}</h3>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>{% trans "登録に使用したEメールアドレスを入力してください。パスワードをリセットするためのリンクを記載したEメールをお送りします。" %}</p>

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}

    <div class="input-container">
      <input id="id_email" name="email" placeholder="E-mail address" size="30" type="email" required />
      <p class="error-msg">
        {{ form.email.errors }}
      </p>
    </div>


    <button class="login">送信</button>

    <p class="link-to-login">
      {% blocktrans %}
      さらにサポートが必要な場合は、<a href="#">muusickサポート</a>にお問い合わせください。
      {% endblocktrans %}
    </p>
    <div class="divider"></div>
    <p class="link-to-login">
      ログイン画面に戻る → <a href="{{ login_url }}">ログイン</a>
    </p>

  </form>

{% endblock %}