{% extends "account/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

	<a href="/accounts/facebook/login/?process=login">
		<button class="facebook-login">
		  <i class="fa fa-facebook-official" aria-hidden="true"></i>
		  Facebook で登録する
		</button>
	</a>

	<div class="divider">
	  <p>または</p>
	</div>

	<form id="signup_form" method="post" action="{% url 'account_signup' %}">
	  {% csrf_token %}

		<p class="error-msg">{{ form.non_field_errors }}</p>

		<div class="input-container">
			{{ form.username }}
			<p class="error-msg">
				{{ form.username.errors }}
			</p>
		</div>

		<div class="input-container">
			{{ form.email }}
			<p class="error-msg">
				{{ form.email.errors }}
			</p>
		</div>

		<div class="input-container">
			{{ form.password1 }}
			<p class="error-msg">
				{{ form.password1.errors }}
			</p>
		</div>

		<div class="input-container">
			{{ form.password2 }}
			<p class="error-msg">
				{{ form.password2.errors }}
			</p>
		</div>

		<div class="input-container">
			{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
		</div>

		<button type="submit" class="signup">{% trans "登録する" %}</button>

	</form>

	<div class="divider">
	  <p>すでにアカウントお持ちの方は</p>
	</div>
	<button type="submit" class="login margin-reset"><a href="{{ login_url }}">ログイン</a></button>


{% endblock %}