{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

  <h3>{% trans "Email Confirmation" %}</h3>

  <p>{% blocktrans %}We have sent an email to <span>{{ email }}</span> to make sure that your are not a robot(since there are a lot these days...). After receiving the email, please follow the link provided to finish signing up.{% endblocktrans %}</p>

  <div class="divider"></div>

  <p>If you have not recieved our confirmation email within 2-3 minuites, please contact us at <a>info@muusick.tv</a></p>

{% endblock %}