{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

  <h3>{% trans "Email Confirmation" %}</h3>

  {% url 'account_email' as email_url %}

  <p>
    {% blocktrans %}
      This part of our service requires your email confirmation.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}
      We have sent an e-mail to you for verification. Please click on the link inside this e-mail. Please contact us if you do not receive it within a few minutes.
    {% endblocktrans %}
  </p>

  <p>
    {% blocktrans %}
      If you want to change your email address, click <a href="{{ email_url }}">here</a>.
    {% endblocktrans %}
  </p>


{% endblock %}