
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($transition-duration) {
  -webkit-transition: $transition-duration;
     -moz-transition: $transition-duration;
      -ms-transition: $transition-duration;
          transition: $transition-duration;
}
@mixin input-placeholder-color($color) {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}


@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


@mixin button-bg($bg) {
  background: $bg;
  @include border-radius(1em);
  border: 1px solid darken($bg, 20%);

  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

/* responsibe responsibe responsibe responsibe */
@mixin small-window {
  @media (max-width: #{$small-window}) {
    @content;
  }
}

@mixin medium-window {
  @media (min-width: #{$small-window}) and (max-width: #{$medium-window}) {
    @content;
  }
}

@mixin large-window {
  @media (min-width: #{$medium-window}) and (max-width: #{$large-window}) {
    @content;
  }
}
@mixin extra-large-window {
  @media (min-width: #{$large-window}) {
    @content;
  }
}
/* responsibe responsibe responsibe responsibe */

@mixin browse-min-width {
  @media (max-width: #{1120px}) {
    @content;
  }
}/* browse responsive */


@mixin arrow($color) {
    position: relative;
    background: $color;
    border: 1px solid red;

  &:after, &:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: $color;
    border-width: 15px;
    margin-left: -15px;
  }
  &:before {
    border-color: rgba(192, 192, 192, 0);
    border-top-color: $color;
    border-width: 16px;
    margin-left: -16px;
  }
}