@import './_vars.scss';

$popup-width: 900px;
$popup-height: 600px;
$popup-background-color: rgba(245,245,245,1);

$header-height: 40px;
$footer-height: 40px;


$left-panel-background-color: rgba(220,220,220,1);
$right-panel-background-color: rgba(240,240,240,1);

$header-height: 40px;
$footer-height: 40px;

$spotify-green: darken(#1ED760,4%);
$google-red: #E34545;


*:focus {
  outline: none;
}


#not-login{
    font-size: 22px;
    text-align: center;
}


#muuz-add-popup{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.6);
  font-size: 0;
  @include transition(.2s);

  #awesome-container{
    z-index: 99999;
    position: fixed;
    width: $popup-width;
    height: $popup-height;
    top: 49%; /* to position popup slightly above middle */
    left: 50%;
    margin-top: -($popup-height/2);
    margin-left: -($popup-width/2);
    background: $popup-background-color;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    @include border-radius(10px);
    overflow: hidden;
    font-size: 0;

    #inner{
    position: relative;
    z-index: 99999;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    height: 100%;
    display: block;
    font-size: 0;
    }
    #header{
      position: relative;
      z-index: 1;
      height: $header-height;
      background: darken($left-panel-background-color, 5%);
      background: -webkit-linear-gradient(left, rgba(18,18,18,1), darken($left-panel-background-color, 5%)); /* For Safari 5.1 to 6.0 */
      width: 100%;
      img{
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 20px;
        height: 20px;
        width: auto;
      }

      .close{
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 16px;
        font-size: 20px;
        color: rgba(70,70,70,1);
        opacity: .7;
        &:hover{
          opacity: 1;
        }
      }

    }/* header */


    .panel, .scroll{
      position: relative;
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      height: $popup-height - $header-height;
      font-size: 0;
      overflow: hidden;
      background-color: $left-panel-background-color;
      &.left{
        padding: 10px;
        width: 65%;
        background-color: $left-panel-background-color;
      }
      &.right{
        padding: 0;
        width: 35%;
        background-color: $right-panel-background-color;
      }

      &.left{
        $thumbnail-height: 110px;
        $thumbnail-width: $thumbnail-height * 1.77777777777778;

        h1{
          box-sizing: border-box;
          margin: 40px 0 10px 0;
          color: rgba(80,80,80,1);
          font-size: 20px;
        }

        .current-video-container{
          margin: 0;

          &.not-staff{
            font-size: 14px;
            text-align: center;


            .thumbnail-container{
                position: relative;
                display: block;
                margin: 100px 0 0 180px;


                .thumbnail{
                     position: relative;
                }
            }

          }

          h3{
            color: rgba(120,120,120,1);
            padding: 0;
            margin: 0;
            text-align: left;
            line-height: 30px;
            font-size: 16px;
          }
          .thumbnail-container{
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 0;
            .thumbnail{
              position: absolute;
              top: 0;
              left: 0;
              height: $thumbnail-height;
              width: $thumbnail-width;
              background-color: rgba(0,140,120,1);
              background-size: cover !important;
              background-repeat: no-repeat !important;
              background-position: center !important;
            }

          }
          .video-info-input{
            display: inline-block;
            vertical-align: top;
            box-sizing: border-box;
            width: 100%;
            padding-left: $thumbnail-width + 10px;
            position: relative;

            p{
              color: rgba(80,80,80,1);
              font-size: 13px;
              margin: 0;
            }


            .input-container{
              position: relative;
              $input-container-background-color: lighten($left-panel-background-color, 7%);
              $input-font-size: 11px;
              $input-color: rgba(80,80,80,1);
              box-sizing: border-box;
              width: 100%;
              padding: 0 5px;
              background-color: $input-container-background-color;
              font-size: $input-font-size;
              color: $input-color;
              line-height: 16px;
              margin-top: 10px;
              box-shadow: inset 1px 1px 2px rgba(0,0,0,.1);
              @include border-radius(5px);

              span{
                display: inline-block;
                vertical-align: top;
                color: $input-color;
                height: 22px;
                line-height: 22px;
                margin: 4px;
                resize: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                font-size: 12px;
                &:nth-child(1){
                  font-weight: bold;
                  opacity: .7;
                  margin-right: 0;
                }
                &.tag{
                  padding: 0 6px 0 8px;
                  background: darken($input-container-background-color, 5%);
                  border-radius: 2px;
                  box-shadow: 1px 1px 2px rgba(0,0,0,.2);
                  i{
                    cursor: pointer;
                    padding-left: 5px;
                    opacity: .6;
                    &:hover{
                      opacity: 1;
                    }
                  }
                }
              }

              .input-wrapper{
                display: inline-block;
                vertical-align: middle;
                position: relative;

                input{
                  color: $input-color;
                  width: 100%;
                  display: inline-block;
                  vertical-align: top;
                  padding: 0;
                  height: 22px;
                  line-height: 22px;
                  border: 1px solid #ccc;
                  border-radius: 3px;
                  margin: 4px;
                  font-size: $input-font-size;
                  border: 0px solid rgba(0,0,0,0);
                  background-color: $input-container-background-color;
                  @include input-placeholder-color(lighten($input-color, 30%));
                }
              }/* input-wrapper */

              .suggestions{
                position: absolute;
                z-index: 99;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0;
                .suggest-item-container{
                  position: absolute;
                  top: -1px;
                  left: 0;
                  box-sizing: border-box;
                  padding-right: 10px;
                  background: #F4F7F7;
                  width: 100%;
                  .suggest-item{
                    @include border-radius(5px);
                    cursor: pointer;
                    display: inline-block;
                    vertical-align: top;
                    font-size: 12px;
                    padding: 5px 16px;
                    margin: 10px 0 0 10px;
                    background: #AACFD0;
                    color: rgba(60,60,60,1);
                    &:last-child{
                      margin: 10px 0 10px 10px;
                    }
                    &:hover{
                      background: darken(#AACFD0, 8%);
                    }
                  }
                }
              }/* suggestion */

            }/* ipnut container */
          }/* video-info input */
        }/* current-video-container */

        .full-width-responsive-inner{
          width: 101.6%;
          font-size: 0;
        }
        .genre{
          $thumbnailWidth: 36px;

          position: relative;
          cursor: pointer;
          display: inline-block;
          vertical-align: top;
          box-sizing: border-box;
          @include border-radius(2px);
          overflow: hidden;
          background-color: $right-panel-background-color;
          box-shadow: 2px 2px 3px rgba(0,0,0,.4);
          padding-left: $thumbnailWidth + 5;
          padding-right: 30px;
          height: $thumbnailWidth;
          @include transition(.2s);

          /*
            1.6 / 101.6 = 0.015748031496063
          */
          margin: 0 1.5748031496063% 1.5748031496063% 0;

          /*
            width: calc(96.8% / 3); = 32.26666666666667
            32.26666666666667 / 101.6 = 0.31758530183727
          */
          width: 31.758530183727%;
          font-size: 23px;

          .title{
            position: relative;
            z-index: 1;
            display: table-cell;
            vertical-align: middle;
            height: $thumbnailWidth;
            color: rgba(80,80,80,1);
            font-size: 13px;
            p{
              padding: 0;
              margin: 0;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
          }

          .thumbnail{
            @include border-radius(2px 0 0 2px);
            overflow: hidden;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: $thumbnailWidth;
            height: $thumbnailWidth;
            background-color: rgba(0,140,120,1);
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            @include transition(.4s);
          }/* thumbnail */
          .action{
            position: relative;
            z-index: 2;
            color: rgba(160,160,160,1);
            position: absolute;
            top: 0;
            right: 0;
            i{
              line-height: $thumbnailWidth;
              padding: 0 10px;
              font-size: 25px;
              &.add{
                color: rgba(170,170,170,1);
                display: inline-block;
              }
              &.added{
                display: none;
                color: $spotify-green;
              }
            }/* i */
          }/* action */
          &:hover{
            background-color: lighten($right-panel-background-color, 5%);
            .thumbnail{
              opacity: .6;
            }
            .title{
              opacity: .7;
            }
            .action{
              i{
                color: rgba(80,80,80,1);
              }
            }
          }
          &.active{
            box-shadow: 0 0 0 rgba(0,0,0,0);
            background-color: rgba(190,190,190,1);

            .thumbnail{
              opacity: .6;
            }
            .action{
              opacity: .9;
              i{
                color: rgba(160,160,160,1);
                &.add{
                  display: none;
                }
                &.added{
                  color: rgba(0,140,120,1);
                  display: inline-block;
                }
              }/* i */
            }/* action */
            &:hover{
              i{
                color: rgba(160,160,160,1);
              }/* i */
            }
          }/* active genre */
        }/* genre */
      }/* left-panel */
/* ⬆︎ left panel content below */

/* ⬇︎ right panel content below */
      &.right{
        position: relative;
        $gray: rgba(190,190,190,1);
        $footer-height: 28px;

        h1{
          box-sizing: border-box;
          margin: 0 0 10px 0;
          color: rgba(80,80,80,1);
          font-size: 20px;
        }

        .playlist-container{
          position: relative;
          box-sizing: border-box;
          height: 100%;
          padding: 10px;
          padding-bottom: $footer-height + 10px;
          overflow: auto;
          h3{
            font-size: 24px;
          }
        }
        .playlist{
          $thumbnailWidth: 50px;

          cursor: pointer;
          position: relative;
          vertical-align: middle;
          box-sizing: border-box;
          width: 100%;
          @include border-radius(5px);
          background-color: lighten($right-panel-background-color, 3%);
          height: $thumbnailWidth;
          margin: 0 0 10px 0;
          padding-left: $thumbnailWidth + 5;
          padding-right: 40px;
          @include transition(.2s);
          box-shadow: 2px 2px 4px rgba(0,0,0,.4);

          .title{
            position: relative;
            z-index: 1;
            display: table-cell;
            vertical-align: middle;
            height: $thumbnailWidth;
            color: rgba(80,80,80,1);
            font-size: 13px;
            p{
              padding: 0;
              margin: 0;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
          }

          .thumbnail{
            @include border-radius(5px 0 0 5px);
            overflow: hidden;
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            width: $thumbnailWidth;
            height: $thumbnailWidth;
            background-color: rgba(0,140,120,1);
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            @include transition(.2s);

          }/* thumbnail */
          .playlist-background{
            @include border-radius(5px 0 0 5px);
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            opacity: .1;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat !important;
            background-position: center !important;
            background-size: 110% auto !important;
            -webkit-filter: blur(2px);
            filter: blur(2px);
            @include transition(.2s);
          }
          .action{
            cursor: pointer;
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;
            color: rgba(160,160,160,1);
            @include transition(.2s);
            i{
              line-height: $thumbnailWidth;
              padding: 0 10px;
              font-size: 25px;
              @include transition(.2s);
              &.add{
                color: rgba(160,160,160,1);
                display: inline-block;
                &:hover{
                  color: $spotify-green;
                }
              }
              &.added{
                display: none;
                color: $spotify-green;
              }
            }/* i */
          }/* action */
          &:hover{
            background-color: lighten($right-panel-background-color, 6%);
            .thumbnail{
              opacity: .6;
            }
            .title{
              opacity: .7;
            }
            .playlist-background{
              background-size: 120% auto !important;
              -webkit-filter: blur(4px);
              filter: blur(4px);
            }
            .action{
              i{
                color: rgba(80,80,80,1);
              }
            }
          }
          &.active{
            background-color: rgba(200,200,200,1);
            box-shadow: 0 0 0 rgba(0,0,0,0);
            .thumbnail{
              opacity: .6;
            }
            .action{
              opacity: .9;
              i{
                color: rgba(160,160,160,1);
                &.add{
                  display: none;
                }
                &.added{
                  color: rgba(0,140,120,1);
                  display: inline-block;
                }
              }/* i */
            }/* action */
            &:hover{
              i{
                color: rgba(160,160,160,1);
              }/* i */
            }
          }/* active playlist */

        }/* playlist */


        .new-playlist-btn-container{
          position: absolute;
          z-index: 99;
          bottom: 0;
          left: 0;
          box-sizing: border-box;
          width: 100%;
          line-height: $footer-height;
          padding: 5px;
          display: block;
          background-color: rgba(80,80,80,1);
          box-shadow: 0 2px 4px rgba(0,0,0,.6);
          text-align: center;

          .new-playlist-button{
            cursor: pointer;
            box-sizing: border-box;
            border: 0px solid rgba(0,0,0,0);
            width: 90%;
            @include border-radius(5px);
            padding: 5px 10px;
            font-size: 16px;
            color: darken($gray, 40%);
            background: rgba(230,230,230,1);
            box-shadow: 0 2px 4px rgba(0,0,0,.6);
            &:hover{
              background: rgba(255,255,255,1);
            }
            &:active{
              @include transition(0);
              opacity: .8;
              box-shadow: 0 0 0 rgba(0,0,0,0);
            }
          }//new-playlist-button
        }//new-playlist-btn-container

        #new-playlist-container{
          position: absolute;
          z-index: 99;
          top: 0px;
          bottom: 0px;
          left: 0;
          right: 0;
          background: rgba(240,240,240,1);
          text-align: center;

          .playlist-desc{
            display: inline-block;
            vertical-align: top;
            width: 90%;
            input,
            textarea{
              @include border-radius(5px);
              color: rgba(20,20,20,1);
              font-size: 14px;
              box-sizing: border-box;
              width: 100%;
              padding: 10px;
              background-color: rgba(220,220,220,1);
              border: 1px solid rgba(0,0,0,0);
              &:focus{
                background-color: #EBFFFA;
                border: 1px solid #C6FCE5;
              }
            }
            input{
              margin: 40px 0 8px 0;
            }
            textarea{
              margin-top: 10px;
              font-size: 14px;
              width: 100%;
              height: 120px;
            }
          }
          .error-msg{
            margin: 0;
            padding: 20px 0 0 0;
            font-size: 14px;
            color: $google-red;
            text-shadow: 1px 1px 3px rgba(0,0,0,.7);
          }
          .action{
            padding: 20px 0;
            text-align: center;
            button{
              display: block;
              margin: 0 auto;
              cursor: pointer;
              border-radius: 20px;
              border: 0px solid rgba(0,0,0,0);
              box-shadow: 1px 1px 2px rgba(0,0,0,.4);
              transition: .2s;
              -webkit-transition: .2s;
              color: rgba(255,255,255,1);

              &.create{
                font-size: 17px;
                background: darken(#62D2A2, 10%);
                padding: 4px 27px;
                &:hover{
                  background: #62D2A2;
                }
              }
              &.cancel{
                margin-top: 20px;
                padding: 3px 14px;
                font-size: 14px;
                background: rgba(90,90,90,1);
                &:hover{
                  background: lighten(red, 30%);
                }
              }
            }
          }
        }/* new-playlist-container */


      }/* right-panel */
    }/* panel */

    #not-login{
      height: $popup-height - $header-height - 20px;
      width: $popup-width;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      h1{
        text-align: center;
        display: inline-block;
        width: 100%;
        font-size: 30px;
        a{
          color: $spotify-green;
          text-decoration: none;
          &:hover{
            opacity: .8;
            text-decoration: underline;
          }
        }
      }
    }

  }/* awesome-container */
}/* popup */