@import './_vars.scss';

$left-panel-background-color: rgba(30,30,30,1);
$right-panel-background-color: rgba(60,60,60,1);

$spotify-green: darken(#1ED760,4%);
$google-red: #E34545;

html,
body{
  padding: 0;
  margin: 0;
}
body{
  font-family: "Segoe UI",Arial,sans-serif;
}

*:focus {
    outline: none;
}


#login, #noselect{
    color: white;
    font-size: 20px;
}

#app{
  position: relative;
  width: 688px;
  height: 540px;
  overflow: hidden;
  // border-radius: 10px;
  // box-shadow: 1px 1px 3px rgba(0,0,0,.6);
  background: $extension-background-color;

  #inner{
    height: 100%;
    font-size: 0;
    #panel{
      box-sizing: border-box;
      display: inline-block;
      vertical-align: top;
      width: 50%;
      height: 100%;
      overflow-y: auto;
      padding: 20px;
      background-color: $left-panel-background-color;
      &.left{
        background-color: $left-panel-background-color;
      }
      &.right{
        background-color: $right-panel-background-color;
      }

      &.left{

        #header{
          text-align: center;
          box-sizing: border-box;
          width: 100%;
          img{
            height: 24px;
            width: auto;
          }
        }

        .current-video-container{
          box-sizing: border-box;
          position: relative;
          text-align: center;
          padding: 10px;
          margin: 20px 0 0 0;
          background: rgba(0,0,0,.2);
          width: 100%;
          h3{
            color: rgba(80,80,80,1);
            padding: 0;
            margin: 0;
            text-align: left;
            line-height: 30px;
            font-size: 16px;
          }
          .thumbnail{
            position: absolute;
            top: 40px;
            left: 10px;
            margin: 0 auto;
            width: 72px;
            height: 54px;
            background-color: rgba(0,140,120,1);
          }
          .desc{
            box-sizing: border-box;
            width: 100%;
            height: 54px;
            text-align: left;
            box-sizing: border-box;
            font-size: 12px;
            margin: 0;
            color: rgba(150,150,150,1);
            padding: 0 0 0 77px;
            p{
              margin: 0;
            }
          }
        }/* current-video-container */
        h2{
          margin: 30px 0 10px 0;
          color: rgba(210,210,210,1);
          font-size: 20px;
        }
        #offical-playlist-container{
          position: relative;
          overflow: hidden;

          .wrapper{
            position: relative;
            width: 2000px;
          }
          .playlist{
            border-radius: 5px;
            position: relative;
            background: rgba(90,90,90,1);
            text-align: center;
            line-height: auto;
            display: inline-block;
            vertical-align: top;
            overflow: hidden;
            opacity: .8;
            margin: 3px;
            box-shadow: 0 0 10px rgba(0,0,0,.4);
            width: 145px;
            a{
              text-decoration: none !important;
            }

            .thumbnail-container{
              position: relative;
              width: 100%;
              height: auto;

              &:before{
                content: "";
                display: block;
                padding-top: 94%;
              }
              .thumbnail{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0,80,0,1);
                background-image: url(../../assets/noimage.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
              }

              .action{
                text-align: center;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,.4);
                font-size: 40px;
                opacity: 0;

                &:hover{
                  opacity: 1;
                  background: rgba(0,0,0,.6);
                }
                .inner{
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                }
                p{
                  display: inline-block;
                  position: relative;
                  top: 50%;
                  transform: translateY(-50%);
                  -webkit-transform: translateY(-50%);
                  text-align: center;
                  margin: 0;
                  padding: 0;

                  i.play{
                    cursor: pointer;
                    border-radius: 50%;
                    border: 2px solid rgba(255,255,255,.4);
                    padding: 18px 18.395px 18px 22.395px;
                    margin: 0;
                    color: rgba(255,255,255,1);
                    text-shadow: 1px 1px 2px rgba(0,0,0,1);
                    font-size: 25px;
                    background: rgba(0,0,0,.6);
                    cursor: pointer;
                    &:hover{
                      border: 2px solid rgba(255,255,255,1);
                      font-size: 27px;
                    }
                  }
                }/* p (play button) */
              }/* action */
            }/* thumbnail-container */
            .playlist-desc-container{
              cursor: pointer;
              position: relative;
              text-align: left;
              box-sizing: border-box;
              margin: 0;
              padding: 0;
              font-size: 14px;
              white-space: normal;
              font-weight: normal;
              width: 100%;
              height: 110px;
              text-shadow: 1px 1px 5px rgba(0,0,0,.6);
              .playlist-desc-background{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: .2;
                -webkit-filter: blur(10px);
                filter: blur(10px);
                background-repeat: no-repeat !important;
                background-size: cover !important;
                background-position: center !important;
              }
              .title{
                margin: 0;
                padding: 10px 10px 8px 10px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                color: rgba(255,255,255,1);
                opacity: .8;
              }
              .description{
                color: rgba(220,220,220,1);
                margin: 0;
                padding: 0 10px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                opacity: .8;
                font-size: 12px;
              }
              &:hover{
                .title{
                  opacity: 1;
                  text-decoration: underline;
                }
              }
            }/* playlist-desc-container */
          }/* item */

        }
      }/* left-panel */

      &.right{
  /* right panel content below */
        $gray: rgba(190,190,190,1);
        .new-playlist-button{
          cursor: pointer;
          box-sizing: border-box;
          border: 0px solid rgba(0,0,0,0);
          width: 100%;
          border-radius: 20px;
          padding: 5px 10px;
          font-size: 16px;
          color: darken($gray, 40%);
          background: $gray;
          box-shadow: 1px 1px 4px rgba(0,0,0,.6);
          transition: .2s;
          -webkit-transition: .2s;
          &:hover{
            background: darken($gray, 10%);
          }

        }

        #new-playlist-container{
          border-radius: 5px;
          position: relative;
          background: grey;
          text-align: center;
          padding: 10px 0 0 0;
          margin: 10px 0 20px 0;
          width: 100%;

          .thumbnail{
            position: relative;
            display: inline-block;
            vertical-align: top;
            width: 110px;
            height: 110px;
            margin: 0 10px 0 0;
            background: #f0f0f0;
            button{
              cursor: pointer;
              border-radius: 20px;
              border: 0px solid rgba(0,0,0,0);
              width: 86%;
              box-shadow: 1px 1px 4px rgba(0,0,0,.6);
              position: absolute;
              bottom: 10px;
              left: 7%;
              color: darken($gray, 40%);
              font-size: 12px;
              transition: .2s;
              -webkit-transition: .2s;
              background: $gray;
              &:hover{
                background: darken($gray, 10%);
              }
            }
          }
          .playlist-desc{
            display: inline-block;
            vertical-align: top;
            width: 150px;
            input{
              font-size: 12px;
              width: 100%;
              margin: 0 0 8px 0;
            }
            textarea{
              font-size: 12px;
              width: 100%;
              height: 81px;
            }
          }
          .error-msg{
            margin: 0;
            padding: 20px 0 0 0;
            font-size: 14px;
            color: $google-red;
            text-shadow: 2px 2px 3px rgba(0,0,0,.3);
          }
          .action{
            padding: 20px 0;
            text-align: center;
            button{
              font-size: 14px;
              cursor: pointer;
              padding: 3px 20px;
              border-radius: 20px;
              border: 0px solid rgba(0,0,0,0);
              box-shadow: 1px 1px 2px rgba(0,0,0,.4);
              transition: .2s;
              -webkit-transition: .2s;
              color: rgba(255,255,255,1);

              &.cancel{
                background: rgba(90,90,90,1);
                &:hover{
                  color: lighten(red, 30%);
                }
              }
              &.create{
                background: $spotify-green;
                &:hover{
                  background: darken($spotify-green, 10%);
                }
              }
              & + button{
                margin-left: 10px;
              }
            }
          }
        }/* new-playlist-container */


        .playlist{
          $thumbnailWidth: 50px;

          position: relative;
          vertical-align: middle;
          box-sizing: border-box;
          width: 100%;
          border-radius: 5px;
          background: rgba(0,0,0,0);
          background: -webkit-linear-gradient(left, rgba(15,15,15,0) , rgba(15,15,15,.2)); /* For Safari 5.1 to 6.0 */
          height: $thumbnailWidth;
          margin: 0 0 10px 0;
          padding-left: $thumbnailWidth + 5;
          padding-right: 30px;
          transition: .3s;
          -webkit-transition: .3s;

          .title{
            display: table-cell;
            vertical-align: middle;
            height: $thumbnailWidth;
            color: rgba(180,180,180,1);
            font-size: 13px;
            p{
              padding: 0;
              margin: 0;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
            }
          }

          .thumbnail{
            border-radius: 5px 0 0 5px;
            overflow: hidden;
            position: absolute;
            left: 0;
            top: 0;
            width: $thumbnailWidth;
            height: $thumbnailWidth;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            .play-btn{
              cursor: pointer;
              color: rgba(255,255,255,1);
              text-align: center;
              font-size: 20px;
              text-shadow: 2px 2px 4px rgba(0,0,0,1);
              width: $thumbnailWidth;
              line-height: $thumbnailWidth;
              transition: .3s;
              -webkit-transition: .3s;

              &:hover{
                color: $spotify-green;
              }
            }
          }/* thumbnail */
          .action{
            cursor: pointer;
            color: rgba(160,160,160,1);
            position: absolute;
            top: 0;
            right: 0;
            i{
              line-height: $thumbnailWidth;
              padding: 0 10px;
              font-size: 25px;
              text-shadow: 2px 2px 4px rgba(0,0,0,.6);
              transition: .3s;
              -webkit-transition: .3s;
              &.add{
                display: inline-block;
                &:hover{
                  color: rgba(240,240,240,1);
                }
              }
              &.added{
                display: none;
                color: $spotify-green;
              }
              &.remove{
                display: none;
                color: lighten(red, 20%);
              }
            }/* i */
          }/* action */
          &:hover{
            background: rgba(0,0,0,.2);
            .play-btn{
              background: rgba(0,0,0,.6);
            }
          }
          &.active{
            background: rgba(0,0,0,.3);
            .action{
              i{
                &.add{
                  display: none;
                }
                &.added{
                  display: inline-block;
                }
                &.remove{
                  display: none;
                }
              }/* i */
              &:hover{
                i{
                  &.added{
                    display: none;
                  }
                  &.remove{
                    display: inline-block;
                  }
                }/* i */
              }
            }/* action */

          }/* active playlist */

        }/* playlist */
      }/* right-panel */
    }/* panel */
  }/* inner */
}