@import './_vars.scss';

#noselect{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 40px 0;
  font-size: 0;
  .noselect-header{
    position: absolute;
    z-index: 99;
    box-shadow: 0 0 3px rgba(0,0,0,.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: -webkit-linear-gradient(left, rgba(18,18,18,1), rgba(245,245,245,1)); /* For Safari 5.1 to 6.0 */

    img{
      position: absolute;
      top: 13px;
      left: 2%;
      height: 24px;
      width: auto;
    }
    p{
      color: rgba(100,100,100,1);
      position: absolute;
      top: 10px;
      right: 2%;
      font-size: 12px;
      font-weight: bold;
      margin: 0;
      padding: 0;
      display: inline-block;
      line-height: 30px;
      span{
        color: $spotify-green;
        padding: 0 5px;
      }
      u{
        cursor: pointer;
        opacity: .6;
        padding: 0 0 0 10px;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  .inner{
    box-sizing: border-box;
    background: rgba(230,230,230,1);
    padding: 50px 20px;
    height: 100%;
    overflow: auto;
  }
  h2{
    margin: 30px 0 20px 0;
    color: rgba(100,100,100,1);
    padding: 0;
    font-size: 20px;
  }
  .playlist{
    $thumbnailWidth: 50px;

    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 5px;
    background: rgba(0,0,0,0);
    background: -webkit-linear-gradient(left, rgba(240,240,240,1) , rgba(250,250,250,1)); /* For Safari 5.1 to 6.0 */
    height: $thumbnailWidth;
    box-shadow: 2px 2px 4px rgba(0,0,0,.3);
    padding-left: $thumbnailWidth + 5;
    padding-right: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    overflow: hidden;

    /*
      1.6 / 101.6 = 0.015748031496063
    */
    margin: 0 1.5748031496063% 1.5748031496063% 0;

    /*
      width: calc(98.4% / 2); = 49.2
      49.2 / 101.6 = 0.48425196850394
    */
    width: 48.425196850394%;

    a{
      text-decoration: none;
    }

    .thumbnail{
      border-radius: 5px 0 0 5px;
      overflow: hidden;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: $thumbnailWidth;
      height: $thumbnailWidth;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      background-position: center !important;

      .play-btn{
        border-radius: 5px 0 0 5px;
        overflow: hidden;
        cursor: pointer;
        color: rgba(255,255,255,1);
        text-align: center;
        font-size: 20px;
        text-shadow: 2px 2px 4px rgba(0,0,0,1);
        width: $thumbnailWidth;
        line-height: $thumbnailWidth;
        @include transition(.3s);
        opacity: 0;

        &:hover{
          color: $spotify-green;
        }
      }
    }/* thumbnail */

    .playlist-background{
      @include border-radius(5px 0 0 5px);
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0;
      opacity: .1;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat !important;
      background-position: center !important;
      background-size: 110% auto !important;
      -webkit-filter: blur(2px);
      filter: blur(2px);
      @include transition(.2s);
    }

    .action{
      display: none;
      cursor: pointer;
      color: rgba(160,160,160,1);
      position: absolute;
      top: 0;
      right: 0;
      i{
        line-height: $thumbnailWidth;
        padding: 0 10px;
        font-size: 25px;
        text-shadow: 2px 2px 4px rgba(0,0,0,.6);
        transition: .3s;
        -webkit-transition: .3s;
        &.add{
          display: inline-block;
          &:hover{
            color: rgba(240,240,240,1);
          }
        }
        &.added{
          display: none;
          color: $spotify-green;
        }
        &.remove{
          display: none;
          color: lighten(red, 20%);
        }
      }/* i */
    }/* action */

    .playlist-desc{
      position: relative;
      z-index: 1;
      display: table-cell;
      vertical-align: middle;
      height: $thumbnailWidth;
      color: rgba(80,80,80,1);
      p{
        padding: 0;
        margin: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        &.title{
          padding: 0 0 5px 0;
          font-size: 14px;
        }
        &.description{
          opacity: .5;
          font-size: 12px;
        }
      }
    }

    &:hover{
      background: rgba(255,255,255,1);
      .play-btn{
        opacity: 1;
        background: rgba(0,0,0,.6);
      }
      .action{
        display: inline-block;
      }
      .playlist-background{
        background-size: 120% auto !important;
        -webkit-filter: blur(4px);
        filter: blur(4px);
      }
    }
  }/* playlist */

}/* login */

