<template>
</template>

<script>
import store from '../../stores/store'

export default {
  data () {
    return {
      playerReady: false
    }
  },
  init () {
  },
  watch: {
    '$route.params.slug': function (val) {
      this.play()
    },
    playerReady: function (val) {
      if (val) {
        this.play()
      }
    }
  },
  ready () {
    this.playerReady = store.state.isPlayerReady
    if (this.playerReady) {
      this.play()
    }
  },
  events: {
    'player:readyy': function () {
      this.playerReady = true
    }
  },
  methods: {
    play: function () {
      if (this.$route.params.type === 'pl') {
        this.$root.$broadcast('player:play-playlist', this.$route.params.slug, this.$route.query.v)
      } else if (this.$route.params.type === 'v') {
        var params = ''
        try {
          params = JSON.parse(this.$route.query.params)
        } catch (e) {
        }
        this.$root.$broadcast('player:play-video', this.$route.params.slug, undefined, params)
      }
      this.$root.$broadcast('player:expand')
    }
  }
}
</script>
