<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/css/favicon.ico">
    <link rel="apple-touch-icon" href="/static/css/apple-touch-icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <title>muusick</title>
    <meta name="description" content="Find sick music everyday!">


  </head>
  <body class="{% if mobile %} mobile {% endif %}">
    <div id="container" >
      <app></app>
    </div>

    <!-- built files will be auto injected -->
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-92354903-1', 'auto');
	  ga('send', 'pageview');
	</script>
  </body>
</html>
