<template>

<div id="main-inner">

  <div id="user-info">
    <div class="user-thumbnail"
      :style="{background: 'url(' + (currentUser.picture ? currentUser.picture : defaultPictureUrl) + ')'}"></div>

    <div class="user-desc">
      <h3 class="name">{{currentUser.username}}</h3>
      <p class="description">
        {{currentUser.bio}}
      </p>

      <div id="action">
        <div v-show="!profile">
          <button class="button"
            @click="follow"
            :class="{follow: true, active: currentUser.is_following}">
            {{ currentUser.is_following ? 'FOLLOWING' : 'FOLLOW'}}
          </button>
        </div>
        <button class="button edit"
          @click="openEditProfile"
          v-show="profile">
          <i class="fa fa-cog" aria-hidden="true"></i>
          Edit Profile
        </button><!-- edit -->
      </div>
    </div><!-- user-desc -->
  </div><!-- user-info -->

  <div id="user-nav">
    <h2 :class="{'active': tab=='overview'}" @click="tab='overview'">
      <i class="fa fa-list-ul" aria-hidden="true"></i>
      Overview
    </h2>
    <h2 :class="{'active': tab=='following'}" @click="tab='following'">
      <i class="fa fa-user" aria-hidden="true"></i>
      Following ({{followingUsers.length}})
    </h2>
    <h2 :class="{'active': tab=='followers'}" @click="tab='followers'">
      <i class="fa fa-user" aria-hidden="true"></i>
      Followers ({{followers.length}})
    </h2>
    <h2 v-show="false" :class="{'active': tab=='statistic'}" @click="tab='statistic'">
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
      Statistics
    </h2>
  </div>

  <div class="user-content">

    <div id="analytics" v-show="tab=='statistic'">
      <h2>STATISTICS</h2>
      <ul class="analytics">
        <li @click="loadVideos(0)">
          <span
            :class="{'active': selectedTag < 1}"
            :style="{width: (60 + 200) + 'px'}"
            >
            {{total}}
          </span>
          <span>
            ALL
          </span>
        </li>
        <li v-for="tag in tags">
          <span :class="{'active': selectedTag===tag.id}"
          :style="{width: (80 + tagFullWidth * tag.percent / 100) + 'px'}"
          @click="loadVideos(tag.id)"
          >
            {{tag.count}}
          </span>
          <span>
            {{tag.name}}
          </span>
        </li>
      </ul>
    </div><!-- analytics -->

    <div v-show="tab=='overview'">

      <template v-if="myPlaylists.length > 0">
        <h3 v-if="profile">
          My Playlists
          <span v-link="{ name: 'playlistList', params: { param: 'feature' } }">
            SEE ALL
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </span>
        </h3>
        <h3 v-if="!profile" >
          {{ currentUser.username|capitalize }}'s Public Playlists
          <span v-link="{ name: 'playlistList', params: { param: 'feature' } }">
            SEE ALL
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </span>
        </h3>
        <playlist-slider :playlists="myPlaylists"></playlist-slider>

      </template><!-- user's playlist -->


      <template v-if="followingPlaylists.length > 0">
        <h3>
          Following Playlists
          <span v-link="{ name: 'playlistList', params: { param: 'feature' } }">
            SEE ALL
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </span>
        </h3>
        <playlist-slider :playlists="followingPlaylists"></playlist-slider>

      </template><!-- following playlist -->

    </div><!-- overview -->
  </div><!-- user-content -->

  <div class="full-width-responsive-inner">
    <div v-show="tab=='following'">
      <template v-if="followingUsers.length > 0">
        <user-item :info="user" v-for="user in followingUsers"></user-item>
      </template><!-- following user -->
    </div>

    <div v-show="tab=='followers'">
      <template v-if="followers.length > 0">
        <user-item :info="user" v-for="user in followers"></user-item>
      </template><!-- following user -->
    </div>
  </div>

</div><!-- main-inner -->

</template>

<script>
import user from '../../stores/user'
import http from '../../services/http'
import UserItem from '../shared/user-item'
import PlaylistItem from '../shared/playlist-item'
import PlaylistSlider from '../shared/playlist-slider'
import store from '../../stores/store'

export default {
  components: {UserItem, PlaylistItem, PlaylistSlider},
  data () {
    return {
      defaultPictureUrl: '/static/myapp/img/default_avatar.png',
      tab: 'overview',
      followingCategories: [],
      followingUsers: [],
      followers: [],
      myPlaylists: [],
      followingPlaylists: [],
      currentUser: {
      },
      profile: false,
      isAuthenticated: false
    }
  },
  watch: {
    '$route.params.username': function (val) {
      this.fetchData()
      this.tab = 'overview'
    }
  },
  ready () {
    this.$root.$broadcast('player:minimize')
    this.fetchData()
  },
  events: {
    'init': function () {
      this.isAuthenticated = !!store.state.user
    },
    'change:picture': function (val) {
      this.currentUser.picture = val
    }
  },
  methods: {
    fetchData: function () {
      var self = this
      var username = this.$route.params.username === undefined ? '' : this.$route.params.username
      http.get('/api/get_user_profile', {username: username}, function (res) {
        self.followingCategories = res.following_categories
        self.followingUsers = res.following_users
        self.followers = res.followers
        self.followingPlaylists = res.following_playlists
        self.myPlaylists = res.my_playlists
        self.profile = res.profile
        self.currentUser = res.user_info
      })
    },
    playVideo: function (ytVideoId) {
      this.$dispatch('instant-player:video', ytVideoId)
    },
    playPlaylist: function (playlistId) {
      this.$dispatch('instant-player:playlist', playlistId)
    },
    follow: function () {
      if (this.isAuthenticated) {
        user.followUser(this.currentUser.username, this.currentUser.is_following ? 0 : 1, (res) => {
          this.currentUser.is_following = !this.currentUser.is_following
        })
      } else {
        this.$dispatch('login:require')
      }
    },
    openEditProfile: function () {
      this.$dispatch('edit-profile:show', true)
    }
  }
}
</script>

<style scoped lang="scss">
@import 'assets/sass/user-page.scss';

</style>




