@mixin user-select($user-select) {
 -webkit-touch-callout: $user-select;
  -webkit-user-select: $user-select;
   -khtml-user-select: $user-select;
     -moz-user-select: $user-select;
      -ms-user-select: $user-select;
          user-select: $user-select;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin transition($transition-duration) {
  -webkit-transition: $transition-duration;
     -moz-transition: $transition-duration;
      -ms-transition: $transition-duration;
          transition: $transition-duration;
}

@mixin line-clamp($line-clamp) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-clamp;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}


@mixin button-bg($bg) {
  background: $bg;
  @include border-radius(1em);
  border: 1px solid darken($bg, 20%);

  &:hover {
    background:darken($bg,8%);
    transition: all 0.3s ease;
  }
  &:active {
    background:darken($bg,25%);
  }
}

/* responsibe responsibe responsibe responsibe */
@mixin mobile-mode {
  @media (max-width: #{$mobile-mode}) {
    @content;
  }
}

@mixin small-window {
  @media (max-width: #{$small-window}) {
    @content;
  }
}

@mixin medium-window {
  @media (min-width: #{$small-window}) {
    @content;
  }
}

@mixin large-window {
  @media (min-width: #{$medium-window}) {
    @content;
  }
}
@mixin extra-large-window {
  @media (min-width: #{$large-window}) {
    @content;
  }
}
@mixin full-window {
  @media (min-width: #{$full-window}) {
    @content;
  }
}

/* responsibe responsibe responsibe responsibe */

@mixin panel-collapse-width {
  @media (max-width: #{$panel-collapse-width}) {
    @content;
  }
}


@mixin player-responsive-width {
  @media (min-width: #{$player-responsive-width}) {
    @content;
  }
}


@mixin browse-min-width {
  @media (max-width: #{1120px}) {
    @content;
  }
}/* browse responsive */




@mixin arrow($color) {
    position: relative;
    background: $color;
    border: 1px solid red;

  &:after, &:before {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: $color;
    border-width: 15px;
    margin-left: -15px;
  }
  &:before {
    border-color: rgba(192, 192, 192, 0);
    border-top-color: $color;
    border-width: 16px;
    margin-left: -16px;
  }
}