@import './mixins.scss';

// color list
$blue-color: #3498db;
$green: #8efa00;
$red: #E34545;
$pink: #CF454E;
$yellow: #F4B528;
$lime-green: #8EFA00;
$spotify-green: darken(#1ED760,4%);
$spotify-blue: #4076C9;
$facebook-blue: #3b5998;
$twitter-blue: #3891EA;
$google-green: #5AC334;
$google-red: #E34545;
$google-yellow: #f4b400;
$instagram-pink: #FF0000;
$instagram-orange: #FF9900;
$dark-black: rgba(18,18,18,1);
$gray: rgba(28,28,28,1);
$light-gray: rgba(70,70,70,1);

//content color setting
$frame-color: rgba(18,18,18,1);
$side-player-background-color: rgba(12,12,12,1);
$dropdown-background-color: rgba(70,70,70,1);


//content width setting
$header-height: 50px;
$sidebar-width: 190px;
$activity-sidebar-width: 200px;

$player-width: 400px;
$player-height: 225px;


$video-height: 51px;

/*
YouTube thumbnail size = w:1280 * h:720
$thumbnail-width: $thumbanil-height * 1.77777777777778;
$thumbnail-height: $thumbnail-width * 0.5625;
*/
$video-width: $video-height * 1.6078431372549;

$mobile-video-width: 160px;
$expanded-mobile-video-width: 300px;

//@media setting
$mobile-mode: 460px;

$min-width: 880px;
$small-window: 1080px;
$medium-window: 1280px;
$large-window: 1480px;
$full-window: 1780px;

$panel-collapse-width: 1480px;
$player-responsive-width: 1220px;
