@import 'assets/sass/_vars.scss';

#main-inner{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-width: $min-width - $player-width;
  padding: 0 35px;
  @include mobile-mode{
    padding: 0 15px;
    min-width: 0;
  }
}
h2{
  font-size: 30px;
  margin: 0;
  padding: 60px 0 10px 0;

  i{
    padding: 0 5px 0 0;
    &.feature{
      color: $yellow;
    }
    &.trending{
      color: $pink;
    }
    &.tags{
      color: $google-red;
    }
    &.favorite{
      color: $pink;
    }
  }
  @include mobile-mode{
    font-size: 18px;
    font-weight: 400;
    padding: 40px 0 10px 0;
  }
}/* h2 */

h3{
  box-sizing: border-box;
  font-weight: normal;
  position: relative;
  opacity: .8;
  padding: 0;
  font-size: 20px;
  border-bottom: 1px solid rgba(255,255,255,.1);
  margin: 60px 0 10px 0;
  @include small-window{
  margin: 60px 0 10px 0;
  }
  span{
    position: absolute;
    bottom: 2px;
    right: 0;
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    font-weight: normal;
    font-size: 14px;
    opacity: .8;
    &:hover{
      color: $spotify-green;
      opacity: 1;
    }
  }
  @include mobile-mode{
    font-size: 16px;
  }
}/* h3 */



.order{
  text-align: left;
  padding: 20px 0 0 0;
  margin: 0;
  height: 30px;
  font-size: 12px;
}/* order */




.button{
  cursor: pointer;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 3px 15px;
  margin: 0 15px 0 0;
  @include border-radius(20px);
  border: 2px solid rgba(0,0,0,0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background: rgba(60,60,60,1);
  opacity: .8;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;

  @include mobile-mode{
    opacity: 1;
  }
  i{
    padding: 0 2px 0 0;
  }
  &.small{
    font-size: .8em;
  }
  &.large{
    font-size: 1.4em;
  }

  &:hover{
    background: rgba(110,110,110,1);
    opacity: 1;
  }
  &.active{
    opacity: 1;
    background: none;
    border: 2px solid rgba(190,190,190,1);
    color: rgba(180,180,180,1);
  }
  &.play{
    font-size: 14px;
    padding: 7px 27px;
    background: $spotify-green;
    &:hover{
      background: darken($spotify-green, 10%);
    }
  }
  &.shuffle-play{
    background: $spotify-green;
    &:hover{
      background: darken($spotify-green, 10%);
    }
  }
  &.follow{
    background: $pink;
    &:hover{
      background: darken($pink, 10%);
    }
    &.active{
      background: rgba(0,0,0,0);
      cursor: pointer;
      font-size: 12px;
      text-shadow: none;
      opacity: .7;
      box-shadow: none;
      border: 2px solid rgba(255,255,255,.2);
      i{
        color: $pink;
      }
      &:hover{
        opacity: 1;
      }
    }
  }/* following button */
  &.share{
    background: $spotify-blue;
    &:hover{
      background-color: darken($spotify-blue, 10%);
      i{
        color: $spotify-blue;
      }
    }
  }/* share-button */
  &.edit,{
    background: lighten($light-gray, 10%);
    &:hover{
      background: $light-gray;
    }
  }/* edit */
  &.mini-play{
    background: darken($spotify-green, 10%);
    @include mobile-mode{
      display: none !important;
    }
    &:hover{
      background: darken($spotify-green, 20%);
    }
  }
}/* button */




#navigation{
  text-align: left;
  padding: 20px 0 0 0;
  height: 30px;
  border-bottom: 2px solid rgba(80,80,80,1);
  margin: 0;
  div{
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
    padding: 0 20px;
    margin: 0;
    line-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: .8;
    &:hover{
      opacity: 1;
      border-bottom: 2px solid rgba(220,220,220,1);
    }
    &.active{
      opacity: 1;
      color: $spotify-green;
      border-bottom: 2px solid $spotify-green;
    }
  }
}/* navigation */



.top-banner-container{
  position: relative;
  padding: 90px 35px 10px 35px;
  overflow: hidden;
  &.banner-margin-top{
    margin-top: 40px;
  }
  .top-banner-background{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .4;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center top !important;
  }
  .top-banner-background-filter{
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    background: -webkit-linear-gradient(top, lighten($frame-color, 3%) , rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
  }

  h2{
    position: relative;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    padding-right: 20px;
  }
  .button{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    @include border-radius(20px);
    border: 2px solid rgba(0,0,0,0);
    padding: 5px 20px;
    margin-right: 10px;
    font-size: 13px;
    color: rgba(240,240,240,1);
    display: inline-block;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    box-shadow: 1px 1px 2px rgba(0,0,0,.6);
    &.green{
      background: $spotify-green;
    }
  }/* button */
  @include mobile-mode{
    padding: 20px 15px 10px 15px;
  }
}/* top-banner */

.playlist{
  position: relative;
  background: lighten($gray, 5%);
  text-align: center;
  line-height: auto;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  // @include transition(.3s);
  opacity: .8;
  margin: 0 1.6% 0 0;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  @include small-window{
    width: calc(96.8% / 3);
  }
  @include medium-window{
    width: calc(95.2% / 4);
  }
  @include large-window{
    width: calc(95.2% / 4);
  }
  @include extra-large-window{
    width: calc(93.6% / 5);
  }
  @include full-window{
    width: calc(92% / 6);
  }
  @include mobile-mode{
    box-shadow: none;
    background: none;
    margin: 0 3% 0 0;
    width: 45%;
  }
  .thumbnail-container{
    position: relative;
    width: 100%;
    height: auto;

    &:before{
      content: "";
      display: block;
      padding-top: 94%;
    }
    .thumbnail{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-color: rgba(0,80,0,1);
      // background-image: url(../../assets/noimage.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .action{
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.4);
      font-size: 40px;
      opacity: 0;
      @include transition(.3s);

      &:hover{
        opacity: 1;
        background: rgba(0,0,0,.6);
      }
      .inner{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      p{
        display: inline-block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        text-align: center;
        margin: 0;
        padding: 0;

        i.play{
            cursor: pointer;
          @include border-radius(50%);
          border: 2px solid rgba(255,255,255,.4);
          padding: 18px 18.395px 18px 22.395px;
          margin: 0;
          color: rgba(255,255,255,1);
          text-shadow: 1px 1px 2px rgba(0,0,0,1);
          font-size: 25px;
          background: rgba(0,0,0,.6);
          cursor: pointer;
          &:hover{
            border: 2px solid rgba(255,255,255,1);
            font-size: 27px;
          }
          @include small-window{
            font-size: 24px;
            &:hover{
              font-size: 26px;
            }
          }
          @include medium-window{
            font-size: 20px;
            &:hover{
              font-size: 22px;
            }
          }
        }
      }/* p (play button) */
    }/* action */
  }/* thumbnail-container */
  .playlist-desc-container{
    position: relative;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    white-space: normal;
    font-weight: normal;
    cursor: pointer;
    width: 100%;
    height: auto;
    text-shadow: 1px 1px 5px rgba(0,0,0,.6);
    @include mobile-mode{
      text-align: center;
    }
    &:before{
      content: "";
      display: block;
      padding-top: 62%;
      @include mobile-mode{
        display: none;
      }
    }
    .playlist-desc-background{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: .2;
      -webkit-filter: blur(10px);
      filter: blur(10px);
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center !important;
      @include mobile-mode{
        display: none;
      }
    }
    .playlist-desc-inner{
      top: 0;
      padding: 10px;
      position: absolute;
      font-size: 14px;

      .title{
        margin: 0;
        padding: 0;
        @include line-clamp(2);
        color: rgba(255,255,255,1);
        opacity: .9;
        @include transition(.3s);

        &:hover{
          opacity: 1;
          text-decoration: underline;
        }
        @include mobile-mode{
          font-size: 11px;
        }
      }
      .description{
        margin: 10px 0;
        padding: 0;
        @include line-clamp(2);
        opacity: .8;
        font-size: .8em;
        @include mobile-mode{
          display: none;
        }
      }
      @include extra-large-window{
        .description{
          @include line-clamp(3);
        }
      }
      @include mobile-mode{
        position: static;
        padding: 6px 0 0 0;
      }
    }/* playlist-desc-inner */
    @include mobile-mode{
      background: none !important;
    }

  }/* playlist-desc-container */
  .status{
    position: absolute;
    bottom: 5px;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    padding-right: 10px;
    color: rgba(255,255,255,.4);
    font-size: 12px;
    text-align: right;
    .user-name{
      @include transition(.3s);
      cursor: pointer;
      opacity: .8;
      color: $spotify-green;
      &:hover{
        opacity: 1;
      }
    }
    .divider{
      height: 12px;
      width: 3px;
      background: #fff;
    }
    .video-count{
      @include mobile-mode{
        display: block;
      }
    }
    @include mobile-mode{
      position: static;
      font-size: 9px;
    }
  }
}/* playlist */

.video{
  cursor: pointer;
  text-align: center;
  position: relative;
  line-height: auto;
  display: inline-block;
  vertical-align: top;
  // @include transition(.3s);
  opacity: .8;
  margin: 0 1.6% 0 0;

  @include small-window{
    width: calc(96.8% / 3);
  }
  @include medium-window{
    width: calc(95.2% / 4);
  }
  @include large-window{
    width: calc(95.2% / 4);
  }
  @include extra-large-window{
    width: calc(93.6% / 5);
  }
  @include full-window{
    width: calc(92% / 6);
  }
  @include mobile-mode{
    margin: 0 3% 0 0;
    width: 45%;
  }
  &:hover{
    opacity: 1;
    color: $spotify-green;
  }
  .thumbnail-container{
    position: relative;
    width: 100%;
    height: auto;
    &:before{
      content: "";
      display: block;
      padding-top: 56.25%;
    }
    .thumbnail{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-color: rgba(0,80,0,1);
      // background-image: url(../../assets/noimage.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .action{
      cursor: pointer;
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.4);
      font-size: 2.4vw;

      i{
        padding: 0;
        margin: 0;
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
      }
      i.play{
        text-shadow: 2px 2px 3px rgba(0,0,0,.8);
        cursor: pointer;
      }
    }/* action */
  }/* thumbnail-container */
  p{
    line-height: 17px;
    height: 34px;
    margin: 5px 0 0 0;
    padding: 0;
    white-space: normal;
    color: rgba(220,220,220,.8);
    width: 100%;
    text-align: left;
    font-size: 12px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    @include mobile-mode{
      font-size: 11px;
    }
  }
}/* video */
/* ⬆︎ video ****** */


/* ⬇︎ artist-item --------------------- */
.artist-item{
  cursor: pointer;
  overflow: hidden;
  position: relative;
  line-height: auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  opacity: .8;
  margin: 0 1.6% 0 0;

  @include small-window{
    width: calc(96.8% / 3);
  }
  @include medium-window{
    width: calc(95.2% / 4);
  }
  @include large-window{
    width: calc(95.2% / 4);
  }
  @include extra-large-window{
    width: calc(93.6% / 5);
  }
  @include full-window{
    width: calc(92% / 6);
  }
  @include mobile-mode{
    margin: 0 3% 0 0;
    width: 45%;
  }
  .artist-item-background{
    position: absolute;
    z-index: 0;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(3px);
    filter: blur(3px);
    opacity: .3;
    @include transition(.1s);
  }
  .artist-thumbnail{
    position: relative;
    z-index: 1;
    display: inline-block;
    margin-top: 20px;
    @include border-radius(50%);
    width: 80%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &:before{
      content: "";
      display: block;
      padding-top: 100%;
    }
  }
  .artist-name{
    display: block;
    position: relative;
    font-size: 14px;
    color: rgba(255,255,255,1);
    text-align: center;
    margin: 0;
    padding: 10px 5px 20px 5px;
    @include mobile-mode{
      font-size: 11px;
    }
  }/* name */
  &:hover{
    opacity: 1;
    .artist-item-background{
      top: -15%;
      left: -15%;
      width: 130%;
      height: 130%;
      -webkit-filter: blur(6px);
      filter: blur(6px);
    }
  }
}/* artist-item */



/* ⬇︎ user-item --------------------- */
.user-item {
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: inline-block;
  text-align: center;
  vertical-align: top;
  padding: 10px;
  background: rgba(255,255,255,.02);
  margin: 0 1.6% 0 0;

  @include small-window{
    width: calc(96.8% / 3);
  }
  @include medium-window{
    width: calc(95.2% / 4);
  }
  @include large-window{
    width: calc(95.2% / 4);
  }
  @include extra-large-window{
    width: calc(93.6% / 5);
  }
  @include full-window{
    width: calc(92% / 6);
  }
  @include mobile-mode{
    margin: 0 3% 0 0;
    width: 45%;
  }

  &:hover{
    opacity: 1;
    color: $spotify-green;
  }
  .background{
    z-index: 0;
    position: absolute;
    opacity: .2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(20px);
    filter: blur(20px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
  }
  .thumbnail{
    z-index: 9;
    cursor: pointer;
    @include border-radius(50%);
    margin: 0 auto;
    position: relative;
    width: 80%;
    height: auto;
    background-color: rgba($spotify-green, .07);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;

    &:before{
      content: "";
      display: block;
      padding-top: 100%;
    }
  }/* thumbnail */

  .action{
    z-index: 99;
    padding: 10px 0;
    position: relative;

    &.owned{
      text-align: center;
      font-size: 14px;
      line-height: 23px;
      color: rgba(120,120,120,1);
    }
    button{
      cursor: pointer;
      @include border-radius(20px);
      border: 2px solid rgba(0,0,0,0);
      padding: 5px 20px;
      font-size: 11px;
      color: rgba(240,240,240,1);
      display: inline-block;
      text-shadow: 1px 1px 2px rgba(0,0,0,.8);
      box-shadow: 1px 1px 2px rgba(0,0,0,.6);
      &.edit{
        background: rgba(110,110,110,1);
        &:hover{
          background: rgba(120,120,120,1);
        }
      }/* edit */
      &.follow{
        background: $spotify-green;

        &.active{
          color: rgba(230,230,230,1);
          background: rgba(0,0,0,0);
          cursor: pointer;
          text-shadow: none;
          opacity: .7;
          box-shadow: none;
          border: 2px solid rgba(255,255,255,.2);
        }
      }
    }
  }/* action */

  .user-info{
    vertical-align: bottom;
    padding: 0;
    margin: 0;
    p{
      margin: 0;
      padding: 5px;
      &.name{
        font-size: 14px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        a{
          text-decoration: none;
          color: rgba(240,240,240,1);
        }
      }
      &.bio{
        color: #6d6969;
        font-size: 12px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-height: 40px;
      }
    }
  }/* user info */

}/* ⬆︎ user-item */




/* ⬇︎ tag --------------------- */
.tag{
  cursor: pointer;
  position: relative;
  line-height: auto;
  display: inline-block;
  vertical-align: top;
  opacity: .8;
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  /*
    1.6 / 101.6 = 0.015748031496063
  */
  margin: 0 1.5748031496063% 1.5748031496063% 0;

  @include small-window{
    /*
      width: calc(96.8% / 3); = 32.26666666666667
      32.26666666666667 / 101.6 = 0.31758530183727
    */
    width: 31.758530183727%;
    font-size: 23px;
  }
  @include medium-window{
    /*
      width: calc(95.2% / 4); = 23.8
      23.8 / 101.6 = 0.23425196850394
    */
    width: 23.425196850394%;
    font-size: 24px;
  }
  @include large-window{
    /*
      width: calc(93.6% / 5); = 18.72
      18.72 / 101.6 = 0.18425196850394
    */
    width: 18.425196850394%;
    font-size: 25px;
  }
  @include extra-large-window{
    /*
      width: calc(92% / 6); = 15.33333333333333
      15.33333333333333 / 101.6 = 0.1509186351706
    */
    width: 15.09186351706%;
    font-size: 26px;
  }
  &:before{
    content: "";
    display: block;
    padding-top: 100%;
  }
  &:hover{
    opacity: 1;
  }

  .image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .name{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);

    p{
      display: block;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      color: rgba(255,255,255,1);
      text-align: center;
      margin: 0;
      padding: 0 5px;
      text-shadow: 2px 2px 3px rgba(0,0,0,1);
    }
  }/* name */
}/* tag */

ul.tags{
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
    margin: 0 10px 10px 0;
    color: white;
    box-shadow: 1px 1px 2px black;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    background: #464646;
    opacity: .8;
    -webkit-transition: .3s;
    transition: .3s;
  }
}


/* ⬇︎ active main-container */
#main-container.active{
  .playlist{
    @include small-window{
      width: calc(98.4% / 2);
      .title{
        @include line-clamp(1);
      }
      .description{
        font-size: 10px;
      }
      .status{
        font-size: 10px;
        @include line-clamp(1);
      }
    }
    @include medium-window{
      width: calc(96.8% / 3);
      .title{
        @include line-clamp(1);
      }
      .description{
        @include line-clamp(2);
      }
      .status{
        font-size: 10px;
        @include line-clamp(1);
      }
    }
    @include large-window{
      width: calc(96.8% / 3);
      .title{
        @include line-clamp(1);
      }
      .description{
        @include line-clamp(2);
      }
      .status{
        font-size: 10px;
        @include line-clamp(1);
      }
    }
    @include extra-large-window{
      width: calc(95.2% / 4);
      .title{
        @include line-clamp(1);
      }
      .description{
        @include line-clamp(2);
      }
      .status{
        font-size: 10px;
        @include line-clamp(1);
      }
    }
  }/* playlist */
  .video,
  .artist-item{
    @include small-window{
      width: calc(98.4% / 2);
    }
    @include medium-window{
      width: calc(96.8% / 3);
    }
    @include large-window{
      width: calc(96.8% / 3);
    }
    @include extra-large-window{
      width: calc(95.2% / 4);
    }

  }/* video */
  .tag{
    @include small-window{
      /*
        width: calc(98.4% / 2); = 49.2
        49.2 / 101.6 = 0.48425196850394
      */
      width: 48.425196850394%;
    }
    @include medium-window{
      /*
        width: calc(96.8% / 3); = 32.26666666666667
        32.26666666666667 / 101.6 = 0.31758530183727
      */
      width: 31.758530183727%;
    }
    @include large-window{
      /*
        width: calc(95.2% / 4); = 23.8
        23.8 / 101.6 = 0.23425196850394
      */
      width: 23.425196850394%
    }
    @include extra-large-window{
      /*
        width: calc(93.6% / 5); = 18.72
        18.72 / 101.6 = 0.18425196850394
      */
      width: 18.425196850394%;
    }
  }
}/* active main-container */
