@import 'assets/sass/_vars.scss';

.modal{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(20,20,20,.8);
  display: table-cell;
  vertical-align: middle;

  @include mobile-mode{
    overflow-y: scroll;
  }


  .wrapper{
    width: 100vw;
    height: 95vh; // to position modal little above middle
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    @include mobile-mode{
      height: 100vh;
      padding: 20px 0;
      width: 100vw;
    }

    .container {
      position: relative;
      display: inline-block;
      background: $dropdown-background-color;
      @include border-radius(5px);
      box-shadow: 0 2px 10px rgba(0,0,0,1);
      transition: all .3s ease;

      @include mobile-mode{
        width: 90%;
      }

      .modal-header{
        font-size: 14px;
        line-height: 30px;
        border-bottom: 1px solid rgba(255,255,255,.1);
      }

      .modal-body{
        box-sizing: border-box;
        text-align: center;
        font-size: 0;


/* modal-body styling */
        &.collaborators{
          padding: 0 40px 20px 40px;

          @include mobile-mode{
            padding: 0 10px 10px 10px;
          }

          .body-container{
            text-align: left;
            width: 400px;
            display: inline-block;
            position: relative;

            @include mobile-mode{
              width: 100%;
            }

            h4{
              font-weight: normal;
              margin: 20px 0 0 0;
              padding: 5px 0;
              font-size: 14px;
              opacity: .6;
            }

            .input-container{
              position: relative;
              $send-btn-width: 70px;
              .input{
                position: relative;
                @include border-radius(20px);
                border: 1px solid rgba(0,0,0,0);
                font-size: 14px;
                box-sizing: border-box;
                padding: 0 20px;
                padding-right: $send-btn-width + 5px;
                width: 100%;
                background: rgba(210,210,210,1);
                line-height: 24px;
                &:focus{
                  outline: none;
                  border: 1px solid lighten($spotify-blue, 10%);
                  background: rgba(240,240,240,1);
                }
              }

              .send-btn{
                cursor: pointer;
                position: absolute;
                right: 2px;
                top: 2px;
                border: none;
                @include border-radius(20px);
                background-color: $spotify-blue;
                color: rgba(255,255,255,1);
                line-height: 22px;
                font-size: 14px;
                padding: 0;
                width: $send-btn-width;
                &:hover{
                  background-color: darken($spotify-blue, 10%);
                }
              }
            }

            .collaborators-list{
              max-height: 200px;
              overflow: hidden;
              position: relative;

              .item{
                $thumbnail-width: 30px;

                cursor: pointer;
                display: inline-block;
                box-sizing: border-box;
                width: 100%;
                @include border-radius($thumbnail-width);
                background: lighten($dropdown-background-color, 15%);
                font-size: 13px;
                position: relative;
                padding: 5px;
                padding-left: $thumbnail-width + 10px;
                margin: 3px 0;
                line-height: $thumbnail-width;
                @include transition(.2s);

                .thumbnail{
                  text-align: center;
                  @include border-radius(50%);
                  position: absolute;
                  left: 5px;
                  top: 5px;
                  width: $thumbnail-width;
                  height: $thumbnail-width;
                  background: $spotify-blue;
                  background-size: cover !important;
                  background-repeat: no-repeat !important;
                  background-position: center !important;
                  font-size: 20px;
                  color: rgba(255,255,255,1);
                }
                p{
                  margin: 0;
                  span{
                    display: inline-block;
                  }
                  .role{
                    float: right;
                    padding-right: 10px;
                    i{
                      padding-right: 5px;
                      &.remove{
                        padding-left: 7px;
                        opacity: 0;
                        color: rgba(50,50,50,1);
                        display: none;
                        vertical-align: middle;
                        @include transition(.1s);
                      }
                    }
                  }
                }
                &:hover{
                  background: lighten($dropdown-background-color, 10%);
                  p{
                    .role{
                      .remove{
                        opacity: 1;
                        display: inline-block;
                        &:hover{
                          color: $google-red;
                        }
                      }
                    }
                  }
                }
                &.admin{
                  cursor: default;
                  background: lighten($dropdown-background-color, 5%);
                }
              }/* item */
            }

          }/* body-container */
        }
/* ⬆︎ collaborators */



/* ⬇︎ edit-profile modal-body styling */
        &.edit-profile{
          box-sizing: border-box;
          text-align: center;
          padding: 0 20px 20px 20px;
          font-size: 0;
          .body-container{
            text-align: left;
            display: inline-block;
            @include mobile-mode{
              text-align: center;
            }

            h4{
              font-weight: normal;
              margin: 20px 0 0 0;
              padding: 5px 0;
              font-size: 14px;
              opacity: .6;
            }

            .input, .desc{
              @include border-radius(3px);
              border: 1px solid lighten($blue-color, 10%);
              font-size: 14px;
              box-sizing: border-box;
              padding: 5px 10px;
              width: 100%;
              background: rgba(210,210,210,1);
              &:focus{
                outline: none;
                border: 1px solid lighten($spotify-green, 10%);
                background: rgba(240,240,240,1);
              }
            }

            .name-container{
              padding: 0 0 10px 0;
            }

            .left-container{
              display: inline-block;
              vertical-align: top;
              width: 200px;


              .image-container{
                display: inline-block;
                vertical-align: top;

                .image{
                  position: relative;
                  display: table-cell;
                  vertical-align: middle;
                  text-align: center;
                  width: 200px;
                  height: 200px;
                  @include border-radius(5px);
                  background: darken($dropdown-background-color, 10%);

                  .image-container{

                    i{
                      opacity: .7;
                      font-size: 40px;
                    }
                    img{
                      width: 100px;
                    }
                    button{
                      cursor: pointer;
                      position: absolute;
                      bottom: 10px;
                      left: 20%;
                      width: 60%;
                      padding: 3px 0;
                      margin: 0;
                      font-size: 12px;
                      color: rgba(255,255,255,1);
                      @include border-radius(20px);
                      border: 1px solid rgba(0,0,0,0);
                      text-shadow: 1px 1px 2px rgba(0,0,0,.6);
                      opacity: .8;
                      &:hover{
                        opacity: 1;
                      }
                      &.add{
                        background: $spotify-blue;
                      }
                      &.remove{
                        background: $google-red;
                      }
                      input[type='file'] {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 0;
                        padding: 0;
                        font-size: 20px;
                        cursor: pointer;
                        opacity: 0;
                        filter: alpha(opacity=0);
                      }
                    }
                  }
                }/* image-container */
              }/* image */

            }/* left-container */
            .description{
              display: inline-block;
              vertical-align: top;
              width: 220px;
              margin: 0 0 0 40px;
              @include mobile-mode{
                margin: 0;
              }
              .desc{
                box-sizing: border-box;
                height: 120px;
              }
              .password{
                input{
                  & + input{
                    margin-top: 10px;
                  }
                }
              }
            }/* description */
          }/* body-container */
        }
/* ⬆︎ modal-body edit-profile */



/* ⬇︎ new-playlist modal-body styling */
        &.new-playlist{
          width: 100%;
          box-sizing: border-box;
          text-align: left;
          padding: 10px;
          font-size: 0;

          h4{
            position: relative;
            font-weight: normal;
            margin: 5px 0;
            padding: 0;
            line-height: 22px;
            font-size: 14px;
            color: rgba(255,255,255,.6);
            .counter{
              position: absolute;
              right: 3px;
              top: 0;
              @include border-radius(20px);
              background: $spotify-blue;
              display: inline-block;
              padding: 0 10px;
              line-height: 22px;
              float: right;
              color: rgba(255,255,255,.9);
            }
          }

          .input, .desc{
            @include border-radius(3px);
            border: 2px solid $spotify-blue;
            font-size: 14px;
            box-sizing: border-box;
            line-height: 26px;
            padding: 0 10px;
            width: 100%;
            color: rgba(110,110,110,1);
            &:focus{
              color: rgba(60,60,60,1);
              border: 2px solid lighten($blue-color, 10%);
            }
          }
          .input-container{
            $counter-width: 80px;
            position: relative;
            .input{
              padding-right: $counter-width;

            }
            .counter{
              position: absolute;
              top: 3px;
              right: 3px;
              @include border-radius(20px);
              background: $spotify-blue;
              display: inline-block;
              line-height: 22px;
              padding: 0 10px;
              color: rgba(255,255,255,.9);
              font-size: 14px;
            }
          }
          .name-container{
            padding: 0 0 10px 0;
          }

          .image-container{
            display: inline-block;
            vertical-align: top;

            @include mobile-mode{
              display: block;
            }

            .image{
              position: relative;
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              width: 200px;
              height: 200px;
              @include border-radius(5px);
              background: darken($dropdown-background-color, 10%);

              @include mobile-mode{
                display: block;
                padding: 20px 0;
                width: 100%;
                height: auto;
              }

              .image-container{

                i{
                  opacity: .7;
                  font-size: 40px;
                }
                img{
                  width: 100px;
                }
                button{
                  cursor: pointer;
                  position: absolute;
                  bottom: 10px;
                  left: 20%;
                  width: 60%;
                  padding: 3px 0;
                  margin: 0;
                  font-size: 13px;
                  color: rgba(255,255,255,1);
                  @include border-radius(20px);
                  border: 1px solid rgba(0,0,0,0);
                  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
                  @include transition(.2s);
                  opacity: .8;
                  &:hover{
                    opacity: 1;
                  }
                  &.add{
                    background: $spotify-blue;
                  }
                  &.remove{
                    background: $google-red;
                  }
                  input[type='file'] {
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: 0;
                    padding: 0;
                    font-size: 20px;
                    cursor: pointer;
                    opacity: 0;
                    filter: alpha(opacity=0);
                  }
                  @include mobile-mode{
                    margin-top: 20px;
                    position: static;
                  }
                }
              }
            }/* image-container */
          }/* image */
          .description{
            display: inline-block;
            vertical-align: top;
            width: 370px;
            margin: 0;
            @include mobile-mode{
              width: 100%;
            }
            .desc{
              box-sizing: border-box;
              height: 200px;
            }
          }/* description */
        }/* body */

      }
/* ⬆︎ modal-body new-playlist */

      .error-message{
        padding: 10px 0 20px 0;
        color: $pink;
      }

      .modal-footer{
        z-index: 1;
        padding: 10px 0;
        border-top: 1px solid rgba(255,255,255,.1);
        width: 100%;
        display: block;
        text-align: center;

        @include mobile-mode{
          padding: 30px 0 40px 0;
        }

        button{
          cursor: pointer;
          @include border-radius(20px);
          padding: 5px 0;
          width: 120px;
          border: 0px solid rgba(0,0,0,0);
          font-size: 14px;
          color: rgba(255,255,255,1);
          opacity: .8;
          box-shadow: 2px 2px 4px rgba(0,0,0,.2);
          & + button{
            margin-left: 10px;
          }
          &.create{
            background: $spotify-green;
          }
          &.save{
            background: $spotify-green;
          }
          &.cancel{
            background: lighten($dropdown-background-color, 20%);
          }
          &.done{
            background: $spotify-green;
          }

          &:hover{
            opacity: 1;
          }
        }
      }/* footer */
    }/* container */
  }/* wraper */

  &-enter, &-leave {
    opacity: 0;
  }

  &-enter &-container,
  &-leave &-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

}/* modal */