@import './_mixins.scss';
@import './_vars.scss';

$btn-height: 36px;
$btn-width: 46px;

.control-panel-container{
  height: $btn-height;
  text-shadow: 0 0 3px rgba(0,0,0,.4);
  font-size: 18px;

  .control-panel{
    position: relative;
    z-index: 99;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &.left{
      padding-left: 12px;
    }/* left */
    &.right{
      float: right;
      padding-right: 12px;
    }/* right */

    .btn{
      cursor: pointer;
      display: inline-block;
      border: 0 solid rgba(0,0,0,0);
      text-align: center;
      line-height: $btn-height;
      padding: 0 14px;
      margin: 0;
      font-weight: normal;
      background: rgba(0,0,0,0);
      color: rgba(210,210,210,1);
      @include border-radius(20px);
      @include transition(.3s);
      &:hover{
        color: rgba(255,255,255,1);
      }
      &.like{
        &.active{
          i{
            color: $pink;
            text-shadow: none;
            box-shadow: none;
          }
        }
      }
      &.expand{
        @include mobile-mode{
          display: none;
        }
        i{
          display: inline-block;
          &.compress{
            display: none;
          }
        }
        &.expanded{
          display: inline-block;
          i{
            display: none;
            &.compress{
              display: inline-block;
            }
          }
        }
      }
      &.active{
        text-shadow: none;
        color: $spotify-green;
      }

    }/* btn */
  }/* control-panel */
  &.side-player-control-panel-container{
    .control-panel{
      .btn{
        padding: 0 9px
      }
    }
  }
}/* control-panel-container */

