@import 'assets/sass/_vars.scss';

.full-width-responsive-inner{
  width: 101.6%;
  font-size: 0;

  .playlist,
  .video,
  .tag,
  .artist-item,
  .user-item{
    /*
      1.6 / 101.6 = 0.015748031496063
    */
    margin: 0 1.5748031496063% 1.5748031496063% 0;

    @include small-window{
      /*
        width: calc(96.8% / 3); = 32.26666666666667
        32.26666666666667 / 101.6 = 0.31758530183727
      */
      width: 31.758530183727%;
      font-size: 23px;
    }
    @include medium-window{
      /*
        width: calc(95.2% / 4); = 23.8
        23.8 / 101.6 = 0.23425196850394
      */
      width: 23.425196850394%;
      font-size: 24px;
    }
    @include large-window{
      /*
        width: calc(95.2% / 4); = 23.8
        23.8 / 101.6 = 0.23425196850394
      */
      width: 23.425196850394%;
      font-size: 24px;
    }
    @include extra-large-window{
      /*
        width: calc(93.6% / 5); = 18.72
        18.72 / 101.6 = 0.18425196850394
      */
      width: 18.425196850394%;
      font-size: 25px;
    }
    @include full-window{
      /*
        width: calc(92% / 6); = 15.33333333333333
        15.33333333333333 / 101.6 = 0.1509186351706
      */
      width: 15.09186351706%;
      font-size: 26px;
    }
  }
  @include mobile-mode{
    width: 103%;
    .playlist,
    .video,
    .tag,
    .artist-item,
    .user-item{
      /*
        width: 103%;
        margin: 3%;
        width: calc(97% / 2); = 48.5
        48.5 / 103 = 0.47087378640777
      */
      margin: 0 2.9% 3% 0;
      width: 47.087378640776%;
      font-size: 20px;
    }
  }
}/* full-width-responsive-inner */

#main-container.active{
  .full-width-responsive-inner{

    .playlist,
    .video,
    .tag,
    .artist-item,
    .user-item{
      /*
        1.6 / 101.6 = 0.015748031496063
      */
      margin: 0 1.5748031496063% 1.5748031496063% 0;

      @include small-window{
        /*
          width: calc(98.4% / 2); = 49.2
          49.2 / 101.6 = 0.48425196850394
        */
        width: 48.425196850394%;
        font-size: 22px;
      }
      @include medium-window{
        /*
          width: calc(96.8% / 3); = 32.26666666666667
          32.26666666666667 / 101.6 = 0.31758530183727
        */
        width: 31.758530183727%;
        font-size: 23px;
      }
      @include extra-large-window{
        /*
          width: calc(95.2% / 4); = 23.8
          23.8 / 101.6 = 0.23425196850394
        */
        width: 23.425196850394%;
        font-size: 24px;
      }
    }
  }/* full-width-responsive-inner */
}/* active main-container */

