@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';


.artist-background-container{
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding-top: $header-height;
  padding-left: $sidebar-width;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: .2;
  @include mobile-mode{
    padding: 0;
  }
  .artist-background{
    position: relative;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
  }
}


$thumbnail-width: 120px;
$mobile-thumbnail-width: 70px;

#user-info{
  position: relative;
  padding: 40px 0 0 0;

  .user-thumbnail{
    position: absolute;
    top: 40px;
    left: 0;
    display: inline-block;
    margin: 0 auto;
    width: $thumbnail-width;
    height: $thumbnail-width;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    @include border-radius(50%);
    background-color: rgba(0,240,140,1);
    box-shadow: -2px 2px 4px rgba(0,0,0,.3);
    @include mobile-mode{
      width: $mobile-thumbnail-width;
      height: $mobile-thumbnail-width;
    }
  }
  .user-desc{
    width: 100%;
    box-sizing: border-box;
    height: $thumbnail-width + 20px;
    padding: 0 0 20px 0;
    padding-left: $thumbnail-width + 20px;
    border-bottom: 1px solid rgba(120,120,120,.2);
    p.header{
      padding: 0;
      margin: 0;
      font-size: 14px;
      color: rgba(255,255,255,.4);
    }/* header */
    h3{
      font-size: 28px;
      padding: 0;
      margin: 0;
      border: none;
    }
    p.description{
      font-size: 16px;
      box-sizing: border-box;
      margin: 0;
      padding: 10px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      opacity: .8;
    }
    #action{
      position: absolute;
      bottom: 20px;
      button{
        cursor: pointer;
        @include border-radius(20px);
        border: 2px solid rgba(0,0,0,0);
        padding: 5px 20px;
        font-size: 13px;
        color: rgba(240,240,240,1);
        display: inline-block;
        text-shadow: 1px 1px 2px rgba(0,0,0,.8);
        box-shadow: 1px 1px 2px rgba(0,0,0,.6);
        margin-right: 10px;
        &.edit{
          background: rgba(120,120,120,1);
        }/* edit */
        &.shuffle-play{
          background: $spotify-green;
        }
        &.follow{
          background: $pink;
          &:hover{
            background: darken($pink, 10%);
          }
          &.active{
            background: rgba(0,0,0,0);
            cursor: pointer;
            font-size: 12px;
            text-shadow: none;
            opacity: .7;
            box-shadow: none;
            border: 2px solid rgba(255,255,255,.2);
            i{
              color: $pink;
            }
            &:hover{
              opacity: 1;
              box-shadow: 2px 2px 4px rgba(0,0,0,1);
            }
          }
        }/* following button */
      }
    }/* action */
    @include mobile-mode{
      padding-left: $mobile-thumbnail-width + 10px;
      padding-bottom: 20px;
      box-sizing: content-box;
      width: auto;
      height: $mobile-thumbnail-width + 20px;
      h3{
        font-size: 17px;
      }
      p.description{
        padding-top: 3px;
        font-size: 13px;
      }
      #action{
        bottom: 10px;
        left: 0;
        button{
          @include border-radius(20px);
          padding: 2px 10px;
          font-size: 11px;

        }
      }

    }
  }/* user-desc */
  @include mobile-mode{
    $thumbnail-width: 70px;
  }
}/* user-info */

#user-nav{
  h2{
    margin: 10px 0 0 0;
    padding: 0;
    cursor: pointer;
    line-height: 30px;
    display: inline-block;
    opacity: .4;
    font-size: 12px;
    -webkit-transition: opacity .2s; /* Safari */
    transition: opacity .2s;
    + h2{
      margin-left: 10px;
    }
    &:hover{
      opacity: .8;
    }
    &.active{
      font-size: 14px;
      opacity: 1;
      border-bottom: 2px solid $spotify-green;
    }
    @include mobile-mode{
      line-height: 20px;
    }

  }
}/* user-nav */

.user-content{
  h2{
    color: rgba(140,140,140,1);
    margin: 40px 0 10px 0;
    font-size: 20px;
  }

  #analytics{
    h2{
      margin: 0;
      padding: 0;
    }
    .analytics{
      margin: 0;
      padding: 20px 0 0 20px;
      color: rgba(190,190,190,1);
      li{
        position: relative;
        font-size: 12px;
        margin: 0;
        padding: 0 0 0 10px;
        line-height: 20px;
        list-style: none;

        span{
          display: inline-block;
          text-align: right;
          padding: 0 10px;
          &:nth-child(1){
            color: rgba(255,255,255,1);
            background: darken($yellow,36%);
            background: rgba(0,0,0,0);
            background: -webkit-linear-gradient(right, rgba(243,178,40,1) , rgba(243,178,40,0)); /* For Safari 5.1 to 6.0 */
          }
          &:nth-child(2){
            text-shadow: 2px 2px 3px rgba(0,0,0,1);
            padding: 0 0 0 10px;
          }
        }
      }
    }
  }/* analytics */

  .artist-desc-container{
    width: 100%;
    table{
      display: block;
      width: 100%;
      font-size: 15px;
      @include mobile-mode{
        font-size: 12px;
      }
      tbody{
        display: block;
        width: 100%;
        tr{
          box-sizing: border-box;
          width: 100%;

          th,td{
            box-sizing: border-box;
            padding: 20px 0;
          }
          th{
            color: rgba(#fff, .6);
            font-size: .9em;
            font-weight: normal;
            text-align: left;
            vertical-align: top;
          }
          td{
            color: rgba(#fff, .8);
            font-size: 1em;
            padding-left: 10px;
            vertical-align: top;
            a{
              cursor: pointer;
              color: #fff;
              margin-right: 15px;
              text-decoration: none;
              padding: 0;
              border-bottom: 2px solid rgba(#fff, .4);
              &:hover{
                border-color: $spotify-green;
              }
            }
          }
        }

      }/* tbody */
    }/* table */
  }/* artist-desc-container */



}/* user-content */


.full-width-responsive-inner{
  padding-top: 30px;
}