@import './_vars.scss';

html,
body{
	padding: 0;
	margin: 0;
}
body{
	background-color: rgba(0,0,0,1);
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

*:focus {
  outline: none;
}

.background{
	position: fixed;
	z-index: -1;
	top: 0;
	left: -100vw;
	opacity: .4;
	width: 200vw;
	height: 100vh;
	-webkit-filter: blur(2px);
	filter: blur(2px);
  background: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

 	-webkit-animation: background-blur 44s linear infinite alternate;
	animation: background-blur 44s linear infinite alternate;

	@keyframes background-blur{
		0%{left: -100vw;}
		100%{left: 0;}
	}
}


.input-container{
	& + .input-container{
		padding-top: 10px;
	}
	input{
		font-size: 13px;
		color: rgba(80,80,80,1);
		display: block;
		box-sizing: border-box;
		padding: 5px 20px;
		width: 100%;
		@include border-radius(5px);
		border: 1px solid rgba(220,220,220,1);
		@include transition(.3s);

		&:-webkit-autofill {
		  -webkit-box-shadow: 0 0 0px 1000px rgba(245,245,245,1) inset;
		}/* reset chrome autofill background-color */
		&:focus{
		  -webkit-box-shadow: 0 0 0px 1000px rgba(255,255,255,1) inset;
		}
	}
}


p.error-msg{
	width: 100%;
	padding: 0;
	margin: 0;
	font-size: 12px;
	color: $google-red;
}

ul.errorlist{
	padding: 0;
	margin: 0;
	width: 100%;
	li{
		padding: 0;
		margin: 0;
		list-style: none;
		font-size: 12px;
		color: $google-red;
	}
}

#main-container{
	display: table-cell;
	vertical-align: middle;
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
}
.container{
	$container-color: rgba(240,240,240,1);
	$panel-height: 480px;

	overflow: hidden;
	margin: 0 auto;
	box-sizing: border-box;
	box-shadow: 2px 2px 10px rgba(0,0,0,1);
	width: 90%;
	max-width: 820px;
	height: $panel-height;
	background: $container-color;
	@include border-radius(10px);
	font-size: 0;

	@include panel-collapse-width{
		padding: 40px 0;
		height: auto;
		display: inline-block;
		width: 90%;
		max-width: 420px;
		margin: 0 auto;
	}
	@include mobile-width{
		width: 95%;
		padding: 20px 0;
	}


	.panel{
		height: 100%;
		box-sizing: border-box;
		display: inline-block;
		width: 50%;
		vertical-align: middle;
		overflow: hidden;
		.inner{
			box-sizing: border-box;
			width: 50%;
			height: $panel-height;
			display: table-cell;
			vertical-align: middle;
			h3{
				font-weight: normal;
				color: rgba(120,120,120,1);
				font-size: 20px;
			}
			p{
				color: rgba(170,170,170,1);
				font-size: 13px;
				span{
					&.facebook{
						color: $facebook-blue;
					}
				}
			}
			.input-container{
				p{
					margin-bottom: 20px;
					label{
						display: none;
					}
				}
			}
		}
		.header{
			img.logo{
				width: 120px;
			}
			h1{
				color: rgba(70,70,70,1);
				font-size: 28px;
				@include mobile-width{
					font-size: 20px;
				}
			}
		}
		&.left{
			background: darken($container-color, 10%);
			@include panel-collapse-width{
				display: none;
			}
			img{
				width: 140%;
			}
		}
		&.right{

			.inner{
				padding: 0 40px;
			}
			.header{
				display: none;
				@panel-collapse-width{
					display: block;
				}
			}
			@include panel-collapse-width{
				display: block;
				width: 100%;
				.header{
					display: block;
				}
			}
		}/* panel right */
	}/* panel */

	.sign-up{
		padding: 20px 0;
		a{
			display: inline-block;
			font-size: 14px;
			line-height: 30px;
			text-decoration: none;
			color: rgba(240,240,240,1);
			padding: 0 10px;
			@include border-radius(20px);
			overflow: hidden;
			background: $spotify-green;
		}
	}/* sign up */

	.divider {
		width: 100%;
    border-top: 1px solid #d9dadc;
    display: block;
    height: 1px;
    margin: 15px 0;
    position: relative;
    text-align: center;
    p{
    	font-size: 12px;
    	position: relative;
    	top: -15.5px;
    	margin: 0;
    	padding: 0 10px;
    	display: inline-block;
    	background: rgba(240,240,240,1);
    	line-height: 31px;
    	color: rgba(110,110,110,1);
    }
	}
	form{
		width: 100%;
		margin: 0;
		padding: 0 0 20px 0;

		.reset-pwd{
			padding: 5px 0;
			a{
				text-decoration: none;
				font-size: 12px;
				color: rgba(110,110,110,1);
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.checkbox-container{
			text-align: left;
			font-size: 12px;
			color: rgba(110,110,110,1);
			margin: 5px 0;
			opacity: .8;
			input{
				display: inline-block;
			}
		}
		.link-to-login{
			padding: 0;
			margin: 0;
			font-size: 12px;
			a{
				cursor: pointer;
				color: $spotify-green;
				opacity: .8;
				&:hover{
					opacity: 1;
				}
			}
		}
	}/* form */
}/* container */

button{
	text-shadow: 1px 1px 2px rgba(0,0,0,.6);
	cursor: pointer;
	font-size: 14px;
	display: inline-block;
	padding: 5px 0;
	width: 100%;
	color: rgba(255,255,255,1);
	@include border-radius(20px);
	border: 0 solid rgba(0,0,0,0);
	opacity: .8;
	&:hover{
		opacity: 1;
	}

	a{
		display: block;
		width: 100%;
		color: rgba(255,255,255,1);
		text-decoration: none;
	}
}

	.facebook-login{
		margin: 10px 0;
		background: $facebook-blue;
	}
	.login{
		margin: 10px 0;
		background: $spotify-green;
		&.margin-reset{
			margin: 0;
		}
	}
	.signup{
		background: #8EFA00;
		background: -webkit-linear-gradient(left, $instagram-pink , $instagram-orange); /* For Safari 5.1 to 6.0 */
		color: rgba(255,255,255,1);
		text-align: center;
	}

.spacer{
	display: block;
	height: 120px;
}
