<template>

<div class="top-banner-container">

  <!-- ⬇︎ background here -->
  <div class="top-banner-background" 
    :style="{'background-image': 'url(' + detail.image + ')'}"></div>

  <h2>{{ detail.name }}</h2>

  <div class="button green" 
    v-if="$route.params.type=='genre'"
    @click="playAllGenre(detail.id)"
    >
    <i class="fa fa-play" aria-hidden="true"></i>
    Shuffle Play
  </div>

  <div class="button green" 
    @click="playAllTag(detail.id)"
    v-if="$route.params.type=='tag'">
    <i class="fa fa-play" aria-hidden="true"></i>
    Shuffle Play
  </div>


</div><!-- detail background container -->


<div id="main-inner">

  <div class="order">
    <div class="button small border" @click="fetchData('random')" :class="{'active': order=='random'}">
        <i class="fa fa-random" aria-hidden="true"></i>
         Random
    </div>
    <div class="button small border" @click="fetchData('time')" :class="{'active': order=='time'}">
      <i class="fa fa-clock-o" aria-hidden="true"></i>
       New
    </div>
    <div class="button small border" @click="fetchData('trending')" :class="{'active': order=='trending'}">
      <i class="fa fa-bar-chart" aria-hidden="true"></i>
       Trending
    </div>
  </div><!-- order -->

  <h3>
    Playlists
    <span v-link="{ name: 'playlistList', params: { param: $route.params.type + '=' + $route.params.id } }">
      SEE ALL
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </span>
  </h3>

  <div class="full-width-responsive-inner">
    <playlist-item
      :playlist="playlist"
      v-for="playlist in playlists"
      class="playlist-item">
    </playlist-item>
  </div>

  <template v-if="artists.length > 0">
    <h3>
      Artists
      <span v-link="{ name: 'artistList', params: { param: $route.params.type + '=' + $route.params.id } }">
        SEE ALL
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </span>

      </h3>
    <artist-slider :artists="artists"></artist-slider>
  </template>


  <h3>
    Videos
    <span v-link="{ name: 'videoList', params: { param: $route.params.type + '=' + $route.params.id } }">
      SEE ALL
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </span>
  </h3>

  <div class="full-width-responsive-inner">
    <video-item v-for="video in videos" :video="video"></video-item>
  </div>

</div><!-- main-inner -->
</template>


<script>
import http from '../../services/http'
import PlaylistItem from '../shared/playlist-item'
import VideoItem from '../shared/video-item'
import ArtistSlider from '../shared/artist-slider'

export default {
  components: {PlaylistItem, VideoItem, ArtistSlider},
  data () {
    return {
      id: '',
      type: '',
      openTab: 'playlist',
      order: 'random',
      playlists: [],
      videos: [],
      artists: [],
      detail: {}
    }
  },
  watch: {
    '$route.params.id': function (val) {
      if (val) {
        this.id = val
        this.type = this.$route.params.type
        this.fetchData('random')
      }
    }
  },
  ready () {
    this.id = this.$route.params.id
    this.type = this.$route.params.type
    this.fetchData('random')
  },
  methods: {
    fetchData: function (order) {
      this.order = order
      http.get(`/api/browse/${this.type}/${this.id}/${this.order}`, {}, (res) => {
        this.playlists = res.playlists
        this.videos = res.videos
        this.artists = res.artists
        this.detail = res.detail
      })
    },
    playAllGenre: function (id) {
      this.$root.$broadcast('player:play-video', undefined, undefined, {genre: id})
    },
    playAllTag: function (id) {
      this.$root.$broadcast('player:play-video', undefined, undefined, {tag: id})
    }
  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';


</style>
