<template>

<div id="main-inner">
  <h2>GENRES & MOODS</h2>
  <div class="full-width-responsive-inner">
    <div class="tag" v-for="genre in genres" v-link="{ name: 'browseDetail' , params: { type: 'genre', id: genre.id } }" >
      <div 
        v-lazy:background-image="genre.image" class="image"></div>
      <div class="name">
        <p>
          {{ genre.name }}
        </p>
      </div>
    </div><!-- genre -->
  </div>

  <h2>INSTRUMENTS</h2>
  <div class="full-width-responsive-inner">
    <div class="tag"  v-for="tag in instrumentTags" v-link="{ name: 'browseDetail' , params: { type: 'tag', id: tag.id } }">
      <div 
        v-lazy:background-image="tag.image"  class="image"></div>
      <div class="name">
        <p> {{ tag.name }}</p>
      </div>
    </div><!-- genre -->
  </div>

  <h2>Tags</h2>

  <ul class="tags">
    <li v-for="tag in hotTags" v-link="{ name: 'browseDetail' , params: { type: 'tag', id: tag.id } }" ><a>{{ tag.name }}</a></li>
  </ul>

</div><!-- main-inner -->

</template>

<script>
import store from '../../stores/store'

export default {
  data () {
    return {
      genres: store.state.genres,
      instrumentTags: store.state.instrumentTags,
      hotTags: store.state.hotTags
    }
  },
  ready () {
  },
  events: {
    'init': function () {
      this.genres = store.state.genres
      this.instrumentTags = store.state.instrumentTags
      this.hotTags = store.state.hotTags
    }
  },
  methods: {
  }
}
</script>




<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';

</style>
