<template>

  <router-view></router-view>

</template>

<script>
export default {
  data () {
    return {
    }
  },
  ready () {
    this.$root.$broadcast('player:minimize')
  },
  events: {
  },
  methods: {
  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';

</style>