<template>

  <div id="app" @click="click2Dom">

    <site-header></site-header>

    <div id="sidebar">
      <ul id="navigaton">
        <li v-link="{ name: 'browse' }" :class="{'active': openTab=='browse'}" @click="openTab='browse'">
          <i class="fa fa-sitemap" aria-hidden="true"></i>
          <span>Browse</span>
        </li>
        <li v-link="{ name: 'browsePlaylist' }" :class="{'active': openTab=='browsePlaylist'}" @click="openTab='browsePlaylist'">
          <i class="fa fa-th" aria-hidden="true"></i>
          <span>All Playlists</span>
        </li>

        <li v-link="{ name: 'followingPlaylists' }"
          :class="{'active': openTab=='followingPlaylists'}"
          @click="openTab='followingPlaylists'">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <span>Following</span>
        </li>

        <li v-link="{ name: 'favorite' }"
            :class="{'active': openTab=='favorite'}"
            @click="openTab='favorite'" >
          <i class="fa fa-heart" aria-hidden="true"></i>
          <span>Liked Videos</span>
        </li>

        <li v-link="{ name: 'history' }"  :class="{'active': openTab=='history'}" @click="openTab='history'">
            <i class="fa fa-history" aria-hidden="true"></i>
            <span>History</span>
        </li>
      </ul>

      <h4>PLAYLISTS</h4>
      <div class="new-playlist" @click="openNewList">
        <i class="fa fa-plus-circle" aria-hidden="true"></i>
          <span style="font-size: .9em;">プレイリストを作る</span>
          <!-- if eng. {{New Playlist}} -->
      </div>

      <ul id="sidebar-playlists">
        <li v-for="item in store.userPlaylists" 
            :class="{'shared-owner': item.is_collaborative, 'public': item.is_public}"
            v-link="{ name: 'playlist', params: { slug: item.slug } }" >
            <i class="fa fa-users" v-if="item.is_collaborative" aria-hidden="true"></i>
          {{ item.name }}
        </li>
        <li v-for="item in store.collaboratePlaylists" 
          :class="{'public': item.is_public}"
          v-link="{ name: 'playlist', params: { slug: item.slug } }" class="shared-playlist">
          <i class="fa fa-users" aria-hidden="true"></i>
          {{ item.name }}
        </li>
      </ul>
    </div><!-- sidebar -->

    <div id="mobile-nav">
      <div class="mobile-nav-item" v-link="{ name: 'home' }">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span>Home</span>
      </div>
      <div class="mobile-nav-item"
        v-link="{ name: 'search' }"
        :class="{'active': openTab=='search'}"
        @click="openTab='search'">
        <i class="fa fa-search" aria-hidden="true"></i>
        <span>Search</span>
      </div>
      <div class="mobile-nav-item"
        v-link="{ name: 'browse' }"
        :class="{'active': openTab=='browse'}"
        @click="openTab='browse'">
        <i class="fa fa-sitemap" aria-hidden="true"></i>
        <span>Browse</span>
      </div>
      <div class="mobile-nav-item"
        v-link="{ name: 'history' }"
        :class="{'active': openTab=='history'}"
        @click="openTab='history'">
        <i class="fa fa-history" aria-hidden="true"></i>
        <span>History</span>
      </div>
      <div class="mobile-nav-item">
        <a href="javascript:void(0)"
        v-link="{ name: 'profile'}">
          <div class="user-icon"></div>
          <span>My Page</span>
        </a>
      </div>
    </div>

    <div class="message" v-show="message !== ''">
      <p>{{ message }}</p>
    </div>


    <div id="player-container">
      <player-box ></player-box>
    </div><!-- player-container -->


    <!-- route outlet -->
    <div id="main-container" :class="{'anonymous': !isAuthenticated}" ><!-- class="active" when player is active-->
      <!--
      <div id="nightsky" v-if="nightMode"> show this at night time
      disabled because it's heavy on browser
        <div class="stars"></div>
        <div class="twinkling"></div>
      </div>
      -->
      <router-view></router-view>
    </div>

    <activity-sidebar v-if="isAuthenticated"></activity-sidebar>


    <new-playlist-modal :is-update="false"  :show.sync="showNewPlaylistModal"></new-playlist-modal>

    <modal-message :show.sync="showModalMessage" :message="modalMessage"></modal-message>

    <modal-message :show.sync="showModalMessage" :message="modalMessage"></modal-message>

    <login-require :show.sync="showLoginRequire" ></login-require>

    <edit-profile-modal :show.sync="showEditProfileModel" ></edit-profile-modal>

  </div><!-- app -->
</template>

<script>
import siteHeader from './components/shared/header'
import LoginModal from './components/shared/modal/login'
import PlayerBox from './components/shared/player'
import ActivitySidebar from './components/shared/activity-sidebar'
// import shared from './stores/shared'
import store from './stores/store'
import NewPlaylistModal from './components/shared/modal/new-playlist'
import ModalMessage from './components/shared/modal/message'
import LoginRequire from './components/shared/modal/login-require'
import EditProfileModal from './components/shared/modal/edit-profile'
import Ps from 'perfect-scrollbar'
import notify from './services/notify'

export default {
  components: {
    siteHeader, LoginModal, PlayerBox, NewPlaylistModal, ModalMessage, EditProfileModal, ActivitySidebar, LoginRequire
  },
  data () {
    return {
      nightMode: false,
      showNewPlaylistModal: false,
      openTab: '',
      store: {},
      instantPlayer: {
        mode: '',
        yt_id: '',
        playlistId: 0
      },
      message: '',
      messageTimeout: null,
      showModalMessage: false,
      modalMessage: '',
      showEditProfileModel: false,
      showLoginRequire: false,
      isAuthenticated: false
    }
  },
  init () {
    store.init(() => {
      this.store = store.state
      this.isAuthenticated = !!store.state.user
      this.$broadcast('init')
      this.$emit('init')
    })
  },
  ready () {
    this.initScrollbar()
    notify.askPermission()
  },
  events: {
    'player:ready': function () {
      store.state.isPlayerReady = true
      this.$broadcast('player:readyy')
    },
    'notify': function (message) {
      this.message = message
      window.clearTimeout(this.messageTimeout)
      this.messageTimeout = window.setTimeout(() => {
        this.message = ''
      }, 3000)
    },
    'modal:message': function (message) {
      this.showModalMessage = true
      this.modalMessage = message
    },
    'login:require': function (message) {
      this.showLoginRequire = true
    },
    'edit-profile:show': function (flag) {
      this.showEditProfileModel = flag
    }
  },
  methods: {
    initScrollbar: function () {
      Ps.initialize(document.getElementById('sidebar-playlists'))
    },
    click2Dom: function (e) {
      this.$broadcast('click2dom', e)
    },
    openNewList: function () {
      if (store.state.user) {
        this.showNewPlaylistModal = true
      } else {
        this.showLoginRequire = true
      }
    }
  }
}
</script>

<style lang="scss">
@import 'assets/sass/bourbon/bourbon';
@import 'assets/sass/_vars.scss';
@import 'assets/sass/nightsky.scss';
@import 'assets/sass/scrollbar.scss';
@import 'assets/sass/font-awesome/font-awesome.scss';

html,
body{
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: $min-width;
  overflow-x: hidden;
  background: lighten($frame-color, 3%);
  color: rgba(200,200,200,1);
  font-family: Arial, Helvetica, sans-serif;
  @include user-select(none);
  @include mobile-mode{
    min-width: 0;
    -webkit-overflow-scrolling: touch;
  }
}

*:focus {
  outline: none;
}

#main-container{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 120px $sidebar-width;
  margin: $header-height 0 0 0;
  @include transition(.4s);
  font-size: 0;

  &:not(.anonymous) {
    @include large-window{
      padding-right: $activity-sidebar-width;
    }
  }
  &.active{
    padding: 0 $player-width 0 $sidebar-width;
    min-width: $min-width + 120px;
    & + #activity-bar{
      right: -$activity-sidebar-width;
      @include large-window{
        right: 0;
      }
    }
    @include mobile-mode{
      padding: 0 0 120px 0;
      $mobile-video-height: $mobile-video-width * 0.5625;
      padding-top: $mobile-video-height + 20px;
      min-width: 0;
    }
  }
  @include mobile-mode{
    padding-left: 0;
    margin: 0;
  }
}/* main-container */

#player-container{
  &.expand{
    box-sizing: border-box;
    width: 100%;
    padding: 0 0 0 $sidebar-width;
    padding-top: $header-height;

    @include large-window{
      padding-right: $activity-sidebar-width;
    }
    @include mobile-mode{
      position: static;
      height: auto;
      padding: 0;
    }
    #player{}

    & + #main-container{
      display: none;
    }
  }

}/* player-container */





#sidebar{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 50px 0 0 0;
  display: inline-block;
  width: $sidebar-width;
  height: 100%;
  box-sizing: border-box;
  background: $frame-color;
  overflow: hidden;
  border-right: 2px solid rgba(0,0,0,.2);
  color: rgba(255,255,255,1);
  #navigaton{
    position: relative;
    margin: 30px 0 0 0;
    padding: 0;

    li{
      cursor: pointer;
      opacity: .6;
      padding: 0 0 0 20px;
      margin: 15px 0;
      display: block;
      list-style: none;
      font-size: 14px;
      border-left: 4px solid rgba(0,0,0,0);
      @include transition(.2);

      &:hover{
        opacity: 1;
        border-left: 4px solid $spotify-green;
      }
      &.active{
        opacity: 1;
        border-left: 4px solid $spotify-green;
      }
    }
  }
  h4{
    padding: 0 10px 5px 20px;
    margin: 40px 0 10px 0;
    display: block;
    list-style: none;
    font-size: 14px;
    color: rgba(160,160,160,1);
    font-weight: normal;
  }
  .new-playlist{
    position: relative;
    z-index: 1;
    cursor: pointer;
    opacity: .6;
    padding: 10px 10px 10px 24px;
    display: block;
    list-style: none;
    font-size: 14px;
    border-left: 4px solid rgba(0,0,0,0);
    -webkit-transition: opacity .2s, border-left .2s; /* Safari */
    transition: opacity .2s, border-left .2s;
    background-color: lighten($frame-color, 10%);
    box-shadow: 0 2px 7px darken($frame-color, 14%);
    border-left: 4px solid rgba(0,0,0,0);
    i{
      color: $spotify-green;
    }
    &:hover{
      opacity: 1;
      border-left: 4px solid $spotify-green;
    }
  }

  #sidebar-playlists{
    position: relative;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
    padding: 0 5px 320px 10px;
    height: 100%;

    li{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
      opacity: .6;
      padding: 0 20px;
      margin: 15px 0;
      display: block;
      list-style: none;
      font-size: 14px;
      border-left: 4px solid rgba(0,0,0,0);
      -webkit-transition: opacity .2s, border-left .2s; /* Safari */
      transition: opacity .2s, border-left .2s;
      color: darken(#fff, 40%);

      &.public{
        color: darken(#fff, 0%);
      }

      &:hover{
        opacity: 1;
        border-left: 4px solid $spotify-green;
      }
      &.active{
        opacity: 1;
        border-left: 4px solid $spotify-green;
      }
      &.shared-owner{
        position: relative;
        i{
          position: absolute;
          right: 0;
          color: darken(#fff, 10%);
        }
        &:hover{
          border-left: 4px solid $spotify-blue;
        }
        &.active{
          border-left: 4px solid $spotify-blue;
        }
      }
      &.shared-playlist{
        position: relative;
        i{
          position: absolute;
          right: 0;
          color: $spotify-blue;
        }
        &:hover{
          border-left: 4px solid $spotify-blue;
        }
        &.active{
          border-left: 4px solid $spotify-blue;
        }
      }
    }
  }
  @include mobile-mode{
    display: none;
  }
}/* sidebar */


#mobile-nav{
  display: none;
}
@include mobile-mode{
  #mobile-nav{
    display: block;
    position: fixed;
    z-index: 99;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 0;
    padding: 5px 0;
    background-color: $dropdown-background-color;
    box-shadow: 0 -2px 5px rgba(0,0,0,.2);
    .mobile-nav-item{
      display: inline-block;
      width: 20%;
      text-align: center;
      i{
        font-size: 18px;
      }
      .user-icon{
        display: inline-block;
        height: 18px;
        width: 18px;
        @include border-radius(50%);
        background-color: darken($spotify-green, 20%);
      }
      span{
        padding-top: 3px;
        font-size: 10px;
        font-weight: 100;
        display: block;
        color: #ccc;
      }
      a{
        text-decoration: none;
        color: #ccc;
      }
    }
  }/* mobile-nav */
}

i.official{
  color: $spotify-green;
}

.message{
  display: inline-block;
  position: fixed;
  z-index: 999999999999;
  top: $header-height + 10px;
  left: $sidebar-width - 50px;
  @include transition(.3);
  p{
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6);
    color: rgba(255,255,255,1);
    margin: 0;
    padding: 0;
    display: inline-block;
    @include border-radius(20px);
    box-shadow: 0 0 10px rgba($spotify-green, 1);
    text-align: center;
    padding: 5px 20px;
    background: rgba($spotify-green, 1);
  }
}/* saved message */




/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}
/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}
/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}
#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



</style>
