<template>
  <div class="modal" v-show="show">
    <div class="wrapper">
      <div class="container">

        <div class="modal-header">
          Edit Profile
        </div><!-- header -->

        <div class="modal-body edit-profile">
          <form id="updateProfile" method="POST" action="/update_profile">

            <div class="body-container">
              <div class="left-container">

                <div class="image-container">
                  <h4>IMAGE</h4>
                  <div class="image">

                    <div class="image-container thumbnail" v-if="image || uploadedImage">
                      <img v-if="image" :src="image" />
                      <img v-if="!image" :src="uploadedImage" />
                      <div>
                        <button type="button" class="add">
                          <input tabindex="3" id="file" type="file" name="image" @change="onFileChange"> REPLACE IMAGE
                        </button>
                      </div>
                    </div>

                    <div class="image-container upload" v-show="!image && !uploadedImage">
                      <i class="fa fa-picture-o" aria-hidden="true" ></i>
                      <button type="button" class="add">
                        <input tabindex="3" id="file" type="file" name="image" @change="onFileChange"> ADD IMAGE
                      </button>
                    </div>

                  </div>
                </div>




                <h4>Username</h4>
                <input disabled="disabled" class="input name" name="username" type="text" v-model="username" placeholder="Username">

                <h4>Full name</h4>
                <input class="input name" name="fullname" type="text" v-model="fullname" placeholder="Nickname">

              </div><!-- left-container -->

              <div class="description">

                <h4>Email</h4>
                <input :disabled="email!==''" class="input name" name="email" type="text" placeholder="sample@muusick.net" v-model="email">

                <h4>Description</h4>
                <div class="control-group">
                  <textarea class="desc" name="bio" rows="4" v-model="bio" placeholder="ex. I love Rock music!"></textarea>
                </div>

                <h4>Password</h4>
                <div class="password">
                  <input class="input name" name="currentPassword" type="text" v-model="currentPassword" placeholder="Current Password">
                  <input class="input name" name="newPassword" type="text" v-model="newPassword" placeholder="New Password">
                  <input class="input name" name="rePassword" type="text" v-model="rePassword" placeholder="Re-Type New Password">
                </div>

              </div><!-- description -->
            </div><!-- body-container -->
          </form>
        </div><!-- body -->

        <p class="error">{{error}}</p>

        <div class="modal-footer">
          <button @click="close" class="cancel">Cancel</button>
          <button :disabled="disabledSave" @click="save" class="save">Save</button>
        </div><!-- footer -->

      </div><!-- container -->
    </div><!-- wrapper -->
  </div><!-- modal -->
</template>

<script>
import $ from 'jquery'
import http from '../../../services/http'
import store from '../../../stores/store'

export default {
  props: ['show'],
  data () {
    return {
      image: '',
      uploadedImage: '',
      username: '',
      email: '',
      fullname: '',
      bio: '',
      currentPassword: '',
      newPassword: '',
      rePassword: '',
      error: '',
      disabledSave: false
    }
  },
  watch: {
    'show': function (val) {
      this.username = store.state.user.username
      this.fullname = store.state.user.fullname
      this.bio = store.state.user.bio
      this.email = store.state.user.secure_email

      if (store.state.user.picture) {
        this.uploadedImage = store.state.user.picture
      }
    }
  },
  methods: {
    save: function () {
      if (this.validate()) {
        var data = new window.FormData($('form#updateProfile').get(0))
        this.disabledSave = true
        http.upload('/api/update_profile', data, (res) => {
          store.state.user = res
          this.$root.$broadcast('change:picture', res.picture)
          this.disabledSave = false
          this.close()
          this.$dispatch('notify', 'Successfully saved ! ')
        })
      }
    },
    close: function () {
      this.show = false
      this.newPassword = ''
      this.rePassword = ''
      this.currentPassword = ''
      this.error = ''
    },
    validate: function () {
      if (this.currentPassword + this.rePassword + this.newPassword !== '') {
        if (this.currentPassword === '') {
          this.error = 'Please enter current password!'
          return false
        }

        if (this.newPassword === '') {
          this.error = 'Please enter new password'
          return false
        }

        if (this.newPassword !== this.rePassword) {
          this.error = 'New password are not matched!'
          return false
        }
      }
      return true
    },
    createImage (file) {
      var reader = new window.FileReader()
      var vm = this
      reader.onload = (e) => {
        vm.image = e.target.result
      }
      reader.readAsDataURL(file)
    },
    onFileChange (e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }
      this.createImage(files[0])
    }
  }
}
</script>

<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/modal.scss';

</style>
