<template>
  <div class="modal" v-show="show">
    <div class="modal-wrapper">
      <div class="modal-container">
        <content select=".modal-header">
          <div class="modal-header">
            <h3>
              Welcome to Muusick!
            </h3>
          </div>
        </content>
        <div class="modal-body">

          <div class="left login-email">
            <div class="control-group">
              <input class="input" type="text" v-model="username" placeholder="Username">
            </div>

            <div class="control-group">
              <input class="input" type="password" v-model="password" placeholder="Password">
            </div>

            <div class="control-group">
              <button @click="close">Login</button>
            </div>
          </div>
          <div class="right login-social">
            <div class="control-group">
              <a title="Facebook" class="socialaccount_provider facebook" href="/accounts/facebook/login/?process=login"><button>Login with Facebook</button></a>
            </div>
            <div class="control-group">
              <button>Login with Twitter</button>
            </div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="modal-footer uk-clearfix">
            <!-- <button @click="show = false" class="uk-button uk-button-success uk-float-right">Ok, I hear!</button> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['show'],
  data () {
    return {
      msg: 'Hello World!'
    }
  },
  methods: {
    close: function () {
      this.$dispatch('login:close')
    }
  }
}
</script>

<style scoped lang="scss">
@import 'assets/sass/_vars.scss';

.login-email {
  border-right: 1px solid lighten($blue-color, 10%);
  padding-right: 20px;
}

.login-social{
  button{
    width: 200px;
  }
}

.control-group {
  margin-bottom: 20px;
  .input{
    @include border-radius(4px);
    border: 1px solid lighten($blue-color, 10%);
    font-size: 18px;
    padding: 5px 10px;

    &:focus{
      outline: none;
      border: 1px solid lighten(red, 10%);
    }
  }

  button{
    @include border-radius(4px);
    background: lighten($blue-color, 10%);
    padding: 5px 10px;
    border: 1px solid $blue-color;
    font-size: 15px;
    color: #fff;
  }
}



  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: table;
    transition: opacity .3s ease;
    
    &-wrapper {
      display: table-cell;
      vertical-align: middle;
    }
    
    &-container {
      background: #fff;
      width: 450px;
      border-radius: 5px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
      transition: all .3s ease;
      margin: 0 auto;
      padding: 20px 30px;
    }
    
    &-footer {
      margin-top: 15px;
    }
    
    &-enter, &-leave {
      opacity: 0;
    }
    
    &-enter &-container,
    &-leave &-container {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
</style>
