<template>
  <div class="modal" v-show="show">
    <div class="wrapper">

      <div class="container">

        <h1 class="message-box"> {{localMessage}} </h1>


        <button @click="close">
          CLOSE
        </button>

      </div><!-- container -->
    </div><!-- wrapper -->
  </div><!-- modal -->
</template>

<script>
export default {
  props: ['show', 'message'],
  data () {
    return {
      localMessage: ''
    }
  },
  watch: {
    'show': function (val) {
      if (val) {
        this.localMessage = this.message
      }
    }
  },
  methods: {
    close: function () {
      this.localMessage = ''
      this.show = false
    }
  }
}
</script>

<style scoped lang="scss">
@import 'assets/sass/_vars.scss';


.modal{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.8);

  .wrapper {
    width: 100vw;
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    .container {
      display: inline-block;
      background: lighten($gray, 5%);
      padding: 50px;
      width: 600px;
      @include border-radius(5px);
      box-shadow: 0 2px 8px rgba(0,0,0,1);
      transition: all .3s ease;

      .message-box{
        padding: 0;
        margin: 0;
      }
      button{
        cursor: pointer;
        position: relative;
        @include border-radius(20px);
        border: 0px solid rgba(0,0,0,0);
        font-size: 20px;
        margin: 50px 0 0 0;
        width: 90%;
        padding: 0;
        line-height: 30px;
        font-weight: bold;
        color: rgba(20,20,20,1);
        box-shadow: 2px 3px 4px rgba(0,0,0,1);
      }
    }/* container */
  }/* wraper */

  &-enter, &-leave {
    opacity: 0;
  }

  &-enter &-container,
  &-leave &-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

}/* modal */



</style>
