<template>

<div class="modal" v-show="show">
  <div class="wrapper">

    <div class="container">

      <div class="modal-header" v-if="isUpdate">
        UPDATE PLAYLIST INFO
      </div>
      <div class="modal-header" v-if="!isUpdate">
        CREATE PLAYLIST
      </div>

      <div class="modal-body new-playlist">

        <form :class="{'update': isUpdate, 'create': !isUpdate}" action="/upload">
          <input v-if="!!info" type="hidden" name="id" value="{{info.id}}">
          <div class="name-container">
            <h4>NAME</h4>
            <div class="input-container">
              <input tabindex="1" name="name" v-on:keyup="enterName" class="input" type="text" v-model="name" placeholder="Name">
              <span class="counter"><span>{{name.length}}</span>/100</span>
            </div>
          </div>
          <div class="image-container">
            <h4>IMAGE</h4>

            <div class="image">

              <div class="image-container thumbnail" v-if="image || uploadedImage">
                <img v-if="image" :src="image" />
                <img v-if="!image" :src="uploadedImage" />
                <div>
                  <button type="button" class="add">
                    <input tabindex="3" id="file" type="file" name="image" @change="onFileChange"> REPLACE IMAGE
                  </button>
                </div>
              </div>

              <div class="image-container upload" v-show="!image && !uploadedImage">
                <i class="fa fa-picture-o" aria-hidden="true" ></i>
                <button type="button" class="add">
                  <input tabindex="3" id="file" type="file" name="image" @change="onFileChange"> ADD IMAGE
                </button>
              </div>

            </div>
          </div>
          <div class="description">
            <h4>DESCRIPTION <span class="counter"><span>{{description.length}}</span>/300</span></h4>
            <textarea tabindex="2" name="description" v-on:keyup="enterDesc"  class="desc" rows="4" v-model="description" placeholder="Playlist's description"></textarea>
          </div>
        </form>

      </div><!-- body -->

      <div class="error-message" v-show='message'>
        You must enter playlist name
      </div>

      <div class="modal-footer">
        <button @click="close" class="cancel">Cancel</button>
        <button v-show="!info" @click="create" class="create" >Create</button>
        <button v-show="!!info" @click="update" class="create">Update</button>
      </div><!-- footer -->

    </div><!-- container -->
  </div><!-- wrapper -->
</div><!-- modal -->

</template>

<script>
import store from '../../../stores/store'
import http from '../../../services/http'
import $ from 'jquery'

export default {
  props: ['show', 'info', 'isUpdate'],
  data () {
    return {
      uploadedImage: '',
      name: '',
      description: '',
      image: '',
      message: ''
    }
  },
  watch: {
    'show': function (val) {
      if (val && !!this.info) {
        this.name = this.info.name
        this.description = this.info.description
        this.uploadedImage = this.info.image
      }
    }
  },
  methods: {
    create: function () {
      if (this.name.trim() === '') {
        this.message = 'Please enter playlist name'
        return false
      }
      if (this.description.trim() === '') {
        this.message = 'Please enter playlist description'
        return false
      }
      var data = new window.FormData($('form.create').get(0))
      var self = this
      http.upload('api/create_playlist', data, function (res) {
        store.state.userPlaylists.push(res)
        self.close()
      })
    },
    update: function () {
      if (this.name.trim() === '') {
        this.message = 'Please enter playlist name'
        return false
      }
      if (this.description.trim() === '') {
        this.message = 'Please enter playlist description'
        return false
      }
      var data = new window.FormData($('form.update').get(0))
      var self = this
      http.upload('api/update_playlist', data, function (res) {
        self.info.name = self.name
        self.info.description = self.description
        self.info.image = res.image
        self.close()
      })
    },
    reset: function () {
      this.name = ''
      this.description = ''
      this.image = ''
      this.message = ''
    },
    enterName: function () {
      if (this.name.length > 100) {
        this.name = this.name.substr(0, this.name.length - (this.name.length - 100))
      }
    },
    enterDesc: function () {
      if (this.description.length > 100) {
        this.description = this.description.substr(0, this.description.length - (this.description.length - 300))
      }
    },
    onFileChange (e) {
      var files = e.target.files || e.dataTransfer.files
      if (!files.length) {
        return
      }
      this.createImage(files[0])
    },
    createImage (file) {
      var reader = new window.FileReader()
      var vm = this

      reader.onload = (e) => {
        vm.image = e.target.result
      }
      reader.readAsDataURL(file)
    },
    removeImage: function (e) {
      this.image = ''
    },
    close: function () {
      this.reset()
      this.show = false
    }
  }
}
</script>

<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/modal.scss';

</style>
