<template>

  <div id="main-inner">
    <h2>
      All Playlists
    </h2>
    <div class="full-width-responsive-inner">
      <playlist-item :playlist="playlist"  v-for="playlist in playlists" class="public-playlist"></playlist-item>
    </div>
  </div>

</template>


<script>
import http from '../../services/http'
import PlaylistItem from '../shared/playlist-item'

export default {
  components: {PlaylistItem},
  data () {
    return {
      playlists: []
    }
  },
  ready () {
    this.$root.$broadcast('player:minimize')
    var self = this
    http.get('api/get_playlist_list', {}, (res) => {
      self.playlists = res.playlists
    })
  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';

</style>