<template>

<div class="container">

<!-- ⬇︎ not found -->
  <div class="inner" v-if="!invitation">
    <h2>Error</h2>
    <p>The invitation is no longer valid.</p>
  </div><!-- not found -->

<!-- ⬇︎ already accepter -->

  <div class="inner" v-if="invitation && invitation.status == 1">
    <h2></h2>
    <p>You already joined this playlist. </p>

    <div class="panel-playlist-info">

      <div class="playlist-desc-background" 
        :style="{'background-image': 'url(' + (playlist.image ? playlist.image : defaultPictureUrl) + ')'}"></div>

      <div class="playlist-desc-background" 
        :style="{'background-image': 'url(' + (playlist.image ? playlist.image : defaultPictureUrl) + ')'}"></div>

      <div class="thumbnail" 
        :style="{'background-image': 'url(' + (playlist.image ? playlist.image : defaultPictureUrl) + ')'}"></div>

      <p class="title">{{ playlist.name }}</p>
      <p class="desc">{{ playlist.description }}</p>
    </div>

    <button class="button redirect" v-link="{ name: 'playlist', params: { slug: playlist.slug } }" > GO TO PLAYLIST</button>

  </div><!-- already accepted -->

<!-- ⬇︎ confirm -->

  <div class="inner" v-if="invitation && invitation.status == 0">

    <h2>Invitation</h2>
    <p>{{ playlist.creator.username }} invited you to this playlist. Click accept button to join this playlist. </p>

    <div class="panel-playlist-info">

      <div class="playlist-desc-background" 
        :style="{'background-image': 'url(' + (playlist.image ? playlist.image : defaultPictureUrl) + ')'}"></div>

      <div class="thumbnail" 
      :style="{'background-image': 'url(' + (playlist.image ? playlist.image : defaultPictureUrl) + ')'}"></div>
      
      <p class="title">{{ playlist.name }}</p>
      <p class="desc">{{ playlist.description }}</p>

    </div>

    <button class="button default" @click="accept">ACCEPT</button>

  </div><!-- confirm -->
</div><!-- container -->

</template>

<script>
import http from '../../services/http'
import store from '../../stores/store'

export default {
  data () {
    return {
      defaultPictureUrl: '/static/myapp/img/default_playlist.png',
      invitation: {},
      playlist: {}
    }
  },
  events: {
  },
  ready () {
    this.$root.$broadcast('player:minimize')
    http.get('api/get_invitation', {
      key: this.$route.params.key
    }, (res) => {
      this.invitation = res.invitation
      this.playlist = res.playlist
    })
  },
  methods: {
    accept: function () {
      http.post('api/accept_invitation', {
        key: this.$route.params.key
      }, (res) => {
        store.state.collaboratePlaylists.push(res.playlist)
        this.$route.router.go('/playlist/' + this.playlist.slug)
      })
    }
  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';


.button {
  background: $spotify-green;
  cursor: pointer;
  border-radius: 20px;
  padding: 5px 20px;
  border: 0px solid transparent;
  font-size: 14px;
  color: white;
  opacity: .8;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 30px auto;
  &:hover{
    opacity: 1;
  }
}


.container{
  box-sizing: border-box;
  width: 90%;
  max-width: 700px;
  padding: 0;
  margin: 0 auto;
  font-size: 15px;
}

.inner{
  text-align: center;
  p{
    margin: 0;
    padding-bottom: 30px;
  }
}
.panel-playlist-info{
  $height: 200px;
  height: $height;
  position: relative;
  box-sizing: border-box;
  padding-left: $height + 20px;
  width: 100%;
  text-align: left;
  overflow: hidden;
  .playlist-desc-background{
    position: absolute;
    top: -10%;
    left: -10%;
    width: 120%;
    height: 120%;
    opacity: .2;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    background-image: url(../../assets/noimage.png);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
  }

  .redirect {
    margin: 20px;
  }

  .thumbnail{
    position: absolute;
    top: 0;
    left: 0;
    width: $height;
    height: $height;
    background-color: rgba(0,80,0,1);
    background-image: url(../../assets/noimage.png);
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
  }
  .title{
    margin: 10px 0;
    font-size: 22px;
    font-weight: bold;
    padding: 0;
  }
  .desc{
    font-size: 16px;
    padding: 0;
    margin: 0;
  }

}


</style>
