@charset "UTF-8";
/* responsive layout */
/* responsibe responsibe responsibe responsibe */
/* responsibe responsibe responsibe responsibe */
/* browse responsive */
/* line 6, ../sass/_vars.scss */
button.follow {
  background: #fff;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #cccccc;
}
/* line 27, ../sass/_mixins.scss */
button.follow:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
/* line 31, ../sass/_mixins.scss */
button.follow:active {
  background: #bfbfbf;
}
/* line 9, ../sass/_vars.scss */
button.follow.active {
  background: #8efa00;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #549400;
}
/* line 27, ../sass/_mixins.scss */
button.follow.active:hover {
  background: #77d100;
  transition: all 0.3s ease;
}
/* line 31, ../sass/_mixins.scss */
button.follow.active:active {
  background: #467a00;
}

/* width set */
/* line 3, ../sass/landing.scss */
html,
body {
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/landing.scss */
body {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  -webkit-overflow-scrolling: touch;
}

/* line 15, ../sass/landing.scss */
*:focus {
  outline: none;
}

/* line 16, ../sass/landing.scss */
a {
  text-decoration: none;
}

/* line 20, ../sass/landing.scss */
#header {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 10px 40px;
  width: 100%;
  height: 80px;
  background: rgba(40, 40, 40, 0.99);
  background: -webkit-linear-gradient(right, rgba(36, 36, 36, 0.9), rgba(24, 24, 24, 0.99));
  /* For Safari 5.1 to 6.0 */
  text-align: left;
  /* desktop menu */
  /* ⬇︎ mobile menu */
  /* header for mobile */
}
/* line 34, ../sass/landing.scss */
#header .vertical-aligner {
  display: inline-block;
  vertical-align: middle;
  height: 60px;
}
/* line 39, ../sass/landing.scss */
#header img {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: auto;
  -webkit-filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.4));
}
/* line 48, ../sass/landing.scss */
#header #menu {
  box-sizing: border-box;
  float: right;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  line-height: 60px;
  color: gainsboro;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
/* line 59, ../sass/landing.scss */
#header #menu #menuToggle {
  display: none;
}
/* line 63, ../sass/landing.scss */
#header #menu li {
  cursor: pointer;
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  position: relative;
}
/* line 70, ../sass/landing.scss */
#header #menu li a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  display: block;
  width: 100%;
  border-left: 4px solid transparent;
  padding: 0 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
/* line 78, ../sass/landing.scss */
#header #menu li a:hover {
  color: white;
}
/* line 83, ../sass/landing.scss */
#header #menu li.app a {
  color: rgba(255, 255, 255, 0.6);
  opacity: .4;
}
/* line 88, ../sass/landing.scss */
#header #menu li.divider {
  color: gainsboro;
}
@media (max-width: 780px) {
  /* line 20, ../sass/landing.scss */
  #header {
    height: 60px;
    padding: 15px 20px 15px 10px;
    /* mobile menu */
  }
  /* line 98, ../sass/landing.scss */
  #header .vertical-aligner {
    height: 30px;
  }
  /* line 101, ../sass/landing.scss */
  #header img {
    height: 30px;
  }
  /* line 104, ../sass/landing.scss */
  #header #menu {
    position: fixed;
    top: 0;
    width: 220px;
    right: -220px;
    background: rgba(255, 255, 255, 0.96);
    height: 100%;
    padding-top: 50px;
  }
  /* line 114, ../sass/landing.scss */
  #header #menu #menuToggle {
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 0;
    left: -50px;
    width: 50px;
    line-height: 60px;
    text-align: center;
    margin: 0;
    padding: 0;
    color: gainsboro;
    font-size: 24px;
    display: inline-block;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    transition: 0.2s;
  }
  /* line 129, ../sass/landing.scss */
  #header #menu #menuToggle .open {
    display: inline-block;
  }
  /* line 132, ../sass/landing.scss */
  #header #menu #menuToggle .close {
    display: none;
  }
  /* line 136, ../sass/landing.scss */
  #header #menu li {
    line-height: 24px;
    display: block;
    color: #464646;
    margin: 20px 0;
  }
  /* line 141, ../sass/landing.scss */
  #header #menu li.divider {
    display: none;
  }
  /* line 144, ../sass/landing.scss */
  #header #menu li a {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
    display: block;
    width: 100%;
    border-left: 5px solid transparent;
    padding: 5px 20px;
    text-decoration: none;
    color: #646464;
  }
  /* line 152, ../sass/landing.scss */
  #header #menu li a:hover {
    color: #505050;
    border-left: 5px solid #1cc558;
  }
  /* line 158, ../sass/landing.scss */
  #header #menu li.app a {
    color: rgba(0, 0, 0, 0.6);
    opacity: .4;
  }
  /* line 161, ../sass/landing.scss */
  #header #menu li.app a:hover {
    color: rgba(0, 0, 0, 0.6);
    border-left: 5px solid transparent;
  }
  /* line 168, ../sass/landing.scss */
  #header #menu.active {
    right: 0;
    width: auto;
  }
  /* line 171, ../sass/landing.scss */
  #header #menu.active #menuToggle {
    left: 0;
    color: #1cc558;
  }
  /* line 174, ../sass/landing.scss */
  #header #menu.active #menuToggle .open {
    display: none;
  }
  /* line 177, ../sass/landing.scss */
  #header #menu.active #menuToggle .close {
    display: inline-block;
  }
}

/* header */
/* line 187, ../sass/landing.scss */
#background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: -100vw;
  width: 200vw;
  height: 100vh;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  background-color: black;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-animation: background-animation 44s linear infinite alternate;
  animation: background-animation 44s linear infinite alternate;
}
@keyframes background-animation {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
/* background */
/* line 214, ../sass/landing.scss */
.banner {
  box-sizing: border-box;
  position: relative;
  padding: 0 20px;
  padding-top: 140px;
  padding-bottom: 80px;
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  /* banner-inner */
  /* footer */
}
/* line 224, ../sass/landing.scss */
.banner .banner-inner {
  position: relative;
  padding-bottom: 20px;
  /* button */
}
/* line 227, ../sass/landing.scss */
.banner .banner-inner h1 {
  margin: 0;
  font-weight: 900;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 420px) {
  /* line 227, ../sass/landing.scss */
  .banner .banner-inner h1 {
    font-size: 36px;
  }
}
/* line 236, ../sass/landing.scss */
.banner .banner-inner h2 {
  margin: 0;
  padding: 30px 0 14px 0;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}
/* line 242, ../sass/landing.scss */
.banner .banner-inner button {
  display: block;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border: 0px solid transparent;
  padding: 5px 20px;
  font-size: 20px;
  margin: 20px auto 0 auto;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  background: #8EFA00;
  background: -webkit-linear-gradient(left, #cc0000, #FF9900);
  /* For Safari 5.1 to 6.0 */
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
  opacity: .8;
}
/* line 258, ../sass/landing.scss */
.banner .banner-inner button a {
  color: white;
}
/* line 261, ../sass/landing.scss */
.banner .banner-inner button:hover {
  opacity: 1;
}
/* line 264, ../sass/landing.scss */
.banner .banner-inner button:active {
  opacity: .9;
  box-shadow: 0 0 2px rgba(10, 10, 10, 0.7);
  transform: translateY(2px);
}
/* line 271, ../sass/landing.scss */
.banner.footer {
  background: #191919;
  height: auto;
  padding: 20vh 0 27vh 0;
  overflow: hidden;
  background: #4EC9E1;
  background: -webkit-linear-gradient(bottom, rgba(78, 201, 225, 0.8), rgba(253, 54, 126, 0.8));
  /* For Safari 5.1 to 6.0 */
}
/* line 278, ../sass/landing.scss */
.banner.footer h1 {
  margin-top: 30px;
  padding-bottom: 20px;
  font-size: 28px;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
}
/* line 284, ../sass/landing.scss */
.banner.footer button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 7px 24px;
  font-size: 24px;
}

/* banner */
/* line 294, ../sass/landing.scss */
.container {
  overflow: hidden;
  position: relative;
  width: 100vw;
  /* genres */
  /* sideplayer */
  /* chrome extension */
}
/* line 299, ../sass/landing.scss */
.container.home {
  text-align: left;
  background: rgba(255, 255, 255, 0.97);
  font-size: 0;
  padding: 40px 0;
}
/* line 304, ../sass/landing.scss */
.container.home .max-width {
  max-width: 780px;
  margin: 0 auto;
}
/* line 308, ../sass/landing.scss */
.container.home h3 {
  position: relative;
  z-index: 1;
  font-weight: 900;
  font-size: 36px;
  padding: 30px 0 0 30px;
  color: #9a56fa;
}
@media (max-width: 420px) {
  /* line 308, ../sass/landing.scss */
  .container.home h3 {
    padding: 0 10px;
    font-size: 29px;
  }
}
/* line 320, ../sass/landing.scss */
.container.home img {
  left: -7%;
  position: relative;
  width: 114%;
  height: auto;
}
/* line 327, ../sass/landing.scss */
.container.feature-playlists {
  padding: 60px 0;
  background: -webkit-linear-gradient(left, #511E78, #CF56A1);
  /* For Safari 5.1 to 6.0 */
  font-size: 0;
}
/* line 332, ../sass/landing.scss */
.container.feature-playlists .img-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 50%;
  padding-left: 10%;
  font-size: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
/* line 341, ../sass/landing.scss */
.container.feature-playlists .img-container img {
  width: 50%;
  height: auto;
}
@media (max-width: 780px) {
  /* line 332, ../sass/landing.scss */
  .container.feature-playlists .img-container {
    opacity: .7;
    padding-left: 0;
  }
}
/* line 350, ../sass/landing.scss */
.container.feature-playlists h4 {
  box-sizing: border-box;
  text-align: left;
  position: relative;
  font-size: 32px;
  font-weight: 900;
  color: white;
  font-size: 26px;
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding-left: 2%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 780px) {
  /* line 350, ../sass/landing.scss */
  .container.feature-playlists h4 {
    padding-left: 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    left: -10%;
  }
}
/* line 370, ../sass/landing.scss */
.container.genres {
  height: 50vw;
  padding: 60px 0;
  overflow: hidden;
  background-color: rgba(120, 120, 120, 0.9);
}
/* line 377, ../sass/landing.scss */
.container.genres .vertical-aligner {
  display: inline-block;
  vertical-align: middle;
  height: 50vw;
}
/* line 382, ../sass/landing.scss */
.container.genres h4 {
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 98%;
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 900;
  text-align: left;
  padding: 0 48vw 0 10vw;
  color: #FFFBF3;
}
/* line 396, ../sass/landing.scss */
.container.genres h4 span {
  display: block;
  color: #FFD7E9;
  padding-left: 20px;
}
/* line 400, ../sass/landing.scss */
.container.genres h4 span.genre {
  font-size: .8em;
}
/* line 403, ../sass/landing.scss */
.container.genres h4 span.instrument {
  font-size: .7em;
}
/* line 406, ../sass/landing.scss */
.container.genres h4 span.tag {
  font-size: .6em;
}
@media (max-width: 420px) {
  /* line 382, ../sass/landing.scss */
  .container.genres h4 {
    position: relative;
    top: -20px;
    font-size: 24px;
  }
}
/* line 416, ../sass/landing.scss */
.container.genres img {
  position: absolute;
  right: -10%;
  top: 50%;
  margin-top: -25vw;
  height: 50vw;
  width: auto;
  opacity: .8;
}
/* line 428, ../sass/landing.scss */
.container.sideplayer {
  height: 50vw;
  padding: 60px 0;
  overflow: hidden;
  background-color: #141414;
  background: rgba(255, 255, 255, 0.97);
}
/* line 435, ../sass/landing.scss */
.container.sideplayer .background {
  opacity: .4;
  position: absolute;
  top: -10%;
  left: -10%;
  height: 120%;
  width: 120%;
  background: url(../img/sidebar-background.png);
  background: rgba(255, 255, 255, 0.97);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}
/* line 450, ../sass/landing.scss */
.container.sideplayer .vertical-aligner {
  display: inline-block;
  vertical-align: middle;
  height: 50vw;
}
/* line 455, ../sass/landing.scss */
.container.sideplayer h4 {
  margin: 0;
  text-shadow: -4px 2px 30px rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  width: 98%;
  display: inline-block;
  vertical-align: middle;
  font-size: 32px;
  font-weight: 900;
  text-align: left;
  padding: 0 5vw 0 48vw;
  color: #41D8BF;
}
@media (max-width: 420px) {
  /* line 455, ../sass/landing.scss */
  .container.sideplayer h4 {
    font-size: 24px;
  }
}
/* line 473, ../sass/landing.scss */
.container.sideplayer img {
  position: absolute;
  left: -20%;
  top: 50%;
  margin-top: -25vw;
  height: 50vw;
  width: auto;
  opacity: 1;
}
/* line 484, ../sass/landing.scss */
.container.chrome-extension {
  padding: 30px 0 0  0;
  background: white;
  overflow: hidden;
  /* button */
}
/* line 488, ../sass/landing.scss */
.container.chrome-extension h2 {
  padding: 0 20px;
  color: #0DCEDA;
  text-shadow: 2px 2px 10px rgba(34, 87, 99, 0.2);
  font-size: 30px;
}
@media (max-width: 420px) {
  /* line 488, ../sass/landing.scss */
  .container.chrome-extension h2 {
    font-size: 24px;
  }
}
/* line 497, ../sass/landing.scss */
.container.chrome-extension button {
  display: block;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border: 0px solid transparent;
  padding: 5px 20px;
  font-size: 20px;
  margin: 20px auto 20px auto;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  background-color: #ef7d70;
  background: -webkit-linear-gradient(left, #ef7d70, #e8503e);
  /* For Safari 5.1 to 6.0 */
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
  opacity: .9;
}
/* line 513, ../sass/landing.scss */
.container.chrome-extension button a {
  line-height: 30px;
  color: white;
}
/* line 517, ../sass/landing.scss */
.container.chrome-extension button:hover {
  opacity: 1;
}
/* line 520, ../sass/landing.scss */
.container.chrome-extension button:active {
  opacity: .9;
  box-shadow: 0 0 2px rgba(10, 10, 10, 0.7);
  transform: translateY(2px);
}
/* line 527, ../sass/landing.scss */
.container.chrome-extension p a {
  padding: 10px 0;
  color: #666;
  opacity: .8;
}
/* line 531, ../sass/landing.scss */
.container.chrome-extension p a:hover {
  opacity: 1;
  text-decoration: underline;
}
/* line 538, ../sass/landing.scss */
.container.chrome-extension img {
  width: 90%;
  max-width: 800px;
}

/* container */
/* line 548, ../sass/landing.scss */
#footer {
  box-sizing: border-box;
  position: relative;
  padding: 60px 40px;
  background: rgba(7, 7, 7, 0.97);
  color: #a0a0a0;
  width: 100vw;
  text-align: left;
  font-size: 0;
  /* ul */
}
@media (max-width: 780px) {
  /* line 548, ../sass/landing.scss */
  #footer {
    padding: 60px 15px;
  }
}
/* line 560, ../sass/landing.scss */
#footer .footer-column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
/* line 564, ../sass/landing.scss */
#footer .footer-column:nth-child(1) {
  width: 180px;
}
@media (max-width: 780px) {
  /* line 560, ../sass/landing.scss */
  #footer .footer-column {
    width: 50%;
  }
  /* line 570, ../sass/landing.scss */
  #footer .footer-column:nth-child(1) {
    width: 100%;
  }
}
/* line 575, ../sass/landing.scss */
#footer img {
  position: relative;
  height: 36px;
  margin-bottom: 30px;
}
@media (max-width: 780px) {
  /* line 575, ../sass/landing.scss */
  #footer img {
    height: 30px;
  }
}
/* line 583, ../sass/landing.scss */
#footer ul {
  padding: 0 0 0 20px;
  margin: 0;
}
/* line 586, ../sass/landing.scss */
#footer ul li {
  color: gainsboro;
  margin: 10px 0;
  padding: 0 0 10px 0;
  font-size: 16px;
  list-style: none;
}
/* line 592, ../sass/landing.scss */
#footer ul li em {
  opacity: .7;
}
/* line 595, ../sass/landing.scss */
#footer ul li span {
  opacity: .8;
  font-size: .7em;
}
/* line 599, ../sass/landing.scss */
#footer ul li strong {
  opacity: .8;
}
/* line 602, ../sass/landing.scss */
#footer ul li a {
  color: #e6e6e6;
  text-decoration: none;
}
/* line 606, ../sass/landing.scss */
#footer ul li i {
  padding-right: 5px;
}

/* footer */
/* ⬇︎ mobile_detect */
/* line 616, ../sass/landing.scss */
.mobile_detect {
  box-sizing: border-box;
  display: table-cell;
  vertical-align: middle;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
  background: #232323;
  padding: 0 10px 60px 10px;
  position: relative;
  font-size: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  /* social-container */
}
/* line 629, ../sass/landing.scss */
.mobile_detect .back-to-home {
  position: fixed;
  top: 20px;
  left: 20px;
}
/* line 633, ../sass/landing.scss */
.mobile_detect .back-to-home i {
  opacity: .8;
  font-size: 16px;
  color: #1cc558;
}
/* line 640, ../sass/landing.scss */
.mobile_detect img {
  display: block;
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: 0;
  opacity: .3;
}
/* line 649, ../sass/landing.scss */
.mobile_detect h1 {
  display: block;
  position: relative;
  z-index: 1;
  font-weight: normal;
  color: #d2d2d2;
  font-size: 19px;
  margin: 0;
}
/* line 657, ../sass/landing.scss */
.mobile_detect h1 span {
  font-weight: normal;
  font-size: 15px;
  color: #aaaaaa;
}
/* line 663, ../sass/landing.scss */
.mobile_detect p {
  display: block;
  margin: 40px 0 0 0;
  position: relative;
  z-index: 1;
  font-size: 14px;
}
/* line 669, ../sass/landing.scss */
.mobile_detect p a {
  text-decoration: underline;
  color: #5DA0A2;
}
/* line 674, ../sass/landing.scss */
.mobile_detect .social-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  opacity: 0;
  background: #4EC9E1;
  background: -webkit-linear-gradient(left, rgba(78, 201, 225, 0.8), rgba(253, 54, 126, 0.8));
  /* For Safari 5.1 to 6.0 */
  -webkit-animation: social-fadein .8s ease-in 1.6s forwards;
  animation: social-fadein .8s ease-in 1.6s forwards;
  /* ul */
}
@keyframes social-fadein {
  0% {
    opacity: 0;
    bottom: -120px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
/* line 696, ../sass/landing.scss */
.mobile_detect .social-container ul {
  padding: 0 0 20px 0;
  margin: 0;
}
/* line 699, ../sass/landing.scss */
.mobile_detect .social-container ul li {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  display: inline-block;
  color: gainsboro;
  margin: 10px 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
}
/* line 707, ../sass/landing.scss */
.mobile_detect .social-container ul li:nth-child(1) {
  display: block;
}
/* line 710, ../sass/landing.scss */
.mobile_detect .social-container ul li.instagram {
  margin-left: 20px;
}
/* line 713, ../sass/landing.scss */
.mobile_detect .social-container ul li strong {
  opacity: .9;
}
/* line 716, ../sass/landing.scss */
.mobile_detect .social-container ul li a {
  color: #e6e6e6;
  text-decoration: none;
}
/* line 720, ../sass/landing.scss */
.mobile_detect .social-container ul li i {
  padding-right: 5px;
}

/* mobile_detect */
