/* responsibe responsibe responsibe responsibe */
/* responsibe responsibe responsibe responsibe */
/* browse responsive */
/* line 6, ../sass/_vars.scss */
button.follow {
  background: #fff;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #cccccc;
}
/* line 29, ../sass/_mixins.scss */
button.follow:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
/* line 33, ../sass/_mixins.scss */
button.follow:active {
  background: #bfbfbf;
}
/* line 9, ../sass/_vars.scss */
button.follow.active {
  background: #8efa00;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #549400;
}
/* line 29, ../sass/_mixins.scss */
button.follow.active:hover {
  background: #77d100;
  transition: all 0.3s ease;
}
/* line 33, ../sass/_mixins.scss */
button.follow.active:active {
  background: #467a00;
}

/* width set */
/* line 3, ../sass/playlist.scss */
html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  width: 100vw;
  overflow-x: hidden;
}

/* line 12, ../sass/playlist.scss */
h1 {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

/* line 17, ../sass/playlist.scss */
h3 {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  color: #e6e6e6;
}

/* line 23, ../sass/playlist.scss */
p {
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #a0a0a0;
}

/* line 29, ../sass/playlist.scss */
a {
  text-decoration: none;
}

/* line 32, ../sass/playlist.scss */
.no-link-style {
  text-decoration: none !important;
}

/* line 36, ../sass/playlist.scss */
#container {
  width: 100%;
  height: 100%;
  background: #414141;
  background: -webkit-linear-gradient(top, rgba(120, 120, 120, 0.9), #1e1e1e);
  /* For Safari 5.1 to 6.0 */
  padding: 60px 0;
  font-size: 0;
  text-align: center;
}
/* line 45, ../sass/playlist.scss */
#container.on404 {
  padding-bottom: 0;
}
/* line 48, ../sass/playlist.scss */
.msg404 {
  text-align: center;
  margin: 0;
  padding: 60px 0;
  font-size: 18px;
  color: #E34545;
  background: rgba(0, 0, 0, 0.1);
}
/* line 57, ../sass/playlist.scss */
#container h3 {
  text-shadow: 2px 2px 5px rgba(90, 90, 90, 0.6);
  margin: 120px 0 0 0;
  font-size: 30px;
}

/* line 63, ../sass/playlist.scss */
#background {
  position: fixed;
  z-index: -1;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  background-image: url(../img/footer-background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* line 78, ../sass/playlist.scss */
.header {
  text-align: center;
  padding: 0 0 60px 0;
}
/* line 81, ../sass/playlist.scss */
.header a {
  display: inline-block;
  padding: 10px;
}
/* line 84, ../sass/playlist.scss */
.header a img {
  -webkit-filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.4));
  width: 140px;
}

/* line 90, ../sass/playlist.scss */
#left-panel {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 20px;
  width: 35%;
  text-align: center;
  /* a */
}
@media (max-width: 1080px) {
  /* line 90, ../sass/playlist.scss */
  #left-panel {
    width: 90%;
    padding: 0;
    display: inline-block;
    margin: 0 auto;
  }
}
/* line 104, ../sass/playlist.scss */
#left-panel a {
  text-decoration: none;
}
/* line 106, ../sass/playlist.scss */
#left-panel a .playlist-thumbnail {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 260px;
  background-color: #78f0a0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 116, ../sass/playlist.scss */
#left-panel a h3 {
  padding: 0;
  margin: 20px 0 10px 0;
  font-size: 26px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
@media (max-width: 420px) {
  /* line 116, ../sass/playlist.scss */
  #left-panel a h3 {
    font-size: 20px;
  }
}
/* line 125, ../sass/playlist.scss */
#left-panel a p {
  font-size: 14px;
}
/* line 127, ../sass/playlist.scss */
#left-panel a p em {
  color: #1cc558;
}
/* line 134, ../sass/playlist.scss */
#left-panel a:hover .action {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}
/* line 141, ../sass/playlist.scss */
#left-panel a.play-on-muusick {
  display: block;
  cursor: pointer;
  position: relative;
  color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  background: #1cc558;
  box-sizing: border-box;
  width: 260px;
  padding: 10px 20px;
  font-size: 20px;
  margin: 20px auto 0 auto;
  color: white;
  text-align: center;
  opacity: .8;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
/* line 157, ../sass/playlist.scss */
#left-panel a.play-on-muusick:hover {
  opacity: 1;
}
/* line 160, ../sass/playlist.scss */
#left-panel a.play-on-muusick i {
  padding: 0 5px 0 0;
}

/* left-panel */
/* line 165, ../sass/playlist.scss */
#right-panel {
  display: inline-block;
  vertical-align: top;
  width: 640px;
  /* play-btn-container */
  /* video */
}
/* line 170, ../sass/playlist.scss */
#right-panel #play-wrapper {
  box-sizing: border-box;
}
/* line 172, ../sass/playlist.scss */
#right-panel #play-wrapper .control {
  box-sizing: border-box;
  width: 100%;
  background: black;
  padding: 10px;
  text-align: right;
}
/* line 178, ../sass/playlist.scss */
#right-panel #play-wrapper .control i {
  cursor: pointer;
  font-size: 20px;
  padding: 0 10px;
  margin: 0;
  opacity: .7;
  margin-left: 20px;
}
/* line 185, ../sass/playlist.scss */
#right-panel #play-wrapper .control i:hover {
  opacity: 1;
}
@media (max-width: 1080px) {
  /* line 165, ../sass/playlist.scss */
  #right-panel {
    width: 640px;
    display: block;
    padding: 20px 0 0 0;
    margin: 20px auto 0 auto;
    border-top: 1px solid rgba(110, 110, 110, 0.4);
  }
}
@media (max-width: 640px) {
  /* line 165, ../sass/playlist.scss */
  #right-panel {
    width: 100%;
  }
  /* line 202, ../sass/playlist.scss */
  #right-panel #play-wrapper .control {
    background: none;
  }
}
/* line 207, ../sass/playlist.scss */
#right-panel .play-btn-container {
  padding: 0 0 20px 10px;
  text-align: left;
}
/* line 210, ../sass/playlist.scss */
#right-panel .play-btn-container button {
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border: 0px solid transparent;
  font-size: 18px;
  color: gainsboro;
  text-shadow: 1px 1px 2px black;
  text-align: center;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  background: rgba(255, 255, 255, 0.1);
  opacity: .6;
}
/* line 223, ../sass/playlist.scss */
#right-panel .play-btn-container button:hover {
  opacity: 1;
}
/* line 226, ../sass/playlist.scss */
#right-panel .play-btn-container button a {
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
}
/* line 231, ../sass/playlist.scss */
#right-panel .play-btn-container button i {
  padding: 0 5px 0 0;
}
/* line 234, ../sass/playlist.scss */
#right-panel .play-btn-container button + button {
  margin-left: 10px;
}
/* line 240, ../sass/playlist.scss */
#right-panel .video {
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  height: 68px;
  -webkit-transition: background .8s;
  /* Safari */
  transition: background .8s;
  /* active video */
}
/* line 247, ../sass/playlist.scss */
#right-panel .video:hover {
  background: rgba(0, 0, 0, 0.4);
}
/* line 249, ../sass/playlist.scss */
#right-panel .video:hover i {
  opacity: 1;
}
/* line 253, ../sass/playlist.scss */
#right-panel .video i {
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  line-height: 68px;
  background: rgba(0, 0, 0, 0.6);
  font-size: 30px;
  text-shadow: 2px 2px 3px black;
}
/* line 267, ../sass/playlist.scss */
#right-panel .video .video-thumbnail {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 120px;
  height: 68px;
  background-image: url(../img/footer-background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 280, ../sass/playlist.scss */
#right-panel .video p {
  text-align: left;
  box-sizing: border-box;
  padding: 0 10px 0 140px;
  margin: 0;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  font-size: 15px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
/* line 291, ../sass/playlist.scss */
#right-panel .video.active {
  background-color: rgba(0, 0, 0, 0.2);
  /* custom-sound-bar */
}
/* line 297, ../sass/playlist.scss */
#right-panel .video.active p {
  padding-right: 56px;
}
/* line 300, ../sass/playlist.scss */
#right-panel .video.active #custom-sound-bar {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 68px;
}
/* line 306, ../sass/playlist.scss */
#right-panel .video.active #custom-sound-bar #bars {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 24px;
  width: 36px;
}
/* line 315, ../sass/playlist.scss */
#right-panel .video.active #custom-sound-bar #bars .bar {
  position: absolute;
  bottom: 0;
  width: 6px;
  background: #1cc558;
  animation: sound 0ms -800ms linear infinite alternate;
  -webkit-animation: sound 0ms -800ms linear infinite alternate;
  backface-visibility: hidden;
  will-change: opacity, height;
}
@keyframes sound {
  0% {
    opacity: .15;
    height: 1px;
  }
  100% {
    opacity: .8;
    height: 24px;
  }
}
/* line 335, ../sass/playlist.scss */
#right-panel .video.active #custom-sound-bar #bars .bar:nth-child(1) {
  left: 0;
  animation-duration: 474ms;
}
/* line 339, ../sass/playlist.scss */
#right-panel .video.active #custom-sound-bar #bars .bar:nth-child(2) {
  left: 6px;
  animation-duration: 402ms;
}
/* line 343, ../sass/playlist.scss */
#right-panel .video.active #custom-sound-bar #bars .bar:nth-child(3) {
  left: 12px;
  animation-duration: 422ms;
}
/* line 347, ../sass/playlist.scss */
#right-panel .video.active #custom-sound-bar #bars .bar:nth-child(4) {
  left: 18px;
  animation-duration: 458ms;
}
/* line 351, ../sass/playlist.scss */
#right-panel .video.active #custom-sound-bar #bars .bar:nth-child(5) {
  left: 24px;
  animation-duration: 436ms;
}
/* line 355, ../sass/playlist.scss */
#right-panel .video.active #custom-sound-bar #bars .bar:nth-child(6) {
  left: 30px;
  animation-duration: 474ms;
}

/* line 366, ../sass/playlist.scss */
.banner {
  box-sizing: border-box;
  position: relative;
  padding: 0 20px;
  padding-top: 110px;
  padding-bottom: 80px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100vw;
  background: rgba(0, 0, 0, 0.8);
  /* banner-inner */
  /* footer */
}
/* line 377, ../sass/playlist.scss */
.banner .banner-inner {
  position: relative;
  padding-bottom: 20px;
  /* button */
}
/* line 380, ../sass/playlist.scss */
.banner .banner-inner h1 {
  margin: 0;
  font-weight: 900;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.9);
}
@media (max-width: 420px) {
  /* line 380, ../sass/playlist.scss */
  .banner .banner-inner h1 {
    font-size: 36px;
  }
}
/* line 389, ../sass/playlist.scss */
.banner .banner-inner h2 {
  margin: 0;
  padding: 30px 0 14px 0;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.7);
}
/* line 395, ../sass/playlist.scss */
.banner .banner-inner button {
  display: block;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border: 0px solid transparent;
  padding: 5px 20px;
  font-size: 20px;
  margin: 20px auto 0 auto;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
  background: #8EFA00;
  background: -webkit-linear-gradient(left, #cc0000, #FF9900);
  /* For Safari 5.1 to 6.0 */
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  transition: 0.1s;
  opacity: .8;
}
/* line 411, ../sass/playlist.scss */
.banner .banner-inner button a {
  color: white;
}
/* line 414, ../sass/playlist.scss */
.banner .banner-inner button:hover {
  opacity: 1;
}
/* line 417, ../sass/playlist.scss */
.banner .banner-inner button:active {
  opacity: .9;
  box-shadow: 0 0 2px rgba(10, 10, 10, 0.7);
  transform: translateY(2px);
}
/* line 424, ../sass/playlist.scss */
.banner.footer {
  background: #191919;
  height: auto;
  padding: 20vh 0 27vh 0;
  overflow: hidden;
  background: #4EC9E1;
  background: -webkit-linear-gradient(bottom, rgba(78, 201, 225, 0.8), rgba(253, 54, 126, 0.8));
  /* For Safari 5.1 to 6.0 */
}
/* line 431, ../sass/playlist.scss */
.banner.footer h1 {
  margin-top: 30px;
  padding-bottom: 20px;
  font-size: 28px;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
}
/* line 437, ../sass/playlist.scss */
.banner.footer button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  padding: 7px 24px;
  font-size: 24px;
}

/* banner */
/* line 447, ../sass/playlist.scss */
#footer-banner {
  padding: 40px 0 0 0;
  background: #1e1e1e;
}
/* line 450, ../sass/playlist.scss */
#footer-banner h1 {
  font-size: 24px;
  text-align: center;
}
/* line 453, ../sass/playlist.scss */
#footer-banner h1 a {
  text-decoration: none;
  color: #1cc558;
  font-size: 1.4em;
}
/* line 459, ../sass/playlist.scss */
#footer-banner .background {
  background-image: url(../img/7841629378619287361.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 780px;
}
/* line 468, ../sass/playlist.scss */
#footer-banner .background div {
  width: 100%;
  height: 100%;
  background: rgba(30, 30, 30, 0.7);
  padding: 160px 0;
}
@media (max-width: 1080px) {
  /* line 468, ../sass/playlist.scss */
  #footer-banner .background div {
    padding: 120px 0;
  }
}
/* line 476, ../sass/playlist.scss */
#footer-banner .background div a {
  text-decoration: none;
}
/* line 479, ../sass/playlist.scss */
#footer-banner .background div button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border: 0px solid transparent;
  padding: 5px 40px;
  font-size: 20px;
  margin: 20px auto 0 auto;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 1px 1px 2px black;
  color: white;
  background: #8EFA00;
  background: -webkit-linear-gradient(left, #FF0000, #FF9900);
  /* For Safari 5.1 to 6.0 */
  text-align: center;
  opacity: 1;
  -webkit-transition: box-shadow .4s;
  /* Safari */
  transition: box-shadow .4s;
}
/* line 498, ../sass/playlist.scss */
#footer-banner .background div button:hover {
  box-shadow: 2px 2px 3px black;
}

/* footer-banner */
/* line 506, ../sass/playlist.scss */
#more-playlist-container {
  background: #1e1e1e;
  font-size: 0;
  padding: 120px 0 40px 0;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  height: auto;
  /* playlist */
}
@media (max-width: 420px) {
  /* line 506, ../sass/playlist.scss */
  #more-playlist-container {
    padding-top: 90px;
  }
}
/* line 517, ../sass/playlist.scss */
#more-playlist-container h3 {
  width: 90%;
  padding: 0 0 20px 0;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
}
/* line 523, ../sass/playlist.scss */
#more-playlist-container h3 i {
  color: #FF9900;
}
@media (max-width: 1080px) {
  /* line 517, ../sass/playlist.scss */
  #more-playlist-container h3 {
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  /* line 517, ../sass/playlist.scss */
  #more-playlist-container h3 {
    font-size: 20px;
  }
}
@media (max-width: 420px) {
  /* line 506, ../sass/playlist.scss */
  #more-playlist-container {
    white-space: normal;
  }
}
/* line 538, ../sass/playlist.scss */
#more-playlist-container .playlist {
  position: relative;
  background: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  line-height: auto;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  opacity: 1;
  margin: 1.6% 0 0 1.6%;
  /* thumbnail-container */
  /* playlist-desc-container */
}
@media (max-width: 1080px) {
  /* line 538, ../sass/playlist.scss */
  #more-playlist-container .playlist {
    width: calc(93.6% / 3);
  }
}
@media (min-width: 1080px) and (max-width: 1280px) {
  /* line 538, ../sass/playlist.scss */
  #more-playlist-container .playlist {
    width: calc(92% / 4);
  }
}
@media (min-width: 1280px) and (max-width: 1780px) {
  /* line 538, ../sass/playlist.scss */
  #more-playlist-container .playlist {
    width: calc(90.4% / 5);
  }
}
@media (min-width: 1780px) {
  /* line 538, ../sass/playlist.scss */
  #more-playlist-container .playlist {
    width: calc(88.8% / 6);
  }
}
@media (max-width: 420px) {
  /* line 538, ../sass/playlist.scss */
  #more-playlist-container .playlist {
    width: calc(95.2% / 2);
  }
}
/* line 565, ../sass/playlist.scss */
#more-playlist-container .playlist .thumbnail-container {
  position: relative;
  width: 100%;
  height: auto;
  /* action */
}
/* line 570, ../sass/playlist.scss */
#more-playlist-container .playlist .thumbnail-container:before {
  content: "";
  display: block;
  padding-top: 94%;
}
/* line 575, ../sass/playlist.scss */
#more-playlist-container .playlist .thumbnail-container .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005000;
  background-image: url(../../assets/noimage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 588, ../sass/playlist.scss */
#more-playlist-container .playlist .thumbnail-container .action {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  font-size: 40px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  /* p (play button) */
}
/* line 600, ../sass/playlist.scss */
#more-playlist-container .playlist .thumbnail-container .action:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}
/* line 604, ../sass/playlist.scss */
#more-playlist-container .playlist .thumbnail-container .action .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* line 612, ../sass/playlist.scss */
#more-playlist-container .playlist .thumbnail-container .action p {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 622, ../sass/playlist.scss */
#more-playlist-container .playlist .thumbnail-container .action p i.play {
  cursor: pointer;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  padding: 18px 18.395px 18px 22.395px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
/* line 633, ../sass/playlist.scss */
#more-playlist-container .playlist .thumbnail-container .action p i.play:hover {
  border: 2px solid white;
  font-size: 27px;
}
@media (max-width: 1080px) {
  /* line 622, ../sass/playlist.scss */
  #more-playlist-container .playlist .thumbnail-container .action p i.play {
    font-size: 24px;
  }
  /* line 639, ../sass/playlist.scss */
  #more-playlist-container .playlist .thumbnail-container .action p i.play:hover {
    font-size: 26px;
  }
}
@media (min-width: 1080px) and (max-width: 1280px) {
  /* line 622, ../sass/playlist.scss */
  #more-playlist-container .playlist .thumbnail-container .action p i.play {
    font-size: 20px;
  }
  /* line 645, ../sass/playlist.scss */
  #more-playlist-container .playlist .thumbnail-container .action p i.play:hover {
    font-size: 22px;
  }
}
/* line 653, ../sass/playlist.scss */
#more-playlist-container .playlist .playlist-desc-container {
  position: relative;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  white-space: normal;
  font-weight: normal;
  cursor: pointer;
  width: 100%;
  height: 140px;
  /* playlist-desc-inner */
}
/* line 664, ../sass/playlist.scss */
#more-playlist-container .playlist .playlist-desc-container .playlist-desc-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
/* line 677, ../sass/playlist.scss */
#more-playlist-container .playlist .playlist-desc-container .playlist-desc-inner {
  top: 0;
  padding: 10px;
  position: absolute;
}
/* line 682, ../sass/playlist.scss */
#more-playlist-container .playlist .playlist-desc-container .playlist-desc-inner .title {
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: rgba(90, 90, 90, 0.9);
  opacity: .9;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
/* line 694, ../sass/playlist.scss */
#more-playlist-container .playlist .playlist-desc-container .playlist-desc-inner .title:hover {
  opacity: 1;
  text-decoration: underline;
}
@media (max-width: 1080px) {
  /* line 682, ../sass/playlist.scss */
  #more-playlist-container .playlist .playlist-desc-container .playlist-desc-inner .title {
    -webkit-line-clamp: 1;
  }
}
/* line 702, ../sass/playlist.scss */
#more-playlist-container .playlist .playlist-desc-container .playlist-desc-inner .description {
  margin: 10px 0;
  padding: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  opacity: .8;
  color: rgba(120, 120, 120, 0.9);
  font-size: 14px;
}

/* more playlist container*/
/* line 720, ../sass/playlist.scss */
#footer {
  box-sizing: border-box;
  position: relative;
  padding: 60px 40px;
  background: rgba(7, 7, 7, 0.97);
  color: #a0a0a0;
  width: 100vw;
  text-align: left;
  font-size: 0;
  /* ul */
}
@media (max-width: 780px) {
  /* line 720, ../sass/playlist.scss */
  #footer {
    padding: 60px 15px;
  }
}
/* line 732, ../sass/playlist.scss */
#footer .footer-column {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}
/* line 736, ../sass/playlist.scss */
#footer .footer-column:nth-child(1) {
  width: 180px;
}
@media (max-width: 780px) {
  /* line 732, ../sass/playlist.scss */
  #footer .footer-column {
    width: 50%;
  }
  /* line 742, ../sass/playlist.scss */
  #footer .footer-column:nth-child(1) {
    width: 100%;
  }
}
/* line 747, ../sass/playlist.scss */
#footer img {
  position: relative;
  height: 36px;
  margin-bottom: 30px;
}
@media (max-width: 780px) {
  /* line 747, ../sass/playlist.scss */
  #footer img {
    height: 30px;
  }
}
/* line 755, ../sass/playlist.scss */
#footer ul {
  padding: 0 0 0 20px;
  margin: 0;
}
/* line 758, ../sass/playlist.scss */
#footer ul li {
  color: gainsboro;
  margin: 10px 0;
  padding: 0 0 10px 0;
  font-size: 16px;
  list-style: none;
}
/* line 764, ../sass/playlist.scss */
#footer ul li em {
  opacity: .7;
}
/* line 767, ../sass/playlist.scss */
#footer ul li span {
  opacity: .8;
  font-size: .7em;
}
/* line 771, ../sass/playlist.scss */
#footer ul li strong {
  opacity: .8;
}
/* line 774, ../sass/playlist.scss */
#footer ul li a {
  color: #e6e6e6;
  text-decoration: none;
}
/* line 778, ../sass/playlist.scss */
#footer ul li i {
  padding-right: 5px;
}

/* footer */
