
{% extends "./base.html" %}



{% block header_extra %}

<style>
    .video{
        display: inline-block;
    }
    .video img{
        width: 100px;
    }

</style>

{% endblock %}


{% block content %}
<div id="container">

    {% for v in videos %}


        <div class="video">
            <a target="_blank" href="/admin/myapp/video/{{ v.id }}/change/">
                <img src="https://img.youtube.com/vi/{{ v.yt_id }}/mqdefault.jpg" alt="">
            </a>
        </div>

    {% endfor %}


</div>
{% endblock %}
