/* responsibe responsibe responsibe responsibe */
/* responsibe responsibe responsibe responsibe */
/* browse responsive */
/* line 11, ../sass/_vars.scss */
button.follow {
  background: #fff;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #cccccc;
}
/* line 34, ../sass/_mixins.scss */
button.follow:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
/* line 38, ../sass/_mixins.scss */
button.follow:active {
  background: #bfbfbf;
}
/* line 14, ../sass/_vars.scss */
button.follow.active {
  background: #8efa00;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #549400;
}
/* line 34, ../sass/_mixins.scss */
button.follow.active:hover {
  background: #77d100;
  transition: all 0.3s ease;
}
/* line 38, ../sass/_mixins.scss */
button.follow.active:active {
  background: #467a00;
}

/* line 10, ../sass/frame.scss */
*:focus {
  outline: none;
}

/* line 16, ../sass/frame.scss */
#muuz-add-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  /* awesome-container */
}
/* line 24, ../sass/frame.scss */
#muuz-add-popup #awesome-container {
  z-index: 99999;
  position: fixed;
  width: 700px;
  height: 500px;
  top: 49%;
  /* to position popup slightly above middle */
  left: 50%;
  margin-top: -250px;
  margin-left: -350px;
  background: whitesmoke;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
  /* header */
  /* panel */
}
/* line 38, ../sass/frame.scss */
#muuz-add-popup #awesome-container .inner {
  position: relative;
  font-size: 0;
}
/* line 43, ../sass/frame.scss */
#muuz-add-popup #awesome-container #header {
  position: relative;
  z-index: 99;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 40px;
  background: #121212;
  background: -webkit-linear-gradient(left, #121212, gainsboro);
  /* For Safari 5.1 to 6.0 */
}
/* line 51, ../sass/frame.scss */
#muuz-add-popup #awesome-container #header img {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 20px;
  width: auto;
}
/* line 59, ../sass/frame.scss */
#muuz-add-popup #awesome-container #header .close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 20px;
  color: #464646;
  opacity: .7;
}
/* line 67, ../sass/frame.scss */
#muuz-add-popup #awesome-container #header .close:hover {
  opacity: 1;
}
/* line 74, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel {
  position: relative;
  box-sizing: border-box;
  width: 350px;
  height: 460px;
  /* panel left */
  /* panel right */
}
/* line 80, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left {
  padding: 20px;
  display: table-cell;
  vertical-align: middle;
  overflow: hidden;
  background-color: gainsboro;
  text-align: center;
}
/* line 88, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-info {
  position: relative;
  top: -24px;
  display: inline-block;
  width: 80%;
}
/* line 93, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-info h3 {
  font-weight: normal;
  box-sizing: border-box;
  text-align: left;
  line-height: 24px;
  margin: 0;
  font-size: 16px;
  color: #969696;
}
/* line 102, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-info img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}
/* line 108, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-info p {
  text-align: center;
  font-size: 15px;
  color: #5a5a5a;
}
/* line 115, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right {
  position: absolute;
  top: 0;
  left: 350px;
  overflow: hidden;
  /* playlist-container */
  /* new-playlist-container */
}
/* line 121, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right h3 {
  font-size: 20px;
  color: #787878;
}
/* line 125, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container {
  box-sizing: border-box;
  height: 100%;
  background-color: whitesmoke;
  overflow: auto;
  padding: 0 10px 40px 10px;
  /* playlist */
}
/* line 133, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist {
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
  height: 50px;
  margin: 0 0 10px 0;
  padding-left: 55px;
  padding-right: 40px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  /* thumbnail */
  /* action */
  /* active playlist */
}
/* line 150, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist .title {
  position: relative;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  color: #505050;
  font-size: 13px;
}
/* line 158, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist .title p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* line 168, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist .thumbnail {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #008c78;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
/* line 184, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist .playlist-background {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 110% auto !important;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
/* line 200, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist .action {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  color: #a0a0a0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  /* i */
}
/* line 208, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist .action i {
  line-height: 50px;
  padding: 0 10px;
  font-size: 25px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
/* line 213, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist .action i.add {
  color: #a0a0a0;
  display: inline-block;
}
/* line 216, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist .action i.add:hover {
  color: #1cc558;
}
/* line 220, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist .action i.added {
  display: none;
  color: #1cc558;
}
/* line 226, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist:hover {
  background-color: white;
}
/* line 228, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist:hover .thumbnail {
  opacity: .6;
}
/* line 231, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist:hover .title {
  opacity: .7;
}
/* line 234, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist:hover .playlist-background {
  background-size: 120% auto !important;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
/* line 240, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist:hover .action i {
  color: #505050;
}
/* line 245, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist.active {
  background-color: #b4b4b4;
  box-shadow: 0 0 0 transparent;
  /* action */
}
/* line 248, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist.active .thumbnail {
  opacity: .6;
}
/* line 251, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist.active .title {
  opacity: .6;
}
/* line 254, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist.active .action {
  opacity: .9;
  /* i */
}
/* line 256, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist.active .action i {
  color: #a0a0a0;
}
/* line 258, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist.active .action i.add {
  color: #48e580;
  display: none;
}
/* line 262, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist.active .action i.added {
  color: #06882a;
  display: inline-block;
}
/* line 268, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist.active:hover {
  /* i */
}
/* line 269, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container .playlist.active:hover i {
  color: #a0a0a0;
}
/* line 279, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .new-playlist-btn-container {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  line-height: 40px;
  padding: 5px;
  display: block;
  background-color: #F4F7F7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 293, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .new-playlist-btn-container .new-playlist-button {
  cursor: pointer;
  box-sizing: border-box;
  border: 0px solid transparent;
  width: 90%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #5a5a5a;
  background: #eeeeee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
/* line 304, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .new-playlist-btn-container .new-playlist-button:hover {
  background: whitesmoke;
}
/* line 307, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .new-playlist-btn-container .new-playlist-button:active {
  -webkit-transition: 0;
  -moz-transition: 0;
  -ms-transition: 0;
  transition: 0;
  opacity: .8;
  box-shadow: 0 0 0 transparent;
}
/* line 316, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container {
  position: absolute;
  z-index: 99;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: #f0f0f0;
  text-align: center;
}
/* line 326, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc {
  display: inline-block;
  vertical-align: top;
  width: 90%;
}
/* line 330, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc input,
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #141414;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: gainsboro;
  border: 1px solid transparent;
}
/* line 340, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc input:focus,
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc textarea:focus {
  background-color: #EBFFFA;
  border: 1px solid #C6FCE5;
}
/* line 345, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc input {
  margin: 40px 0 8px 0;
}
/* line 348, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc textarea {
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
  height: 120px;
}
/* line 355, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .error-msg {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 14px;
  color: #E34545;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
/* line 362, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .action {
  padding: 20px 0;
  text-align: center;
}
/* line 365, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .action button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 20px;
  border: 0px solid transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: .2s;
  -webkit-transition: .2s;
  color: white;
}
/* line 376, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .action button.create {
  font-size: 17px;
  background: #3ac78b;
  padding: 4px 27px;
}
/* line 380, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .action button.create:hover {
  background: #62D2A2;
}
/* line 384, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .action button.cancel {
  margin-top: 20px;
  padding: 3px 14px;
  font-size: 14px;
  background: #5a5a5a;
}
/* line 389, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .action button.cancel:hover {
  background: #ff9999;
}
/* line 397, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #muuz-login {
  position: absolute;
  font-size: 16px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  text-align: center;
}

/* popup */
