/* responsibe responsibe responsibe responsibe */
/* responsibe responsibe responsibe responsibe */
/* browse responsive */
/* line 11, ../sass/_vars.scss */
button.follow {
  background: #fff;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #cccccc;
}
/* line 34, ../sass/_mixins.scss */
button.follow:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
/* line 38, ../sass/_mixins.scss */
button.follow:active {
  background: #bfbfbf;
}
/* line 14, ../sass/_vars.scss */
button.follow.active {
  background: #8efa00;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #549400;
}
/* line 34, ../sass/_mixins.scss */
button.follow.active:hover {
  background: #77d100;
  transition: all 0.3s ease;
}
/* line 38, ../sass/_mixins.scss */
button.follow.active:active {
  background: #467a00;
}

/* line 5, ../sass/login.scss */
#login {
  /* login-container */
  /* signup-container */
}
/* line 6, ../sass/login.scss */
#login .login-container {
  position: relative;
  z-index: 3;
  background: #282828;
  display: table-cell;
  width: 688px;
  height: 390px;
  text-align: center;
  vertical-align: middle;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}
/* line 16, ../sass/login.scss */
#login .login-container .logo-container {
  color: rgba(255, 255, 255, 0.4);
}
/* line 18, ../sass/login.scss */
#login .login-container .logo-container img {
  height: 40px;
  width: auto;
}
/* line 23, ../sass/login.scss */
#login .login-container input {
  display: block;
  margin: 20px auto;
  font-size: 16px;
  padding: 5px 10px;
}
/* line 28, ../sass/login.scss */
#login .login-container input + input {
  margin-top: 40px;
}
/* line 32, ../sass/login.scss */
#login .login-container .login-btn {
  color: white;
  font-size: 16px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border: none;
  background: #1cc558;
  background: -webkit-linear-gradient(left, #1cc558, #0f6c30);
  /* For Safari 5.1 to 6.0 */
  padding: 5px 20px;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
/* line 43, ../sass/login.scss */
#login .login-container .error-msg {
  font-size: 13px;
  color: #E34545;
}
/* line 47, ../sass/login.scss */
#login .login-container .or {
  position: absolute;
  z-index: 1;
  bottom: -15.5px;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  display: inline-block;
  line-height: 31px;
  text-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}
/* line 60, ../sass/login.scss */
#login .signup-container {
  text-align: center;
  width: 688px;
  display: inline-block;
  /* background */
}
/* line 64, ../sass/login.scss */
#login .signup-container-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200% auto;
  background-position: 50% center;
  -webkit-animation: background-blur 24s linear infinite alternate;
  animation: background-blur 24s linear infinite alternate;
}
@keyframes background-blur {
  0% {
    background-position: 50% center;
    -webkit-filter: blur(2px);
    filter: blur(2px);
  }
  100% {
    background-position: 0% center;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
}
/* line 92, ../sass/login.scss */
#login .signup-container .signup-btn {
  position: relative;
  display: inline-block;
  background: rgba(40, 40, 40, 0.8);
  width: 100%;
  line-height: 150px;
}
/* line 98, ../sass/login.scss */
#login .signup-container .signup-btn a {
  color: white;
  font-size: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  background: -webkit-linear-gradient(left, #FF0000, #FF9900);
  /* For Safari 5.1 to 6.0 */
  padding: 5px 20px;
  text-decoration: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* #login */
