/* responsibe responsibe responsibe responsibe */
/* responsibe responsibe responsibe responsibe */
/* browse responsive */
/* line 11, ../sass/_vars.scss */
button.follow {
  background: #fff;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #cccccc;
}
/* line 34, ../sass/_mixins.scss */
button.follow:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
/* line 38, ../sass/_mixins.scss */
button.follow:active {
  background: #bfbfbf;
}
/* line 14, ../sass/_vars.scss */
button.follow.active {
  background: #8efa00;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #549400;
}
/* line 34, ../sass/_mixins.scss */
button.follow.active:hover {
  background: #77d100;
  transition: all 0.3s ease;
}
/* line 38, ../sass/_mixins.scss */
button.follow.active:active {
  background: #467a00;
}

/* line 3, ../sass/noselect.scss */
#noselect {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 40px 0;
  font-size: 0;
  /* playlist */
}
/* line 9, ../sass/noselect.scss */
#noselect .noselect-header {
  position: absolute;
  z-index: 99;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: -webkit-linear-gradient(left, #121212, whitesmoke);
  /* For Safari 5.1 to 6.0 */
}
/* line 19, ../sass/noselect.scss */
#noselect .noselect-header img {
  position: absolute;
  top: 13px;
  left: 2%;
  height: 24px;
  width: auto;
}
/* line 26, ../sass/noselect.scss */
#noselect .noselect-header p {
  color: #646464;
  position: absolute;
  top: 10px;
  right: 2%;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: inline-block;
  line-height: 30px;
}
/* line 37, ../sass/noselect.scss */
#noselect .noselect-header p span {
  color: #1cc558;
  padding: 0 5px;
}
/* line 41, ../sass/noselect.scss */
#noselect .noselect-header p u {
  cursor: pointer;
  opacity: .6;
  padding: 0 0 0 10px;
}
/* line 45, ../sass/noselect.scss */
#noselect .noselect-header p u:hover {
  opacity: 1;
}
/* line 51, ../sass/noselect.scss */
#noselect .inner {
  box-sizing: border-box;
  background: #e6e6e6;
  padding: 50px 20px;
  height: 100%;
  overflow: auto;
}
/* line 58, ../sass/noselect.scss */
#noselect h2 {
  margin: 30px 0 20px 0;
  color: #646464;
  padding: 0;
  font-size: 20px;
}
/* line 64, ../sass/noselect.scss */
#noselect .playlist {
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: 5px;
  background: transparent;
  background: -webkit-linear-gradient(left, #f0f0f0, #fafafa);
  /* For Safari 5.1 to 6.0 */
  height: 50px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  padding-left: 55px;
  padding-right: 10px;
  transition: .3s;
  -webkit-transition: .3s;
  overflow: hidden;
  /*
    1.6 / 101.6 = 0.015748031496063
  */
  margin: 0 1.5748031496063% 1.5748031496063% 0;
  /*
    width: calc(98.4% / 2); = 49.2
    49.2 / 101.6 = 0.48425196850394
  */
  width: 48.425196850394%;
  /* thumbnail */
  /* action */
}
/* line 94, ../sass/noselect.scss */
#noselect .playlist a {
  text-decoration: none;
}
/* line 98, ../sass/noselect.scss */
#noselect .playlist .thumbnail {
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
/* line 111, ../sass/noselect.scss */
#noselect .playlist .thumbnail .play-btn {
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
  width: 50px;
  line-height: 50px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}
/* line 124, ../sass/noselect.scss */
#noselect .playlist .thumbnail .play-btn:hover {
  color: #1cc558;
}
/* line 130, ../sass/noselect.scss */
#noselect .playlist .playlist-background {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 110% auto !important;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
/* line 147, ../sass/noselect.scss */
#noselect .playlist .action {
  display: none;
  cursor: pointer;
  color: #a0a0a0;
  position: absolute;
  top: 0;
  right: 0;
  /* i */
}
/* line 154, ../sass/noselect.scss */
#noselect .playlist .action i {
  line-height: 50px;
  padding: 0 10px;
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  transition: .3s;
  -webkit-transition: .3s;
}
/* line 161, ../sass/noselect.scss */
#noselect .playlist .action i.add {
  display: inline-block;
}
/* line 163, ../sass/noselect.scss */
#noselect .playlist .action i.add:hover {
  color: #f0f0f0;
}
/* line 167, ../sass/noselect.scss */
#noselect .playlist .action i.added {
  display: none;
  color: #1cc558;
}
/* line 171, ../sass/noselect.scss */
#noselect .playlist .action i.remove {
  display: none;
  color: #ff6666;
}
/* line 178, ../sass/noselect.scss */
#noselect .playlist .playlist-desc {
  position: relative;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  color: #505050;
}
/* line 185, ../sass/noselect.scss */
#noselect .playlist .playlist-desc p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
/* line 192, ../sass/noselect.scss */
#noselect .playlist .playlist-desc p.title {
  padding: 0 0 5px 0;
  font-size: 14px;
}
/* line 196, ../sass/noselect.scss */
#noselect .playlist .playlist-desc p.description {
  opacity: .5;
  font-size: 12px;
}
/* line 203, ../sass/noselect.scss */
#noselect .playlist:hover {
  background: white;
}
/* line 205, ../sass/noselect.scss */
#noselect .playlist:hover .play-btn {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}
/* line 209, ../sass/noselect.scss */
#noselect .playlist:hover .action {
  display: inline-block;
}
/* line 212, ../sass/noselect.scss */
#noselect .playlist:hover .playlist-background {
  background-size: 120% auto !important;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}

/* login */
