<template>

<div id="main-inner">

  <h2>
    {{ title }} Artists
  </h2>

  <div class="full-width-responsive-inner">
    <artist-item :artist="artist"  v-for="artist in artists" class="artist-item"></artist-item>
  </div>

  <paginator :max="paging.max" :current="paging.current"></paginator>

</div>

</template>

<script>
import http from '../../services/http'
import ArtistItem from '../shared/artist-item'
import Paginator from '../shared/paginator'

export default {
  components: {ArtistItem, Paginator},
  data () {
    return {
      artists: [],
      title: '',
      paging: {
        max: 1,
        current: 1
      }
    }
  },
  events: {
    'init': function () {
    },
    'paging': function (page) {
      this.paging.current = page
      this.fetchData(page)
    }
  },
  ready () {
    this.fetchData(1)
  },
  methods: {
    fetchData: function (page) {
      http.get('/api/get_list', {type: 'artist', page: page, param: this.$route.params.param}, (res) => {
        this.artists = res.artists
        this.title = res.title
        this.paging.max = res.total_page
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';

</style>
