<template>

<div id="main-inner">

  <h2>
    {{ title }} Playlists
  </h2>

  <div class="full-width-responsive-inner">
    <playlist-item :playlist="playlist"  v-for="playlist in playlists" class="playlist-item"></playlist-item>
  </div>

  <paginator :max="paging.max" :current="paging.current"></paginator>

</div>

</template>

<script>
import http from '../../services/http'
import PlaylistItem from '../shared/playlist-item'
import Paginator from '../shared/paginator'

export default {
  components: {PlaylistItem, Paginator},
  data () {
    return {
      playlists: [],
      title: '',
      paging: {
        max: 1,
        current: 1
      }
    }
  },
  events: {
    'init': function () {
    },
    'paging': function (page) {
      this.paging.current = page
      this.fetchData(page)
    }
  },
  ready () {
    this.fetchData(1)
  },
  methods: {
    fetchData: function (page) {
      var self = this
      http.get('/api/get_list', {type: 'playlist', page: page, param: this.$route.params.param}, function (res) {
        self.playlists = res.playlists
        self.title = res.title
        self.paging.max = res.total_page
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';

</style>
