<template>

<div id="main-inner">
  <h2>
    {{ title }} Videos
  </h2>

  <div class="full-width-responsive-inner">
    <video-item v-for="video in videos" :video="video"></video-item>
  </div>

  <paginator :max="paging.max" :current="paging.current"></paginator>
</div>

</template>

<script>
import http from '../../services/http'
import Paginator from '../shared/paginator'
import VideoItem from '../shared/video-item'

export default {
  components: {Paginator, VideoItem},
  data () {
    return {
      videos: [],
      title: '',
      paging: {
        max: 100,
        current: 1
      }
    }
  },
  events: {
    'init': function () {
    },
    'paging': function (page) {
      this.paging.current = page
      this.fetchData(page)
    }
  },
  ready () {
    this.fetchData(1)
  },
  methods: {
    fetchData: function (page) {
      var self = this
      http.get('/api/get_list', {type: 'video', page: page, param: this.$route.params.param}, function (res) {
        self.videos = res.videos
        self.title = res.title
        self.paging.max = res.total_page
      })
    },
    playVideo: function (ytVideoId) {
      this.$dispatch('instant-player:video', ytVideoId)
    },
    playPlaylist: function (playlistId) {
      this.$dispatch('instant-player:playlist', playlistId)
    }
  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';

</style>
