<template>
  <div class="modal" v-show="show">
    <div class="wrapper">
      <div class="container">

        <div class="modal-header">
          Collaborators
        </div><!-- header -->

        <div class="modal-body collaborators">

          <div class="body-container">

            <h4>Invite Your Friend </h4>

            <div class="input-container">
              <input class="input name"  type="text" placeholder="sample@muusick.net" v-model="email">
              <button class="button send-btn" @click="send">Send</button>
              <p class="error" v-show="error">{{error}}</p>
            </div>

            <h4 v-show="contributors.length > 0">Shared with :</h4>

            <div class="collaborators-list">
              <div v-if="!isOwner" class="item admin">

                <div class="thumbnail image" v-if="owner.picture"
                :style="{'background': 'url(' + owner.picture + ')'}"></div>

                <div class="thumbnail image" v-else
                  >{{ owner.username[0]|uppercase }}</div>

                <p>
                  <span class="name">
                    {{ owner.username }}
                  </span>

                  <span class="role">
                    <!-- ⬇︎ owner -->
                    Admin
                    <i class="fa fa-users" aria-hidden="true"></i>
                  </span>
                </p>

              </div><!-- item -->



              <div class="item" v-for="user in contributors">

                <template v-if="user.username">
                  <div class="thumbnail image" v-if="user.picture"
                    :style="{'background': 'url(' + user.picture + ')'}"
                    ></div>
                  <div class="thumbnail image" v-else>
                    {{ user.username[0]|uppercase }}
                  </div>
                </template>

                <template v-else>
                  <div class="thumbnail image" >
                    {{ user.email[0]|uppercase }}
                  </div>
                </template>

                <p>
                  <span class="name" v-if="user.username">
                    {{ user.username }}
                  </span>
                  <span class="name" v-else>
                    {{ user.email }}
                  </span>

                  <span class="role">
                    {{ user.status === 0 ? 'Waiting' : 'Contributor'}}
                    <i class="fa fa-user" aria-hidden="true"></i>

                    <i
                      class="fa fa-times remove"
                      aria-hidden="true"
                      v-if="isOwner"
                      @click="remove(user.username, user.email)"
                      ></i>

                  </span>

                </p>
              </div>
            </div>

          </div><!-- body-container -->
        </div><!-- body -->

        <p class="msg" v-show="msg"> {{ msg }}</p>

        <div class="modal-footer">
          <button @click="close" class="done">CLOSE</button>
        </div><!-- footer -->

      </div><!-- container -->
    </div><!-- wrapper -->
  </div><!-- modal -->
</template>

<script>
import http from '../../services/http'
import {findIndex} from 'lodash'

export default {
  props: ['show', 'contributors', 'playlistId', 'owner', 'isOwner'],
  data () {
    return {
      email: '',
      error: '',
      msg: ''
    }
  },
  methods: {
    send: function () {
      if (!this.validateEmail()) {
        this.error = 'Please enter email address correctly!'
        return true
      }

      http.post('api/invite_contributor', {playlist_id: this.playlistId, email: this.email}, (res) => {
        if (res.error) {
          this.error = res.error
        } else {
          this.contributors.push(res)
          this.email = ''
        }
      })
    },
    remove: function (username, email) {
      http.post('api/remove_contributor', {
        playlist_id: this.playlistId,
        email: email,
        username: username
      }, (res) => {
        var idx = -1
        if (this.email) {
          idx = findIndex(this.contributors, {email: email})
        } else {
          idx = findIndex(this.contributors, {username: username})
        }
        idx >= 0 && this.contributors.splice(idx, 1)
      })
    },
    close: function () {
      this.show = false
      this.email = ''
      this.error = ''
    },
    validateEmail: function () {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(this.email)
    }
  }
}
</script>

<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/modal.scss';

p.error, p.msg{
  font-size: 16px;

  &.error{
    color: #b15f5f;
    padding: 0px 0;
  }
}

</style>
