<template>

<div class="background-container">
  <div :style="{'background-image': 'url(' + info.image + ')'}" class="background"></div>
</div>

<div class="panel-container">
  <div class="panel left">

    <div class="playlist-thumbnail" :style="{'background-image': 'url(' + (info.image ? info.image : defaultPictureUrl) + ')'}" ></div><!-- playlist-description-image -->

    <div class="playlist-description">

      <h2>
        {{ info.name }}
      </h2>

      <div class="left-panel-button-container">
        <button v-if="!isOwned && !isContributor && !isFollowing" 
          class="button follow" @click="follow">
          &nbsp;FOLLOW
        </button>
        <button v-if="!isOwned && !isContributor && isFollowing" 
          class="button follow active" @click="unfollow">
          &nbsp;FOLLOWING
        </button>

        <share-dropdown
          v-show="info.is_public"
          :share-url="info.share_url"
          :label="'&nbsp;SHARE'"
          class="button share text">
        </share-dropdown>
      </div>

      <div class="desc-container">
        <p class="description">
          {{ info.description }}
        </p>

        <div class="status">
          <p class="video-count">{{ info.videos.length }} videos</p>
          <p class="created-by">Created by <span class ="creator-name" v-link="{ name: 'user', params: { username: info.creator.username } }">{{ info.creator.username }}</span>
            <span class="contributors" v-if="contributors.length > 0">
              with

              <template v-if="isOwned || isContributor" >
              <div class="thumbnail image" v-if="info.creator.picture" 
                :title="info.creator.username"
                @click="showCollaboratorModel=true"
                :style="{'background': 'url(' + info.creator.picture + ')'}"></div>

              <div class="thumbnail image" v-if="!info.creator.picture"
                :title="info.creator.username"
                @click="showCollaboratorModel=true"
                > {{ info.creator.username[0]|uppercase }}</div>

              </template>
              <template v-else >
              <div class="thumbnail image" v-if="info.creator.picture" 
                :title="info.creator.username"
                v-link="{ name: 'user', params: { username: info.creator.username } }"
                :style="{'background': 'url(' + info.creator.picture + ')'}"></div>

              <div class="thumbnail image" v-if="!info.creator.picture"
                :title="info.creator.username"
                v-link="{ name: 'user', params: { username: info.creator.username } }"
                > {{ info.creator.username[0]|uppercase }}</div>
              </template>

              <template v-if="isOwned || isContributor">
                <template v-for="user in contributors">
                  <div class="thumbnail image" v-if="user.picture && user.status == 1" 
                    :title="user.username"
                    @click="showCollaboratorModel=true"
                    :style="{'background': 'url(' + user.picture + ')'}"></div>
                  <div class="thumbnail image" v-if="!user.picture && user.status == 1"
                    :title="user.username"
                    @click="showCollaboratorModel=true"
                    > {{ user.username[0]|uppercase }}</div>
                </template>
              </template>
              <template v-else >
                <template v-for="user in contributors">
                  <div class="thumbnail image" v-if="user.picture && user.status == 1"
                    v-link="{ name: 'user', params: { username: user.username } }"
                    :title="user.username"
                    :style="{'background': 'url(' + user.picture + ')'}"></div>

                  <div class="thumbnail image" v-if="!user.picture && user.status == 1"
                    v-link="{ name: 'user', params: { username: user.username } }"
                    :title="user.username"
                    > {{ user.username[0]|uppercase }}</div>
                  </template>
              </template>
            </span><!-- contributor -->
          </p>
        </div><!-- status -->
      </div><!-- desc-container -->
    </div><!-- playlist-description -->
  </div><!-- left panel -->

  <div class="panel right">

    <div class="action">
      <button
        class="button play"
        v-link="{ name: 'player' , params: { type: 'pl', slug: info.slug } }">
        <i class="fa fa-play" aria-hidden="true"></i>
        PLAY
      </button>
      <button
        class="button mini-play"
        @click="playPlaylist(info.slug)">
        <i class="fa fa-play" aria-hidden="true"></i>
        mini-PLAY
      </button>

      <div class="action-nav" v-show="isOwned || isContributor">
        <div id="more-dropdown-trigger" @click="clickShowMoreDropdown">
          <span class="desktop"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
          <span class="mobile"><i class="fa fa-cog" aria-hidden="true"></i>設定</span>
        </div>
        <div class="dropdown-wrapper" v-show="showMoreDropdown">

          <div class="lock-filter"></div>

          <div class="inner">
            <ul>
              <template v-if="isOwned">
                <li class="item"  @click="showUpdatePlaylistModal=true">
                  編集する
                  <!--- if eng. {{Edit Playlist}} -->
                </li>
                <li class="item"  @click="showCollaboratorModel=true">
                  友達を招致する
                  <!-- if eng. {{Invite Friend}} -->
                </li>
                <li class="item" @click="delete">
                  削除する
                  <!-- if eng. {{Delete Playlist}} -->
                </li>
              </template>
              <template v-if="isContributor">
                <li class="item" @click="resignContributor">
                  シェアプレイリストから出る
                  <!-- if eng. {{Leave Playlist}} -->
                </li>
              </template>
            </ul>
          </div><!-- inner -->
        </div><!-- dropdown-wrapper -->
      </div><!-- action-btn -->


      <div class="switch-container" v-if="isOwned">
        <switch v-if="isOwned"
          :value="info.is_public"
          :disabled="disableSwitch"
          :label="info.is_public ? '公開中' : '非公開'">
        </switch>
      </div>

    </div><!-- action -->

    <div class="playlist-videos-container">
      <template v-if="info.videos.length">
        <div class="playlist-item" v-for="video in info.videos">

          <div class="thumbnail"
            v-link="{ name: 'player' , params: { type: 'pl', slug: info.slug }, query: {v: video.yt_id} }"
            :style="{background: 'url(https://img.youtube.com/vi/' + video.yt_id + '/mqdefault.jpg)'}"></div>
          <i class="fa fa-play play" 
            v-link="{ name: 'player' , params: { type: 'pl', slug: info.slug }, query: {v: video.yt_id} }"
            aria-hidden="true"></i>
          <p v-link="{ name: 'player' , params: { type: 'pl', slug: info.slug }, query: {v: video.yt_id} }">{{video.title}} </p>

          <div class="status">
            <video-dropdown 
              v-if="isAuthenticated"
              :owned="isOwned" 
              :playlist_id="info.id" 
              :yt_id="video.yt_id"></video-dropdown>
          </div>
        </div><!-- playlist item -->
      </template>
      <template v-if="!info.videos">
        No Videos!
      </template>
    </div><!-- playlist-videos-container -->
  </div><!-- right panel -->
</div>

<update-playlist-modal :is-update="true" :show.sync="showUpdatePlaylistModal" :info.sync="info"></update-playlist-modal>

<collaborators :is-owner="isOwned" :owner="info.creator" :playlist-id="info.id" :show.sync="showCollaboratorModel" :contributors.sync="contributors"></collaborators>

</template>


<script>
import http from '../../services/http'
import SoundBar from '../shared/sound-bar'
import user from '../../stores/user'
import UpdatePlaylistModal from '../shared/modal/new-playlist'
import VideoDropdown from '../shared/video-dropdown'
import Switch from '../shared/switch-button'
import ShareDropdown from '../shared/share-dropdown'
import Collaborators from './collaborators'
import store from '../../stores/store'
import {find, findIndex} from 'lodash'

export default {
  components: {
    SoundBar,
    UpdatePlaylistModal,
    Switch,
    VideoDropdown,
    ShareDropdown,
    Collaborators
  },
  data () {
    return {
      slug: '',
      info: {
        videos: [],
        creator: {
          username: '',
          picture: ''
        },
        is_public: false
      },
      contributors: [],
      isContributor: false,
      isFollowing: false,
      isOwned: false,
      defaultPictureUrl: '/static/myapp/img/default_playlist.png',
      showUpdatePlaylistModal: false,
      disableSwitch: false,
      showMoreDropdown: false,
      showCollaboratorModel: false,
      isAuthenticated: false
    }
  },
  watch: {
    '$route.params.slug': function (val) {
      if (val) {
        this.fetchData()
      }
    }
  },
  events: {
    'init': function () {
      this.isAuthenticated = !!store.state.user
    },
    'remove:video': function (ytId) {
      var idx = findIndex(this.info.videos, {yt_id: ytId})
      if (idx > -1) {
        this.info.videos.splice(idx, 1)
      }
    },
    'click2dom': function (e) {
      var $trigger = document.getElementById('more-dropdown-trigger')
      if (e.target.parentElement.parentElement !== $trigger) {
        this.showMoreDropdown = false
      }
      return true
    },
    'switch:change': function () {
      this.disableSwitch = true
      http.post('/api/publish_playlist', {
        id: this.info.id,
        is_public: !this.info.is_public ? 1 : 0
      }, (res) => {
        this.info.is_public = res.is_public
        this.disableSwitch = false
        var playlist = find(store.state.userPlaylists, {id: this.info.id})
        if (playlist) {
          playlist.is_public = this.info.is_public
        }
      }, (res) => {
        this.disableSwitch = false
        this.$dispatch('modal:message', 'Playlist must has more than 10 songs and cover image to public!')
        window.setTimeout(() => {
          this.info.is_public = this.info.is_public
        }, 1000)
      })
    }
  },
  ready () {
    this.$root.$broadcast('player:minimize')
    this.fetchData()
  },
  methods: {
    fetchData: function () {
      http.get('/api/get_playlist_data', {slug: this.$route.params.slug}, (res) => {
        this.info = res.data
      })

      http._get('/api/get_playlist_private_data', {slug: this.$route.params.slug}, (res) => {
        this.contributors = res.contributors
        this.isContributor = res.is_contributor
        this.isOwned = res.is_owned
        this.isFollowing = res.is_following
      })
    },
    follow: function () {
      if (store.state.user) {
        user.followPlaylist(this.info.id, 1, (res) => {
          this.isFollowing = true
        })
      } else {
        this.$dispatch('login:require')
      }
    },
    unfollow: function () {
      if (store.state.user) {
        user.followPlaylist(this.info.id, 0, (res) => {
          this.isFollowing = false
        })
      } else {
        this.$dispatch('login:require')
      }
    },
    playPlaylist: function (slug) {
      this.$root.$broadcast('player:play-playlist', slug, null)
    },
    clickShowMoreDropdown: function () {
      this.showMoreDropdown = !this.showMoreDropdown
    },
    delete: function () {
      if (window.confirm('Are you sure?')) {
        http.post('api/delete_playlist', {
          id: this.info.id
        }, (res) => {
          var idx = findIndex(store.state.userPlaylists, {id: this.info.id})
          store.state.userPlaylists.splice(idx, 1)
          this.$route.router.go('/')
        })
      }
    },
    resignContributor: function () {
      http.post('api/remove_contributor', {
        playlist_id: this.info.id,
        email: '',
        username: store.state.user.username
      }, (res) => {
        var idx = -1
        idx = findIndex(this.state.collaboratePlaylists, {id: this.info.id})
        idx >= 0 && this.state.collaboratePlaylists.splice(idx, 1)
        this.$route.router.go('/')
      })
    }
  }
}
</script>

<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';


#main-container{
  padding-bottom: 0;
}

.background-container{
  box-sizing: border-box;
  position: fixed;
  z-index: 0;
  top: $header-height;
  left: 0;
  padding-left: $sidebar-width;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,.1);
  .background{
    width: 100%;
    height: 100%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    opacity: .4;
  }
  @include mobile-mode{
    top: 0;
    padding-left: 0;
    .background{
      opacity: .2;
    }
  }
}



$thumbnail-width: 240px;
$mobile-thumbnail-width: 120px;

$playlist-width: 700px;
$video-height: 315px;

$left-panel-width: 320px;
$right-panel-width: 460px;


.panel-container{
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding-top: $header-height + 20px;
  padding-left: $sidebar-width;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  @media screen and (max-width: $medium-window) {
    padding: 0;
    position: relative;
    height: auto;
    overflow: visible;
  }
  @media screen and (min-width: $medium-window) {
    padding-right: $activity-sidebar-width;
  }
  .panel{
    display: inline-block;
    vertical-align: top;
    padding: 40px 10px;
    @media screen and (max-width: $medium-window) {
      padding: 0;
    }

    &.left{
      width: $left-panel-width;
      text-align: center;
      font-size: 0;
      @media screen and (max-width: $medium-window) {
        padding: 60px 0 0 0;
      }
      .playlist-thumbnail{
        display: inline-block;
        width: $thumbnail-width;
        height: $thumbnail-width;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        vertical-align: top;
        @include mobile-mode{
          width: $mobile-thumbnail-width;
          height: $mobile-thumbnail-width;
        }
      }
      .playlist-description{
        font-size: 0;
        padding: 0;
        h2{
          color: rgba(255,255,255,1);
          font-size: 20px;
          padding: 15px 0;
          margin: 0;
          font-weight: 400;
        }
        .left-panel-button-container{
          padding: 0;
          .button{
            font-size: 10px;
            margin: 0;
            &.follow{
              margin-right: 10px;
            }
            &.share{

            }
          }
        }
        div.desc-container{
          padding: 15px;
          margin: 0;
          font-size: 12px;
          height: $thumbnail-width - 100px;
          p.description{
            color: rgba(230,230,230,1);
            padding: 0;
            margin: 0;
            @include line-clamp(4);
            font-weight: 300;
          }

          .status{
            display: inline-block;
            padding: 10px 0 5px 5px;
            font-size: 13px;
            color: rgba(200,200,200,1);

            p.video-count{
              opacity: .6;
            }
            p.created-by{
              padding: 10px 0 0 0;
              font-weight: 200;
              color: #fff;
              span.creator-name{
                font-weight: 300;
                cursor: pointer;
                color: $spotify-green;
                &:hover{
                  text-decoration: underline;
                }
              }
              span.members{

              }
            }

            .contributors{
              width: $thumbnail-width;
              margin: 0 auto;
              padding-top: 10px;
              $thumbnailSize: 22px;
              line-height: $thumbnailSize;
              font-size: 13px;

              .thumbnail{
                position: relative;
                top: -2px;
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
                width: $thumbnailSize;
                height: $thumbnailSize;
                @include border-radius(50%);
                text-align: center;
                line-height: $thumbnailSize;
                font-size: 16px;
                color: #fff;
                background-color: $spotify-blue;
                background-size: cover !important;
                background-repeat: no-repeat !important;
                background-position: center !important;
                opacity: .8;
                & + .thumbnail{
                  margin-left: 3px;
                }
                &:hover{
                  opacity: 1;
                }
              }
            }/* contributors */

          }/* status */
        }/* desc-container */
      }/* playlist-description */
    }/* left panel */
    &.right{
      width: $right-panel-width;
      font-size: 0;
      box-sizing: border-box;

      @media screen and (max-width: $medium-window) {
        background: rgba(30,30,30,1);
        width: 100%;
      }

      .action{
        padding: 0 0 10px 0;
        width: $right-panel-width;
        margin: 0 auto;
        text-align: left;
        @media screen and (max-width: $medium-window) {
          height: 55px;
        }

        @include mobile-mode{
          height: 55px;
        }

        .button{
          margin: 0;
          margin-left: 10px;
        }

        @media screen and (max-width: $medium-window) {
          display: block;
          width: 100%;
          max-width: 620px;
          margin: 0 auto;
          padding: 0 0 10px 0;
          text-align: center;

          .button{
            font-size: 10px;
            display: inline-block;
            vertical-align: middle;
            &.play{
              position: relative;
              top: -15px;
              display: block;
              margin: 0 auto;
              width: 80%;
              opacity: 1;
              max-width: 420px;
              font-size: 14px;
              padding: 0;
              line-height: 30px;
            }
            &.mini-play{
              display: none;
            }
          }
        }
        .action-nav{
          position: relative;
          cursor: pointer;
          display: inline-block;
          vertical-align: middle;
          margin-left: 10px;

          @media screen and (max-width: $medium-window) {
            float: left;
          }

          #more-dropdown-trigger{
            cursor: pointer;
            font-size: 22px;
            width: auto;
            line-height: 22px;
            color: rgba(230,230,230,1);
            text-shadow: 2px 2px 7px rgba(0,0,0,.4);
            span{
              vertical-align: middle;
              line-height: 22px;
              &.desktop{
                padding: 0;
              }
              &.mobile{
                display: none;
              }
            }
            &:hover{
              color: rgba(255,255,255,1);
            }

          }
          @include mobile-mode{
            #more-dropdown-trigger{
              span{
                &.desktop{
                  display: none;
                }
                &.mobile{
                  width: auto;
                  margin-left: 0;
                  display: inline-block;
                  line-height: 28px;
                  font-size: 12px;
                  color: rgba(190,190,190,1);
                }
              }
            }
          }
          .dropdown-wrapper{
            position: absolute;
            z-index: 99;
            top: 32px;
            left: 0;
            background: $dropdown-background-color;
            text-align: left;
            box-shadow: 0 0 10px rgba(0,0,0,1);
            @include mobile-mode{
              left: 0;
              right: auto;
            }
            .inner{
              position: relative;
              z-index: 99;
              padding: 0;
              background: $dropdown-background-color;
              text-align: left;
              font-size: 0;
            }

            ul{
              width: 140px;
              padding: 0;
              margin: 0;
              display: block;

              li{
                display: block;
                cursor: pointer;
                line-height: 22px;
                list-style: none;
                opacity: .8;
                box-sizing: border-box;
                font-size: 14px;
                padding: 5px 20px;
                margin: 0;
                font-weight: 300;
                @include transition(.2s);

                &:hover{
                  opacity: 1;
                  background: rgba(0,0,0,.2);
                  .second{
                    display: block;
                  }
                }
              }/* li */
            }/* ul */
            .lock-filter{
              cursor: default;
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0,0,0,.1);
            }
          }/* dropdown-wrapper */
        }/* action-nav */

        .switch-container{
          display: inline-block;
          vertical-align: middle;
          margin: 0 10px 0 0;
          height: auto;
          float: right;
          text-align: right;
          padding: 5px 0;
          font-size: 12px;
        }

      }/* action */


      .playlist-videos-container{
        text-align: left;
        box-sizing: border-box;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        margin: 0 auto;
        padding-bottom: 240px;
        @media screen and (max-width: $medium-window) {
          width: 100%;
          height: auto;
          overflow-y: visible;
          padding-bottom: 40px;
          background: rgba(30,30,30,1);
        }
        .playlist-item{
          cursor: default;
          box-sizing: border-box;
          position: relative;
          padding: 10px 5px;
          margin: 0;
          font-size: 0;
          opacity: .8;
          -webkit-transition: .2s; /* Safari */
          transition: .2s;
          max-width: 620px;
          margin: 0 auto;

          $video-height: 51px;
          @include mobile-mode{
            $video-height: 46px;
          }
          .play{
            cursor: pointer;
            opacity: 0;
            position: absolute;
            z-index: 1;
            top: 10px;
            left: 5px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            width: 90px;
            line-height: 51px;
            background: rgba(0,0,0,.6);
            font-size: 30px;
            text-shadow: 2px 2px 3px rgba(0,0,0,1);
            color: rgba(190,190,190,1);
            &:hover{
              color: rgba(255,255,255,1);
            }
          }
          .thumbnail{
            position: absolute;
            top: 10px;
            left: 5px;
            padding: 0;
            margin: 0;
            width: $video-width;
            height: $video-height;
            display: inline-block;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
          }
          p{
            box-sizing: border-box;
            padding: 0;
            padding-left: $video-width + 10px;
            padding-right: 50px;
            margin: 0;
            display: inline-block;
            width: 100%;
            height: $video-height;
            vertical-align: top;
            font-size: 12px;
            @include line-clamp(3);
          }
          .status{
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 0;
            padding: 0 20px;
            margin: 0;
            color: rgba(0,0,0,0);
            display: inline-block;
            line-height: 51px;
            font-size: 30px;
            text-align: right;
            .action-btn{
              display: inline-block;
              line-height: 51px;
            }
            @include mobile-mode{
              font-size: 20px;
              color: rgba(220,220,220,1);
            }
          }
          &:hover{
            background: rgba(0,0,0,.3);
            opacity: 1;
            .play{
              opacity: 1;
            }
            .status{
              color: rgba(220,220,220,1);
            }
          }
        }/* playlist-item */
      }/* playlist-videos-container */
    }/* right */
  }/* panel */
}/* panel-container */

#main-container.active{
  .panel-container{
    @media screen and (min-width: $medium-window) {
      padding-right: $player-width;
    }
    @include mobile-mode{
      padding-right: 0;
    }
  }
}
  </style>