/* responsibe responsibe responsibe responsibe */
/* responsibe responsibe responsibe responsibe */
/* browse responsive */
/* line 3, ../sass/main.scss */
html,
body {
  padding: 0;
  margin: 0;
}

/* line 8, ../sass/main.scss */
body {
  background-color: black;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* line 15, ../sass/main.scss */
*:focus {
  outline: none;
}

/* line 19, ../sass/main.scss */
.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: -100vw;
  opacity: .4;
  width: 200vw;
  height: 100vh;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  background: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-animation: background-blur 44s linear infinite alternate;
  animation: background-blur 44s linear infinite alternate;
}
@keyframes background-blur {
  0% {
    left: -100vw;
  }
  100% {
    left: 0;
  }
}
/* line 45, ../sass/main.scss */
.input-container + .input-container {
  padding-top: 10px;
}
/* line 48, ../sass/main.scss */
.input-container input {
  font-size: 13px;
  color: #505050;
  display: block;
  box-sizing: border-box;
  padding: 5px 20px;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  /* reset chrome autofill background-color */
}
/* line 59, ../sass/main.scss */
.input-container input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px whitesmoke inset;
}
/* line 62, ../sass/main.scss */
.input-container input:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* line 69, ../sass/main.scss */
p.error-msg {
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #DC4F4F;
}

/* line 77, ../sass/main.scss */
ul.errorlist {
  padding: 0;
  margin: 0;
  width: 100%;
}
/* line 81, ../sass/main.scss */
ul.errorlist li {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 12px;
  color: #DC4F4F;
}

/* line 90, ../sass/main.scss */
#main-container {
  display: table-cell;
  vertical-align: middle;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

/* line 97, ../sass/main.scss */
.container {
  overflow: hidden;
  margin: 0 auto;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px black;
  width: 90%;
  max-width: 820px;
  height: 480px;
  background: #f0f0f0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  font-size: 0;
  /* panel */
  /* sign up */
  /* form */
}
@media (max-width: 780px) {
  /* line 97, ../sass/main.scss */
  .container {
    padding: 40px 0;
    height: auto;
    display: inline-block;
    width: 90%;
    max-width: 420px;
    margin: 0 auto;
  }
}
@media (max-width: 420px) {
  /* line 97, ../sass/main.scss */
  .container {
    width: 95%;
    padding: 20px 0;
  }
}
/* line 126, ../sass/main.scss */
.container .panel {
  height: 100%;
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  overflow: hidden;
  /* panel right */
}
/* line 133, ../sass/main.scss */
.container .panel .inner {
  box-sizing: border-box;
  width: 50%;
  height: 480px;
  display: table-cell;
  vertical-align: middle;
}
/* line 139, ../sass/main.scss */
.container .panel .inner h3 {
  font-weight: normal;
  color: #787878;
  font-size: 20px;
}
/* line 144, ../sass/main.scss */
.container .panel .inner p {
  color: #aaaaaa;
  font-size: 13px;
}
/* line 148, ../sass/main.scss */
.container .panel .inner p span.facebook {
  color: #2F4984;
}
/* line 154, ../sass/main.scss */
.container .panel .inner .input-container p {
  margin-bottom: 20px;
}
/* line 156, ../sass/main.scss */
.container .panel .inner .input-container p label {
  display: none;
}
/* line 163, ../sass/main.scss */
.container .panel .header img.logo {
  width: 120px;
}
/* line 166, ../sass/main.scss */
.container .panel .header h1 {
  color: #464646;
  font-size: 28px;
}
@media (max-width: 420px) {
  /* line 166, ../sass/main.scss */
  .container .panel .header h1 {
    font-size: 20px;
  }
}
/* line 174, ../sass/main.scss */
.container .panel.left {
  background: #d6d6d6;
}
@media (max-width: 780px) {
  /* line 174, ../sass/main.scss */
  .container .panel.left {
    display: none;
  }
}
/* line 179, ../sass/main.scss */
.container .panel.left img {
  width: 140%;
}
/* line 185, ../sass/main.scss */
.container .panel.right .inner {
  padding: 0 40px;
}
/* line 188, ../sass/main.scss */
.container .panel.right .header {
  display: none;
}
@panel-collapse-width {
  /* line 188, ../sass/main.scss */
  .container .panel.right .header {
    display: block;
  }
}
@media (max-width: 780px) {
  /* line 183, ../sass/main.scss */
  .container .panel.right {
    display: block;
    width: 100%;
  }
  /* line 197, ../sass/main.scss */
  .container .panel.right .header {
    display: block;
  }
}
/* line 204, ../sass/main.scss */
.container .sign-up {
  padding: 20px 0;
}
/* line 206, ../sass/main.scss */
.container .sign-up a {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  color: #f0f0f0;
  padding: 0 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  background: #4EA240;
}
/* line 219, ../sass/main.scss */
.container .divider {
  width: 100%;
  border-top: 1px solid #d9dadc;
  display: block;
  height: 1px;
  margin: 15px 0;
  position: relative;
  text-align: center;
}
/* line 227, ../sass/main.scss */
.container .divider p {
  font-size: 12px;
  position: relative;
  top: -15.5px;
  margin: 0;
  padding: 0 10px;
  display: inline-block;
  background: #f0f0f0;
  line-height: 31px;
  color: #6e6e6e;
}
/* line 239, ../sass/main.scss */
.container form {
  width: 100%;
  margin: 0;
  padding: 0 0 20px 0;
}
/* line 244, ../sass/main.scss */
.container form .reset-pwd {
  padding: 5px 0;
}
/* line 246, ../sass/main.scss */
.container form .reset-pwd a {
  text-decoration: none;
  font-size: 12px;
  color: #6e6e6e;
}
/* line 250, ../sass/main.scss */
.container form .reset-pwd a:hover {
  text-decoration: underline;
}
/* line 255, ../sass/main.scss */
.container form .checkbox-container {
  text-align: left;
  font-size: 12px;
  color: #6e6e6e;
  margin: 5px 0;
  opacity: .8;
}
/* line 261, ../sass/main.scss */
.container form .checkbox-container input {
  display: inline-block;
}
/* line 265, ../sass/main.scss */
.container form .link-to-login {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
/* line 269, ../sass/main.scss */
.container form .link-to-login a {
  cursor: pointer;
  color: #4EA240;
  opacity: .8;
}
/* line 273, ../sass/main.scss */
.container form .link-to-login a:hover {
  opacity: 1;
}

/* container */
/* line 281, ../sass/main.scss */
button {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
  padding: 5px 0;
  width: 100%;
  color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  border: 0 solid transparent;
  opacity: .8;
}
/* line 292, ../sass/main.scss */
button:hover {
  opacity: 1;
}
/* line 296, ../sass/main.scss */
button a {
  display: block;
  width: 100%;
  color: white;
  text-decoration: none;
}

/* line 304, ../sass/main.scss */
.facebook-login {
  margin: 10px 0;
  background: #2F4984;
}

/* line 308, ../sass/main.scss */
.login {
  margin: 10px 0;
  background: #4EA240;
}
/* line 311, ../sass/main.scss */
.login.margin-reset {
  margin: 0;
}

/* line 315, ../sass/main.scss */
.signup {
  background: #8EFA00;
  background: -webkit-linear-gradient(left, #FF0000, #FF9900);
  /* For Safari 5.1 to 6.0 */
  color: white;
  text-align: center;
}

/* line 322, ../sass/main.scss */
.spacer {
  display: block;
  height: 120px;
}
