<template>
  <div id="main-inner">
    <h2>SEARCH RESULT</h2>

    <div v-if="searchType=='all'">
      <div v-if="result.tags">
        <h3>Tags </h3>
        <ul class="tags">
          <li v-for="item in result.tags"
              v-link="{ name: 'browseDetail' , params: { type: 'tag', id: item.id } }">
            {{ item.name }}
          </li>
        </ul>
      </div>


  <!-- ⬇︎ artists -->
      <div v-if="result.artists">
        <h3>Artists </h3>
        <span v-show="false">
          SEE ALL
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </span>
        <artist-slider :artists="result.artists"></artist-slider>
      </div>
  <!-- ⬆︎ artists -->



  <!-- ⬇︎ playlist -->
      <div v-if="result.playlists">
        <h3>
          Playlists
          <span v-show="false">
            SEE ALL
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </span>
        </h3>
        <playlist-slider :playlists="result.playlists"></playlist-slider>
      </div>
  <!-- ⬆︎ playlists -->


      <div v-if="result.ytVideos">
        <h3>
          YouTube Videos
          <span v-link="{ name: 'search' , query: { type: 'video', q: keyword } }">
            SEE ALL
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </span>
        </h3>
        <video-slider :videos="result.ytVideos"></video-slider>
      </div>

      <div v-if="result.videos">
        <h3>
          Muusick Videos
          <span v-link="{ name: 'search' , query: { type: 'video', q: keyword } }">
            SEE ALL
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          </span>
        </h3>
        <video-slider :videos="result.videos"></video-slider>
      </div>

      <div v-if="result.users">
        <h3>Users</h3>

        <div class="full-width-responsive-inner">
          <user-item :info="user" v-for="user in result.users"></user-item>
        </div>
      </div>

    </div>

    <div v-if="searchType=='video'">
      <h3>
        Muusick Videos
        <span>
          SEE ALL
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </span>
      </h3>
      <video-slider :videos="result.videos"></video-slider>

      <h3>
        YouTube Videos
      </h3>
      <div class="full-width-responsive-inner">
        <video-item v-for="video in result.ytVideos" :video="video"></video-item>
      </div>
    </div>

    <div v-if="searchType=='playlist'">
      <h3>Playlists</h3>
      <div class="full-width-responsive-inner">
        <playlist-item
          :playlist="playlist"
          v-for="playlist in result.playlists"
          class="playlist-item">
        </playlist-item>
      </div>
    </div>

    <div v-if="searchType=='artist'">
      <h3>Artist</h3>
      <div class="full-width-responsive-inner">
        <artist-item
          :artist="artist"
          v-for="artist in result.artists"
          class="artist-item">
        </artist-item>
      </div>
    </div>

  </div><!-- main-inner -->

</template>

<script>
import UserItem from '../shared/user-item'
import PlaylistSlider from '../shared/playlist-slider'
import VideoSlider from '../shared/video-slider'
import VideoItem from '../shared/video-item'
import ArtistSlider from '../shared/artist-slider'
import ArtistItem from '../shared/artist-item'
import http from '../../services/http'
import PlaylistItem from '../shared/playlist-item'

export default {
  components: {
    UserItem,
    PlaylistSlider,
    VideoSlider,
    ArtistSlider,
    ArtistItem,
    VideoItem,
    PlaylistItem
  },
  data () {
    return {
      searchType: '',
      keyword: '',
      result: {
        videos: [],
        ytVideos: [],
        playlists: [],
        users: [],
        tags: [],
        artists: []
      }
    }
  },
  ready () {
    this.$root.$broadcast('player:minimize')
    this.keyword = this.$route.query.q
    this.searchType = this.$route.query.type
    this.search()
  },
  watch: {
    '$route': function (to, from) {
      this.keyword = to.query.q
      this.searchType = to.query.type
      this.search()
    }
  },
  methods: {
    search: function () {
      http._get('/api/search_suggest', {
        type: this.searchType,
        keyword: this.keyword.trim(),
        yt_search: 1
      }, (res) => {
        this.result = res.results
        console.log(this.result)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';

</style>
