<template>

  <div id="main-inner">

    <h2>
      <i class="fa fa-history" aria-hidden="true"></i>
       History
    </h2>

    <h3>
      Playlists
      <span  v-if="false">
        SEE ALL
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </span>
    </h3>

    <div class="full-width-responsive-inner">
      <playlist-item :playlist="playlist"  v-for="playlist in playlists" class="playlist-item"></playlist-item>
    </div>

    <h3>
      Videos
      <span v-if="false">
        SEE ALL
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </span>
    </h3>

    <div class="full-width-responsive-inner">
      <video-item v-for="video in videos" :video="video"></video-item>
    </div>

  </div><!-- main-inner -->

</template>

<script>
import http from '../../services/http'
import PlaylistItem from '../shared/playlist-item'
import VideoItem from '../shared/video-item'

export default {
  components: {PlaylistItem, VideoItem},
  data () {
    return {
      videos: [],
      playlists: []
    }
  },
  events: {
    'init': function () {
    }
  },
  ready () {
    this.$root.$broadcast('player:minimize')
    this.fetchData()
  },
  methods: {
    fetchData: function () {
      var self = this
      http.get('/api/get_history', {}, function (res) {
        self.videos = res.videos
        self.playlists = res.playlists
      })
    }
  }
}
</script>





<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';

</style>
