@import './mixins.scss';

$blue-color: #3498db;
$green: #8efa00;

button.follow{
  @include button-bg(#fff);

  &.active{
    @include button-bg($green);
  }
}
$red: #E34545;
$pink: #CF454E;
$yellow: #F4B528;
$lime-green: #8EFA00;

$spotify-green: darken(#1ED760,4%);
$spotify-blue: #3D70BE;

$facebook-blue: #3b5998;

$twitter-blue: #3891EA;

$google-green: #5AC334;
$google-red: #E34545;


$instagram-pink: #FF0000;
$instagram-orange: #FF9900;


$dark-black: rgba(18,18,18,1);
$gray: rgba(28,28,28,1);
$light-gray: rgba(70,70,70,1);

/* width set */


$mobile-width: 420px;

$hide-menu-width: 780px;
$player-width: 640px;
$small-player-width: 300px;


$panel-collapse-width: 1080px;

$small-window: 1080px;
$medium-window: 1280px;
$large-window: 1780px;

$sidebar-width: 190px;
$header-height: 50px;