@import './_vars.scss';

html,
body{
	padding: 0;
	margin: 0;
}
body{
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	-webkit-overflow-scrolling: touch;
}

*:focus {outline: none;}
a{text-decoration: none;}

$header-height: 80px;

#header{

	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 10px 40px;
	width: 100%;
	height: $header-height;
	background: rgba(40,40,40,.99);
	background: -webkit-linear-gradient(right, rgba(36,36,36,.9) , rgba(24,24,24,.99)); /* For Safari 5.1 to 6.0 */
	text-align: left;

	.vertical-aligner{
		display: inline-block;
		vertical-align: middle;
		height: $header-height - 20px;
	}
	img{
		position: relative;
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		height: 36px;
		width: auto;
		-webkit-filter: drop-shadow(2px 2px 4px rgba(0,0,0,.4));
	}
	#menu{
		box-sizing: border-box;
		float: right;
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		line-height: $header-height - 20px;
		color: rgba(220,220,220,1);
		@include transition(.3s);

		#menuToggle{
			display: none;
		}

		li{
			cursor: pointer;
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline-block;
			position: relative;
			a{
				@include transition(.3s);
				display: block;
				width: 100%;
				border-left: 4px solid rgba(0,0,0,0);
				padding: 0 20px;
				text-decoration: none;
				color: rgba(255,255,255,.6);
				&:hover{
					color: rgba(255,255,255,1);
				}
			}
			&.app{
				a{
					color: rgba(255,255,255,.6);
					opacity: .4;
				}
			}
			&.divider{
				color: rgba(220,220,220,1);
			}
		}
	}/* desktop menu */

/* ⬇︎ mobile menu */
	@include hide-menu-width{
		height: 60px;
		padding: 15px 20px 15px 10px;
		.vertical-aligner{
			height: 30px;
		}
		img{
			height: 30px;
		}
		#menu{
			$menu-width: 220px;
			position: fixed;
			top: 0;
			width: $menu-width;
			right: -$menu-width;
			background: rgba(255,255,255,.96);
			height: 100%;
			padding-top: 50px;

			#menuToggle{
				cursor: pointer;
				position: absolute;
				z-index: 99;
				top: 0;
				left: -50px;
				width: 50px;
				line-height: 60px;
				text-align: center;
				margin: 0;
				padding: 0;
				color: rgba(220,220,220,1);
				font-size: 24px;
				display: inline-block;
				@include transition(.2s);
				.open{
					display: inline-block;
				}
				.close{
					display: none;
				}
			}
			li{
				line-height: 24px;
				display: block;
				color: rgba(70,70,70,1);
				margin: 20px 0;
				&.divider{
					display: none;
				}
				a{
					@include transition(.3s);
					display: block;
					width: 100%;
					border-left: 5px solid rgba(0,0,0,0);
					padding: 5px 20px;
					text-decoration: none;
					color: rgba(100,100,100,1);
					&:hover{
						color: rgba(80,80,80,1);
						border-left: 5px solid $spotify-green;
					}
				}
				&.app{
					a{
						color: rgba(0,0,0,.6);
						opacity: .4;
						&:hover{
							color: rgba(0,0,0,.6);
							border-left: 5px solid rgba(0,0,0,0);
						}
					}
				}
			}
			&.active{
				right: 0;
				width: auto;
				#menuToggle{
					left: 0;
					color: $spotify-green;
					.open{
						display: none;
					}
					.close{
						display: inline-block;
					}
				}
			}
		}/* mobile menu */

	}/* header for mobile */
}/* header */

#background {
	position: fixed;
	z-index: -1;
	top: 0;
	left: -100vw;
	width: 200vw;
	height: 100vh;
	-webkit-filter: blur(2px);
	filter: blur(2px);
	background-color: rgba(0,0,0,1);
	background-image: url(../img/background.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	-webkit-animation: background-animation 44s linear infinite alternate;
	animation: background-animation 44s linear infinite alternate;
	@keyframes background-animation{
		0%{
			left: -100vw;
		}
		100%{
			left: 0;
		}
	}
}/* background */

.banner{
	box-sizing: border-box;
	position: relative;
	padding: 0 20px;
	padding-top: $header-height + 60px;
	padding-bottom: 80px;
	display: table-cell;
	vertical-align: middle;
	width: 100vw;
	background: rgba(0,0,0,.8);
	.banner-inner{
		position: relative;
		padding-bottom: 20px;
		h1{
			margin: 0;
			font-weight:900;
			font-size: 50px;
			color: rgba(255,255,255,.9);
			@include mobile-width{
				font-size: 36px;
			}
		}
		h2{
			margin: 0;
			padding: 30px 0 14px 0;
			font-size: 24px;
			color: rgba(255,255,255,.7);
		}
		button{
			display: block;
			cursor: pointer;
			position: relative;
			@include border-radius(20px);
			border: 0px solid rgba(0,0,0,0);
			padding: 5px 20px;
			font-size: 20px;
			margin: 20px auto 0 auto;
			text-shadow: 1px 1px 3px rgba(0,0,0,.6);
			box-shadow: 1px 1px 4px rgba(0,0,0,.6);
			text-align: center;
			background: #8EFA00;
			background: -webkit-linear-gradient(left, darken($instagram-pink, 10%), $instagram-orange); /* For Safari 5.1 to 6.0 */
			@include transition(.1s);
			opacity: .8;
			a{
				color: rgba(255,255,255,1);
			}
			&:hover{
				opacity: 1;
			}
			&:active{
				opacity: .9;
				box-shadow: 0 0 2px rgba(10,10,10,.7);
			  transform: translateY(2px);
			}
		}/* button */
	}/* banner-inner */
	&.footer{
		background: rgba(25,25,25,1);
		height: auto;
		padding: 20vh 0 27vh 0;
		overflow: hidden;
		background: #4EC9E1;
		background: -webkit-linear-gradient(bottom, rgba(#4EC9E1,.8), rgba(#FD367E,.8)); /* For Safari 5.1 to 6.0 */
		h1{
			margin-top: 30px;
			padding-bottom: 20px;
			font-size: 28px;
			text-shadow: 2px 2px 20px rgba(0,0,0,.8);
		}
		button{
			@include border-radius(30px);
			padding: 7px 24px;
			font-size: 24px;
		}

	}/* footer */

}/* banner */

.container{
	overflow: hidden;
	position: relative;
	width: 100vw;

	&.home{
		text-align: left;
		background: rgba(255,255,255,.97);
		font-size: 0;
		padding: 40px 0;
		.max-width{
			max-width: 780px;
			margin: 0 auto;
		}
		h3{
			position: relative;
			z-index: 1;
			font-weight:900;
			font-size: 36px;
			padding: 30px 0 0 30px;
			color: lighten(#7c25f8, 10%);
			@include mobile-width{
				padding: 0 10px;
				font-size: 29px;
			}
		}
		img{
			left: -7%;
			position: relative;
			width: 114%;
			height: auto;
		}
	}
	&.feature-playlists{
		padding: 60px 0;
		background: -webkit-linear-gradient(left, #511E78 , #CF56A1); /* For Safari 5.1 to 6.0 */
		font-size: 0;

		.img-container{
			position: relative;
			display: inline-block;
			vertical-align: middle;
			box-sizing: border-box;
			width: 50%;
			padding-left: 10%;
			font-size: 0;
			@include transition(.3s);
			img{
				width: 50%;
				height: auto;
			}
			@include hide-menu-width{
				opacity: .7;
				padding-left: 0;
			}
		}
		h4{
			box-sizing: border-box;
			text-align: left;
			position: relative;
			font-size: 32px;
			font-weight:900;
			color: rgba(255,255,255,1);
			font-size: 26px;
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			padding-left: 2%;
			@include transition(.3s);
			@include hide-menu-width{
				padding-left: 0;
				text-shadow: 2px 2px 10px rgba(0,0,0,.4);
				left: - 10%;
			}
		}
	}
	&.genres{
		$height: 50vw;
		height: $height;
		padding: 60px 0;
		overflow: hidden;
		background-color: rgba(120,120,120,.9);

		.vertical-aligner{
			display: inline-block;
			vertical-align: middle;
			height: $height;
		}
		h4{
			margin: 0;
			text-shadow: 2px 2px 10px rgba(0,0,0,.6);
			box-sizing: border-box;
			position: relative;
			z-index: 1;
			width: 98%;
			display: inline-block;
			vertical-align: middle;
			font-size: 32px;
			font-weight:900;
			text-align: left;
			padding: 0 48vw 0 10vw;
			color: #FFFBF3;
			span{
				display: block;
				color: #FFD7E9;
				padding-left: 20px;
				&.genre{
					font-size: .8em;
				}
				&.instrument{
					font-size: .7em;
				}
				&.tag{
					font-size: .6em;
				}
			}
			@include mobile-width{
				position: relative;
				top: -20px;
				font-size: 24px;
			}
		}
		img{
			position: absolute;
			right: - 10%;
			top: 50%;
			margin-top: $height / -2;
			height: $height;
			width: auto;
			opacity: .8;
		}
	}/* genres */


	&.sideplayer{
		$height: 50vw;
		height: $height;
		padding: 60px 0;
		overflow: hidden;
		background-color: rgba(20,20,20,1);
		background: rgba(255,255,255,.97);
		.background{
			opacity: .4;
			position: absolute;
			top: -10%;
			left: -10%;
			height: 120%;
			width: 120%;
			background: url(../img/sidebar-background.png);
			background: rgba(255,255,255,.97);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			-webkit-filter: blur(10px);
			filter: blur(10px);
		}
		.vertical-aligner{
			display: inline-block;
			vertical-align: middle;
			height: $height;
		}
		h4{
			margin: 0;
			text-shadow: -4px 2px 30px rgba(255,255,255,.6);
			box-sizing: border-box;
			position: relative;
			z-index: 1;
			width: 98%;
			display: inline-block;
			vertical-align: middle;
			font-size: 32px;
			font-weight:900;
			text-align: left;
			padding: 0 5vw 0 48vw;
			color: #41D8BF;
			@include mobile-width{
				font-size: 24px;
			}
		}
		img{
			position: absolute;
			left: - 20%;
			top: 50%;
			margin-top: $height / -2;
			height: $height;
			width: auto;
			opacity: 1;
		}
	}/* sideplayer */

	&.chrome-extension{
		padding: 30px 0 0  0;
		background: rgba(255,255,255,1);
		overflow: hidden;
		h2{
			padding: 0 20px;
			color: #0DCEDA;
			text-shadow: 2px 2px 10px rgba(#225763,.2);
			font-size: 30px;
			@include mobile-width{
				font-size: 24px;
			}
		}
		button{
			display: block;
			cursor: pointer;
			position: relative;
			@include border-radius(20px);
			border: 0px solid rgba(0,0,0,0);
			padding: 5px 20px;
			font-size: 20px;
			margin: 20px auto 20px auto;
			text-shadow: 1px 1px 3px rgba(0,0,0,.6);
			box-shadow: 1px 1px 4px rgba(0,0,0,.6);
			text-align: center;
      background-color: #ef7d70;
      background: -webkit-linear-gradient(left, #ef7d70, #e8503e); /* For Safari 5.1 to 6.0 */
			@include transition(.1s);
			opacity: .9;
			a{
				line-height: 30px;
				color: rgba(255,255,255,1);
			}
			&:hover{
				opacity: 1;
			}
			&:active{
				opacity: .9;
				box-shadow: 0 0 2px rgba(10,10,10,.7);
			  transform: translateY(2px);
			}
		}/* button */
		p{
			a{
				padding: 10px 0;
				color: #666;
				opacity: .8;
				&:hover{
					opacity: 1;
					text-decoration: underline;
				}
			}
		}

		img{
			width: 90%;
			max-width: 800px;
		}

	}/* chrome extension */


}/* container */

#footer{
	box-sizing: border-box;
	position: relative;
	padding: 60px 40px;
	background: rgba(7,7,7,.97);
	color: rgba(160,160,160,1);
	width: 100vw;
	text-align: left;
	font-size: 0;
	@include hide-menu-width{
		padding: 60px 15px;
	}
	.footer-column{
		display: inline-block;
		vertical-align: top;
		width: 30%;
		&:nth-child(1){
			width: 180px;
		}
		@include hide-menu-width{
			width: 50%;

			&:nth-child(1){
				width: 100%;
			}
		}
	}
	img{
		position: relative;
		height: 36px;
		margin-bottom: 30px;
		@include hide-menu-width{
			height: 30px;
		}
	}
	ul{
		padding: 0 0 0 20px;
		margin: 0;
		li{
			color: rgba(220,220,220,1);
			margin: 10px 0;
			padding: 0 0 10px 0;
			font-size: 16px;
			list-style: none;
			em{
				opacity: .7;
			}
			span{
				opacity: .8;
				font-size: .7em;
			}
			strong{
				opacity: .8;
			}
			a{
				color: rgba(230,230,230,1);
				text-decoration: none;
			}
			i{
				padding-right: 5px;
			}
		}
	}/* ul */
}/* footer */


/* ⬇︎ mobile_detect */

.mobile_detect{
	box-sizing: border-box;
	display: table-cell;
	vertical-align: middle;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	text-align: center;
	background: rgba(35,35,35,1);
	padding: 0 10px 60px 10px;
	position: relative;
	font-size: 0;
	text-shadow: 0 0 10px rgba(0,0,0,.4);
	.back-to-home{
		position: fixed;
		top: 20px;
		left: 20px;
		i{
			opacity: .8;
			font-size: 16px;
			color: $spotify-green;
		}
	}

	img{
		display: block;
		position: absolute;
		height: 100%;
		width: auto;
		top: 0;
		left: 0;
		opacity: .3;
	}
	h1{
		display: block;
		position: relative;
		z-index: 1;
		font-weight: normal;
		color: rgba(210,210,210,1);
		font-size: 19px;
		margin: 0;
		span{
			font-weight: normal;
			font-size: 15px;
			color: rgba(170,170,170,1);
		}
	}
	p{
		display: block;
		margin: 40px 0 0 0;
		position: relative;
		z-index: 1;
		font-size: 14px;
		a{
			text-decoration: underline;
			color: #5DA0A2;
		}
	}
	.social-container{
		position: fixed;
		bottom: -100%;
		left: 0;
		width: 100%;
		opacity: 0;
		background: #4EC9E1;
		background: -webkit-linear-gradient(left, rgba(#4EC9E1,.8), rgba(#FD367E,.8)); /* For Safari 5.1 to 6.0 */

		-webkit-animation: social-fadein .8s ease-in 1.6s forwards;
		animation: social-fadein .8s ease-in 1.6s forwards;
		@keyframes social-fadein{
			0%{
				opacity: 0;
				bottom: -120px;
			}
			100%{
				opacity: 1;
				bottom: 0;
			}
		}

		ul{
			padding: 0 0 20px 0;
			margin: 0;
			li{
				text-shadow: 2px 2px 6px rgba(0,0,0,.3);
				display: inline-block;
				color: rgba(220,220,220,1);
				margin: 10px 0;
				padding: 0;
				font-size: 16px;
				list-style: none;
				&:nth-child(1){
					display: block;
				}
				&.instagram{
					margin-left: 20px;
				}
				strong{
					opacity: .9;
				}
				a{
					color: rgba(230,230,230,1);
					text-decoration: none;
				}
				i{
					padding-right: 5px;
				}
			}
		}/* ul */
	}/* social-container */
}/* mobile_detect */


