@import './_vars.scss';

html,
body{
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	width: 100vw;
	overflow-x: hidden;
}
h1{
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
}
h3{
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	color: rgba(230,230,230,1);
}
p{
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	color: rgba(160,160,160,1);
}
a{
	text-decoration: none;
}
.no-link-style{
    text-decoration: none !important;
}

#container{
	width: 100%;
	height: 100%;
	background: rgba(65,65,65,1);
	background: -webkit-linear-gradient(top, rgba(120,120,120,.9) , rgba(30,30,30,1)); /* For Safari 5.1 to 6.0 */
	padding: 60px 0;
	font-size: 0;
	text-align: center;

	&.on404{
		padding-bottom: 0;
	}
	@at-root .msg404{
		text-align: center;
		margin: 0;
		padding: 60px 0;
		font-size: 18px;
		color: $google-red;
		background: rgba(0,0,0,.1);
	}

	h3{
		text-shadow: 2px 2px 5px rgba(90,90,90,.6);
		margin: 120px 0 0 0;
		font-size: 30px;
	}
}
#background{
	position: fixed;
	z-index: -1;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	background-image: url(../img/footer-background.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.header{
	text-align: center;
	padding: 0 0 60px 0;
	a{
		display: inline-block;
		padding: 10px;
		img{
			-webkit-filter: drop-shadow(2px 2px 10px rgba(0,0,0,.4));
			width: 140px;
		}
	}
}
#left-panel{
	$thumbnail-width: 260px;

	display: inline-block;
	box-sizing: border-box;
	padding: 0 20px;
	width: 35%;
	text-align: center;
	@include panel-collapse-width{
		width: 90%;
		padding: 0;
		display: inline-block;
		margin: 0 auto;
	}
	a{
		text-decoration: none;
		.playlist-thumbnail{
			position: relative;
			display: inline-block;
			width: $thumbnail-width;
			height: $thumbnail-width;
			background-color: rgba(120,240,160,1);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		h3{
			padding: 0;
			margin: 20px 0 10px 0;
			font-size: 26px;
	    @include line-clamp(2);
	    @include mobile-width{
	    	font-size: 20px;
	    }
		}
		p{
			font-size: 14px;
			em{
				color: $spotify-green;
			}
		}


		&:hover{
			.action{
	      opacity: 1;
	      background: rgba(0,0,0,.6);
			}
		}
	}/* a */

	a.play-on-muusick{
		display: block;
		cursor: pointer;
		position: relative;
		color: #fff;
		@include border-radius(20px);
		background: $spotify-green;
		box-sizing: border-box;
		width: $thumbnail-width;
		padding: 10px 20px;
		font-size: 20px;
		margin: 20px auto 0 auto;
		color: rgba(255,255,255,1);
		text-align: center;
		opacity: .8;
		@include transition(.2s);
		&:hover{
			opacity: 1;
		}
		i{
			padding: 0 5px 0 0;
		}
	}
}/* left-panel */
#right-panel{
	display: inline-block;
	vertical-align: top;
	width: $player-width;

	#play-wrapper{
		box-sizing: border-box;
		.control{
			box-sizing: border-box;
			width: 100%;
			background: rgba(0,0,0,1);
			padding: 10px;
			text-align: right;
			i{
				cursor: pointer;
				font-size: 20px;
				padding: 0 10px;
				margin: 0;
				opacity: .7;
				margin-left: 20px;
				&:hover{
					opacity: 1;
				}
			}
		}
	}
	@include panel-collapse-width{
		width: $player-width;
		display: block;
		padding: 20px 0 0 0;
		margin: 20px auto 0 auto;
		border-top: 1px solid rgba(110,110,110,.4);
	}
	@include player-width{
		width: 100%;

		#play-wrapper{
			.control{
				background: none;
			}
		}
	}
	.play-btn-container{
		padding: 0 0 20px 10px;
		text-align: left;
		button{
			display: inline-block;
			cursor: pointer;
			position: relative;
			@include border-radius(20px);
			border: 0px solid rgba(0,0,0,0);
			font-size: 18px;
			color: rgba(220,220,220,1);
			text-shadow: 1px 1px 2px rgba(0,0,0,1);
			text-align: center;
			@include transition(.2s);
			background: rgba(255,255,255,.1);
			opacity: .6;
			&:hover{
				opacity: 1;
			}
			a{
				text-decoration: none;
				color: #fff;
				padding: 5px 20px;
			}
			i{
				padding: 0 5px 0 0;
			}
			& + button{
				margin-left: 10px;
			}
		}
	}/* play-btn-container */

	.video{
		cursor: pointer;
		position: relative;
		padding: 10px 0;
		height: 68px;
    -webkit-transition: background .8s; /* Safari */
    transition: background .8s;
		&:hover{
			background: rgba(0,0,0,.4);
			i{
				opacity: 1;
			}
		}
		i{
			opacity: 0;
			position: absolute;
			z-index: 1;
			top: 10px;
			left: 10px;
			display: inline-block;
			vertical-align: middle;
			width: 120px;
			line-height: 68px;
			background: rgba(0,0,0,.6);
			font-size: 30px;
			text-shadow: 2px 2px 3px rgba(0,0,0,1);
		}
		.video-thumbnail{
			position: absolute;
			top: 10px;
			left: 10px;
			display: inline-block;
			vertical-align: middle;
			width: 120px;
			height: 68px;
	  	background-image: url(../img/footer-background.jpeg);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
		p{
			text-align: left;
			box-sizing: border-box;
			padding: 0 10px 0 140px;
			margin: 0;
			width: 100%;
			display: inline-block;
			vertical-align: top;
			font-size: 15px;
			@include line-clamp(3);
		}
		&.active{
			$bar-width: 6px;
			$bar-height: 24px;
			$custom-sound-bar-width: $bar-width * 6;

			background-color: rgba(0,0,0,.2);
			p{
				padding-right: $custom-sound-bar-width + 20px;
			}
			#custom-sound-bar{
				position: absolute;
				top: 10px;
				right: 10px;
				width: $custom-sound-bar-width;
				height: 68px;
				#bars {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					margin: auto;
					height: $bar-height;
					width: $custom-sound-bar-width;
					.bar {
						position: absolute;
						bottom: 0;
						width: $bar-width;
						background: $spotify-green;
						animation: sound 0ms -800ms linear infinite alternate;
						-webkit-animation: sound 0ms -800ms linear infinite alternate;
					    backface-visibility: hidden;
					    will-change: opacity, height;

						@keyframes sound{
						  0% {
						    opacity: .15;
						    height: 1px;
						  }
						  100% {
						    opacity: .8;
						    height: $bar-height;
						  }
						}
						&:nth-child(1) {
							left: 0;
							animation-duration: 474ms;
						}
						&:nth-child(2) {
							left: $bar-width;
							animation-duration: 402ms;
						}
						&:nth-child(3) {
							left: $bar-width * 2;
							animation-duration: 422ms;
						}
						&:nth-child(4) {
							left: $bar-width * 3;
							animation-duration: 458ms;
						}
						&:nth-child(5) {
							left: $bar-width * 4;
							animation-duration: 436ms;
						}
						&:nth-child(6) {
							left: $bar-width * 5;
							animation-duration: 474ms;
						}
					}
				}
			}/* custom-sound-bar */
		}/* active video */
	}/* video */
}

.banner{
	box-sizing: border-box;
	position: relative;
	padding: 0 20px;
	padding-top: $header-height + 60px;
	padding-bottom: 80px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 100vw;
	background: rgba(0,0,0,.8);
	.banner-inner{
		position: relative;
		padding-bottom: 20px;
		h1{
			margin: 0;
			font-weight:900;
			font-size: 50px;
			color: rgba(255,255,255,.9);
			@include mobile-width{
				font-size: 36px;
			}
		}
		h2{
			margin: 0;
			padding: 30px 0 14px 0;
			font-size: 24px;
			color: rgba(255,255,255,.7);
		}
		button{
			display: block;
			cursor: pointer;
			position: relative;
			@include border-radius(20px);
			border: 0px solid rgba(0,0,0,0);
			padding: 5px 20px;
			font-size: 20px;
			margin: 20px auto 0 auto;
			text-shadow: 1px 1px 3px rgba(0,0,0,.6);
			box-shadow: 1px 1px 4px rgba(0,0,0,.6);
			text-align: center;
			background: #8EFA00;
			background: -webkit-linear-gradient(left, darken($instagram-pink, 10%), $instagram-orange); /* For Safari 5.1 to 6.0 */
			@include transition(.1s);
			opacity: .8;
			a{
				color: rgba(255,255,255,1);
			}
			&:hover{
				opacity: 1;
			}
			&:active{
				opacity: .9;
				box-shadow: 0 0 2px rgba(10,10,10,.7);
			  transform: translateY(2px);
			}
		}/* button */
	}/* banner-inner */
	&.footer{
		background: rgba(25,25,25,1);
		height: auto;
		padding: 20vh 0 27vh 0;
		overflow: hidden;
		background: #4EC9E1;
		background: -webkit-linear-gradient(bottom, rgba(#4EC9E1,.8), rgba(#FD367E,.8)); /* For Safari 5.1 to 6.0 */
		h1{
			margin-top: 30px;
			padding-bottom: 20px;
			font-size: 28px;
			text-shadow: 2px 2px 20px rgba(0,0,0,.8);
		}
		button{
			@include border-radius(30px);
			padding: 7px 24px;
			font-size: 24px;
		}

	}/* footer */

}/* banner */

#footer-banner{
	padding: 40px 0 0 0;
	background: rgba(30,30,30,1);
	h1{
		font-size: 24px;
		text-align: center;
		a{
			text-decoration: none;
			color: $spotify-green;
			font-size: 1.4em;
		}
	}
	.background{
  	background-image: url(../img/7841629378619287361.png);
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		display: block;
		margin: 0 auto;
		width: 100%;
		max-width: 780px;
		div{
			width: 100%;
			height: 100%;
			background: rgba(30,30,30,.7);
			padding: 160px 0;
			@include panel-collapse-width{
				padding: 120px 0;
			}
			a{
				text-decoration: none;
			}
			button{
				display: block;
				margin: 0 auto;
				cursor: pointer;
				position: relative;
				@include border-radius(20px);
				border: 0px solid rgba(0,0,0,0);
				padding: 5px 40px;
				font-size: 20px;
				margin: 20px auto 0 auto;
				text-shadow: 2px 2px 3px rgba(0,0,0,.4);
				box-shadow: 1px 1px 2px rgba(0,0,0,1);
				color: rgba(255,255,255,1);
				background: #8EFA00;
				background: -webkit-linear-gradient(left, $instagram-pink , $instagram-orange); /* For Safari 5.1 to 6.0 */
				text-align: center;
				opacity: 1;
			    -webkit-transition: box-shadow .4s; /* Safari */
			    transition: box-shadow .4s;
			    &:hover{
			    	box-shadow: 2px 2px 3px rgba(0,0,0,1);
			    }
			}
		}

	}
}/* footer-banner */
#more-playlist-container{
	background: rgba(30,30,30,1);
	font-size: 0;
	padding: 120px 0 40px 0;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	height: auto;
	@include mobile-width{
		padding-top: 90px;
	}
	h3{
		width: 90%;
		padding: 0 0 20px 0;
		margin: 0 auto;
		text-align: center;
		font-size: 30px;
		i{
			color: $instagram-orange;
		}
		@include small-window{
			font-size: 24px;
		}
		@include mobile-width{
			font-size: 20px;
		}
	}

	@include mobile-width{
		white-space: normal;
	}

	.playlist{
	  position: relative;
	  background: rgba(255,255,255,1);
	  box-shadow: 0 0 6px rgba(0,0,0,.2);
	  text-align: center;
	  line-height: auto;
	  display: inline-block;
	  vertical-align: top;
	  overflow: hidden;
	  opacity: 1;
	  margin: 1.6% 0 0 1.6%;

	  @include small-window{
	    width: calc(93.6% / 3);
	  }
	  @include medium-window{
	    width: calc(92% / 4);
	  }
	  @include large-window{
	    width: calc(90.4% / 5);
	  }
	  @include extra-large-window{
	    width: calc(88.8% / 6);
	  }
		@include mobile-width{
	    width: calc(95.2% / 2);
		}
	  .thumbnail-container{
	    position: relative;
	    width: 100%;
	    height: auto;

	    &:before{
	      content: "";
	      display: block;
	      padding-top: 94%;
	    }
	    .thumbnail{
	      position: absolute;
	      top: 0;
	      left: 0;
	      width: 100%;
	      height: 100%;
	      background-color: rgba(0,80,0,1);
	      background-image: url(../../assets/noimage.png);
	      background-repeat: no-repeat;
	      background-position: center;
	      background-size: cover;
	    }

	    .action{
	      text-align: center;
	      position: absolute;
	      top: 0;
	      left: 0;
	      width: 100%;
	      height: 100%;
	      background: rgba(0,0,0,.4);
	      font-size: 40px;
	      opacity: 0;
	      @include transition(.3s);

	      &:hover{
	        opacity: 1;
	        background: rgba(0,0,0,.6);
	      }
	      .inner{
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100%;
	        height: 100%;
	        cursor: pointer;
	      }
	      p{
	        display: inline-block;
	        position: relative;
	        top: 50%;
	        transform: translateY(-50%);
	        -webkit-transform: translateY(-50%);
	        text-align: center;
	        margin: 0;
	        padding: 0;

	        i.play{
	            cursor: pointer;
	          @include border-radius(50%);
	          border: 2px solid rgba(255,255,255,.4);
	          padding: 18px 18.395px 18px 22.395px;
	          margin: 0;
	          color: rgba(255,255,255,1);
	          text-shadow: 1px 1px 2px rgba(0,0,0,1);
	          font-size: 25px;
	          background: rgba(0,0,0,.6);
	          cursor: pointer;
	          &:hover{
	            border: 2px solid rgba(255,255,255,1);
	            font-size: 27px;
	          }
	          @include small-window{
	            font-size: 24px;
	            &:hover{
	              font-size: 26px;
	            }
	          }
	          @include medium-window{
	            font-size: 20px;
	            &:hover{
	              font-size: 22px;
	            }
	          }
	        }
	      }/* p (play button) */
	    }/* action */
	  }/* thumbnail-container */
	  .playlist-desc-container{
	    position: relative;
	    text-align: left;
	    box-sizing: border-box;
	    margin: 0;
	    padding: 0;
	    white-space: normal;
	    font-weight: normal;
	    cursor: pointer;
	    width: 100%;
	    height: 140px;
	    .playlist-desc-background{
	      position: absolute;
	      top: 0;
	      left: 0;
	      width: 100%;
	      height: 100%;
	      opacity: .2;
	      -webkit-filter: blur(10px);
	      filter: blur(10px);
	      background-repeat: no-repeat !important;
	      background-size: cover !important;
	      background-position: center !important;
	    }
	    .playlist-desc-inner{
	      top: 0;
	      padding: 10px;
	      position: absolute;

	      .title{
			    font-size: 18px;
	        margin: 0;
	        padding: 0;
	        overflow: hidden;
	        display: -webkit-box;
	        -webkit-box-orient: vertical;
	        -webkit-line-clamp: 2;
	        color: rgba(90,90,90,.9);
	        opacity: .9;
	        @include transition(.3s);

	        &:hover{
	          opacity: 1;
	          text-decoration: underline;
	        }
	        @include small-window{
	          -webkit-line-clamp: 1;
	        }
	      }
	      .description{
	        margin: 10px 0;
	        padding: 0;
	        overflow: hidden;
	        display: -webkit-box;
	        -webkit-box-orient: vertical;
	        -webkit-line-clamp: 3;
	        opacity: .8;
	        color: rgba(120,120,120,.9);
	        font-size: 14px;
	      }
	    }/* playlist-desc-inner */
	  }/* playlist-desc-container */
	}/* playlist */

}/* more playlist container*/


#footer{
	box-sizing: border-box;
	position: relative;
	padding: 60px 40px;
	background: rgba(7,7,7,.97);
	color: rgba(160,160,160,1);
	width: 100vw;
	text-align: left;
	font-size: 0;
	@include hide-menu-width{
		padding: 60px 15px;
	}
	.footer-column{
		display: inline-block;
		vertical-align: top;
		width: 30%;
		&:nth-child(1){
			width: 180px;
		}
		@include hide-menu-width{
			width: 50%;

			&:nth-child(1){
				width: 100%;
			}
		}
	}
	img{
		position: relative;
		height: 36px;
		margin-bottom: 30px;
		@include hide-menu-width{
			height: 30px;
		}
	}
	ul{
		padding: 0 0 0 20px;
		margin: 0;
		li{
			color: rgba(220,220,220,1);
			margin: 10px 0;
			padding: 0 0 10px 0;
			font-size: 16px;
			list-style: none;
			em{
				opacity: .7;
			}
			span{
				opacity: .8;
				font-size: .7em;
			}
			strong{
				opacity: .8;
			}
			a{
				color: rgba(230,230,230,1);
				text-decoration: none;
			}
			i{
				padding-right: 5px;
			}
		}
	}/* ul */
}/* footer */
