<html>
<head>

<style>

html, body, iframe, h2 {
  margin: 0;
  border: 0;
  padding: 0;
  display: block;
  width: 100vw;
  height: 100vh;
  color: rgba(80,80,80,1);
}
iframe {
  height: calc(100vh - 50px);
}

</style>

  <link rel="stylesheet" href="stylesheets/frame.css">
  <link rel="stylesheet" href="bower_components/nprogress/nprogress.css">
  <link rel="stylesheet" href="bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"><!-- font awesome -->

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
  <script type="text/javascript" src="js/vue.min.js"></script>
  <script type="text/javascript" src="js/lodash.js"></script>
  <script type="text/javascript" src="bower_components/nprogress/nprogress.js"></script>

</head>

<body>

  <div id="muuz-add-popup" @click="frameClick"><!-- don't change the id -->
    <div id="awesome-container">
      <div id="inner">

        <div id="header">
          <img src="./img/logo_muusick_spotify-color.png">
          <div class="close" @click="closePopup">
            <i class="fa fa-times" aria-hidden="true"></i>
          </div>
        </div>
          <template v-if="!showLogin">

              <div class="scroll panel left">

                <div v-if="!isStaff">

                  <div class="current-video-container not-staff">
                    <h3>NOW PLAYING</h3>
                    <div class="thumbnail-container">
                      <div v-if="currentVideoId" class="thumbnail"
                        :style="{'background-image': 'url(https://img.youtube.com/vi/' + currentVideoId + '/mqdefault.jpg)'}"></div>
                    </div>
                    <p>{{ currentVideoTitle }}</p>
                  </div>
                </div>
                <div v-if="isStaff">
                  <div class="current-video-container">
                    <h3>NOW PLAYING</h3>
                    <div class="thumbnail-container">
                      <div v-if="currentVideoId" class="thumbnail"
                        :style="{'background-image': 'url(https://img.youtube.com/vi/' + currentVideoId + '/mqdefault.jpg)'}"></div>
                    </div>
                    <div class="video-info-input">

                      <p>{{ currentVideoTitle }}</p>
                      <div class="input-container">
                        <span>Artists:</span>
                        <span class="tag" v-for="artist in videoInfo.artists">
                          {{ artist.name }}
                          <i class="fa fa-close" aria-hidden="true" @click="deleteArtistTag(artist.name)"></i>
                        </span>

                        <div class="input-wrapper">
                          <input type="text"
                            style='width:100%'
                            placeholder="ex. Taylor Swift"
                            v-model="artistInput" @focus="onArtistFocus=true"
                            @blur="outArtistFocus"
                            @keyup.enter="enterArtistTag" class="artist">
                        </div>
                        <div class="suggestions" v-show="onArtistFocus && artistSuggestions.length">
                          <div class="suggest-item-container">
                            <div
                              class="suggest-item"
                              v-for="item in artistSuggestions"
                              @click="selectArtistSuggestion(item)">
                              {{ item }}
                            </div>
                          </div>
                        </div><!-- suggestions -->
                      </div><!-- artist input container -->

                      <div class="input-container">
                        <span>Tags:</span>
                        <span class="tag" v-for="tag in videoInfo.tags">
                          {{ tag.name }}
                          <i class="fa fa-close" aria-hidden="true" @click="deleteTag(tag.name)"></i>
                        </span>
                        <div class="input-wrapper">
                          <input
                            type="text"
                            placeholder="ex. Acoustic Guitar"
                            v-model="tagInput" @focus="onTagFocus=true"
                            @blur="outTagFocus"
                            @keyup.enter="enterTag" class="add-tags">
                        </div>
                        <div class="suggestions" v-show="onTagFocus && tagSuggestions.length">
                          <div class="suggest-item-container">
                            <div
                              class="suggest-item"
                              v-for="item in tagSuggestions"
                              @click="selectTagSuggestion(item)">
                              {{ item }}
                            </div>
                          </div>
                        </div><!-- suggestions -->
                      </div><!-- tags input container -->

                    </div><!-- video-info-input -->
                  </div><!-- current-video-container -->

                  <div v-if="video.yt_id === undefined" class="no-video">
                    <p>No Video found!</p>
                  </div>

                  <h1>GENRES & MOODS</h1>
                  <div class="full-width-responsive-inner">
                    <div @click="toggleGenre(genre.id)"
                      class="genre"
                      v-for="genre in genres"
                      :class="{'active': genre.is_added}">
                      <div class="thumbnail"
                        style="background-image: url({{ genre.image }});">
                      </div>
                      <div class="title">
                        <p>{{ genre.name }}</p>
                      </div>

                      <div class="action">
                        <i class="fa fa-plus-square add" aria-hidden="true"></i>
                        <i class="fa fa-check-square added" aria-hidden="true"></i>
                      </div>

                    </div><!-- genre -->
                  </div><!-- full-width-responsive-inner -->

                  <h1>INSTRUMENTS</h1>
                  <div class="full-width-responsive-inner">
                    <div @click="toggleTag('instruments', tag.id)"
                      class="genre"
                      v-for="tag in instruments"
                      :class="{'active': tag.is_added}">
                      <div class="thumbnail"
                        style="background-image: url({{ tag.image }});">
                      </div>
                      <div class="title">
                        <p>{{ tag.name }}</p>
                      </div>

                      <div class="action">
                        <i class="fa fa-plus-square add" aria-hidden="true"></i>
                        <i class="fa fa-check-square added" aria-hidden="true"></i>
                      </div>

                    </div><!-- instruments -->
                  </div><!-- full-width-responsive-inner -->

                  <h1>
                    <i class="fa fa-fire" aria-hidden="true"></i>
                    HOT TAGS
                  </h1>
                  <div class="full-width-responsive-inner">
                    <div @click="toggleTag('hotTags',tag.id)"
                      class="genre"
                      v-for="tag in hotTags"
                      :class="{'active': tag.is_added}">
                      <div class="thumbnail"
                        style="background-image: url({{ tag.image }});">
                      </div>
                      <div class="title">
                        <p>{{ tag.name }}</p>
                      </div>

                      <div class="action">
                        <i class="fa fa-plus-square add" aria-hidden="true"></i>
                        <i class="fa fa-check-square added" aria-hidden="true"></i>
                      </div>

                    </div><!-- instruments -->
                  </div><!-- full-width-responsive-inner -->
                </div>

              </div><!-- left-panel -->
    <!-- ⬆︎ left panel -->

    <!-- ⬇︎ right panel -->
              <div class="scroll panel right">

                <div class="playlist-container">
                  <h1>Your Playlists</h1>
                  <div @click="addToPlaylist(playlist.id)"
                      v-for="playlist in playlists"
                      :class="{'playlist': true, 'active': playlist.is_added}">
                    <div class="thumbnail"
                      :style="{'background-image': 'url(' + playlist.image + ')'}">
                    </div>

                    <div class="title">
                      <p>{{ playlist.name }}</p>
                    </div>

                    <div class="playlist-background"
                      :style="{'background-image': 'url(' + playlist.image + ')'}"
                      ></div>

                    <div class="action">
                      <i class="fa fa-plus-square add" aria-hidden="true"></i>
                      <i class="fa fa-check-square added" aria-hidden="true"></i>
                    </div>

                  </div><!-- playlist -->
                </div>

                <new-playlist v-show="false"></new-playlist>

                <div class="new-playlist-btn-container">
                  <button class="new-playlist-button" @click="showNewPlaylist=true">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                    Create New Playlist
                  </button>
                </div>

                <div v-show="showNewPlaylist" id="new-playlist-container">
                  <div class="playlist-desc">
                    <input type="text" v-model="newlist.name" placeholder="Playlist Name"/>
                    <textarea v-model="newlist.description" placeholder="Playlist Description"></textarea>
                  </div><!-- playlist-desc -->
                  <p class="error-msg">
                    {{ newlist.msg }}
                  </p>
                  <div class="action">
                    <button class="create" @click="createList">
                      CREATE
                    </button>
                    <button class="cancel" @click="showNewPlaylist=false">
                      CANCEL
                    </button>
                  </div>
                </div><!-- new-playlist-container -->

              </div><!-- panel right -->
<!-- ⬆︎ right panel -->

        </template>

        <template v-if="showLogin">
          <div id="not-login">
            <h1>
              Please login to <a target="_blank" href="https://muusick.tv/accounts/login/">muusick.tv</a> to use the extension.
            </h1>
          </div>
        </template>

      </div><!-- inner -->
    </div><!-- awesome-container -->
  </div><!-- popup -->

<script type="text/javascript" src="js/frame.js"></script>
</body>
</html>

