<html>
<head>
  <title>Muusick bookmark</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/noselect.css">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"><!-- font awesome -->

  <script type="text/javascript" src="js/vue.min.js"></script>
  <script type="text/javascript" src="js/jquery.min.js"></script>
</head>

<body>
  <div id="app">
    <div id="inner">

<!-- ⬇︎︎ noselect -->
      <div id="noselect" class="wrapper">
        <div class="noselect-header">
          <img src="./img/logo_muusick_spotify-color.png">
          <p v-show="username">Hi, <span>{{username}}</span></p>
        </div><!-- noselect-header -->

        <div class="inner">

          <template v-if="recent_playlists.length > 0">
            <h2>
              <i class="fa fa-history" aria-hidden="true"></i>
              Recently Played Playlists
            </h2>

            <div class="playlist" v-for="playlist in recent_playlists" >
              <a target="_blank" href="{{ username ? (hostUrl + '/#!/playlist/' + playlist.slug) : playlist.share_url }}" >
                <div class="thumbnail-container">
                  <div class="thumbnail"
                    :style="{'background-image': 'url(' + (playlist.image ? playlist.image : default_image ) + ')'}">
                      <i class="fa fa-play play-btn" aria-hidden="true"></i>
                    </div>
                </div><!-- thumbnail-container -->

                <div class="playlist-background"
                  :style="{'background-image': 'url(' + playlist.image + ')'}"
                  ></div>

                <div class="playlist-desc">
                  <p class="title">
                     {{ playlist.name }}
                  </p>
                  <p class="description">
                    {{ playlist.description }}
                  </p><!-- description -->
                </div><!-- playlist-desc-container -->
              </a>
            </div><!-- playlist -->
          </template>

          <template v-if="trending_playlists.length > 0">
            <h2>
              <i class="fa fa-fire" aria-hidden="true"></i>
              Popular Playlists
            </h2>

            <div class="playlist" v-for="playlist in trending_playlists">
              <a target="_blank" href="{{ username ? (hostUrl + '/#!/playlist/' + playlist.slug) : playlist.share_url }}" >
                <div class="thumbnail-container">
                  <div class="thumbnail"
                    :style="{'background-image': 'url(' + (playlist.image ? playlist.image : default_image ) + ')'}">
                    <i class="fa fa-play play-btn" aria-hidden="true"></i>
                  </div>
                </div><!-- thumbnail-container -->

                <div class="playlist-background"
                  :style="{'background-image': 'url(' + playlist.image + ')'}"
                  ></div>

                <div class="playlist-desc">
                  <p class="title">
                     {{ playlist.name }}
                  </p>
                  <p class="description">
                    {{ playlist.description }}
                  </p><!-- description -->
                </div><!-- playlist-desc-container -->
              </a>
            </div><!-- playlist -->

          </template>

          <template v-if="my_playlists.length > 0">
            <h2>
              Your Playlists
            </h2>
            <div class="playlist" v-for="playlist in my_playlists">
              <a target="_blank" href="{{ username ? (hostUrl + '/#!/playlist/' + playlist.slug) : playlist.share_url }}" >
                <div class="thumbnail-container">
                  <div class="thumbnail"
                    :style="{'background-image': 'url(' + (playlist.image ? playlist.image : default_image ) + ')'}">
                    <i class="fa fa-play play-btn" aria-hidden="true"></i>
                  </div>
                </div><!-- thumbnail-container -->

                <div class="playlist-background"
                  :style="{'background-image': 'url(' + playlist.image + ')'}"
                  ></div>

                <div class="playlist-desc">
                  <p class="title">
                     {{ playlist.name }}
                  </p>
                  <p class="description">
                    {{ playlist.description }}
                  </p><!-- description -->
                </div><!-- playlist-desc-container -->
              </a>
            </div><!-- playlist -->
          </template>
        </div><!-- inner -->
      </div><!-- noselect -->
<!-- ⬆︎ noselect -->

    </div><!-- inner -->
  </div><!-- app -->



    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>