<template>

  <div id="main-inner">

    <h2>
      <i class="fa fa-heart favorite" aria-hidden="true"></i>
      Following Playlists
    </h2>

    <div class="full-width-responsive-inner">
      <playlist-item :playlist="playlist"  v-for="playlist in playlists" class="playlist-item"></playlist-item>
    </div><!-- padding-side -->

  </div><!--main-inner -->

</template>

<script>
import http from '../../services/http'
import PlaylistItem from '../shared/playlist-item'

export default {
  components: {PlaylistItem},
  data () {
    return {
      playlists: [],
      openTab: 'playlist'
    }
  },
  events: {
    'init': function () {
    }
  },
  ready () {
    this.$root.$broadcast('player:minimize')
    this.fetchData()
  },
  methods: {
    fetchData: function () {
      var self = this
      http.get('/api/get_following_playlists', {}, function (res) {
        self.playlists = res.playlists
      })
    }
  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';

</style>
