@import './_vars.scss';

$popup-width: 700px;
$popup-height: 500px;
$popup-background-color: rgba(245,245,245,1);

$header-height: 40px;
$footer-height: 40px;

*:focus {
  outline: none;
}



#muuz-add-popup{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,.6);

  #awesome-container{
    z-index: 99999;
    position: fixed;
    width: $popup-width;
    height: $popup-height;
    top: 49%; /* to position popup slightly above middle */
    left: 50%;
    margin-top: -($popup-height/2);
    margin-left: -($popup-width/2);
    background: $popup-background-color;
    box-shadow: 0 0 40px rgba(0,0,0,.4);
    @include border-radius(10px);
    overflow: hidden;
    font-size: 0;
    .inner{
      position: relative;
      font-size: 0;
    }

    #header{
      position: relative;
      z-index: 99;
      box-shadow: 0 0 3px rgba(0,0,0,.4);
      width: 100%;
      height: 40px;
      background: rgba(18,18,18,1);
      background: -webkit-linear-gradient(left, rgba(18,18,18,1), rgba(220,220,220,1)); /* For Safari 5.1 to 6.0 */
      img{
        position: absolute;
        top: 10px;
        left: 20px;
        height: 20px;
        width: auto;
      }

      .close{
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 16px;
        font-size: 20px;
        color: rgba(70,70,70,1);
        opacity: .7;
        &:hover{
          opacity: 1;
        }
      }
    }/* header */


    .panel{
      position: relative;
      box-sizing: border-box;
      width: $popup-width / 2;
      height: $popup-height - 40px;

      &.left{
        padding: 20px;
        display: table-cell;
        vertical-align: middle;
        overflow: hidden;
        background-color: darken($popup-background-color, 10%);
        text-align: center;

        .current-video-info{
          position: relative;
          top: -24px;
          display: inline-block;
          width: 80%;
          h3{
            font-weight: normal;
            box-sizing: border-box;
            text-align: left;
            line-height: 24px;
            margin: 0;
            font-size: 16px;
            color: rgba(150,150,150,1);
          }
          img{
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
          }
          p{
            text-align: center;
            font-size: 15px;
            color: rgba(90,90,90,1);
          }
        }
      }/* panel left */
      &.right{
        position: absolute;
        top: 0;
        left: $popup-width / 2;
        overflow: hidden;

        h3{
          font-size: 20px;
          color: rgba(120,120,120,1);
        }
        .playlist-container{
          $thumbnail-width: 50px;
          box-sizing: border-box;
          height: 100%;
          background-color: $popup-background-color;
          overflow: auto;
          padding: 0 10px 40px 10px;

          .playlist{
            $thumbnailWidth: 50px;

            cursor: pointer;
            position: relative;
            vertical-align: middle;
            box-sizing: border-box;
            width: 100%;
            @include border-radius(5px);
            background-color: rgba(240,240,240,1);
            height: $thumbnailWidth;
            margin: 0 0 10px 0;
            padding-left: $thumbnailWidth + 5;
            padding-right: 40px;
            @include transition(.2s);
            box-shadow: 2px 2px 4px rgba(0,0,0,.4);

            .title{
              position: relative;
              z-index: 1;
              display: table-cell;
              vertical-align: middle;
              height: $thumbnailWidth;
              color: rgba(80,80,80,1);
              font-size: 13px;
              p{
                padding: 0;
                margin: 0;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
              }
            }

            .thumbnail{
              @include border-radius(5px 0 0 5px);
              overflow: hidden;
              position: absolute;
              z-index: 1;
              left: 0;
              top: 0;
              width: $thumbnailWidth;
              height: $thumbnailWidth;
              background-color: rgba(0,140,120,1);
              background-size: cover !important;
              background-repeat: no-repeat !important;
              background-position: center !important;
              @include transition(.2s);

            }/* thumbnail */
            .playlist-background{
              @include border-radius(5px 0 0 5px);
              overflow: hidden;
              position: absolute;
              left: 0;
              top: 0;
              opacity: .1;
              width: 100%;
              height: 100%;
              background-repeat: no-repeat !important;
              background-position: center !important;
              background-size: 110% auto !important;
              -webkit-filter: blur(2px);
              filter: blur(2px);
              @include transition(.2s);
            }
            .action{
              cursor: pointer;
              position: absolute;
              z-index: 1;
              top: 0;
              right: 0;
              color: rgba(160,160,160,1);
              @include transition(.2s);
              i{
                line-height: $thumbnailWidth;
                padding: 0 10px;
                font-size: 25px;
                @include transition(.2s);
                &.add{
                  color: rgba(160,160,160,1);
                  display: inline-block;
                  &:hover{
                    color: $spotify-green;
                  }
                }
                &.added{
                  display: none;
                  color: $spotify-green;
                }
              }/* i */
            }/* action */
            &:hover{
              background-color: rgba(255,255,255,1);
              .thumbnail{
                opacity: .6;
              }
              .title{
                opacity: .7;
              }
              .playlist-background{
                background-size: 120% auto !important;
                -webkit-filter: blur(4px);
                filter: blur(4px);
              }
              .action{
                i{
                  color: rgba(80,80,80,1);
                }
              }
            }
            &.active{
              background-color: rgba(180,180,180,1);
              box-shadow: 0 0 0 rgba(0,0,0,0);
              .thumbnail{
                opacity: .6;
              }
              .title{
                opacity: .6;
              }
              .action{
                opacity: .9;
                i{
                  color: rgba(160,160,160,1);
                  &.add{
                    color: lighten($spotify-green, 15%);
                    display: none;
                  }
                  &.added{
                    color: #06882a; //darken(#62D2A2, 10%);;
                    display: inline-block;
                  }
                }/* i */
              }/* action */
              &:hover{
                i{
                  color: rgba(160,160,160,1);
                }/* i */
              }
            }/* active playlist */

          }/* playlist */

        }/* playlist-container */

        .new-playlist-btn-container{
          position: absolute;
          z-index: 99;
          bottom: 0;
          left: 0;
          box-sizing: border-box;
          width: 100%;
          line-height: $footer-height;
          padding: 5px;
          display: block;
          background-color: #F4F7F7;
          box-shadow: 0 2px 4px rgba(0,0,0,.6);
          text-align: center;

          .new-playlist-button{
            cursor: pointer;
            box-sizing: border-box;
            border: 0px solid rgba(0,0,0,0);
            width: 90%;
            @include border-radius(5px);
            padding: 5px 10px;
            font-size: 16px;
            color: rgba(90,90,90,1);
            background: rgba(238,238,238,1);
            box-shadow: 0 2px 4px rgba(0,0,0,.6);
            &:hover{
              background: rgba(245,245,245,1);
            }
            &:active{
              @include transition(0);
              opacity: .8;
              box-shadow: 0 0 0 rgba(0,0,0,0);
            }
          }//new-playlist-button
        }//new-playlist-btn-container


        #new-playlist-container{
          position: absolute;
          z-index: 99;
          top: 0px;
          bottom: 0px;
          left: 0;
          right: 0;
          background: rgba(240,240,240,1);
          text-align: center;

          .playlist-desc{
            display: inline-block;
            vertical-align: top;
            width: 90%;
            input,
            textarea{
              @include border-radius(5px);
              color: rgba(20,20,20,1);
              font-size: 14px;
              box-sizing: border-box;
              width: 100%;
              padding: 10px;
              background-color: rgba(220,220,220,1);
              border: 1px solid rgba(0,0,0,0);
              &:focus{
                background-color: #EBFFFA;
                border: 1px solid #C6FCE5;
              }
            }
            input{
              margin: 40px 0 8px 0;
            }
            textarea{
              margin-top: 10px;
              font-size: 14px;
              width: 100%;
              height: 120px;
            }
          }
          .error-msg{
            margin: 0;
            padding: 20px 0 0 0;
            font-size: 14px;
            color: $google-red;
            text-shadow: 1px 1px 3px rgba(0,0,0,.7);
          }
          .action{
            padding: 20px 0;
            text-align: center;
            button{
              display: block;
              margin: 0 auto;
              cursor: pointer;
              border-radius: 20px;
              border: 0px solid rgba(0,0,0,0);
              box-shadow: 1px 1px 2px rgba(0,0,0,.4);
              transition: .2s;
              -webkit-transition: .2s;
              color: rgba(255,255,255,1);

              &.create{
                font-size: 17px;
                background: darken(#62D2A2, 10%);
                padding: 4px 27px;
                &:hover{
                  background: #62D2A2;
                }
              }
              &.cancel{
                margin-top: 20px;
                padding: 3px 14px;
                font-size: 14px;
                background: rgba(90,90,90,1);
                &:hover{
                  background: lighten(red, 30%);
                }
              }
            }
          }
        }/* new-playlist-container */

        #muuz-login{
          position: absolute;
          font-size: 16px;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          padding: 20px;
          text-align: center;
        }
      }/* panel right */
    }/* panel */
  }/* awesome-container */
}/* popup */