@import './_vars.scss';

$signup-container-height: 150px;

#login{
  .login-container{
    position: relative;
    z-index: 3;
    background: $extension-background-color;
    display: table-cell;
    width: $extension-width;
    height: $extension-height - $signup-container-height;
    text-align: center;
    vertical-align: middle;
    box-shadow: 0 0 7px rgba(0,0,0,.7);
    .logo-container{
      color: rgba(255,255,255,.4);
      img{
        height: 40px;
        width: auto;
      }
    }
    input{
      display: block;
      margin: 20px auto;
      font-size: 16px;
      padding: 5px 10px;
      + input{
        margin-top: 40px;
      }
    }
    .login-btn{
      color: rgba(255,255,255,1);
      font-size: 16px;
      @include border-radius(20px);
      border: none;
      background: $spotify-green;
      background: -webkit-linear-gradient(left, $spotify-green , darken($spotify-green,20%)); /* For Safari 5.1 to 6.0 */
      padding: 5px 20px;
      text-decoration: none;
      box-shadow: 2px 2px 4px rgba(0,0,0,.6);
    }
    .error-msg{
      font-size: 13px;
      color: $google-red;
    }
    .or{
      position: absolute;
      z-index: 1;
      bottom: -15.5px;
      left: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      display: inline-block;
      line-height: 31px;
      text-shadow: 0 0 7px rgba(0,0,0,.7);
    }
  }/* login-container */
  .signup-container{
    text-align: center;
    width: $extension-width;
    display: inline-block;
    &-background{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../img/background.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 200% auto;
      background-position: 50% center;
      -webkit-animation: background-blur 24s linear infinite alternate;
      animation: background-blur 24s linear infinite alternate;

      @keyframes background-blur{
        0%{
          background-position: 50% center;
          -webkit-filter: blur(2px);
          filter: blur(2px);
        }
        100%{
          background-position: 0% center;
          -webkit-filter: blur(4px);
          filter: blur(4px);
        }
      }
    }/* background */

    .signup-btn{
      position: relative;
      display: inline-block;
      background: rgba($extension-background-color, .8);
      width: 100%;
      line-height: $signup-container-height;
      a{
        color: rgba(255,255,255,1);
        font-size: 20px;
        @include border-radius(20px);
        background: -webkit-linear-gradient(left, $instagram-pink , $instagram-orange); /* For Safari 5.1 to 6.0 */
        padding: 5px 20px;
        text-decoration: none;
        box-shadow: 2px 2px 4px rgba(0,0,0,.6);
      }
    }
  }/* signup-container */

}/* #login */