<!doctype html>
<html>
    <head>
       <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <meta property="og:title" content="Muusick">

        {% block header_extra %}{% endblock %}


        {% load staticfiles %}

        <link rel="stylesheet" type="text/css" href="{% static 'myapp/font-awesome/css/font-awesome.min.css' %}"><!-- fontawesome -->
    </head>
    <body>
        {% block content %}
        {% endblock %}


        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-92354903-1', 'auto');
          ga('send', 'pageview');

        </script>
    </body>
</html>