
{% extends "./base.html" %}

{% block header_extra %}
    <title>{{playlist.name}} Playlist</title>
    <meta name=description content="{{playlist.description}}">
    <meta property=og:type content=article>
    <meta property=og:title content="{{playlist.name}}">
    <meta property=og:description content="{{playlist.description}}">
    <meta name=twitter:card content=summary_large_image>
    <meta name=twitter:site content=@muusick>
    <meta property=og:image content="https://muusick.tv/media/{{ playlist.image }}g">
    <meta property=twitter:image content="https://muusick.tv/media/{{ playlist.image }}">
    <meta property="og:site_name" content="Muusick - Find Sick Music Everyday! " />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{playlist.name}}" />
    <meta property="og:description" content="{{playlist.description}}" />
    <meta property="og:url" content="https://muusick.tv/pl/{{playlist.id}}" />
    <meta property="article:published_time" content="2017-02-07T08:41:56.000Z" />
    <meta property="article:modified_time" content="2017-02-07T08:51:14.000Z" />
    <meta property="article:tag" content="Game &amp;amp; Anime" />
    <meta property="article:publisher" content="https://www.facebook.com/muusick" />


    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{playlist.name}}" />
    <meta name="twitter:description" content="{{playlist.description}}" />
    <meta name="twitter:url" content="https://muusick.tv/media/{{ playlist.image }}" />
    <meta name="twitter:image" content="https://img.youtube.com/vi/mSJdRQAQ0wc/mqdefault.jpg" />


    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/stylesheets/discover.css' %}">

{% endblock %}


{% block content %}

    <h1>Top Playlists </h1>


    <div class="playlists">
        {% for playlist in playlists %}
            <div class="video">
                {% if playlist.image %}
                <img src="/media/{{playlist.image}}" alt="">
                {% else %}
                <img src="{% static 'myapp/img/default_playlist.png' %}" alt="">
                {% endif %}
                <h4>{{ playlist.name }}</h4>
                <p> {{ plahlist.description }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="other">
        <a href="/accounts/login"> LOGIN TO USE FULL FEATURE FREE !</a>
    </div>

{% endblock %}