<!DOCTYPE html>
<html>
<head>
  <title>muusick - Music make you sick!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <meta name="description" content="find sick music everyday.">

  {% load staticfiles %}

  <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/normalize.css'%}">

  <link rel="stylesheet" type="text/css" href="{% static 'myapp/css/bootstrap.min.css'%}">

  <script type="text/javascript" src="{% static 'myapp/js/jquery.min.js'%}"></script>

  <script type="text/javascript" src="{% static 'myapp/bower_components/nprogress/nprogress.js'%}"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'myapp/bower_components/nprogress/nprogress.css'%}">

  <script type="text/javascript" src="{% static 'myapp/js/jquery.cookie.js'%}"></script>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

  <link rel="stylesheet" type="text/css" href="{% static 'myapp/stylesheets/common.css'%}"> 
</head>
<body>

<div class="container-fluid">
  <div class="container-fluid" id="header">
    <div class="branding"><a href="/">m😱😱sick</a></div>
  </div>

    {% for category in categories %}

    {% endfor %}

    <div class="row">
      
      <div class="col-md-3 category-col">
          <div class="ca-title">
            <span class="title">{{category.name}}</span>
            <a class="sub-link">New</a> | 
            <a class="sub-link">Top</a> |
            <a class="sub-link">Random</a>
          </div>
          
          <div class="scroll-div">
          {% for video in videos %}
              <div class="video-item">
                <div class="idx">{{ forloop.counter }}</div>
                <img src="http://img.youtube.com/vi/{{video.yt_id}}/0.jpg">
                <div class="info">
                  <div class="name">{{video.name}}</div>
                  <div class="second">{{video.category}}</div>
                </div>
              </div>
              {% endfor %}
          </div>
      </div>
      
    </div>




</div>



        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-92354903-1', 'auto');
          ga('send', 'pageview');

        </script>
<!-- <script type="text/javascript" src="{% static 'myapp/js/common.js'%}"></script> -->
</body>
</html>