{% load staticfiles %}

<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


	<title>Muusick - Find sick music videos! </title>
	<meta name="description" content="find sick music everyday.">

    <meta property=og:title content="Find sick music videos everyday! ">
    <meta property=og:description content="Find sick music videos everyday, Best music video playlist collections. ">

    <meta property=og:image content="https://muusick.tv/static/myapp/img/promotion_image.png">

    <meta property="og:site_name" content="Muusick - Find Sick Music Everyday! " />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Muusick - Find Sick Music Everyday! " />
    <meta property="og:description" content="Find sick music videos everyday, Best music video playlist collections." />
    <meta property="og:url" content="https://muusick.tv" />
    <meta property="article:tag" content="Muusick, music, playlists, videos, music videos" />


	<meta property=twitter:image content="https://muusick.tv/static/myapp/img/promotion_image.png">
	<meta name=twitter:card content=summary_large_image>
    <meta name=twitter:site content=@muusick>
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Muusick - Find Sick Music Everyday!" />
    <meta name="twitter:description" content="Find sick music videos everyday, Best music video playlist collections." />
    <meta name="twitter:url" content="https://muusick.tv" />
    <meta name="twitter:image" content="https://muusick.tv/static/myapp/img/promotion_image.png" />





	<link rel="shortcut icon" href="../../static/myapp/img/favicon.ico">
	<link rel="apple-touch-icon" href="../../static/myapp/img/apple-touch-icon.png"/>
	<link rel="stylesheet" type="text/css" href="{% static 'myapp/stylesheets/landing.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script><!-- Google Hosted jQuery Library -->
	<script src="https://use.fontawesome.com/f1c4f94cf8.js"></script><!-- font awesome -->

<!-- ⬇︎ slidesjs -->
  <script src="../../static/myapp/js/jquery.slides.min.js"></script>
<!-- ⬆︎ slidesjs -->

</head>

<body>

	<div id="header">
		<div class="vertical-aligner"></div>
		<img src="{% static 'myapp/img/logo.png' %}">
		<ul id="menu">
			<span id="menuToggle">
				<i class="fa fa-bars open" aria-hidden="true"></i>
				<i class="fa fa-chevron-right close" aria-hidden="true"></i>
			</span>
			<li>
				<a href="https://chrome.google.com/webstore/detail/muusick-for-curator/iganccilgilmbkjhaagpbpdaohbgihbf?hl=en-US" target="_blank">Chrome Extension</a>
			</li>
			<li class="app">
				<a>App</a>
			</li>
			<li class="divider">|</li>
			<li><a href="/accounts/signup">登録する</a></li>
			<li><a href="/accounts/login">ログイン</a></li>
		</ul>
	</div>

	<div id="background"></div><!-- background -->

	<div class="banner header">
		<div class="banner-inner">
			<h1>音楽でつながる</h1>
			<h2>仲間で、カップルで、会社で、好きな音楽を共有しよう！</h2>
			<button><a href="/accounts/login">Muusick をはじめる</a></button>
		</div>
	</div><!-- banner -->

	<div class="container home">
		<div class="max-width">
			<h3>新しい音楽が見つかる</h3>
			<img src="{% static 'myapp/img/982745981724761248646.png' %}" class="image-max-height">
		</div>
	</div>
	<div class="container feature-playlists">
		<div class="img-container">
			<img src="{% static 'myapp/img/playlist-1.png' %}" class="image-max-height">
			<img src="{% static 'myapp/img/playlist-2.png' %}" class="image-max-height">
			<img src="{% static 'myapp/img/playlist-3.png' %}" class="image-max-height">
			<img src="{% static 'myapp/img/playlist-4.png' %}" class="image-max-height">
		</div>
		<h4>オススメのプレイリストや友達が作ったプレイリストから</h4>
	</div>

	<div class="container genres">
		<img src="{% static 'myapp/img/genres.png' %}" class="image-max-height">
		<div class="vertical-aligner"></div>
		<h4>
			<strong>豊富なメニューから</strong>
			<span class="genre">GENRES & MOODS</span>
			<span class="instrument">楽器</span>
			<span class="tag">アカペラ、カバーなどの人気タグ</span>
		</h4>
	</div>

	<div class="container sideplayer">
		<div class="background"></div>
		<div class="vertical-aligner"></div>
		<h4>サイドプレイヤーで動画を見ながらブラウズ</h4>
		<img src="{% static 'myapp/img/sideplayer.png' %}" class="image-max-height">
	</div>

	<div class="banner footer">
		<div class="banner-inner">
			<h1><i>音楽でつながろう</i></h1>
			<button><a href="/accounts/login">Muusick をはじめる</a></button>
		</div>
	</div><!-- banner -->


	<div class="container chrome-extension">
		<div class="chrome-extension-inner">
			<h2>Chrome ExtensionでMuusickをもっと便利に</h2>
			<button>
				<a href="https://chrome.google.com/webstore/detail/muusick-for-curators/iganccilgilmbkjhaagpbpdaohbgihbf?hl=en-US" target="_blank">
					Add Now
				</a>
			</button>
			<img src="{% static 'myapp/img/chrome-extension.png' %}" alt="">
		</div>
	</div>

	<div id="footer">
		<div class="footer-column">
			<img src="{% static 'myapp/img/logo.png' %}">
		</div>
		<div class="footer-column">
			<ul>
				<li>
					<em>
						<i class="fa fa-newspaper-o" aria-hidden="true"></i>
						Media
						<span>coming soon...</span>
					</em>
				</li>
				<li>
					<em>
						<i class="fa fa-users" aria-hidden="true"></i>
						Our Team
						<span>coming soon...</span>
					</em>
				</li>
				<li>
					<em>
						<i class="fa fa-envelope" aria-hidden="true"></i>
						Contact Us
						<span>coming soon...</span>
					</em>
				</li>
			</ul>
		</div>
		<div class="footer-column">
			<ul>
				<li><strong>Follow us on :</strong></li>
				<li>
					<a href="https://www.facebook.com/muusick-161300224285923/" target="_blank">
						<i class="fa fa-facebook" aria-hidden="true"></i>
						Facebook
					</a>
				</li>
				<li>
					<a href="https://www.instagram.com/muusick/" target="_blank">
						<i class="fa fa-instagram" aria-hidden="true"></i>
						Instagram
					</a>
				</li>
			</ul>
		</div>
	</div>

	<script>
	$(function() {

	// activate menu
	    var menuToggle = false;
	    $('#menuToggle').click(function() {
	      if(!menuToggle){
	        $('#menuToggle').addClass('active');
	        $('#menu').addClass('active');
	        menuToggle = true;
	      }  else {
	        $('#menuToggle').removeClass('active');
	        $('#menu').removeClass('active');
	        menuToggle = false;
	      };
	    });

	    $(".menuItem").click(function() {
	    	if(menuToggle){
		        $('#menuToggle').removeClass('active');
		        $('#menu').removeClass('active');
		        menuToggle = false;
	    	};
	    });


	// smooth scroll
	   $('a[href^="#"]').on('click', function(){
	      var speed = 400;
	      var href= $(this).attr('href');
	      var target = $(href == '#' || href == '' ? 'html' : href);
	      var position = target.offset().top;
	      $('body,html').animate({scrollTop:position}, speed, 'swing');
	      return false;
	   });

	});
</script>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92354903-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>