
{% load staticfiles %}

<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8" />
<title>muusick</title>
<meta name="description" content="find sick music everyday.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<link rel="shortcut icon" href="img/favicon.ico">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png"/>

<link rel="stylesheet" type="text/css" href="{% static 'myapp/stylesheets/landing.css' %}">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script><!-- Google Hosted jQuery Library -->
<script src="https://use.fontawesome.com/f1c4f94cf8.js"></script><!-- font awesome -->

</head>

<body>

  <div id="background"></div><!-- background -->

  <div class="mobile_detect">
    <img src="{% static 'myapp/img/982745981724761248646.png' %}" class="image-max-height">
    <a href="https://muusick.tv/landing" class="back-to-home">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </a>
    <h1>
      Sorry...<br>We only support desktop at this point.<br>
      <span>We are making our best effort to deliver mobile service ASAP.<br>
      Meanwhile, please enjoy muusick on desktop for the best experience.</span>
    </h1>
    <p><a href="/">View on mobile anyway.</a></p>
    <div class="social-container">
      <ul>
        <li><strong>Follow us on :</strong></li>
        <li>
          <a href="https://www.facebook.com/muusick-161300224285923/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            Facebook
          </a>
        </li>
        <li class="instagram">
          <a href="https://www.instagram.com/muusick/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            Instagram
          </a>
        </li>
      </ul>
    </div>

  </div><!-- mobile_detect -->


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-92354903-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>