
{% extends "./base.html" %}

{% block header_extra %}
    <title>{{playlist.name}} Playlist</title>

    <meta name=description content="{{playlist.description}}">
    <meta property=og:type content=article>
    <meta property=og:title content="{{playlist.name}}">
    <meta property=og:description content="{{playlist.description}}">
    <meta name=twitter:card content=summary_large_image>
    <meta name=twitter:site content=@muusick>
    <meta property=og:image content="{{ image }}">
    <meta property=twitter:image content="{{ image }}">
    <meta property="og:site_name" content="Muusick - Find Sick Music Everyday! " />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{playlist.name}}" />
    <meta property="og:description" content="{{playlist.description}}" />
    <meta property="og:url" content="{{playlist.share_url}}" />
    <meta property="article:published_time" content="2017-02-07T08:41:56.000Z" />
    <meta property="article:modified_time" content="2017-02-07T08:51:14.000Z" />
    <meta property="article:tag" content="Game &amp;amp; Anime" />
    <meta property="article:publisher" content="https://www.facebook.com/muusick" />


    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{playlist.name}}" />
    <meta name="twitter:description" content="{{playlist.description}}" />
    <meta name="twitter:url" content="{{ playlist.share_url }}" />
    <meta name="twitter:image" content="{{ image }}" />

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/stylesheets/playlist.css' %}?v=1">
    <link rel="stylesheet" type="text/css" href="{% static 'myapp/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css' %}">


    <script type="text/javascript" src="{% static 'myapp/js/jquery.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'myapp/bower_components/perfect-scrollbar/js/perfect-scrollbar.min.js'%}?v=1"></script>
    <script type="text/javascript" src="{% static 'myapp/js/vue.min.js'%}"></script>

{% endblock %}

{% block content %}
<div id="container">

  <header class="header">
    <a href="/">
      <img class="logo" src="{% static 'myapp/img/logo.png' %}" alt="">
    </a>
  </header>

  <div id="background" style="background-image: url({{ image }})"></div>
  <div id="left-panel">

    <a href="/#!/playlist/{{ playlist.slug }}" class="no-link-style">
      <div class="playlist-thumbnail" style="background-image: url({{ image }})"></div>

      <h3>{{ playlist.name }}</h3>
      <p>{{ playlist.description }}</p>
      <p>created by <em>muusick</em>｜<span>30</span> videos</p>
    </a>

    <a href="/#!/playlist/{{ playlist.slug }}" class="play-on-muusick">
      <i class="fa fa-play" aria-hidden="true"></i>
      Play on Muusick
    </a>

    </div><!-- left-panel -->

    <div id="right-panel">

      <div id="play-wrapper" v-show="showPlayer">
        <div id="player"></div><!-- video will play here -->
        <div class="control">
          <i class="fa fa-random" aria-hidden="true" @click="setShuffle" :class="{active: shuffleMode}"></i>
          <i class="fa fa-repeat" aria-hidden="true" @click="setRepeat"  :class="{active: repeatMode}"></i>
          <i class="fa fa-backward" aria-hidden="true"  @click="next(0)"></i>
          <i class="fa fa-forward" aria-hidden="true" @click="next(1)"></i>
        </div>
      </div><!-- player wrapper -->

      <div class="play-btn-container" v-show="!showPlayer" >

        <button  @click="playNormal" class="play">
          <a>
            <i class="fa fa-play" aria-hidden="true"></i>
            Play
          </a>
        </button>
        <button  @click="playShuffle" class="shuffle-play">
          <a>
            <i class="fa fa-random" aria-hidden="true"></i>
            Shuffle
          </a>
        </button>
      </div><!-- play-btn-container -->

      {% for video in playlist.videos.all %}

        <div :class="{video: true, active: playOrder[playingIdx] === {{forloop.counter0}}}"
             @click="playByIdx(playOrder[{{forloop.counter0}}])">
        <i class="fa fa-play" aria-hidden="true"></i>
        <!-- <img src="http://img.youtube.com/vi/{{ video.yt_id }}/mqdefault.jpg" alt=""> -->
        <div class="video-thumbnail" style="background-image:url(https://img.youtube.com/vi/{{ video.yt_id }}/mqdefault.jpg)"></div>
        <p>{{ video.title }}</p>

        <div id="custom-sound-bar" v-if="playOrder[playingIdx] === {{forloop.counter0}}">
          <div id="bars">
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
              <div class="bar"></div>
          </div>
        </div><!-- sound-bar -->
      </div><!-- video -->
    {% endfor %}

  </div><!-- right-panel -->
</div><!-- container -->


<div id="more-playlist-container">

  <h3>
    <i class="fa fa-fire" aria-hidden="true"></i>
    Trending Playlists on muusick
  </h3>

  {% for playlist in related_playlists %}
    <a href="{{ playlist.share_url }}">
      <div class="playlist" >
        <div class="thumbnail-container">
          {% if playlist.image %}
            <div class="thumbnail" style="background-image: url(/media/{{ playlist.image }})"></div>
          {% else %}
            <div class="thumbnail" style="background-image: url({% static 'myapp/img/default_playlist.png' %})"></div>
          {% endif %}

          <div class="action">
            <div class="inner"></div>
            <p>
              <i class="fa fa-play play" aria-hidden="true" @click="playPlaylist(playlist.id)"></i>
            </p>
          </div>
        </div><!-- thumbnail-container -->
        <div class="playlist-desc-container">
          {% if playlist.image %}
            <div class="playlist-desc-background" style="background-image: url(/media/{{ playlist.image }})"></div>
          {% else %}
            <div class="playlist-desc-background" style="background-image: url({% static 'myapp/img/default_playlist.png' %})"></div>
          {% endif %}

          <div class="playlist-desc-inner">
            <p class="title">
               {{ playlist.name }}
            </p>
            <p class="description">
              {{ playlist.description }}
            </p><!-- description -->
          </div><!-- playlist-desc-inner -->
        </div><!-- playlist-desc-container -->

      </div><!-- playlist -->
    </a>
  {% endfor %}
</div><!-- more playlist container-->



<div class="banner footer">
  <div class="banner-inner">
    <h1><i>音楽でつながろう</i></h1>
    <button><a href="/accounts/login">Muusick をはじめる</a></button>
  </div>
</div><!-- banner -->

<div id="footer">
  <div class="footer-column">
    <img src="{% static 'myapp/img/logo.png' %}">
  </div>
  <div class="footer-column">
    <ul>
      <li>
        <em>
          <i class="fa fa-newspaper-o" aria-hidden="true"></i>
          Media
          <span>coming soon...</span>
        </em>
      </li>
      <li>
        <em>
          <i class="fa fa-users" aria-hidden="true"></i>
          Our Team
          <span>coming soon...</span>
        </em>
      </li>
      <li>
        <em>
          <i class="fa fa-envelope" aria-hidden="true"></i>
          Contact Us
          <span>coming soon...</span>
        </em>
      </li>
    </ul>
  </div>
  <div class="footer-column">
    <ul>
      <li><strong>Follow us on :</strong></li>
      <li>
        <a href="https://www.facebook.com/muusick-161300224285923/" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
          Facebook
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/muusick/" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
          Instagram
        </a>
      </li>
    </ul>
  </div>
</div>

<script>window.videos = {{ videos_json|safe }};</script>
<script type="text/javascript" src="{% static 'myapp/js/playlist.js'%}"></script>
{% endblock %}
