
{% extends "./base.html" %}

{% block header_extra %}

  <title>{{playlist.name}} Playlist</title>

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'myapp/stylesheets/playlist.css' %}">

{% endblock %}


{% block content %}
  <div id="container" class="on404">

    <header class="header">
      <a href="/">
        <img class="logo" src="{% static 'myapp/img/logo.png' %}" alt="">
      </a>
    </header>

    <p class="msg404">
      We are sorry, but the playlist is no longer available for public.
    </p>

    <div id="background" style="background-image: url(../../static/myapp/img/background.png")></div>

    <!-- activate <div id="background" style="background-image: url({{ image }})"></div> please... -->

  </div><!-- container -->

  <div id="more-playlist-container">

    <h3>
      <i class="fa fa-fire" aria-hidden="true"></i>
      Trending Playlists on muusick
    </h3>

    {% for playlist in related_playlists %}
      <a href="{{ playlist.share_url }}">
        <div class="playlist" >
          <div class="thumbnail-container">
            {% if playlist.image %}
              <div class="thumbnail" style="background-image: url(/media/{{ playlist.image }})"></div>
            {% else %}
              <div class="thumbnail" style="background-image: url({% static 'myapp/img/default_playlist.png' %})"></div>
            {% endif %}

            <div class="action">
              <div class="inner"></div>
              <p>
                <i class="fa fa-play play" aria-hidden="true" @click="playPlaylist(playlist.id)"></i>
              </p>
            </div>
          </div><!-- thumbnail-container -->
          <div class="playlist-desc-container">
            {% if playlist.image %}
              <div class="playlist-desc-background" style="background-image: url(/media/{{ playlist.image }})"></div>
            {% else %}
              <div class="playlist-desc-background" style="background-image: url({% static 'myapp/img/default_playlist.png' %})"></div>
            {% endif %}

            <div class="playlist-desc-inner">
              <p class="title">
                 {{ playlist.name }}
              </p>
              <p class="description">
                {{ playlist.description }}
              </p><!-- description -->
            </div><!-- playlist-desc-inner -->
          </div><!-- playlist-desc-container -->

        </div><!-- playlist -->
      </a>
    {% endfor %}
  </div><!-- more playlist container-->



  <div class="banner footer">
    <div class="banner-inner">
      <h1><i>音楽でつながろう</i></h1>
      <button><a href="/accounts/login">Muusick をはじめる</a></button>
    </div>
  </div><!-- banner -->

  <div id="footer">
    <div class="footer-column">
      <img src="{% static 'myapp/img/logo.png' %}">
    </div>
    <div class="footer-column">
      <ul>
        <li>
          <em>
            <i class="fa fa-newspaper-o" aria-hidden="true"></i>
            Media
            <span>coming soon...</span>
          </em>
        </li>
        <li>
          <em>
            <i class="fa fa-users" aria-hidden="true"></i>
            Our Team
            <span>coming soon...</span>
          </em>
        </li>
        <li>
          <em>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            Contact Us
            <span>coming soon...</span>
          </em>
        </li>
      </ul>
    </div>
    <div class="footer-column">
      <ul>
        <li><strong>Follow us on :</strong></li>
        <li>
          <a href="https://www.facebook.com/muusick-161300224285923/" target="_blank">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            Facebook
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/muusick/" target="_blank">
            <i class="fa fa-instagram" aria-hidden="true"></i>
            Instagram
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}