
/*Message*/
#lt-notify{
  z-index: 999999;
  position: fixed;
  top: 150px;
  right: 5px;
  background: #fff;
  padding: 20px;
  min-width: 200px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #15cd72;
  color: #15cd72;
}
#lt-notify:hover{
  background:#FFFFF3;
}
#lt-notify.error{
  border: 2px solid red;
  color: red;
}
#lt-notify.success{
}
/*END OF NOTIFIATION STYLESHEETS */
