body{
  /*color: red;*/
}

#header {
    background: #151719;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #f9f9f9;
}

.krc th, .krc td{
  padding: 4px;
}


div.breadcrumbs {
    background: #808384;
    
}