@charset "UTF-8";
/* responsibe responsibe responsibe responsibe */
/* responsibe responsibe responsibe responsibe */
/* browse responsive */
/* line 11, ../sass/_vars.scss */
button.follow {
  background: #fff;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #cccccc;
}
/* line 42, ../sass/_mixins.scss */
button.follow:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
/* line 46, ../sass/_mixins.scss */
button.follow:active {
  background: #bfbfbf;
}
/* line 14, ../sass/_vars.scss */
button.follow.active {
  background: #8efa00;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #549400;
}
/* line 42, ../sass/_mixins.scss */
button.follow.active:hover {
  background: #77d100;
  transition: all 0.3s ease;
}
/* line 46, ../sass/_mixins.scss */
button.follow.active:active {
  background: #467a00;
}

/* line 21, ../sass/frame.scss */
*:focus {
  outline: none;
}

/* line 26, ../sass/frame.scss */
#not-login {
  font-size: 22px;
  text-align: center;
}

/* line 32, ../sass/frame.scss */
#muuz-add-popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  font-size: 0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  /* awesome-container */
}
/* line 42, ../sass/frame.scss */
#muuz-add-popup #awesome-container {
  z-index: 99999;
  position: fixed;
  width: 900px;
  height: 600px;
  top: 49%;
  /* to position popup slightly above middle */
  left: 50%;
  margin-top: -300px;
  margin-left: -450px;
  background: whitesmoke;
  box-shadow: 0 0 10px black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 0;
  /* header */
  /* panel */
}
/* line 57, ../sass/frame.scss */
#muuz-add-popup #awesome-container #inner {
  position: relative;
  z-index: 99999;
  box-shadow: 0 0 10px black;
  height: 100%;
  display: block;
  font-size: 0;
}
/* line 65, ../sass/frame.scss */
#muuz-add-popup #awesome-container #header {
  position: relative;
  z-index: 1;
  height: 40px;
  background: #cfcfcf;
  background: -webkit-linear-gradient(left, #121212, #cfcfcf);
  /* For Safari 5.1 to 6.0 */
  width: 100%;
}
/* line 72, ../sass/frame.scss */
#muuz-add-popup #awesome-container #header img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 20px;
  height: 20px;
  width: auto;
}
/* line 82, ../sass/frame.scss */
#muuz-add-popup #awesome-container #header .close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 16px;
  font-size: 20px;
  color: #464646;
  opacity: .7;
}
/* line 90, ../sass/frame.scss */
#muuz-add-popup #awesome-container #header .close:hover {
  opacity: 1;
}
/* line 98, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel, #muuz-add-popup #awesome-container .scroll {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  height: 560px;
  font-size: 0;
  overflow: hidden;
  background-color: gainsboro;
  /* left-panel */
  /* ⬆︎ left panel content below */
  /* ⬇︎ right panel content below */
  /* right-panel */
}
/* line 107, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left, #muuz-add-popup #awesome-container .scroll.left {
  padding: 10px;
  width: 65%;
  background-color: gainsboro;
}
/* line 112, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right, #muuz-add-popup #awesome-container .scroll.right {
  padding: 0;
  width: 35%;
  background-color: #f0f0f0;
}
/* line 118, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left, #muuz-add-popup #awesome-container .scroll.left {
  /* current-video-container */
  /* genre */
}
/* line 122, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left h1, #muuz-add-popup #awesome-container .scroll.left h1 {
  box-sizing: border-box;
  margin: 40px 0 10px 0;
  color: #505050;
  font-size: 20px;
}
/* line 129, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container, #muuz-add-popup #awesome-container .scroll.left .current-video-container {
  margin: 0;
  /* video-info input */
}
/* line 132, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container.not-staff, #muuz-add-popup #awesome-container .scroll.left .current-video-container.not-staff {
  font-size: 14px;
  text-align: center;
}
/* line 137, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container.not-staff .thumbnail-container, #muuz-add-popup #awesome-container .scroll.left .current-video-container.not-staff .thumbnail-container {
  position: relative;
  display: block;
  margin: 100px 0 0 180px;
}
/* line 143, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container.not-staff .thumbnail-container .thumbnail, #muuz-add-popup #awesome-container .scroll.left .current-video-container.not-staff .thumbnail-container .thumbnail {
  position: relative;
}
/* line 150, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container h3, #muuz-add-popup #awesome-container .scroll.left .current-video-container h3 {
  color: #787878;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 30px;
  font-size: 16px;
}
/* line 158, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .thumbnail-container, #muuz-add-popup #awesome-container .scroll.left .current-video-container .thumbnail-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 0;
}
/* line 163, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .thumbnail-container .thumbnail, #muuz-add-popup #awesome-container .scroll.left .current-video-container .thumbnail-container .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  height: 110px;
  width: 195.5555555556px;
  background-color: #008c78;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
/* line 176, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 100%;
  padding-left: 205.5555555556px;
  position: relative;
  /* ipnut container */
}
/* line 184, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input p, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input p {
  color: #505050;
  font-size: 13px;
  margin: 0;
}
/* line 191, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5px;
  background-color: #eeeeee;
  font-size: 11px;
  color: #505050;
  line-height: 16px;
  margin-top: 10px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  /* input-wrapper */
  /* suggestion */
}
/* line 207, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container span, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container span {
  display: inline-block;
  vertical-align: top;
  color: #505050;
  height: 22px;
  line-height: 22px;
  margin: 4px;
  resize: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  font-size: 12px;
}
/* line 219, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container span:nth-child(1), #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container span:nth-child(1) {
  font-weight: bold;
  opacity: .7;
  margin-right: 0;
}
/* line 224, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container span.tag, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container span.tag {
  padding: 0 6px 0 8px;
  background: #e1e1e1;
  border-radius: 2px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
/* line 229, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container span.tag i, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container span.tag i {
  cursor: pointer;
  padding-left: 5px;
  opacity: .6;
}
/* line 233, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container span.tag i:hover, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container span.tag i:hover {
  opacity: 1;
}
/* line 240, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container .input-wrapper, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container .input-wrapper {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
/* line 245, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container .input-wrapper input, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container .input-wrapper input {
  color: #505050;
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding: 0;
  height: 22px;
  line-height: 22px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 4px;
  font-size: 11px;
  border: 0px solid transparent;
  background-color: #eeeeee;
}
/* line 15, ../sass/_mixins.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container .input-wrapper input ::-webkit-input-placeholder, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container .input-wrapper input ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #9d9d9d;
}
/* line 18, ../sass/_mixins.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container .input-wrapper input ::-moz-placeholder, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container .input-wrapper input ::-moz-placeholder {
  /* Firefox 19+ */
  color: #9d9d9d;
}
/* line 21, ../sass/_mixins.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container .input-wrapper input :-ms-input-placeholder, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container .input-wrapper input :-ms-input-placeholder {
  /* IE 10+ */
  color: #9d9d9d;
}
/* line 24, ../sass/_mixins.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container .input-wrapper input :-moz-placeholder, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container .input-wrapper input :-moz-placeholder {
  /* Firefox 18- */
  color: #9d9d9d;
}
/* line 263, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container .suggestions, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container .suggestions {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
}
/* line 270, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container .suggestions .suggest-item-container, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container .suggestions .suggest-item-container {
  position: absolute;
  top: -1px;
  left: 0;
  box-sizing: border-box;
  padding-right: 10px;
  background: #F4F7F7;
  width: 100%;
}
/* line 278, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container .suggestions .suggest-item-container .suggest-item, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container .suggestions .suggest-item-container .suggest-item {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  padding: 5px 16px;
  margin: 10px 0 0 10px;
  background: #AACFD0;
  color: #3c3c3c;
}
/* line 288, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container .suggestions .suggest-item-container .suggest-item:last-child, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container .suggestions .suggest-item-container .suggest-item:last-child {
  margin: 10px 0 10px 10px;
}
/* line 291, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .current-video-container .video-info-input .input-container .suggestions .suggest-item-container .suggest-item:hover, #muuz-add-popup #awesome-container .scroll.left .current-video-container .video-info-input .input-container .suggestions .suggest-item-container .suggest-item:hover {
  background: #90c0c1;
}
/* line 302, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .full-width-responsive-inner, #muuz-add-popup #awesome-container .scroll.left .full-width-responsive-inner {
  width: 101.6%;
  font-size: 0;
}
/* line 306, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre, #muuz-add-popup #awesome-container .scroll.left .genre {
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  background-color: #f0f0f0;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  padding-left: 41px;
  padding-right: 30px;
  height: 36px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  /*
    1.6 / 101.6 = 0.015748031496063
  */
  margin: 0 1.5748031496063% 1.5748031496063% 0;
  /*
    width: calc(96.8% / 3); = 32.26666666666667
    32.26666666666667 / 101.6 = 0.31758530183727
  */
  width: 31.758530183727%;
  font-size: 23px;
  /* thumbnail */
  /* action */
  /* active genre */
}
/* line 335, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre .title, #muuz-add-popup #awesome-container .scroll.left .genre .title {
  position: relative;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  height: 36px;
  color: #505050;
  font-size: 13px;
}
/* line 343, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre .title p, #muuz-add-popup #awesome-container .scroll.left .genre .title p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* line 353, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre .thumbnail, #muuz-add-popup #awesome-container .scroll.left .genre .thumbnail {
  -webkit-border-radius: 2px 0 0 2px;
  -moz-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  background-color: #008c78;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  transition: 0.4s;
}
/* line 368, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre .action, #muuz-add-popup #awesome-container .scroll.left .genre .action {
  position: relative;
  z-index: 2;
  color: #a0a0a0;
  position: absolute;
  top: 0;
  right: 0;
  /* i */
}
/* line 375, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre .action i, #muuz-add-popup #awesome-container .scroll.left .genre .action i {
  line-height: 36px;
  padding: 0 10px;
  font-size: 25px;
}
/* line 379, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre .action i.add, #muuz-add-popup #awesome-container .scroll.left .genre .action i.add {
  color: #aaaaaa;
  display: inline-block;
}
/* line 383, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre .action i.added, #muuz-add-popup #awesome-container .scroll.left .genre .action i.added {
  display: none;
  color: #1cc558;
}
/* line 389, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre:hover, #muuz-add-popup #awesome-container .scroll.left .genre:hover {
  background-color: #fdfdfd;
}
/* line 391, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre:hover .thumbnail, #muuz-add-popup #awesome-container .scroll.left .genre:hover .thumbnail {
  opacity: .6;
}
/* line 394, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre:hover .title, #muuz-add-popup #awesome-container .scroll.left .genre:hover .title {
  opacity: .7;
}
/* line 398, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre:hover .action i, #muuz-add-popup #awesome-container .scroll.left .genre:hover .action i {
  color: #505050;
}
/* line 403, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre.active, #muuz-add-popup #awesome-container .scroll.left .genre.active {
  box-shadow: 0 0 0 transparent;
  background-color: #bebebe;
  /* action */
}
/* line 407, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre.active .thumbnail, #muuz-add-popup #awesome-container .scroll.left .genre.active .thumbnail {
  opacity: .6;
}
/* line 410, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre.active .action, #muuz-add-popup #awesome-container .scroll.left .genre.active .action {
  opacity: .9;
  /* i */
}
/* line 412, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre.active .action i, #muuz-add-popup #awesome-container .scroll.left .genre.active .action i {
  color: #a0a0a0;
}
/* line 414, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre.active .action i.add, #muuz-add-popup #awesome-container .scroll.left .genre.active .action i.add {
  display: none;
}
/* line 417, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre.active .action i.added, #muuz-add-popup #awesome-container .scroll.left .genre.active .action i.added {
  color: #008c78;
  display: inline-block;
}
/* line 423, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre.active:hover, #muuz-add-popup #awesome-container .scroll.left .genre.active:hover {
  /* i */
}
/* line 424, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.left .genre.active:hover i, #muuz-add-popup #awesome-container .scroll.left .genre.active:hover i {
  color: #a0a0a0;
}
/* line 434, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right, #muuz-add-popup #awesome-container .scroll.right {
  position: relative;
  /* playlist */
  /* new-playlist-container */
}
/* line 439, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right h1, #muuz-add-popup #awesome-container .scroll.right h1 {
  box-sizing: border-box;
  margin: 0 0 10px 0;
  color: #505050;
  font-size: 20px;
}
/* line 446, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container, #muuz-add-popup #awesome-container .scroll.right .playlist-container {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  padding-bottom: 38px;
  overflow: auto;
}
/* line 453, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist-container h3, #muuz-add-popup #awesome-container .scroll.right .playlist-container h3 {
  font-size: 24px;
}
/* line 457, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist, #muuz-add-popup #awesome-container .scroll.right .playlist {
  cursor: pointer;
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #f8f8f8;
  height: 50px;
  margin: 0 0 10px 0;
  padding-left: 55px;
  padding-right: 40px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  /* thumbnail */
  /* action */
  /* active playlist */
}
/* line 474, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist .title, #muuz-add-popup #awesome-container .scroll.right .playlist .title {
  position: relative;
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  color: #505050;
  font-size: 13px;
}
/* line 482, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist .title p, #muuz-add-popup #awesome-container .scroll.right .playlist .title p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* line 492, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist .thumbnail, #muuz-add-popup #awesome-container .scroll.right .playlist .thumbnail {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-color: #008c78;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
/* line 508, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist .playlist-background, #muuz-add-popup #awesome-container .scroll.right .playlist .playlist-background {
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .1;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 110% auto !important;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
/* line 524, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist .action, #muuz-add-popup #awesome-container .scroll.right .playlist .action {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  color: #a0a0a0;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
  /* i */
}
/* line 532, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist .action i, #muuz-add-popup #awesome-container .scroll.right .playlist .action i {
  line-height: 50px;
  padding: 0 10px;
  font-size: 25px;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  transition: 0.2s;
}
/* line 537, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist .action i.add, #muuz-add-popup #awesome-container .scroll.right .playlist .action i.add {
  color: #a0a0a0;
  display: inline-block;
}
/* line 540, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist .action i.add:hover, #muuz-add-popup #awesome-container .scroll.right .playlist .action i.add:hover {
  color: #1cc558;
}
/* line 544, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist .action i.added, #muuz-add-popup #awesome-container .scroll.right .playlist .action i.added {
  display: none;
  color: #1cc558;
}
/* line 550, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist:hover, #muuz-add-popup #awesome-container .scroll.right .playlist:hover {
  background-color: white;
}
/* line 552, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist:hover .thumbnail, #muuz-add-popup #awesome-container .scroll.right .playlist:hover .thumbnail {
  opacity: .6;
}
/* line 555, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist:hover .title, #muuz-add-popup #awesome-container .scroll.right .playlist:hover .title {
  opacity: .7;
}
/* line 558, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist:hover .playlist-background, #muuz-add-popup #awesome-container .scroll.right .playlist:hover .playlist-background {
  background-size: 120% auto !important;
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
/* line 564, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist:hover .action i, #muuz-add-popup #awesome-container .scroll.right .playlist:hover .action i {
  color: #505050;
}
/* line 569, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist.active, #muuz-add-popup #awesome-container .scroll.right .playlist.active {
  background-color: #c8c8c8;
  box-shadow: 0 0 0 transparent;
  /* action */
}
/* line 572, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist.active .thumbnail, #muuz-add-popup #awesome-container .scroll.right .playlist.active .thumbnail {
  opacity: .6;
}
/* line 575, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist.active .action, #muuz-add-popup #awesome-container .scroll.right .playlist.active .action {
  opacity: .9;
  /* i */
}
/* line 577, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist.active .action i, #muuz-add-popup #awesome-container .scroll.right .playlist.active .action i {
  color: #a0a0a0;
}
/* line 579, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist.active .action i.add, #muuz-add-popup #awesome-container .scroll.right .playlist.active .action i.add {
  display: none;
}
/* line 582, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist.active .action i.added, #muuz-add-popup #awesome-container .scroll.right .playlist.active .action i.added {
  color: #008c78;
  display: inline-block;
}
/* line 588, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist.active:hover, #muuz-add-popup #awesome-container .scroll.right .playlist.active:hover {
  /* i */
}
/* line 589, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .playlist.active:hover i, #muuz-add-popup #awesome-container .scroll.right .playlist.active:hover i {
  color: #a0a0a0;
}
/* line 598, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .new-playlist-btn-container, #muuz-add-popup #awesome-container .scroll.right .new-playlist-btn-container {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  line-height: 28px;
  padding: 5px;
  display: block;
  background-color: #505050;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  text-align: center;
}
/* line 612, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .new-playlist-btn-container .new-playlist-button, #muuz-add-popup #awesome-container .scroll.right .new-playlist-btn-container .new-playlist-button {
  cursor: pointer;
  box-sizing: border-box;
  border: 0px solid transparent;
  width: 90%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  color: #585858;
  background: #e6e6e6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}
/* line 623, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .new-playlist-btn-container .new-playlist-button:hover, #muuz-add-popup #awesome-container .scroll.right .new-playlist-btn-container .new-playlist-button:hover {
  background: white;
}
/* line 626, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right .new-playlist-btn-container .new-playlist-button:active, #muuz-add-popup #awesome-container .scroll.right .new-playlist-btn-container .new-playlist-button:active {
  -webkit-transition: 0;
  -moz-transition: 0;
  -ms-transition: 0;
  transition: 0;
  opacity: .8;
  box-shadow: 0 0 0 transparent;
}
/* line 634, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container {
  position: absolute;
  z-index: 99;
  top: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: #f0f0f0;
  text-align: center;
}
/* line 644, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container .playlist-desc {
  display: inline-block;
  vertical-align: top;
  width: 90%;
}
/* line 648, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc input,
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc textarea, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container .playlist-desc input,
#muuz-add-popup #awesome-container .scroll.right #new-playlist-container .playlist-desc textarea {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  color: #141414;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  background-color: gainsboro;
  border: 1px solid transparent;
}
/* line 658, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc input:focus,
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc textarea:focus, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container .playlist-desc input:focus,
#muuz-add-popup #awesome-container .scroll.right #new-playlist-container .playlist-desc textarea:focus {
  background-color: #EBFFFA;
  border: 1px solid #C6FCE5;
}
/* line 663, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc input, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container .playlist-desc input {
  margin: 40px 0 8px 0;
}
/* line 666, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .playlist-desc textarea, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container .playlist-desc textarea {
  margin-top: 10px;
  font-size: 14px;
  width: 100%;
  height: 120px;
}
/* line 673, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .error-msg, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container .error-msg {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 14px;
  color: #E34545;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
/* line 680, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .action, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container .action {
  padding: 20px 0;
  text-align: center;
}
/* line 683, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .action button, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container .action button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 20px;
  border: 0px solid transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: .2s;
  -webkit-transition: .2s;
  color: white;
}
/* line 694, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .action button.create, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container .action button.create {
  font-size: 17px;
  background: #3ac78b;
  padding: 4px 27px;
}
/* line 698, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .action button.create:hover, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container .action button.create:hover {
  background: #62D2A2;
}
/* line 702, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .action button.cancel, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container .action button.cancel {
  margin-top: 20px;
  padding: 3px 14px;
  font-size: 14px;
  background: #5a5a5a;
}
/* line 707, ../sass/frame.scss */
#muuz-add-popup #awesome-container .panel.right #new-playlist-container .action button.cancel:hover, #muuz-add-popup #awesome-container .scroll.right #new-playlist-container .action button.cancel:hover {
  background: #ff9999;
}
/* line 719, ../sass/frame.scss */
#muuz-add-popup #awesome-container #not-login {
  height: 540px;
  width: 900px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 725, ../sass/frame.scss */
#muuz-add-popup #awesome-container #not-login h1 {
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: 30px;
}
/* line 730, ../sass/frame.scss */
#muuz-add-popup #awesome-container #not-login h1 a {
  color: #1cc558;
  text-decoration: none;
}
/* line 733, ../sass/frame.scss */
#muuz-add-popup #awesome-container #not-login h1 a:hover {
  opacity: .8;
  text-decoration: underline;
}

/* popup */
