/* responsibe responsibe responsibe responsibe */
/* responsibe responsibe responsibe responsibe */
/* browse responsive */
/* line 11, ../sass/_vars.scss */
button.follow {
  background: #fff;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #cccccc;
}
/* line 42, ../sass/_mixins.scss */
button.follow:hover {
  background: #ebebeb;
  transition: all 0.3s ease;
}
/* line 46, ../sass/_mixins.scss */
button.follow:active {
  background: #bfbfbf;
}
/* line 14, ../sass/_vars.scss */
button.follow.active {
  background: #8efa00;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  border-radius: 1em;
  border: 1px solid #549400;
}
/* line 42, ../sass/_mixins.scss */
button.follow.active:hover {
  background: #77d100;
  transition: all 0.3s ease;
}
/* line 46, ../sass/_mixins.scss */
button.follow.active:active {
  background: #467a00;
}

/* line 9, ../sass/main.scss */
html,
body {
  padding: 0;
  margin: 0;
}

/* line 14, ../sass/main.scss */
body {
  font-family: "Segoe UI",Arial,sans-serif;
}

/* line 18, ../sass/main.scss */
*:focus {
  outline: none;
}

/* line 23, ../sass/main.scss */
#login, #noselect {
  color: white;
  font-size: 20px;
}

/* line 28, ../sass/main.scss */
#app {
  position: relative;
  width: 688px;
  height: 540px;
  overflow: hidden;
  background: #282828;
  /* inner */
}
/* line 37, ../sass/main.scss */
#app #inner {
  height: 100%;
  font-size: 0;
  /* panel */
}
/* line 40, ../sass/main.scss */
#app #inner #panel {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  height: 100%;
  overflow-y: auto;
  padding: 20px;
  background-color: #1e1e1e;
  /* left-panel */
  /* right-panel */
}
/* line 49, ../sass/main.scss */
#app #inner #panel.left {
  background-color: #1e1e1e;
}
/* line 52, ../sass/main.scss */
#app #inner #panel.right {
  background-color: #3c3c3c;
}
/* line 56, ../sass/main.scss */
#app #inner #panel.left {
  /* current-video-container */
}
/* line 58, ../sass/main.scss */
#app #inner #panel.left #header {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
/* line 62, ../sass/main.scss */
#app #inner #panel.left #header img {
  height: 24px;
  width: auto;
}
/* line 68, ../sass/main.scss */
#app #inner #panel.left .current-video-container {
  box-sizing: border-box;
  position: relative;
  text-align: center;
  padding: 10px;
  margin: 20px 0 0 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}
/* line 76, ../sass/main.scss */
#app #inner #panel.left .current-video-container h3 {
  color: #505050;
  padding: 0;
  margin: 0;
  text-align: left;
  line-height: 30px;
  font-size: 16px;
}
/* line 84, ../sass/main.scss */
#app #inner #panel.left .current-video-container .thumbnail {
  position: absolute;
  top: 40px;
  left: 10px;
  margin: 0 auto;
  width: 72px;
  height: 54px;
  background-color: #008c78;
}
/* line 93, ../sass/main.scss */
#app #inner #panel.left .current-video-container .desc {
  box-sizing: border-box;
  width: 100%;
  height: 54px;
  text-align: left;
  box-sizing: border-box;
  font-size: 12px;
  margin: 0;
  color: #969696;
  padding: 0 0 0 77px;
}
/* line 103, ../sass/main.scss */
#app #inner #panel.left .current-video-container .desc p {
  margin: 0;
}
/* line 108, ../sass/main.scss */
#app #inner #panel.left h2 {
  margin: 30px 0 10px 0;
  color: #d2d2d2;
  font-size: 20px;
}
/* line 113, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container {
  position: relative;
  overflow: hidden;
  /* item */
}
/* line 117, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .wrapper {
  position: relative;
  width: 2000px;
}
/* line 121, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist {
  border-radius: 5px;
  position: relative;
  background: #5a5a5a;
  text-align: center;
  line-height: auto;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  opacity: .8;
  margin: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  width: 145px;
  /* thumbnail-container */
  /* playlist-desc-container */
}
/* line 134, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist a {
  text-decoration: none !important;
}
/* line 138, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .thumbnail-container {
  position: relative;
  width: 100%;
  height: auto;
  /* action */
}
/* line 143, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .thumbnail-container:before {
  content: "";
  display: block;
  padding-top: 94%;
}
/* line 148, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .thumbnail-container .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #005000;
  background-image: url(../../assets/noimage.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 161, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .thumbnail-container .action {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  font-size: 40px;
  opacity: 0;
  /* p (play button) */
}
/* line 172, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .thumbnail-container .action:hover {
  opacity: 1;
  background: rgba(0, 0, 0, 0.6);
}
/* line 176, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .thumbnail-container .action .inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* line 184, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .thumbnail-container .action p {
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  text-align: center;
  margin: 0;
  padding: 0;
}
/* line 194, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .thumbnail-container .action p i.play {
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.4);
  padding: 18px 18.395px 18px 22.395px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
/* line 205, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .thumbnail-container .action p i.play:hover {
  border: 2px solid white;
  font-size: 27px;
}
/* line 213, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .playlist-desc-container {
  cursor: pointer;
  position: relative;
  text-align: left;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  white-space: normal;
  font-weight: normal;
  width: 100%;
  height: 110px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}
/* line 226, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .playlist-desc-container .playlist-desc-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .2;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
/* line 239, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .playlist-desc-container .title {
  margin: 0;
  padding: 10px 10px 8px 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  color: white;
  opacity: .8;
}
/* line 249, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .playlist-desc-container .description {
  color: gainsboro;
  margin: 0;
  padding: 0 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  opacity: .8;
  font-size: 12px;
}
/* line 261, ../sass/main.scss */
#app #inner #panel.left #offical-playlist-container .playlist .playlist-desc-container:hover .title {
  opacity: 1;
  text-decoration: underline;
}
/* line 272, ../sass/main.scss */
#app #inner #panel.right {
  /* right panel content below */
  /* new-playlist-container */
  /* playlist */
}
/* line 275, ../sass/main.scss */
#app #inner #panel.right .new-playlist-button {
  cursor: pointer;
  box-sizing: border-box;
  border: 0px solid transparent;
  width: 100%;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 16px;
  color: #585858;
  background: #bebebe;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  transition: .2s;
  -webkit-transition: .2s;
}
/* line 288, ../sass/main.scss */
#app #inner #panel.right .new-playlist-button:hover {
  background: #a5a5a5;
}
/* line 294, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container {
  border-radius: 5px;
  position: relative;
  background: grey;
  text-align: center;
  padding: 10px 0 0 0;
  margin: 10px 0 20px 0;
  width: 100%;
}
/* line 303, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .thumbnail {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 110px;
  height: 110px;
  margin: 0 10px 0 0;
  background: #f0f0f0;
}
/* line 311, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .thumbnail button {
  cursor: pointer;
  border-radius: 20px;
  border: 0px solid transparent;
  width: 86%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 10px;
  left: 7%;
  color: #585858;
  font-size: 12px;
  transition: .2s;
  -webkit-transition: .2s;
  background: #bebebe;
}
/* line 325, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .thumbnail button:hover {
  background: #a5a5a5;
}
/* line 330, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .playlist-desc {
  display: inline-block;
  vertical-align: top;
  width: 150px;
}
/* line 334, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .playlist-desc input {
  font-size: 12px;
  width: 100%;
  margin: 0 0 8px 0;
}
/* line 339, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .playlist-desc textarea {
  font-size: 12px;
  width: 100%;
  height: 81px;
}
/* line 345, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .error-msg {
  margin: 0;
  padding: 20px 0 0 0;
  font-size: 14px;
  color: #E34545;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
/* line 352, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .action {
  padding: 20px 0;
  text-align: center;
}
/* line 355, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .action button {
  font-size: 14px;
  cursor: pointer;
  padding: 3px 20px;
  border-radius: 20px;
  border: 0px solid transparent;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: .2s;
  -webkit-transition: .2s;
  color: white;
}
/* line 366, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .action button.cancel {
  background: #5a5a5a;
}
/* line 368, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .action button.cancel:hover {
  color: #ff9999;
}
/* line 372, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .action button.create {
  background: #1cc558;
}
/* line 374, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .action button.create:hover {
  background: #159844;
}
/* line 378, ../sass/main.scss */
#app #inner #panel.right #new-playlist-container .action button + button {
  margin-left: 10px;
}
/* line 386, ../sass/main.scss */
#app #inner #panel.right .playlist {
  position: relative;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  border-radius: 5px;
  background: transparent;
  background: -webkit-linear-gradient(left, rgba(15, 15, 15, 0), rgba(15, 15, 15, 0.2));
  /* For Safari 5.1 to 6.0 */
  height: 50px;
  margin: 0 0 10px 0;
  padding-left: 55px;
  padding-right: 30px;
  transition: .3s;
  -webkit-transition: .3s;
  /* thumbnail */
  /* action */
  /* active playlist */
}
/* line 403, ../sass/main.scss */
#app #inner #panel.right .playlist .title {
  display: table-cell;
  vertical-align: middle;
  height: 50px;
  color: #b4b4b4;
  font-size: 13px;
}
/* line 409, ../sass/main.scss */
#app #inner #panel.right .playlist .title p {
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/* line 419, ../sass/main.scss */
#app #inner #panel.right .playlist .thumbnail {
  border-radius: 5px 0 0 5px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 431, ../sass/main.scss */
#app #inner #panel.right .playlist .thumbnail .play-btn {
  cursor: pointer;
  color: white;
  text-align: center;
  font-size: 20px;
  text-shadow: 2px 2px 4px black;
  width: 50px;
  line-height: 50px;
  transition: .3s;
  -webkit-transition: .3s;
}
/* line 442, ../sass/main.scss */
#app #inner #panel.right .playlist .thumbnail .play-btn:hover {
  color: #1cc558;
}
/* line 447, ../sass/main.scss */
#app #inner #panel.right .playlist .action {
  cursor: pointer;
  color: #a0a0a0;
  position: absolute;
  top: 0;
  right: 0;
  /* i */
}
/* line 453, ../sass/main.scss */
#app #inner #panel.right .playlist .action i {
  line-height: 50px;
  padding: 0 10px;
  font-size: 25px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  transition: .3s;
  -webkit-transition: .3s;
}
/* line 460, ../sass/main.scss */
#app #inner #panel.right .playlist .action i.add {
  display: inline-block;
}
/* line 462, ../sass/main.scss */
#app #inner #panel.right .playlist .action i.add:hover {
  color: #f0f0f0;
}
/* line 466, ../sass/main.scss */
#app #inner #panel.right .playlist .action i.added {
  display: none;
  color: #1cc558;
}
/* line 470, ../sass/main.scss */
#app #inner #panel.right .playlist .action i.remove {
  display: none;
  color: #ff6666;
}
/* line 476, ../sass/main.scss */
#app #inner #panel.right .playlist:hover {
  background: rgba(0, 0, 0, 0.2);
}
/* line 478, ../sass/main.scss */
#app #inner #panel.right .playlist:hover .play-btn {
  background: rgba(0, 0, 0, 0.6);
}
/* line 482, ../sass/main.scss */
#app #inner #panel.right .playlist.active {
  background: rgba(0, 0, 0, 0.3);
  /* action */
}
/* line 484, ../sass/main.scss */
#app #inner #panel.right .playlist.active .action {
  /* i */
}
/* line 486, ../sass/main.scss */
#app #inner #panel.right .playlist.active .action i.add {
  display: none;
}
/* line 489, ../sass/main.scss */
#app #inner #panel.right .playlist.active .action i.added {
  display: inline-block;
}
/* line 492, ../sass/main.scss */
#app #inner #panel.right .playlist.active .action i.remove {
  display: none;
}
/* line 496, ../sass/main.scss */
#app #inner #panel.right .playlist.active .action:hover {
  /* i */
}
/* line 498, ../sass/main.scss */
#app #inner #panel.right .playlist.active .action:hover i.added {
  display: none;
}
/* line 501, ../sass/main.scss */
#app #inner #panel.right .playlist.active .action:hover i.remove {
  display: inline-block;
}
