<template>

  <div id="activity-bar-toggle">
    <i class="fa fa-info" aria-hidden="true"></i>
  </div>

  <div id="activity-bar"><!-- add class="hide" -->

    <div id="search-box">
      <input class="search-box" type="text" v-model="searchKeyword" placeholder="友達を検索">
      <!-- if eng. {{Seach Friends}} -->
      <i class="fa fa-search" aria-hidden="true"></i>
    </div><!-- search box -->

    <div v-show="searchMode">
      <h3>FRIENDS SEACH</h3>
      <div id="activity-item-container" class="activity-item-container friends" v-show="true">
        <div class="item" v-link="{ name: 'user', params: { username: user.username } }"  
            v-for="user in searchResult">
          <div class="thumbnail"
            :style="{'background': 'url(' + (user.picture ? user.picture : defaultPictureUrl) + ')'}"></div>
          <p><span>{{ user.fullname }}</span></p>
          <p>@{{ user.username }}</p>
        </div>
      </div>
    </div>

    <div v-else>
      <h3 class="activities">タイムライン</h3>
      <!-- if eng. {{Activities}} -->
      <div id="activity-item-container" class="activity-item-container activities" v-show="true">
        <template v-for="a in activities">
          <div class="item"
            v-link="{ name: 'playlist', params: { slug: a.slug } }"
            v-if="a.type === 'p'">
            <div class="thumbnail"
              :style="{'background': 'url(' + a.image + ')'}"
            ></div>
            <p>
              {{{ a.message }}}
            </p>
          </div>
        </template>
      </div>
    </div>

  </div><!-- activity-bar -->
</template>

<script>
import http from '../../services/http'
import Ps from 'perfect-scrollbar'

export default {
  data () {
    return {
      searchMode: false,
      searchKeyword: '',
      searchResult: [],
      defaultPictureUrl: '/static/myapp/img/default_avatar.png',
      activities: [],
      timeout: null
    }
  },
  watch: {
    'searchKeyword': function (val) {
      if (val.trim()) {
        this.searchMode = true
        this.search(val)

        window.clearTimeout(this.timeout)
        this.timeout = window.setTimeout(() => {
          this.searchKeyword = ''
        }, 10000)
      } else {
        this.searchMode = false
        this.searchResult = []
      }
    }
  },
  ready () {
    this.fetchData()
    Ps.initialize(document.getElementById('activity-item-container'), {
      suppressScrollX: true,
      wheelSpeed: 2,
      wheelPropagation: false,
      minScrollbarLength: 20
    })
  },
  events: {
  },
  methods: {
    search: function () {
      http._get('api/search_users', {keyword: this.searchKeyword}, (res) => {
        this.searchResult = res.users
      })
    },
    fetchData: function () {
      http._get('api/get_activities', {}, (res) => {
        this.activities = res.activities
      })

      setTimeout(() => {
        this.fetchData()
      }, 30000)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';

#activity-bar{
  position: fixed;
  top: 0;
  right: -$activity-sidebar-width;
  box-sizing: border-box;
  padding-top: $header-height;
  height: 100vh;
  width: $activity-sidebar-width;
  background: $dropdown-background-color;
  z-index: 30;
  @include transition(.4s);

  @include large-window{
    right: 0;
  }
  @include mobile-mode{
    display: none;
  }

  &.hide{
    right: -$activity-sidebar-width;
  }

  a{
    color: #fff;
  }

  #search-box{
    display: block;
    position: relative;
    box-sizing: border-box;
    padding: 7px;
    width: 100%;
    font-size: 0;
    color: rgba(80,80,80,1);

    input.search-box{
      box-sizing: border-box;
      display: inline-block;
      line-height: 25px;
      width: 100%;
      background: rgba(220,220,220,1);
      @include border-radius(5px);
      border: none;
      padding: 0 30px 0 10px;
      font-size: 13px;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(80,80,80,1);
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: rgba(80,80,80,1);
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: rgba(80,80,80,1);
    }
    :-moz-placeholder { /* Firefox 18- */
      color: rgba(80,80,80,1);
    }
    i{
      position: absolute;
      top: 7px;
      right: 7px;
      font-size: 13px;
      display: inline-block;
      vertical-align: top;
      padding: 0;
      width: 20px;
      text-align: left;
      margin: 0;
      line-height: 23px;
    }
  }/* searchBox */

  h3{
    font-weight: normal;
    opacity: .6;
    margin: 0;
    font-size: 14px;
    padding: 14px 0 10px 7px;
    &.activities{
      background-color: darken($dropdown-background-color, 10%);
    }
  }

  .activity-item-container{
    box-sizing: border-box;
    padding: 0;
    font-size: 0.8em;
    box-shadow: inset 0 0 5px rgba(0,0,0,.4);
    overflow: hidden;
    position: relative;

    &.friends{
      height: 100vh;
      padding-bottom: 300px;
      overflow-y: scroll;
    }
    &.activities{
      height: 100vh;
      padding-bottom: 300px;
      overflow-y: scroll;
      background-color: darken($dropdown-background-color, 10%);
    }

    .item{
      $thumbnail-height: 30px;

      position: relative;
      min-height: $thumbnail-height;
      padding: 7px 7px 7px 0;
      padding-left: $thumbnail-height + 12px;
      border-bottom: 1px solid rgba(#fff, .1);
      cursor: pointer;
      opacity: .8;

      .thumbnail{
        position: absolute;
        top: 7px;
        left: 7px;
        width: $thumbnail-height;
        height: $thumbnail-height;
        display: inline-block;
        background: orange;
        background-size: cover!important;
      }
      p{
        font-weight: 200;
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: rgba(#fff, .6);
        span{
          color: #fff;
        }
      }
      p.user-desc{
        margin: 0;
        font-size: 0.8em;
      }
      &:hover{
        opacity: 1;
        background: rgba(#fff, .1);
      }
    }
  }
}

#activity-bar-toggle{
  cursor: pointer;
  position: fixed;
  z-index: 20;
  top: $header-height + 2px;
  right: 0;
  width: 26px;
  box-shadow: -2px 2px 3px rgba(0,0,0,.6);
  text-align: center;
  background-color: $dropdown-background-color;
  @include border-radius(5px 0 0 5px)
  @include transition(.4s);
  i{
    line-height: 20px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    color: #fff;
  }
  &:hover{
    & + #activity-bar{
      right: 0;
    }
  }

  @include mobile-mode{
    display: none;
  }
}

#activity-bar{

  &:hover{
    right: 0;
  }
}

</style>
