<template>
<div class="btn add-to-list">
  <i class="fa fa-plus-circle dropdown-trigger" aria-hidden="true" @click="triggerShow" ></i>

  <div  class="dropdown-wrapper add-to-list-dropdown" id="dropdown" v-show="show">

    <div class="lock-filter"></div>

    <div class="dropdown-container">
      <div class="dropdown-body">
        <div class="p-content">
          <ul>
            <li v-for="playlist in myPlaylists"
               @click="addToList(playlist.id)"
               >
              {{playlist.name}}
            </li>
            <li v-for="playlist in collaboratePlaylists"
               @click="addToList(playlist.id)"
               >
              {{playlist.name}}
            </li>
          </ul>
        </div>
      </div>
    </div><!-- dropdown-container -->
  </div><!-- dropdown -->
</div><!-- action-btn add-to-list -->

</template>

<script>
import $ from 'jquery'
import store from '../../stores/store'
import http from '../../services/http'

export default {
  props: ['yt_id'],
  data () {
    return {
      show: false,
      myPlaylists: [],
      collaboratePlaylists: []
    }
  },
  ready () {
    this.myPlaylists = store.state.userPlaylists
    this.collaboratePlaylists = store.state.collaboratePlaylists
  },
  events: {
    'init': function () {
      this.myPlaylists = store.state.userPlaylists
      this.collaboratePlaylists = store.state.collaboratePlaylists
    },
    'click2dom': function (e) {
      var $trigger = $(this.$el).find('.dropdown-trigger').get(0)
      if (e.target !== $trigger) {
        this.show = false
      }
    }
  },
  methods: {
    triggerShow: function () {
      this.show = true
    },
    addToList: function (plId) {
      http.get('/api/add_to_playlist', {yt_id: this.yt_id, playlist_id: plId}, (res) => {
        this.$dispatch('notify', 'Successfully added ! ')
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';

$dropdown-width: 200px;

.btn.add-to-list{
  position: relative;

  #dropdown{
    position: absolute;
    z-index: 99;
    top: 32px;
    left: -10px;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    z-index: 99;
    background: $dropdown-background-color;
    width: $dropdown-width;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,1);

    .dropdown-container{
      position: relative;
      z-index: 99;
      height: 25vh;
      overflow-y: auto;
      .dropdown-body{
        padding: 0;
        ul{
          margin: 0;
          padding: 0;
          li{
            font-size: 14px;
            cursor: pointer;
            list-style: none;
            margin: 0;
            padding: 5px 10px;
            text-shadow: 2px 2px 3px rgba(0,0,0,.6);
            box-sizing: border-box;
            width: 100%;
            color: rgba(230,230,230,1);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            opacity: .6;
            @include transition(.2s);
            &:hover{
              opacity: 1;
              background: darken($dropdown-background-color, 5%);
            }
          }
        }
        .new-playlist-button{
          cursor: pointer;
          text-align: center;
          width: 120px;
          @include border-radius(20px);
          background: $spotify-green;
          padding: 5px 10px;
          display: block;
          margin: 10px auto 30px auto;
          text-shadow: 1px 1px 2px rgba(0,0,0,.6);
          box-shadow: 1px 1px 2px rgba(0,0,0,.6);
          opacity: .8;
          &:hover{
            opacity: 1;
            box-shadow: 2px 2px 3px rgba(0,0,0,.6);
          }
        }
      }
    }/* dropdown-container */

    .lock-filter{
      cursor: default;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.1);
    }

  }/* dropdown */
}/* btn.add-to-list */

/* ⬇︎ when playlist/play */
.playlist-play-panel{
  .btn.add-to-list{
    #dropdown{
      right: auto;
      left: -10px;
    }
  }
}

</style>
