<template>
  <div class="artist-item"
    v-link="{ name: 'artist' , params: { name: artist.name } }" 
    >
    <div class="artist-item-container">
      <div class="artist-item-background" 
        v-lazy:background-image="(artist.image ? artist.image : defaultPictureUrl)" >
        </div>

      <div class="artist-thumbnail" 
        v-lazy:background-image="(artist.image ? artist.image : defaultPictureUrl)"
        ></div>

      <p class="artist-name">{{ artist.name }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: ['artist'],
  data () {
    return {
      videos: [],
      defaultPictureUrl: '/static/myapp/img/default_artist.png'
    }
  },
  ready () {
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';


</style>
