<template>
  <div class="section">
    <div class="nav left" >
      <div class="nav-btn" @click="!disableClick && slideList(true)">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
      </div>
    </div><!-- nav-left -->
    <div class="nowrap" id="featurePlaylists">

      <artist-item
        :artist="artist"
        v-for="artist in artists" >
      </artist-item>

    </div><!-- nowrap -->
    <div class="nav right">
      <div class="nav-btn" @click="!disableClick && slideList(false)">
        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      </div>
    </div><!-- nav-right -->
  </div><!-- section -->
</template>

<script>
import ArtistItem from './artist-item'
import $ from 'jquery'
import 'jquery-ui/ui/effects/effect-bounce'

export default {
  components: {ArtistItem},
  props: ['artists'],
  data () {
    return {
      disableClick: false
    }
  },
  methods: {
    slideList: function (direction) {
      var $allEls = $(this.$el).find('.artist-item')
      const LEFT = $(this.$el).offset().left
      const WIDTH = $(this.$el).width()
      const ITEM_WIDTH = $allEls.first().width() + ((parseFloat($allEls.first().css('margin-right'))) / 1)
      const SHOW_NUM = parseInt(WIDTH / ITEM_WIDTH)
      var sliderLeft = $allEls.first().offset().left
      var sliderRight = $allEls.last().offset().left + ITEM_WIDTH
      if (direction) {
        if (sliderLeft < LEFT) {
          this.disableClick = true
          $allEls.animate({'left': '+=' + (SHOW_NUM * ITEM_WIDTH) + 'px'}, 1000, 'easeOutQuint', () => {
            this.disableClick = false
            this.$Lazyload.lazyLoadHandler()
          })
        }
      } else {
        if (sliderRight > LEFT + WIDTH) {
          this.disableClick = true
          $allEls.animate({'left': '-=' + (SHOW_NUM * ITEM_WIDTH) + 'px'}, 1000, 'easeOutQuint', () => {
            this.disableClick = false
            this.$Lazyload.lazyLoadHandler()
          })
        }
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';


.section{
  position: relative;
  height: 100%;
  width: 100%;

  .nav{
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100%;
    width: 50px;
    text-align: center;
    @include transition(.4s);

    &.left{
      text-align: left;
      left: -30px;
      text-shadow: 2px 2px 4px rgba(0,0,0,1);
    }
    &.right{
      text-align: right;
      right: -30px;
      text-shadow: -2px 2px 4px rgba(0,0,0,1);
    }
    .nav-btn{
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%); /* Safari用 */
      transform: translateY(-50%);
      cursor: pointer;
      i{
        color: rgba(170,170,170,1);
        opacity: .9;
        font-size: 50px;
        -webkit-transition: color .2s, opacity .2s; /* Safari */
        transition: color .2s, opacity .2s;
        &:hover{
          opacity: 1;
          color: rgba(240,240,240,1);
        }
      }
    }

    @include mobile-mode{
      display: none;
    }

  }/* nav */
  &:hover{
    .nav{
      opacity: 1;
    }
  }
  .nowrap{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;

    @include mobile-mode{
      overflow-x: scroll;
    }

  }/* nowrap */
}/* section */


</style>
