<template>

  <div id="footer">
    <p>© <a href="/">muusick</a> all reserved</p>
  </div>

</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  @import 'assets/sass/_vars.scss';

  #footer{
    widows: 100%;
    text-align: center;
    background: rgba(15,15,15,1);
    padding: 20px 0;
    margin: 120px 0 0 0;

    p{
      padding: 0;
      margin: 0;
      opacity: .6;

      a{
        color: #8EFA00;
      }
    }

  }

</style>


<script>
export default {
}
</script>
