<template>

  <div id="header">

    <a id="header-logo" v-link="{ name: 'home' }">
      <img src="../../assets/header-logo.png" class="logo">
    </a>

    <search-box></search-box>

    <div id="user-tool">
      <div class="notification">
        <i id="notification-trigger" class="fa fa-bell-o" aria-hidden="true" @click="showNotification = !showNotification">
          <span v-show="hasNewNotification">&nbsp;</span>
        </i>
        <div id="notification-panel" class="notification-panel" v-show="showNotification">
          <div class="notification-panel-header">
            Notifications
          </div>
          <div class="notification-panel-inner">
          <div class="nodata" v-if="notifications.length === 0">
            No notifications! 
          </div>
            <div  
              v-for="n in notifications" @click="viewNotification(n.id)"
              :class="{'item': true, 'viewed': n.status}"
              >
              <div v-if="n.internal_link" v-link="n.internal_link">
                <div v-show="n.image_url" class="thumbnail" 
                  :style="{'background-image': 'url(' + n.image_url + ')'}"
                ></div>
                <div class="desc">
                  <p> {{{ n.message }}}</p>
                  <p class="time"> {{ n.added_at }}</p>
                </div>
              </div>
            </div>
          </div><!-- inner -->
        </div><!-- notification-panel -->
      </div>


      <div id="toggleTrigger" v-if="isAuthenticated" class="user-nav" @click="showDropdown = !showDropdown" >
        <div class="user-thumbnail"
          :style="{'background': 'url(' + (user.picture ? user.picture : defaultPictureUrl) + ')'}"></div>
         <span>{{user.username}}</span>
         <i class="fa fa-chevron-down" aria-hidden="true"></i>

        <div class="user-menu" v-show="showDropdown">
          <a href="javascript:void(0)" v-link="{ name: 'profile'}">My Page</a>
          <a @click="openEditProfile">Setting</a>
          <a href="/accounts/logout">Log Out</a>
        </div><!-- dropdown -->
      </div><!-- user-nav -->
      <div v-else class="user-nav" >
        <a href="/accounts/login">Login</a>
      </div><!-- user-nav -->

    </div><!-- user tool -->


  </div><!-- header -->

</template>

<script>
import store from '../../stores/store'
import http from '../../services/http'
import SearchBox from './search-box'
import $ from 'jquery'
import Ps from 'perfect-scrollbar'

export default {
  components: {SearchBox},
  data () {
    return {
      // note: changing this line won't causes changes
      // with hot-reload because the reloaded component
      // preserves its current state and we are modifying
      // its initial state.
      defaultPictureUrl: '/static/myapp/img/default_avatar.png',
      user: store.state.user,
      isAuthenticated: false,
      categories: [],
      showDropdown: false,
      showNotification: false,
      notifications: [],
      hasNewNotification: false,
      timeout: null
    }
  },
  ready () {
    Ps.initialize(document.getElementById('notification-panel'), {
      suppressScrollX: true,
      wheelSpeed: 2,
      wheelPropagation: false,
      minScrollbarLength: 20
    })

    this.fetchNotification()
  },
  events: {
    'init': function () {
      this.isAuthenticated = !!store.state.user
      this.user = store.state.user
    },
    'click2dom': function (e) {
      if (e.target !== document.getElementById('notification-trigger')) {
        setTimeout(() => {
          this.showNotification = false
        }, 100)
      }

      var ele = window.document.getElementById('toggleTrigger')
      if ((e.target === ele || $('#toggleTrigger').has(e.target).length)) {
        return
      }
      this.showDropdown = false
    }
  },
  methods: {
    fetchNotification: function () {
      http._get('api/get_notifications', {}, (res) => {
        this.notifications = res.notifications
        this.hasNewNotification = res.new_notification
        for (var i = 0; i < this.notifications.length; i++) {
          try {
            this.notifications[i].internal_link = JSON.parse(this.notifications[i].internal_link)
          } catch (e) {
          }
        }
      })

      setTimeout(() => {
        this.fetchNotification()
      }, 10000)
    },
    viewNotification: function (id) {
      http._get('api/view_notification', {id: id}, (res) => {
      })
    },
    openEditProfile: function () {
      this.$dispatch('edit-profile:show', true)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';

$headerTxtColor: darken(#fff, 30%);

#header{
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  min-width: $min-width;
  box-sizing: border-box;
  height: $header-height;
  padding: 5px;
  background: $frame-color;

    #header-logo{
      display: inline-block;
      width: $sidebar-width;

      img.logo{
        margin: 5px 0 0 20px;
        display: block;
        height: 30px;
        width: auto;
      }
    }
  search-box{
    display: inline-block;
  }

  #user-tool{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
    text-align: center;
    color: rgba(170,170,170,1);
    height: $header-height;

    .notification{
      position: relative;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer;
      padding: 0;
      margin: 0 30px 0 0;
      &:hover{
        color: rgba(240,240,240,1);
        span{
          opacity: 1;
        }
      }
      i{
        line-height: $header-height;
        font-size: 20px;
        position: relative;
        span{
          opacity: .8;
          font-size: 10px;
          @include border-radius(50%);
          background: red;
          position: absolute;
          top: 15px;
          right: -4px;
          font-weight: bold;
          padding: 0;
          margin: 0;
          width: 10px;
          line-height: 10px;
        }
      }

      .notification-panel{
        $dropdown-width: 320px;

        position: absolute;
        top: $header-height - 4px;
        right: -150px;
        width: $dropdown-width;
        box-sizing: border-box;
        background: $dropdown-background-color;
        padding: 0;
        box-shadow: 2px 0 10px rgba(0,0,0,.8);

        .nodata{
          padding: 15px;
          min-height: 100px; 
        }

        &-header{
          position: relative;
          z-index: 1;
          text-align: left;
          color: rgba(150,150,150,1);
          display: block;
          font-size: 12px;
          line-height: 20px;
          padding: 5px 10px;
          box-shadow: 0 2px 5px rgba(0,0,0,.2);
        }
        &-inner{
          overflow: auto;
          max-height: 40vh;

          .item{
            cursor: pointer;
            position: relative;
            background: lighten($dropdown-background-color, 5%);
            padding: 5px;
            margin: 2px 0;
            @include transition(.2s);

            &.viewed p{
              color: grey !important;
            }

            $thumbnail-width: 52px;
            .thumbnail{
              position: absolute;
              top: 5px;
              left: 5px;
              width: $thumbnail-width;
              height: $thumbnail-width;
              background-color: darken($spotify-green, 20%);
              background-repeat: no-repeat;
              background-position: center;
              background-size: cover;
            }
            .desc{
              height: $thumbnail-width;
              box-sizing: border-box;
              padding-left: $thumbnail-width + 5px;
              padding-right: 5px;
              overflow: hidden;
              text-align: left;

              p{
                font-size: 12px;
                color: rgba(220,220,220,1);
                margin: 0;
                padding: 0;
                @include line-clamp(2);
                span{
                  line-height: 16px;
                  display: inline-block;
                  padding: 0;
                  margin: 0;
                  &.username{
                    color: rgba(230,230,230,1);
                  }
                }
                &.time{
                  color: rgba(180,180,180,1);
                }
              }
            }
            &:hover{
              background: lighten($dropdown-background-color, 10%);
            }
          }/* item */
        }/* notification-panel-inner */
      }/* #notification-panel */
    }/* notification */

    .user-nav{
      position: relative;
      display: inline-block;
      box-sizing: border-box;
      line-height: $header-height;
      margin: 0 34px 0 0;
      cursor: pointer;
      opacity: 1;

      > a {
        color: #abaaaa;
        text-decoration: none;

      }

      //background: orange;

      div.user-thumbnail{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 0;
        margin: 0 5px 0 0;
        height: 27px;
        width: 27px;
        @include border-radius(50%);
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
      }
      i{
        color: $spotify-blue;
        position: relative;
        display: inline-block;
        margin: 0 0 0 10px;
      }

      &:hover{
        color: rgba(240,240,240,1);
        i{
          color: lighten($spotify-blue, 10%);
        }
      }

      .user-menu{
        $dropdown-width: 160px;

        position: absolute;
        z-index: 99;
        right: 0;
        top: $header-height - 4px;
        background: $dropdown-background-color;
        text-align: left;
        box-shadow: 0 0 40px rgba(0,0,0,.8);
        @include transition(.2s);

        a{
          line-height: 40px;
          font-size: 12px;
          width: 120px;
          text-decoration: none;
          color: rgba(180,180,180,1);
          display: block;
          padding-left: 30px;
          &:hover{
            background: lighten($dropdown-background-color, 10%);
          }
        }
      }/* user-menu */

    }/* user-nav */

    a.log-in{
      text-decoration: none;
      color: $spotify-green;
    }

  }/* user tool */
  @include mobile-mode{
    display: none;
  }
}/* header */


</style>
