<template>

<div class="paginator" v-if="max > 1">
  <ul >
    <template v-if="max <= 9">
        <li v-for="i in max" @click="go(i+1)">
          <a :class="{'active': i+1 === current}" >{{ i+1 }}</a>
        </li>
    </template>

    <template v-if="max > 9">
        <template v-if="current > 6">
          <li v-for="i in 3"  @click="go(i+1)">
            <a :class="{'active': i+1 === current}" >{{ i+1 }}</a>
          </li>
          <a class="..." >...</a>
          <li  @click="go(i+1)" v-for="i in range(current - 2, current)">
            <a :class="{'active': i+1 === current}" >{{ i+1 }}</a>
          </li>
        </template>
        <template v-else>
          <li v-for="i in current"  @click="go(i+1)">
            <a :class="{'active': i+1 === current}" >{{ i+1 }}</a>
          </li>
        </template>
        <template v-if="current + 6 < max ">
          <li  @click="go(i+1)" v-for="i in range(current , current + 2)" >
            <a :class="{'active': i+1 === current}" >{{ i+1 }}</a>
          </li>
          <a class="..." >...</a>
          <li @click="go(i+1)" v-for="i in range(max - 2, max)">
            <a :class="{'active': i+1 === current}" >{{ i+1 }}</a>
          </li>
        </template>
        <template v-else>
          <li v-for="i in range(current, max)"  @click="go(i+1)">
            <a :class="{'active': i+1 === current}" >{{ i+1 }}</a>
          </li>
        </template>
    </template>
  </ul>
</div><!-- paginator -->

</template>

<script>
export default {
  props: ['max', 'current'],
  data () {
    return {
    }
  },
  ready () {
  },
  events: {
  },
  methods: {
    range: function (a, b) {
      var arr = []
      for (var i = a; i < b; i++) {
        arr.push(i)
      }
      return arr
    },
    go: function (page) {
      this.$dispatch('paging', page)
    }
  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';

.paginator{

  $text-color: rgba(110,110,110,1);
  $text-color-hover: rgba(240,240,240,1);

  display: block;
  margin-top: 30px;
  text-align: center;
  color: $text-color;
  font-size: 20px;

  ul{
    display: inline-block;
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      list-style: none;
      a{
        cursor: pointer;
        padding: 2px 10px;
        margin: 0;
        -webkit-transition: .2s; /* Safari */
        transition: .2s;

        &:hover{
          color: $text-color-hover;
        }
        &.active{
          color: $spotify-green;
        }
      }
    }/* li */
  }/* ul */
}

</style>
