<template>

  <template v-if="mode == 'playlist'">
    <div class="background-container">
      <div
        :style="{'background-image': 'url(' + playPlaylist.info.image + ')'}"
        class="background">
      </div>
    </div><!-- playlist-background -->
  </template>

  <div id="player">

    <div id="player-inner" v-show="!!mode">
      <div id="video-container">
        <div class="header">
          <i class="fa fa-times mini-player-close-button desktop"
            aria-hidden="true"
            v-if="miniPlayer"
            @click="closePlayer"
            ></i>
          <i class="mini-player-close-button mobile"
            v-if="miniPlayer"
            @click="closePlayer"
            >×</i>
          <div class="mini-player-expand-button" :class="{expand: true, expanded: !miniPlayer}" @click="toggleExpand"></div>

        </div>

        <youtube
          class="embed-video-container"
          :video-id="playingVideo.yt_id"
          :player-vars="{autoplay: 1,modestbranding:1,showinfo:0, controls: 1, autohide:1, wmode:'opaque'}"
          @ready="ready"
          @ended="ended"
          @error="error"
          :player-width="settings.width"
          :player-height="settings.height"
          ></youtube>

        <div class="control-panel-container side-player-control-panel-container">
          <div class="control-panel left">
            <div class="btn"
                :class="{'like': true, 'active': playingVideo.is_favorite}"
                @click="addToFavorite(!playingVideo.is_favorite)">
              <!-- add active class to button.like -->
              <i class="fa fa-heart" aria-hidden="true"></i>
            </div>


            <add-to-list-dropdown v-if="isAuthenticated" :yt_id="playingVideo.yt_id"></add-to-list-dropdown>


            <div :class="{btn: true, expand: true, expanded: !miniPlayer}"
              @click="toggleExpand">
              <i class="fa fa-expand" aria-hidden="true"></i>
              <i class="fa fa-compress compress" aria-hidden="true"></i>
            </div>

          </div><!-- control-panel left -->

          <div class="control-panel right">
            <div class="btn shuffle"
                :class="{'active': shuffleMode}"
                @click="changeShuffleMode"
                v-show="mode == 'playlist'">
              <i class="fa fa-random" aria-hidden="true"></i>
            </div>
            <div class="btn repeat"
                :class="{'active': repeatMode}"
                @click="changeRepeatMode"
                v-show="mode == 'playlist'">
              <i class="fa fa-repeat" aria-hidden="true"></i>
            </div>
            <div class="btn" @click="playNext(-1)">
              <i class="fa fa-backward" aria-hidden="true"></i>
            </div>
            <div class="btn" @click="playNext(1)">
              <i class="fa fa-forward" aria-hidden="true"></i>
            </div>
          </div><!-- control-panel right -->
        </div><!-- control-panel-container -->

<!-- ⬇︎ single video -->
        <template v-if="mode == 'video'">
          <div class="playing-video-info" v-show="mode == 'video'">
            <div class="title">
              {{ playingVideo.title }}
              <i v-show="false" class="fa fa-angle-down video-info-dropdown" aria-hidden="true"></i>
            </div>

            <table class="active"><!-- class="active" -->
              <tbody>
                <tr v-if="playingVideo.artists  && playingVideo.artists.length > 0">
                  <th>
                    Artist :
                  </th>
                  <td>
                    <span v-link="{ name: 'artist' , params: { name: item.name } }" 
                      v-for="item in playingVideo.artists"> {{ item.name }}</span>
                  </td>
                </tr>
                <tr v-if="playingVideo.genres && playingVideo.genres.length > 0">
                  <th>
                    Genres :
                  </th>
                  <td>
                    <span v-link="{ name: 'browseDetail' , params: { type: 'genre', id: item.id } }" 
                  v-for="item in playingVideo.genres"> {{ item.name }}</span>
                  </td>
                </tr>
                <tr v-if="playingVideo.tags && playingVideo.tags.length > 0">
                  <th>
                    Tags :
                  </th>
                  <td>
                    <span v-link="{ name: 'browseDetail' , params: { type: 'tag', id: item.id } }" 
                  v-for="item in playingVideo.tags"> {{ item.name }}</span>
                  </td>
                </tr>
              </tbody>
            </table>

          </div><!-- video-info -->
        </template><!-- if playing video -->
<!-- ⬆︎ single video -->


<!-- ⬇︎︎ playlist -->
        <template v-if="mode == 'playlist'">

          <div class="playing-video-info playlist-mode">
            <div class="title">
              {{ playingVideo.title }}
              <i class="fa fa-angle-down video-info-dropdown" aria-hidden="true"></i>
            </div>

            <table class="active"><!-- class="active" -->
              <tbody>
                <tr v-if="playingVideo.artists && playingVideo.artists.length > 0">
                  <th>
                    Artist :
                  </th>
                  <td>
                    <span
                      v-link="{ name: 'artist' , params: { name: item.name } }"
                     v-for="item in playingVideo.artists"> {{ item.name }}</span>
                  </td>
                </tr>
                <tr v-if="playingVideo.genres && playingVideo.genres.length > 0">
                  <th>
                    Genres :
                  </th>
                  <td>
                    <span v-link="{ name: 'browseDetail' , params: { type: 'genre', id: item.id } }"
                  v-for="item in playingVideo.genres"> {{ item.name }}</span>
                  </td>
                </tr>
                <tr v-if="playingVideo.tags && playingVideo.tags.length > 0">
                  <th>
                    Tags :
                  </th>
                  <td>
                    <span v-link="{ name: 'browseDetail' , params: { type: 'tag', id: item.id } }"
                  v-for="item in playingVideo.tags"> {{ item.name }}</span>
                  </td>
                </tr>
              </tbody>
            </table>

          </div><!-- playing-video-info.playlist-mode -->

        </template><!-- if playing playlist -->
<!-- ⬆︎︎ playlist -->


      </div><!-- video-container -->

      <div id="player-sidepanel">


<!-- ⬇︎ single video sidepanel -->
        <template v-if="mode == 'video'">
          <div id="player-video-scroller" class="scroller single-video">
            <h4 class="up-next-text">
              UP NEXT
            </h4>
            <div class="item video-item" 
              v-for="video in playVideo.relatedVideos" >
              <img class="item-image" :src='"https://img.youtube.com/vi/" + video.yt_id + "/mqdefault.jpg"'>
              <p class="item-name">
                {{ video.title }}
              </p>
              <div class="play-btn">
                <i
                  class="fa fa-play play"
                  aria-hidden="true"
                  @click="playVideoById(video.yt_id)">
                </i>
                <!-- <i
                  v-else
                  class="fa fa-play play"
                  aria-hidden="true"
                  v-link="{ name: 'player', params: { type: 'v', slug: video.yt_id } }"
                </i> -->

                <sound-bar v-show="playPlaylist.order[playPlaylist.idx] == $index" class="sound-bar"></sound-bar>
              </div><!-- play-btn -->
              <video-dropdown
                :owned="false"
                :playlist_id="undefined"
                :yt_id="video.yt_id"
                class="action-nav">
              </video-dropdown>
            </div><!-- item -->

          </div><!-- scroller -->

        </template><!-- if playing video -->
<!-- ⬆︎ single video sidepanel -->



<!-- ⬇︎ playlist sidepanel -->
        <template v-if="mode=='playlist'">

          <div class="desc">
            <div class="desc-background-container">
              <div class="desc-background" :style="{'background-image': 'url(' + playPlaylist.info.image + ')'}"></div>
            </div>
            <div class="desc-inner">
              <div class="playlist-thumbnail" 
                :style="{'background-image': 'url(' + playPlaylist.info.image + ')'}"></div>
              <div class="playlist-info">
                <div class="title"
                  v-link="{ name: 'playlist', params: { id: playPlaylist.info.id } }">
                  <span>
                    {{ playPlaylist.info.name }}
                  </span>
                </div><!-- playlist name here -->
                <p>
                  Created by: <span v-link="{ name: 'user', params: { username: playPlaylist.info.creator.username } }">{{ playPlaylist.info.creator.username }} </span> | {{ playPlaylist.info.videos.length }} videos
                </p>

                <div class="action">
                  <template v-if="!playPlaylist.privateInfo.is_owned">
                    <button class="button follow"
                      v-if="!playPlaylist.privateInfo.is_following"
                      @click="follow(playPlaylist.info.id)">
                      FOLLOW
                    </button>
                    <button class="button follow active"
                      v-if="playPlaylist.privateInfo.is_following"
                      @click="unfollow(playPlaylist.info.id)">
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      FOLLOWING
                    </button>
                  </template>

                  <share-dropdown
                    v-show="playPlaylist.info.is_public" 
                    :share-url="playPlaylist.info.share_url"
                    :label="'&nbsp;SHARE'"
                    class="button share">
                  </share-dropdown>
                </div>
              </div><!-- playlist-info -->
            </div><!-- desc-inner -->
          </div><!-- desc -->

          <div id="player-video-scroller" class="scroller">
            <div class="item"
              :class="{active: playPlaylist.order[playPlaylist.idx] == $index}"
              v-for="video in playPlaylist.info.videos">
              <img class="item-image" :src='"https://img.youtube.com/vi/" + video.yt_id + "/mqdefault.jpg"'>
              <p class="item-name">
                {{ video.title }}
              </p>
              <div class="play-btn">
                <i
                  class="fa fa-play play"
                  aria-hidden="true"
                  @click="playPlaylistVideo($index)">
                </i>
                <sound-bar v-show="playPlaylist.order[playPlaylist.idx] == $index" class="sound-bar"></sound-bar>
              </div>
              <video-dropdown
                v-if="isAuthenticated"
                :owned="playPlaylist.privateInfo.is_owned"
                :playlist_id="playPlaylist.info.id"
                :yt_id="video.yt_id"
                class="action-nav">
              </video-dropdown>
            </div><!-- item -->
          </div><!-- scroller -->
        </template><!-- if playing playlist -->
<!-- ⬆︎︎ playlist sidepanel -->

      </div><!-- panel-container -->

    </div><!-- player-inner -->
  </div><!-- player -->
</template>

<script>
import Vue from 'vue'
import VueYouTubeEmbed from 'vue-youtube-embed'
import SoundBar from '../shared/sound-bar'
import ShareDropdown from '../shared/share-dropdown'
import AddToListDropdown from '../shared/add-to-list-dropdown'
import VideoDropdown from '../shared/video-dropdown'
import http from '../../services/http'
import user from '../../stores/user'
import $ from 'jquery'
import Ps from 'perfect-scrollbar'
import notify from '../../services/notify'
import {findIndex} from 'lodash'
import store from '../../stores/store'

Vue.use(VueYouTubeEmbed)

export default {
  components: {
    SoundBar,
    ShareDropdown,
    AddToListDropdown,
    VideoDropdown
  },
  data () {
    return {
      initScrollbar: false,
      params: '',
      player: null,
      stopped: false,
      shuffleMode: true,
      repeatMode: true,
      mode: '',
      miniPlayer: true,
      playVideo: {
        yt_id: '',
        params: {},
        info: {
          added_lists: [],
          artists: [],
          genres: [],
          tags: []
        },
        upnextVideo: '',
        relatedVideos: []
      },
      playPlaylist: {
        yt_id: '',
        info: {
          videos: [],
          creator: {
            username: ''
          }
        },
        privateInfo: {
          is_owned: false,
          is_contributor: false,
          is_following: false
        },
        order: [],
        idx: -1
      },
      playingVideo: {
        added_lists: [],
        artists: [],
        genres: [],
        tags: []
      },
      timeout: null,
      settings: {
        // width: 160,
        // height: 160 * 0.5625
        width: 400,
        height: 225
      },
      isAuthenticated: false
    }
  },
  watch: {
    'mode': function (val) {
      if (val) {
        $('#main-container').addClass('active')
      } else {
        $('#main-container').removeClass('active')
      }
    }
  },
  ready () {
    this.loadDefaultModes()
  },
  events: {
    'init': function () {
      this.isAuthenticated = !!store.state.user
    },
    'player:play-video': function (ytId, title, params) {
      this.params = params
      if (this.mode === 'video' && this.playingVideo.yt_id === ytId) {
        console.log('[Error] same song!')
        return true
      }
      this.stopped = false
      this.mode = 'video'
      this.getPlayingVideoInfo(ytId, title)
      window.clearTimeout(this.timeout)
      this.timeout = window.setTimeout(() => {
        http._post('/api/add_history_video', {yt_id: this.playingVideo.yt_id}, null)
      }, 10000)
      // if (document.body.classList.contains('mobile')) {
      //   this.$emit('player:expand')
      // }
    },
    'player:play-playlist': function (slug, ytId) {
      if (this.mode === 'playlist' && this.playPlaylist.info.slug === slug) {
        return true
      }
      this.stopped = false
      this.mode = 'playlist'
      this.playPlaylist.yt_id = ytId
      this.loadPlaylistInfo(slug)
      window.clearTimeout(this.timeout)
      this.timeout = window.setTimeout(() => {
        http._post('/api/add_history_playlist', {slug: slug}, null)
      }, 10000)
      // if (document.body.classList.contains('mobile')) {
      //   this.$emit('player:expand')
      // }
    },
    'player:stop': function () {
      this.stopped = true
      this.player.stopVideo()
    },
    'player:expand': function () {
      if (document.body.classList.contains('mobile')) {
        this.settings.width = 300
        this.settings.height = 300 * 0.5625
      } else {
        this.settings.width = 400 * 1.8
        this.settings.height = 225 * 1.8
      }

      this.miniPlayer = false
      $('#player-container').addClass('expand')
    },
    'player:minimize': function () {
      if (this.mode && !this.miniPlayer) {
        if (document.body.classList.contains('mobile')) {
          this.settings.width = 160
          this.settings.height = 160 * 0.5625
        } else {
          this.settings.width = 400
          this.settings.height = 225
        }

        $('#player-container').removeClass('expand')
        this.miniPlayer = true
      }
    },
    'remove:video': function (ytId) {
      var idx = findIndex(this.playPlaylist.info.videos, {yt_id: ytId})
      if (idx > -1) {
        this.playPlaylist.info.videos.splice(idx, 1)
      }
    }
  },
  methods: {
    getPlayingVideoInfo: function (ytId, title) {
      http.get('/api/playing_video_info', {yt_id: ytId, title: title, params: JSON.stringify(this.params)}, (res) => {
        this.setScrollbar()
        // playing video information
        this.playingVideo = res.playingVideo

        // related videos
        this.playVideo.relatedVideos = res.relatedVideos
        this.playVideo.upnextVideo = res.relatedVideos[0]
      })
    },
    loadPlaylistInfo: function (slug) {
      http.get('/api/get_playlist_data', {slug: slug}, (res) => {
        this.setScrollbar()
        this.playPlaylist.info = res.data
        this.playPlaylist.order = [...Array(this.playPlaylist.info.videos.length).keys()]
        if (this.shuffleMode) {
          this._shuffle(this.playPlaylist.order)
        }
        if (res.data.videos.length > 0) {
          this.playPlaylist.idx = 0
          if (this.playPlaylist.yt_id) {
            var idx = findIndex(this.playPlaylist.info.videos, {yt_id: this.playPlaylist.yt_id})
            if (idx) {
              this.playPlaylist.idx = this.playPlaylist.order.indexOf(idx)
            }
          }
          this.playingVideo = res.data.videos[this.playPlaylist.order[this.playPlaylist.idx]]
        }
      })

      console.log('slug2: ', slug)
      http._get('/api/get_playlist_private_data', {slug: slug}, (res) => {
        this.playPlaylist.privateInfo.is_following = res.is_following
        this.playPlaylist.privateInfo.is_owned = res.is_owned
        this.playPlaylist.privateInfo.is_contributor = res.is_contributor
      })
    },
    toggleExpand: function () {
      if (this.mode === 'video') {
        if (this.miniPlayer) {
          this.$route.router.go('/player/v/' + this.playingVideo.yt_id + '?params=' + JSON.stringify(this.params))
          this.$root.$broadcast('player:expand')
        } else {
          this.$route.router.go('/')
        }
      } else {
        if (this.miniPlayer) {
          this.$route.router.go('/player/pl/' + this.playPlaylist.info.slug)
          this.$root.$broadcast('player:expand')
        } else {
          this.$route.router.go('/')
        }
      }
      this.setScrollbar()
    },
    setScrollbar: function () {
      Ps.initialize(document.getElementById('player-video-scroller'), {
        suppressScrollX: true,
        wheelSpeed: 2,
        wheelPropagation: false,
        minScrollbarLength: 20
      })
    },
    ready: function (player) {
      if (document.body.classList.contains('mobile')) {
        this.settings.width = 160
        this.settings.height = 160 * 0.5625
      } else {
        this.settings.width = 400
        this.settings.height = 225
      }
      console.log('YT Player is Ready! ')
      this.$dispatch('player:ready')
      this.player = player
    },
    ended: function () {
      if (this.mode === 'video') {
        notify.play(this.playVideo.upnextVideo.yt_id, this.playVideo.upnextVideo.title)
        console.log('Playnext: ', this.playVideo.upnextVideo.yt_id)
        this.$emit('player:play-video', this.playVideo.upnextVideo.yt_id, this.playVideo.upnextVideo.title, this.params)
      } else {
        this.playNext(1, true)
      }
    },
    error: function () {
      console.log('>>> Playback Error!! ')
      if (!this.stopped) {
        if (this.mode === 'video') {
          this.$emit('player:play-video', this.playVideo.upnextVideo.yt_id, this.playVideo.upnextVideo.title, this.params)
          notify.play(this.playVideo.upnextVideo.yt_id, this.playVideo.upnextVideo.title)
        } else {
          this.playNext(1, true)
        }
      }
    },
    closePlayer: function () {
      window.clearTimeout(this.timeout)
      this.stopped = true
      this.player.stopVideo()
      this.playingVideo.yt_id = ''
      this.mode = ''
    },
    addToFavorite: function (flag) {
      if (this.isAuthenticated) {
        http.get('/api/add_to_favorite', {yt_id: this.playingVideo.yt_id, flag: flag}, (res) => {
          this.playingVideo.is_favorite = !!flag
        })
      } else {
        this.$dispatch('login:require')
      }
    },
    addToPlaylist: function (listId) {
      if (this.isAuthenticated) {
        http.get('/api/add_to_playlist', {yt_id: this.playingVideo.yt_id, playlist_id: listId}, (res) => {
          this.$dispatch('notify', 'Successfully added ! ')
        })
      } else {
        this.$dispatch('login:require')
      }
    },
    playVideoById: function (ytId) {
      this.getPlayingVideoInfo(ytId)
    },
    playNext: function (val, showNotify = false) {
      this.playPlaylist.idx = this.playPlaylist.idx + val
      if (this.playPlaylist.idx < 0) {
        this.playPlaylist.idx = this.playPlaylist.info.videos.length - 1
      }
      if (this.playPlaylist.idx >= this.playPlaylist.info.videos.length) {
        this.playPlaylist.idx = 0
      }

      this.playingVideo = this.playPlaylist.info.videos[this.playPlaylist.order[this.playPlaylist.idx]]

      this.getPlayingVideoInfo(this.playingVideo.yt_id)
      showNotify && notify.play(this.playingVideo.yt_id, this.playingVideo.title)
    },
    playPlaylistVideo: function (idx) {
      this.playPlaylist.idx = this.playPlaylist.order.indexOf(idx)
      this.playingVideo = this.playPlaylist.info.videos[idx]
      this.getPlayingVideoInfo(this.playingVideo.yt_id)
    },
    follow: function (id) {
      if (this.isAuthenticated) {
        user.followPlaylist(id, 1, (res) => {
          this.playPlaylist.privateInfo.is_following = true
        })
      } else {
        this.$dispatch('login:require')
      }
    },
    unfollow: function (id) {
      if (this.isAuthenticated) {
        user.followPlaylist(id, 0, (res) => {
          this.playPlaylist.privateInfo.is_following = false
        })
      } else {
        this.$dispatch('login:require')
      }
    },
    loadDefaultModes: function () {
      if (window.localStorage.shuffleMode !== undefined) {
        this.shuffleMode = !!(parseInt(window.localStorage.shuffleMode))
      }
      if (window.localStorage.repeatMode !== undefined) {
        this.repeatMode = !!(parseInt(window.localStorage.repeatMode))
      }
    },
    setDefaultModes: function () {
      window.localStorage.setItem('shuffleMode', this.shuffleMode ? 1 : 0)
      window.localStorage.setItem('repeatMode', this.repeatMode ? 1 : 0)
    },
    changeShuffleMode: function () {
      this.shuffleMode = !this.shuffleMode
      if (this.shuffleMode) {
        this._shuffle(this.playPlaylist.order)
      } else {
        this.playPlaylist.idx = this.playPlaylist.order[this.playPlaylist.idx]
        this.playPlaylist.order = this.playPlaylist.order.sort()
      }
      this.setDefaultModes()
    },
    changeRepeatMode: function () {
      this.repeatMode = !this.repeatMode
      this.setDefaultModes()
    },
    _shuffle: function (a) {
      var j, x, i
      for (i = a.length; i; i--) {
        j = Math.floor(Math.random() * i)
        x = a[i - 1]
        a[i - 1] = a[j]
        a[j] = x
      }
    }
  }
}
</script>

<style scoped lang='scss'>
@import 'assets/sass/_vars.scss';
@import 'assets/sass/player-control.scss';

$video-width: 400px;
$video-height: 225px;

#player{
  #player-inner{
    position: fixed;
    z-index: 40;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding-top: $header-height;
    height: 100vh;
    width: $video-width;
    box-shadow: -2px 0 5px rgba(0,0,0,.4);
    background-color: darken($dropdown-background-color, 10%);
    @include transition(.4s);

    #video-container{
      background-color: $side-player-background-color;
      position: relative;
      z-index: 2;
      .header{
        border-top: 2px solid rgba(5,5,5,1);
        position: relative;
        box-sizing: border-box;
        width: $video-width;
        padding: 2px 0 2px 7px;
        margin: 0;
        @include mobile-mode{
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          border: none;
          width: 100%;
          height: 100%;
          padding: 0;
        }

        .mini-player-close-button{
          position: relative;
          top: -2px;
          @include border-radius(50%);
          cursor: pointer;
          display: inline-block;
          color: $yellow;
          margin: 0;
          text-align: center;
          font-size: 9.5px;
          font-weight: bold;
          padding: 2px 2.3px 2px 1.7px;
          line-height: 7px;
          width: 7px;
          opacity: .7;
          color: rgba(0,0,0,0);
          &:nth-child(1){
            margin-right: 5px;
          }
          &.desktop{
            background-color: $google-red;
            @include mobile-mode{
              display: none;
            }
          }
          &.mobile{
            display: none;
            font-style: none;
            @include mobile-mode{
              display: inline-block;
              font-size: 16px;
              color: #fff;
              text-shadow: 0 0 3px rgba(0,0,0,1);
              opacity: 1;
              z-index: 2;
              left: 2px;
            }
          }
          &:hover{
            opacity: 1;
            &.close{
              color: darken($google-red, 36%);
            }
            &.expand{
              color: darken($google-green, 36%)
            }
          }
        }

        .mini-player-expand-button{
          display: none;
          @include mobile-mode{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(140,0,0,0);
            &.expanded{
              display: none;
            }
          }
        }
      }/* header */
    }

    .playing-video-info{
      border-top: 2px solid $side-player-background-color;
      background-color: lighten($side-player-background-color, 5%);
      padding: 0;
      .title{
        $line-height: 27px;
        $toggle-width: 37px;
        position: relative;
        @include line-clamp(2);
        padding: 0 $toggle-width 10px 10px;
        line-height: $line-height;
        margin: 10px 0 0 0;
        color: rgba(220,220,220,1);
        font-size: 13px;

        i.video-info-dropdown{
          cursor: pointer;
          font-size: 24px;
          position: absolute;
          bottom: 10px;
          right: 0;
          color: $spotify-blue;
          line-height: $line-height;
          text-align: center;
          width: $toggle-width;
          font-weight: bold;
          &:hover{
            color: lighten($spotify-blue, 10%);
          }

        }
      }
      table{
        border-collapse: collapse;
        background-color: lighten($side-player-background-color, 17%);
        box-shadow: 0 2px 10px rgba(0,0,0,1);
        @include transition(.2s);
        display: none;

        &.active{
          display: block;
        }

        tr{
          // border-bottom: 1px solid lighten($side-player-background-color, 2%);
          font-size: 12px;
        }
        th{
          padding-top: 5px;
          line-height: 20px;
          vertical-align: top;
          width: 64px;
          color: rgba(154,154,154,1);
          text-align: right;
        }
        td{
          padding-top: 5px;
          text-align: left;
          span{
            display: inline-block;
            @include border-radius(5px);
            background-color: darken($dropdown-background-color, 14%);
            line-height: 20px;
            padding: 0 10px;
            cursor: pointer;
            text-shadow: 1px 1px 2px rgba(0,0,0,.6);
            margin-left: 5px;
            margin-bottom: 5px;
            color: rgba(210,210,210,1);
            box-shadow: 1px 1px 2px rgba(0,0,0,.6);
            opacity: .8;
            @include transition(.3s);
            &:hover{
              opacity: 1;
              background-color: darken($dropdown-background-color, 17%);
              box-shadow: 2px 2px 3px rgba(0,0,0,.4);
            }
          }
        }
      }/* table */
      &.playlist-mode{
        display: none;
      }
    }/* video-info */

    #player-sidepanel{
      height: 100%;

      .desc{
        position: relative;

        .desc-background-container{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;

          .desc-background{
            position: absolute;
            z-index: 0;
            top: -10%;
            left: -10%;
            -webkit-filter: blur(2px);
            filter: blur(2px);
            width: 120%;
            height: 120%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }

        .desc-inner{
          position: relative;
          padding: 10px;
          background: rgba(0,0,0,.8);
          background: -webkit-linear-gradient(top, rgba(30,30,30,.6) , darken($dropdown-background-color, 18%)); /* For Safari 5.1 to 6.0 */

          .title{
            margin: 0;
            padding: 10px 0 0 0;
            text-align: left;
            cursor: pointer;

            span{
              display: inline-block;
              @include line-clamp(1);
              &:hover{
                text-decoration: underline;
              }

            }
          }
          p{
            padding: 0 0 0 10px;
            display: inline-block;
            opacity: .6;
            font-size: 12px;
            span{
              cursor: pointer;
              color: $spotify-green;
            }
          }
          .action{
            padding-top: 10px;

            .button{
              position: relative;
              opacity: .8;
              cursor: pointer;
              display: inline-block;
              box-shadow: 2px 2px 3px rgba(0,0,0,.8);
              text-shadow: 1px 1px 2px rgba(0,0,0,.8);
              padding: 5px 20px;
              font-size: 11px;
              color: rgba(230,230,230,1);
              text-shadow: 1px 1px 2px rgba(0,0,0,.6);
              @include border-radius(20px);
              border: 1px solid rgba(0,0,0,0);
              &:hover{
                opacity: 1;
                box-shadow: 3px 3px 4px rgba(0,0,0,8);
              }
              i{
                padding-right: 3px;
              }
              &.follow{
                background: $spotify-green;
                &.active{
                  background: rgba(0,0,0,0);
                  cursor: pointer;
                  text-shadow: none;
                  opacity: .7;
                  box-shadow: none;
                  border: 2px solid rgba(255,255,255,.2);
                  i{
                    color: $pink;
                  }
                  &:hover{
                    opacity: 1;
                    box-shadow: 2px 2px 4px rgba(0,0,0,1);
                  }
                }
              }/* following button */
              &.share{
                background: $spotify-blue;
                &:hover{
                  background-color: darken($spotify-blue, 10%);
                  i{
                    color: $spotify-blue;
                  }
                }
              }/* share-button */
              & + .button{
                margin-left: 5px;
              }
            }/* button */
          }/* action */
        }/* desc-inner */
      }/* desc */

      .scroller{
        position: relative;
        z-index: 0;
        overflow: hidden;
        height: 100vh;
        box-sizing: border-box;
        padding-bottom: $header-height + 520px;
        /* ⬆︎ insert player-container-height by js */

        .up-next-text{
          background: $dark-black;
          background: -webkit-linear-gradient(top, rgba(30,30,30,0) , darken($dropdown-background-color, 18%)); /* For Safari 5.1 to 6.0 */
          margin: 0;
          padding: 20px 10px 10px 10px;
          font-size: 20px;
          color: rgba(110,110,110,1);
        }

        .item{
          $thumbnail-height: 51px;
          $thumbnail-width: $thumbnail-height * 1.77777777777778;

          position: relative;
          width: 100%;
          height: $thumbnail-height;
          font-size: 0;
          margin: 0;
          padding: 10px 0;
          @include transition(.1s);

          .item-image{
            cursor: pointer;
            opacity: .7;
            position: absolute;
            top: 10px;
            left: 10px;
            display: inline-block;
            vertical-align: middle;
            width: $thumbnail-width;
            height: $thumbnail-height;
            background-color: darken($lime-green, 20%);
          }
          .item-name{
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding: 0 40px 0 0;
            padding-left: $thumbnail-width + 20px;
            display: inline-block;
            vertical-align: top;
            font-size: 12px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
          }
          .play-btn{
            position: absolute;
            cursor: pointer;
            z-index: 1;
            top: 10px;
            left: 10px;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            width: $thumbnail-width;
            height: $thumbnail-height;
            background: rgba(0,0,0,.6);
            font-size: 30px;
            text-shadow: 2px 2px 3px rgba(0,0,0,1);
            opacity: 0;
            @include transition(.2s);
            .play{
              display: inline-block;
              width: $thumbnail-width;
              line-height: $thumbnail-height;
            }
            .sound-bar{
              display: none;
              line-height: $thumbnail-height;
            }
            &:hover{
              color: $spotify-green;
            }
          }
          .action-nav{
            position: absolute;
            z-index: 3;
            top: 10px;
            right: 0;
            padding: 0;
            margin: 0;
            width: 40px;
            display: inline-block;
            line-height: $thumbnail-height;
            font-size: 30px;
            text-align: right;
            font-size: 20px;
          }
          &:hover{
            background: darken($dropdown-background-color,5%);
            .play-btn{
              opacity: 1;
            }
          }
          &.active{
            background-color: darken($dropdown-background-color, 18%);
            .item-image{
              opacity: .6;
            }
            .item-name{
              opacity: .6;
            }
            .play-btn{
              opacity: 1;
              background-color: rgba(0,0,0,.8);
              .play{
                display: none;
              }
              .sound-bar{
                display: inline-block;
              }
            }
          }

        }/* item */
        &.single-video{
          padding-bottom: $header-height + 520px;

          .item:nth-child(2){
            background-color: darken($dropdown-background-color, 18%);
            color: rgba(150,150,150,1);
            .item-image{
              opacity: .6;
            }
            &:hover{
              color: rgba(220,220,220,1);
              .item-image{
                opacity: 1;
              }
            }
          }
        }
      }/* scroller */
    }/* player-sidepanel */
    @include mobile-mode{
      box-sizing: content-box;
      top: 10px;
      right: 10px;
      width: 160px;
      padding: 0;
      height: auto;
      box-shadow: -3px 3px 10px rgba(0,0,0,.8);
      #video-container{
        .embed-video-container{
          display: block;
          width: $mobile-video-width;
          margin: 0 auto;
        }
      }
      .control-panel-container{
        display: none;
      }
      .playing-video-info{
        display: none;
        &.active{
          display: block;
        }
      }
      #player-sidepanel{
        display: none;
        &.active{
          display: block;
        }
      }
    }
  }/* player-inner */
}/* player */


/* *******************
⬇︎ expanded player */

$expanded-video-width: $video-width * 1.8;
$expanded-video-height: $video-height * 1.8;
$player-sidepanel-width: 360px;

#player-container.expand{
  position: static;
  height: auto;

  .background-container{
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: $header-height;
    padding-left: $sidebar-width;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff,.1);
    @include mobile-mode{
      padding: 0;
    }

    .background{
      width: 100%;
      height: 100%;
      -webkit-filter: blur(10px);
      filter: blur(10px);
      background-repeat: no-repeat !important;
      background-size: cover !important;
      background-position: center !important;
      opacity: .4;
    }/* background */
  }/* background-container */

  #player{
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    padding: 20px $player-sidepanel-width 0 0;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;

    #player-inner{
      position: relative;
      box-sizing: border-box;
      width: $expanded-video-width;
      height: auto;
      padding: 0;
      margin: 0 auto;
      top: 0;
      right: 0;
      background: none;
      box-shadow: none;

      @include mobile-mode{
        width: 100%;

        .embed-video-container{
          display: block;
          width: $expanded-mobile-video-width;
          margin: 0 auto;
        }
      }

      .control-panel-container{
        display: block;
      }

      .playing-video-info.playlist-mode{
        display: block;
      }

      #player-sidepanel{
        position: fixed;
        top: 0;
        right: $activity-sidebar-width;
        padding-top: $header-height;
        width: $player-sidepanel-width;
        height: 100vh;
        overflow: hidden;
        background: rgba(255,255,255,.1);
        .desc{
          position: absolute;
          top: $header-height;
          left: 0;
          width: 100%;

          .desc-background-container{
            display: none;
          }
          .desc-inner{
            background: rgba(0,0,0,.8);
            background: -webkit-linear-gradient(top, rgba(#fff,.2) , rgba(#fff, .14)); /* For Safari 5.1 to 6.0 */
            $thumbnail-width: 90px;

            .playlist-thumbnail{
              width: $thumbnail-width;
              height: $thumbnail-width;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              position: absolute;
              top: 10px;
              left: 10px;
              background-color: darken($spotify-green, 20%);
            }
            .playlist-info{
              padding-left: $thumbnail-width + 10px;
              height: $thumbnail-width;

              .title{
                padding: 0;
                margin: 0;
                font-size: 16px;
              }
              .action{
                position: absolute;
                bottom: 10px;
              }
            }
          }
        }
        .scroller{
          position: relative;
          top: 150.25px;
          padding-bottom: $header-height + 200px;
          background-color: rgba(#fff,.1);
          overflow: hidden;
          height: 100vh;
          .item{
            &:hover{
              background: rgba(#fff, .3);
            }
            &.active{
              background: rgba(#000, .3);
            }
          }
          &.single-video{
            top: 0;
            padding-bottom: $header-height + 60px;
          }
        }

      }/* player-sidepanel */

    }/* player-inner */

    @include panel-collapse-width{
      position: relative;
      padding: 20px 0 0 0;
      margin: 0 auto;
      background: none;
      height: auto;
      overflow: visible;

      @include mobile-mode{
        padding: 10px 0 0 0;
      }

      #player-inner{
        width: $expanded-video-width;
        display: block;
        height: auto;

        @include mobile-mode{
          .header{
            display: none;
          }
        }

        @include mobile-mode{
          width: 100%;
        }

        #player-sidepanel{
          display: block;
          position: relative;
          top: auto;
          left: auto;
          right: auto;
          width: 100%;
          height: auto;
          overflow: visible;
          padding: 0;
          .desc{
            position: relative;
            top: auto;
            left: auto;
            .desc-inner{
              background: none;
              .playlist-thumbnail{
                display: none;
              }
              .playlist-info{
                padding-left: 0;
                height: auto;
                .title{
                  padding-top: 15px;
                  font-size: 24px;
                }
                .action{
                  position: static;
                }
              }
            }
          }
          .scroller{
            top: auto;
            height: auto;
            overflow: visible !important;
            padding: 0 0 120px 0;
            background-color: rgba(#fff,.1);
            .item{
              &:hover{
                background: rgba(#fff, .3);
              }
              &.active{
                background: rgba(#000, .3);
              }
            }
          }
        }
      }
    }
  }/* player */

}/* player-container */

</style>
