<template>
<div class="action-nav">
  <i class="fa fa-ellipsis-h dropdown-trigger" aria-hidden="true" @click="triggerShow"></i>
  <div class="dropdown-wrapper" v-show="show">
    <ul>
      <li class="item">
        Edit Playlist Info
      </li>
      <li class="item">
        Invite Collaborator
      </li>
      <li class="item">
        Delete
      </li>
    </ul>
  </div>
</div><!-- action-btn -->

</template>

<script>
import $ from 'jquery'
import store from '../../stores/store'
import http from '../../services/http'

export default {
  props: ['yt_id', 'playlist_id', 'owned'],
  data () {
    return {
      show: true,
      myPlaylists: []
    }
  },
  ready () {
    this.myPlaylists = store.state.userPlaylists
  },
  events: {
    'init': function () {
      this.myPlaylists = store.state.userPlaylists
    },
    'click2dom': function (e) {
      var $trigger = $(this.$el).find('.dropdown-trigger').get(0)
      if (e.target !== $trigger) {
        this.show = false
      }
    }
  },
  methods: {
    triggerShow: function () {
      this.show = true
    },
    addToList: function (plId) {
      http.get('/api/add_to_playlist', {yt_id: this.yt_id, playlist_id: plId}, (res) => {
        this.$dispatch('notify', 'Successfully added ! ')
      })
    },
    removeFromList: function () {
      http.post('/api/remove_from_playlist', {
        playlist_id: this.playlist_id,
        yt_id: this.yt_id
      }, (res) => {
        this.$dispatch('remove:video', this.yt_id)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';

$dropdown-width: 160px;

.action-nav{
  position: relative;
  display: inline-block;
  line-height: 100%;
  .dropdown-trigger{
    margin-left: 20px;
    font-size: 26px;
    cursor: pointer;
    line-height: 100%;
    width: 100%;
    text-align: center;
    &:hover{
      color: #f0f0f0;
    }

  }
  .dropdown-wrapper{
    position: absolute;
    z-index: 99;
    top: 42px;
    right: -50px;
    background: $dropdown-background-color;
    width: $dropdown-width;
    text-align: left;
    box-shadow: 0 0 40px rgba(0,0,0,.8);

    ul{
      width: 100%;
      padding: 0;
      margin: 0;

      li{
        cursor: pointer;
        line-height: 20px;
        list-style: none;
        opacity: .8;
        box-sizing: border-box;
        font-size: 12px;
        padding: 5px 10px;
        margin: 0;
        @include transition(.2s);

        &:hover{
          opacity: 1;
          background: rgba(0,0,0,.2);
          .second{
            display: block;
          }
        }
      }/* li */
    }/* ul */
  }/* dropdown-wrapper */
}
</style>