<template>

  <div class="playlist" >
    <div class="thumbnail-container">
      <div class="thumbnail"
          v-lazy:background-image="(playlist.image ? playlist.image : defaultPictureUrl)"
         ></div>
      <div class="action">
        <div class="inner" v-link="{ name: 'playlist', params: { slug: playlist.slug } }"></div>
        <p>
          <i class="fa fa-play play" aria-hidden="true" @click="playPlaylist(playlist.slug)"></i>
        </p>
      </div>
    </div><!-- thumbnail-container -->
    <div class="playlist-desc-container">
      <div class="playlist-desc-background"
        v-lazy:background-image="playlist.image" ></div>
      <div class="playlist-desc-inner">
        <p v-link="{ name: 'playlist', params: { slug: playlist.slug } }" class=title>
           {{ playlist.name }}
        </p>
        <p class="description">
          {{ playlist.description }}
        </p><!-- description -->
      </div><!-- playlist-desc-inner -->
      <div class="status">
        Created by <span class="user-name" v-link="{ name: 'user', params: { username: playlist.creator.username } }">{{ playlist.creator.username }}</span>
      </div>
    </div><!-- playlist-desc-container -->

  </div><!-- playlist -->


</template>

<script>
import user from '../../stores/user'

export default {
  props: ['playlist'],
  data () {
    return {
      defaultPictureUrl: '/static/myapp/img/default_playlist.png',
      currentUser: null,
      isAuthenticated: false
    }
  },
  ready () {
  },
  events: {
    'init': function () {
      this.currentUser = user.state.user
      this.isAuthenticated = user.state.isAuthenticated
    }
  },
  methods: {
    playPlaylist: function (slug) {
      this.$root.$broadcast('player:play-playlist', slug, null)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';

</style>
