<template>

 <div class="search-box-container">

    <div id="search-box">
      <div id="search-select-container">
        <select id="search-type" name="search-type" v-model="searchType">
          <option value="all">すべて</option>
          <option value="artist">アーティスト</option>
          <option value="video">動画</option>
          <option value="playlist">プレイリスト</option>
        </select>
      </div>
      <div id="search-input-container">
        <input
          @focus="onFocus=true"
          @blur="outfocus"
          v-model="keyword"
          v-on:keyup.13="submit"
          type="text"
          class="search-box"
          placeholder="曲、アーティスト、プレイリスト、タグを検索">
          <!-- if eng. {{Search for song, artist, user...}} -->

        <div id="search-box-suggestion" v-show="onFocus" class="suggestion arrow_box">

          <div v-if="result.tags" class="item-container">
            <h3>Tags</h3>
            <div class="item tag"
              v-for="item in result.tags"
              class="tag"
              v-link="{ name: 'browseDetail' , params: { type: 'tag', id: item.id } }">
                {{item.name}}
            </div>
          </div><!-- suggestion tags -->

          <div v-if="result.artists" class="item-container">
            <h3>Artists</h3>
            <div class="item tag"
              v-for="item in result.artists"
              class="tag"
              v-link="{ name: 'artist' , params: { name: item.name } }">
                {{item.name}}
            </div>
          </div><!-- suggestion artists -->

          <div v-if="result.playlists" class="item-container">
            <h3>Playlists</h3>
            <div v-for="item in result.playlists" 
                v-link="{ name: 'playlist', params: { slug: item.slug } }" class="item playlist">
              <div class="thumbnail" :style="{'background-image': 'url(' + (item.image ? item.image : defaultPlaylistImage) + ')'}"></div>
              <p>{{item.name}}</p>
            </div>
          </div><!-- suggestion playlists -->

          <div v-if="result.videos" class="item-container">
            <h3>Videos</h3>
            <div class="item video" v-for="item in result.videos"  
              v-link="{ name: 'player', params: { type: 'v', slug: item.yt_id } }" >
              <div class="thumbnail"
                :style="{'background-image': 'url(https://img.youtube.com/vi/' + item.yt_id + '/0.jpg'}"></div>
              <p>{{item.title}}</p>
            </div>
          </div><!-- suggestion videos -->

          <div v-if="result.users" class="item-container">
            <h3>Users</h3>
            <div class="item user" v-for="item in result.users" v-link="{ name: 'user', params: { username: item.username } }">
              <div class="thumbnail" :style="{background: 'url(' + (item.picture ? item.picture : defaultUserPicture) + ')'}"></div>
              <p>{{item.username}}</p>
            </div>
          </div><!-- suggestion users -->

        </div><!-- suggestion -->


      </div><!-- search-input-container -->
      <button type="submit" form="form1" value="Submit">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div><!-- search box -->

  </div><!-- search-box-container -->

</template>

<script>
import http from '../../services/http'
import Ps from 'perfect-scrollbar'

export default {
  data () {
    return {
      // note: changing this line won't causes changes
      // with hot-reload because the reloaded component
      // preserves its current state and we are modifying
      // its initial state.
      searchType: 'all',
      defaultPlaylistImage: '/static/myapp/img/default_playlist.png',
      defaultUserPicture: '/static/myapp/img/default_avatar.png',
      keyword: '',
      result: {
        videos: [],
        playlists: [],
        users: [],
        tags: [],
        artists: []
      },
      onFocus: false
    }
  },
  watch: {
    keyword: function (val) {
      if (val.trim() !== '') {
        http._get('/api/search_suggest', {type: this.searchType, keyword: val.trim(), yt_search: 0}, (res) => {
          this.result = res.results
        })
      } else {
        this.result = {}
      }
    }
  },
  ready () {
    Ps.initialize(window.document.getElementById('search-box-suggestion'), {
      suppressScrollX: true,
      wheelSpeed: 2,
      wheelPropagation: false,
      minScrollbarLength: 20
    })
  },
  methods: {
    submit: function () {
      this.$route.router.go('/search?type=' + this.searchType + '&q=' + this.keyword)
      this.onFocus = false
    },
    outfocus: function () {
      setTimeout(() => {
        this.onFocus = false
      }, 100)
    }
  }
}
</script>

<style scoped lang="scss">
@import 'assets/sass/_vars.scss';

$border-color: rgba(120,120,120,1);
$search-box-width: 360px;

.search-box-container{
  $search-box-width: 320px;
  $search-box-height: 25px;

  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: $sidebar-width + 5px;
  width: 600px;

  #search-box{
    display: block;
    position: absolute;
    z-index: 99;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    height: $search-box-height;
    font-size: 0;
    color: rgba(80,80,80,1);
    background: rgba(220,220,220,1);
    @include border-radius(4px);

    #search-select-container{
      display: inline-block;
      vertical-align: top;
      height: $search-box-height;
      background: rgba(160,160,160,1);
      padding: 0 3px;
      @include border-radius(4px 0 0 4px);
      select{
        height: $search-box-height;
        border: none;
        background: none;
        color: rgba(30,30,30,1);
        font-size: 12px;
      }

    }
    #search-input-container{
      display: inline-block;
      vertical-align: top;
      position: relative;

      input.search-box{
        display: inline-block;
        box-sizing: border-box;
        line-height: $search-box-height;
        width: $search-box-width;
        border: none;
        background: none;
        padding-left: 10px;
        font-size: 12px;
        background: rgba(220,220,220,1);
        position: relative;
        z-index: 99;
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(80,80,80,1);
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: rgba(80,80,80,1);
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: rgba(80,80,80,1);
      }
      :-moz-placeholder { /* Firefox 18- */
        color: rgba(80,80,80,1);
      }

      .suggestion{
        position: absolute;
        z-index: 98;
        top: $search-box-height;
        left: 0;
        box-sizing: border-box;
        max-height: 70vh;
        width: $search-box-width;
        padding: 0;
        margin: 0;
        overflow-y: hidden;
        font-size: 0;
        box-shadow: 0 0 40px rgba(0,0,0,.8);
        background: rgba($dropdown-background-color, .97);

        h3{
          color: rgba(160,160,160,1);
          padding: 10px 1% 5px 1%;
          margin: 20px 0 0 0;
          font-size: 16px;
          font-weight: normal;
        }
        .item{
          opacity: .7;
          cursor: pointer;
          background-color: darken($dropdown-background-color, 10%);
          @include transition(.2s);
          color: rgba(210,210,210,1);
          &:hover{
            opacity: 1;
          }

          &.playlist{
            box-sizing: border-box;
            position: relative;
            padding: 2px;
            display: inline-block;
            vertical-align: top;
            width: calc(97% / 2);
            min-height: 64px;
            margin: 0 0 1% 1%;
            font-size: 0;
            &:hover{
              background: rgba(0,0,0,.3);
              opacity: 1;
            }
            .thumbnail{
              position: absolute;
              top: 2px;
              left: 2px;
              padding: 0;
              margin: 0;
              width: 60px;
              height: 60px;
              display: inline-block;
              background-size: cover !important;
              background-repeat: no-repeat !important;
              background-position: center !important;    }
            p{
              box-sizing: border-box;
              padding: 0 5px 0 65px;
              margin: 0;
              width: 100%;
              vertical-align: top;
              font-size: 12px;
            }
          }/* playlist-item */

          &.video{
            box-sizing: border-box;
            position: relative;
            padding: 5px;
            display: inline-block;
            width: 98%;
            margin: 0 0 1% 1%;
            font-size: 0;
            &:hover{
              background: rgba(0,0,0,.3);
              opacity: 1;
            }
            .thumbnail{
              position: absolute;
              top: 5px;
              left: 5px;
              padding: 0;
              margin: 0;
              width: 80px;
              height: 45px;
              display: inline-block;
              background-size: cover !important;
              background-repeat: no-repeat !important;
              background-position: center !important;    }
            p{
              box-sizing: border-box;
              padding: 0 5px 0 85px;
              margin: 0;
              width: 100%;
              min-height: 45px;
              vertical-align: top;
              font-size: 12px;
            }
          }/* video-item */

          &.tag{
            display: inline-block;
            list-style: none;
            margin: 0 0 1% 1%;
            padding: 5px 10px;
            font-size: 12px;
            @include transition(.2s);
          }/* tag-item */

          &.user{
            box-sizing: border-box;
            position: relative;
            padding: 2px;
            display: inline-block;
            width: calc(97% / 2);
            margin: 0 0 1% 1%;
            font-size: 0;

            .thumbnail{
              @include border-radius(50%);
              position: absolute;
              top: 7px;
              left: 7px;
              padding: 0;
              margin: 0;
              width: 50px;
              height: 50px;
              display: inline-block;
              background-size: cover !important;
              background-repeat: no-repeat !important;
              background-position: center !important;    }
            p{
              box-sizing: border-box;
              padding: 5px 5px 5px 65px;
              margin: 0;
              width: 100%;
              height: 60px;
              vertical-align: top;
              font-size: 12px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
            }
          }/* user */


        }/* item */
      }/* suggestion */



    }/* search-input-container */
    button{
      float: right;
      font-size: 13px;
      display: inline-block;
      vertical-align: top;
      padding: 0;
      text-align: center;
      width: 30px;
      margin: 0;
      line-height: 25px;
      background: none;
      border: none;
    }
  }/* searchBox */

}/* search-box-container */
</style>
