<template>
<div class="btn share">
  <div class="dropdown-trigger" @click="triggerShow">
    <i class="fa fa-share" aria-hidden="true"></i>
    {{ label }}
  </div>
  <div id="dropdown" v-show="show">

    <div class="lock-filter"></div>

    <div class="inner">
      <div class="label">
        <i class="fa fa-share" aria-hidden="true"></i>
        Share on :
      </div>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ shareUrl }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="social-btn facebook">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        Share
      </a>

      <a href="https://twitter.com/home?status=Listen%20to%20playlist%20on%20muusick%20{{ shareUrl }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" class="social-btn twitter">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        Tweet
      </a>

      <div class="label">
        <i class="fa fa-clipboard" aria-hidden="true"></i>
        Copy link :
      </div>
      <textarea type="text"　onclick="this.focus();this.select()" readonly="readonly">{{ shareUrl }}</textarea>
    </div>

  </div><!-- dropdown -->
</div><!-- action-btn -->

</template>

<script>
import $ from 'jquery'

export default {
  props: ['shareUrl', 'label'],
  data () {
    return {
      show: false,
      myPlaylists: []
    }
  },
  events: {
    'click2dom': function (e) {
      var $trigger = $(this.$el).find('.dropdown-trigger')
      var clickToTrigger = e.target === $trigger.get(0) || e.target === $trigger.children('i').get(0)
      var $copy = $(this.$el).find('textarea').get(0)
      if (!clickToTrigger && e.target !== $copy) {
        this.show = false
      }
    }
  },
  methods: {
    triggerShow: function () {
      this.show = true
      setTimeout(() => {
        $(this.$el).find('textarea').select().focus()
      }, 100)
    },
    mouseleave: function () {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';

.btn.share{
  $dropdown-width: 200px;

  position: relative;

  #dropdown{
    position: absolute;
    top: 32px;
    left: -10px;
    z-index: 99;
    font-size: 0;
    .inner{
      position: relative;
      z-index: 99;
      padding: 0 10px 20px 10px;
      background: $dropdown-background-color;
      width: $dropdown-width;
      text-align: left;
      box-shadow: 0 0 10px rgba(0,0,0,1);
      font-size: 0;
    }

    .label{
      text-shadow: none;
      padding: 20px 0 5px 0;
      color: rgba(190,190,190,1);
      margin: 0;
      font-size: 14px;
      line-height: 18px;
    }
    .social-btn{
      line-height: 20px;
      padding: 3px 10px;
      margin: 0;
      @include border-radius(5px);
      text-decoration: none;
      color: rgba(255,255,255,1);
      box-shadow: 1px 1px 4px rgba(0,0,0,.4);
      text-shadow: 1px 1px 4px rgba(0,0,0,.4);
      font-size: 13px;
      & + .social-btn{
        margin-left: 10px;
      }

      &.facebook{
        background: $facebook-blue;
      }
      &.twitter{
        background: $twitter-blue
      }
      i{
        padding: 0 3px 0 0;
      }
    }/* share */
    textarea{
      font-size: 12px;
      color: rgba(70,70,70,1);
      position: relative;
      z-index: 99;
      box-sizing: border-box;
      border: none;
      background-color: rgba(220,220,220,1);
      padding: 6px;
      margin: 0;
      width: $dropdown-width;
      display: block;
      height: 60px;
    }

    .lock-filter{
      cursor: default;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.1);
    }

  }/* dropdown */
  &.text{
    .dropdown-trigger{
      i{
        display: none;
      }
    }
  }
}/* btn.share */

/* ⬇︎ when playlist/play */
.playlist-play-panel{
  .btn.share{
    #dropdown{
      right: auto;
      left: -10px;
    }
  }
}

</style>
