<template>
<div id="soundbar-large"><div class="bar" v-for="n in 6"></div></div>
</template>

<style lang="scss">

@keyframes sound{
  0% { opacity: .15; height: 1px;}
  100% { opacity: .8; height: $bar-height;}
}

#soundbar-large{
  $bar-width: 6px;
  $bar-height: 24px;
  $soundbar-width: $bar-width * 6;

  position: relative;
  width: $soundbar-width;
  height: $bar-height;
  .bar{
    position: absolute;
    bottom: 0;
    width: $bar-width;
    background: $spotify-green;
    animation: sound 0ms -800ms linear infinite alternate;
    -webkit-animation: sound 0ms -800ms linear infinite alternate;
    will-change: opacity, height;

    &:nth-child(1) { left: 0; animation-duration: 474ms;}
    &:nth-child(2) { left: $bar-width; animation-duration: 402ms;}
    &:nth-child(3) { left: $bar-width * 2; animation-duration: 422ms;}
    &:nth-child(4) { left: $bar-width * 3; animation-duration: 458ms;}
    &:nth-child(5) { left: $bar-width * 4; animation-duration: 436ms;}
    &:nth-child(6) { left: $bar-width * 5; animation-duration: 474ms;}
  }
}/* soundbar-large */
</style>