<template>
  <label class="switch">
    <span>{{ label }}</span>
    <input type="checkbox"
       :checked="localValue"
       :class="{checked: localValue}"
        @click="handleClick"
        :disabled="disabled"
        >
    <div class="slider"></div>
  </label>
</template>

<script>
export default {
  props: ['value', 'label', 'disabled'],
  data () {
    return {
      localValue: false
    }
  },
  ready () {
    this.localValue = this.value
  },
  watch: {
    'value': function (val) {
      this.localValue = val
    }
  },
  events: {
    'switch:click': function (val) {
      this.localValue = val
    }
  },
  methods: {
    handleClick: function () {
      if (!this.disabled) {
        this.$dispatch('switch:change')
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';

$height: 18px;
$circle: 18px;
.switch {
  display: block;

  span{
    display: inline-block;
    vertical-align: middle;
    color: rgba(210,210,210,1);
  }

  .slider {
    box-sizing: border-box;
    @include border-radius(20px);
    border: 2px solid rgba(80,80,80,1);
    background: rgba(0,0,0,1);
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 2px;
    padding: 0;
    height: $height;
    width: $circle * 2;
    box-shadow: 0 0 2px rgba(40,40,40,.6);
    cursor: pointer;
    -webkit-transition: .4s;
    transition: .4s;

    &:before {
      @include border-radius(50%);
      position: absolute;
      content: "";
      height: $circle;
      width: $circle;
      left: -2px;
      bottom: -2px;
      box-shadow: 2px 0 3px rgba(0,0,0,.6);
      background: rgba(190,190,190,1);
      -webkit-transition: .4s;
      transition: .4s;
    }
    &:hover{
      &:before{
        background: rgba(250,250,250,1);
      }
    }
  }/* slider */
  input {
    display:none;
    &:focus{
      + .slider {
        box-shadow: 0 0 1px #2196F3;
      }
    }
    &.checked{
      + .slider {
          border: 2px solid $spotify-green;
          background: $spotify-green;
        &:before {
          -webkit-transform: translateX($circle);
          -ms-transform: translateX($circle);
          transform: translateX($circle - 2px);
          box-shadow: -2px 0 3px rgba(0,0,0,.6);
        }
      }
    }
  }/* input */
}
</style>


