<template>

  <div class="user-item" >

    <div class="background"
      :style="{background: 'url(' + (info.picture ? info.picture : defaultPictureUrl) + ')'}"></div>

    <div v-link="{ name: 'user', params: { username: info.username } }" >
      <div class="thumbnail"
        :style="{'background-image': 'url(' + (info.picture ? info.picture : defaultPictureUrl) + ')'}"></div>


      <div class="user-info"
         v-link="{ name: 'user', params: { username: info.username } }" 
        >
        <p class="name" >
          <a v-link="{ name: 'user', params: { username: info.username } }"  >
            {{ info.username }}
          </a>
        </p>

      </div><!-- user-info -->
    </div>

    <div class="action" v-show="loginUsername !== info.username">
      <button :class="{follow: true, active: is_following}"
        @click="follow" >
        {{ is_following ? 'FOLLOWING' : 'FOLLOW'}}
      </button>
    </div><!-- action -->
    <div class="action owned" v-show="loginUsername === info.username">
      You are awesome <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    </div><!-- action -->


  </div><!-- user-item -->

</template>

<script>
import user from '../../stores/user'
import store from '../../stores/store'

export default {
  props: ['info'],
  data () {
    return {
      is_following: this.info.is_following,
      loginUsername: '',
      defaultPictureUrl: '/static/myapp/img/default_avatar.png',
      isAuthenticated: false
    }
  },
  ready () {
  },
  events: {
    'init': function () {
      this.isAuthenticated = !!store.state.user
      if (this.isAuthenticated) {
        this.loginUsername = store.state.user.username
      }
    }
  },
  methods: {
    follow: function () {
      if (this.isAuthenticated) {
        user.followUser(this.info.username, this.is_following ? 0 : 1, (res) => {
          this.is_following = !this.is_following
        })
      } else {
        this.$dispatch('login:require')
      }
    }
  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';


</style>


