<template>
<div class="action-nav">
  <i class="fa fa-ellipsis-h dropdown-trigger" aria-hidden="true" @click="triggerShow"></i>

  <div class="dropdown first" v-show="show">

    <div class="lock-filter"></div>

    <div class="item first">
      <span>Add To Playlist</span>
      <div class="dropdown second">
        <span v-for="playlist in myPlaylists" @click="addToList(playlist.id)">
          {{ playlist.name }}
        </span>
        <span v-for="playlist in collaboratePlaylists" @click="addToList(playlist.id)">
          {{ playlist.name }}
        </span>
      </div><!-- dropdown second -->
    </div>
    <div class="item first" @click="removeFromList" v-show="owned">
      Remove from list
    </div>
  </div><!-- dropdown first -->
</div><!-- action-btn -->

</template>

<script>
import $ from 'jquery'
import store from '../../stores/store'
import http from '../../services/http'

export default {
  props: ['yt_id', 'playlist_id', 'owned'],
  data () {
    return {
      show: false,
      myPlaylists: [],
      collaboratePlaylists: []
    }
  },
  ready () {
    this.myPlaylists = store.state.userPlaylists
    this.collaboratePlaylists = store.state.collaboratePlaylists
  },
  events: {
    'init': function () {
      this.myPlaylists = store.state.userPlaylists
      this.collaboratePlaylists = store.state.collaboratePlaylists
    },
    'click2dom': function (e) {
      var $trigger = $(this.$el).find('.dropdown-trigger').get(0)
      if (e.target !== $trigger) {
        this.show = false
      }
    }
  },
  methods: {
    triggerShow: function () {
      this.show = true
    },
    addToList: function (plId) {
      http.get('/api/add_to_playlist', {yt_id: this.yt_id, playlist_id: plId}, (res) => {
        this.$dispatch('notify', 'Successfully added ! ')
      })
    },
    removeFromList: function () {
      http.post('/api/remove_from_playlist', {
        playlist_id: this.playlist_id,
        yt_id: this.yt_id
      }, (res) => {
        this.$dispatch('remove:video', this.yt_id)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';

$dropdown-width: 160px;

.action-nav{
  position: relative;
  display: inline-block;
  line-height: 100%;
  .dropdown-trigger{
    cursor: pointer;
    line-height: 100%;
    width: 100%;
    text-align: center;
    &:hover{
      color: $spotify-blue;
    }

  }

  .dropdown{
    position: absolute;
    z-index: 99;
    background: $dropdown-background-color;
    width: $dropdown-width;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,1);

    &.first{
      top: 42px;
      right: 20px;
      padding: 0;
      margin: 0;

      .item{
        position: relative;
        display: block;
        cursor: pointer;
        color: rgba(220,220,220,1);
        line-height: 20px;
        list-style: none;
        opacity: .8;
        box-sizing: border-box;
        font-size: 12px;
        padding: 5px 10px;
        margin: 0;
        @include transition(.2s);
        -webkit-backface-visibility:hidden;
        backface-visibility:hidden;

        &:hover{
          opacity: 1;
          background: darken($dropdown-background-color, 10%);
          .second{
            display: block;
          }
        }
      }
    }/* first */
    &.second{
      display: none;
      position: absolute;
      z-index: 99;
      top: 0;
      left: -$dropdown-width;
      width: $dropdown-width;
      height: 25vh;
      overflow-y: scroll;
      background: $dropdown-background-color;
      box-shadow: 2px 0 10px rgba(0,0,0,.8);
      span{
        display: block;
        padding: 5px 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover{
          background: darken($dropdown-background-color, 10%);
        }
      }
    }

    .lock-filter{
      cursor: default;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.1);
    }

  }/* dropdown */
}/* action btn */
</style>

