<template>
  <div class="section">
    <div class="nav left" >
      <div class="nav-btn" @click="!disableClick && slideList(true)">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
      </div>
    </div><!-- nav-left -->
    <div class="nowrap" id="featurePlaylists">

      <video-item v-for="video in videos" :video="video"></video-item>

    </div><!-- nowrap -->
    <div class="nav right">
      <div class="nav-btn" @click="!disableClick && slideList(false)">
        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
      </div>
    </div><!-- nav-right -->
  </div><!-- section -->
</template>
<script>
import VideoItem from '../shared/video-item'
import $ from 'jquery'
import 'jquery-ui/ui/effects/effect-bounce'

export default {
  components: {VideoItem},
  props: ['videos'],
  data () {
    return {
      disableClick: false
    }
  },
  methods: {
    slideList: function (direction) {
      var $allEls = $(this.$el).find('.video')
      const LEFT = $(this.$el).offset().left
      const WIDTH = $(this.$el).width()
      const ITEM_WIDTH = $allEls.first().width() + ((parseFloat($allEls.first().css('margin-right'))) / 1)
      const SHOW_NUM = parseInt(WIDTH / ITEM_WIDTH)
      var sliderLeft = $allEls.first().offset().left
      var sliderRight = $allEls.last().offset().left + ITEM_WIDTH
      if (direction) {
        if (sliderLeft < LEFT) {
          this.disableClick = true
          $allEls.animate({'left': '+=' + (SHOW_NUM * ITEM_WIDTH) + 'px'}, 1000, 'easeOutQuint', () => {
            this.disableClick = false
            this.$Lazyload.lazyLoadHandler()
          })
        }
      } else {
        if (sliderRight > LEFT + WIDTH) {
          this.disableClick = true
          $allEls.animate({'left': '-=' + (SHOW_NUM * ITEM_WIDTH) + 'px'}, 1000, 'easeOutQuint', () => {
            this.disableClick = false
            this.$Lazyload.lazyLoadHandler()
          })
        }
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';



.section{
  position: relative;
  height: 100%;
  width: 100%;

  .nav{
    $nav-width: 50px;
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0;
    box-sizing: border-box;
    padding-bottom: 34px;
    height: 100%;
    width: $nav-width;
    text-align: center;
    @include transition(.4s);

    &.left{
      left: -30px;
      text-shadow: 2px 2px 4px rgba(0,0,0,1);
    }
    &.right{
      right: -30px;
      text-shadow: -2px 2px 4px rgba(0,0,0,1);
    }
    .nav-btn{
      position: relative;
      cursor: pointer;
      text-align: center;
      height: 100%;
      &:before{
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
      }/* to position i vertically in middle */
      i{
        display: inline-block;
        vertical-align: middle;
        color: rgba(170,170,170,1);
        opacity: .9;
        font-size: 50px;
        width: $nav-width - 2px;
        @include transition(.2s);
        &:hover{
          opacity: 1;
          color: rgba(240,240,240,1);
        }
      }
    }
    @include mobile-mode{
      display: none;
    }


  }/* nav */
  &:hover{
    .nav{
      opacity: 1;
    }
  }
  .nowrap{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    margin: 0;

    @include mobile-mode{
      overflow-x: scroll;
    }

  }/* nowrap */
}/* section */
</style>
