<template>
  <div class="video" @click="playVideo(video.yt_id, video.title)">
    <div class="thumbnail-container">
      <div class="thumbnail"
        v-lazy:background-image="'https://img.youtube.com/vi/' + video.yt_id +'/mqdefault.jpg'"
        ></div>
    </div>
    <p>
      {{ video.title }}
    </p>
  </div><!-- video -->
</template>

<script>
export default {
  props: ['video'],
  data () {
    return {
    }
  },
  methods: {
    playVideo: function (ytId, title) {
      this.$root.$broadcast('player:play-video', ytId, title)
    },
    mouseover: function () {
    },
    mouseleave: function () {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';

</style>
