<template>

<div id="banner" v-if="false">
  <img class="banner-item" src="https://scontent-nrt1-1.xx.fbcdn.net/v/t1.0-9/16142214_296298620786082_5023305545077506357_n.png?oh=6ecb5c12e18b92314041aee672b298d2&oe=59219157">
</div>


<div class="top-banner-container">

  <!-- ⬇︎ background here -->
  <div class="top-banner-background" style="background-image: url(https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=8IQdCCsL8jYT4gN3WRLRA6OOaAs%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6nlh8Tw1It6a2FowGz60oISJLOTW3hGTrbi6DxERaYCLauCMPQ1QVXCV1w4X5GK7fWGknhe8nod_aIBN8P7P6hWueZfj4fOUkZsk9EwOYKLjculMSLId36WTRNg9ZfIyWtNA);"></div>

  <h2>Features</h2>
</div><!-- detail background container -->


<div id="main-inner">

<!-- ⬇︎ feature ******************** -->
  <h3>
    Playlists
    <span v-link="{ name: 'playlistList', params: { param: 'feature' } }">
      SEE ALL
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </span>
  </h3>
  <playlist-slider :playlists="features.playlists"></playlist-slider>

  <h3>
    Videos
    <span v-link="{ name: 'videoList', params: { param: 'feature' } }">
      SEE ALL
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </span>
  </h3>
  <video-slider :videos="features.videos"></video-slider>

  <h3>
    Artists
    <span v-link="{ name: 'artistList', params: { param: 'feature' } }">
      SEE ALL
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </span>
    </h3>

  <artist-slider :artists="features.artists"></artist-slider>
<!-- ⬆︎ feature ******************** -->

</div>

<div class="top-banner-container banner-margin-top">

  <!-- ⬇︎ background here -->
  <div class="top-banner-background" style="background-image: url(https://scontent-hkg3-1.xx.fbcdn.net/v/t31.0-8/17157431_319093401839937_3685316967889800349_o.jpg?oh=9eb5057d7bcf27292bb49fca433d7049&oe=596A6E3C);"></div>

  <div class="top-banner-background-filter"></div>

  <h2>Trending</h2>
</div><!-- detail background container -->


<div id="main-inner">

<!-- ⬇︎ trending ******************** -->
    <h3>
      Playlists
      <span v-link="{ name: 'playlistList', params: { param: 'trending' } }">
        SEE ALL
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </span>
    </h3>

    <playlist-slider :playlists="trending.playlists"></playlist-slider>

    <h3>
      Videos
      <span v-link="{ name: 'videoList', params: { param: 'trending' } }">
        SEE ALL
        <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </span>
    </h3>
    <video-slider :videos="trending.videos"></video-slider>


   <!--  <h3>Tags</h3>
    <div class="full-width-responsive-inner">
      <div class="tag" v-for="tag in hotTags" v-link="{ name: 'browseDetail' , params: { type: 'tag', id: tag.id } }">
        <div :style="{'background-image': 'url(' + tag.image + ')'}" class="image"></div>
        <div class="name">
          <p> {{ tag.name }}</p>
        </div>
      </div>
    </div><!-- genre --> -->
<!-- ⬆︎ trending ************* -->


<!-- ⬇︎ for you ******************** -->
  <h2>
    For You
  </h2>

  <h3>
    Playlists
    <span v-show="false">
      SEE ALL
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </span>
  </h3>

  <playlist-slider :playlists="personalized.playlists"></playlist-slider>

  <h3>
    Videos
    <span  v-show="false">
      SEE ALL
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </span>
  </h3>
  <video-slider :videos="personalized.videos"></video-slider>
<!-- ⬆︎ for you ******************** -->



<!-- ⬇︎ recently added ******************** -->
  <h2>
    Recently Added
  </h2>

  <h3>
    Playlists
    <span v-show="false">
      SEE ALL
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </span>
  </h3>

  <playlist-slider :playlists="newAdded.playlists"></playlist-slider>

  <h3>
    Videos
    <span  v-show="false">
      SEE ALL
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </span>
  </h3>
  <video-slider :videos="newAdded.videos"></video-slider>
<!-- ⬆︎ recently added ******************** -->


</div><!-- main-inner -->

</template>

<script>
import store from '../../stores/store'
import PlaylistSlider from '../shared/playlist-slider'
import VideoSlider from '../shared/video-slider'
import ArtistSlider from '../shared/artist-slider'

export default {
  components: {PlaylistSlider, VideoSlider, ArtistSlider},
  data () {
    return {
      features: {
        playlists: []
      },
      trending: [],
      personalized: [],
      newAdded: [],
      hotTags: []
    }
  },
  events: {
    'init': function () {
      this.features = store.state.features
      this.trending = store.state.trending
      this.personalized = store.state.personalized
      this.newAdded = store.state.newAdded
      this.hotTags = store.state.hotTags
    }
  },
  ready () {
    this.$root.$broadcast('player:minimize')
    this.features = store.state.features
    this.trending = store.state.trending
    this.personalized = store.state.personalized
    this.newAdded = store.state.newAdded
    this.hotTags = store.state.hotTags
  },
  methods: {
  }
}
</script>







<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';

</style>
