<html>
<head>

<style>
  html, body, iframe, h2 {
    margin: 0;
    border: 0;
    padding: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    color: rgba(80,80,80,1);
  }
  iframe {
    height: calc(100vh - 50px);
  }
</style>

<link rel="stylesheet" href="stylesheets/frame.css">
<link rel="stylesheet" href="stylesheets/perfect-scrollbar.min.css">
<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"><!-- font awesome -->

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/lodash.js"></script>

</head>

<body>

  <div id="muuz-add-popup" @click="frameClick"><!-- don't change the id -->

    <div id="awesome-container">

      <div id="header">
        <img src="./img/logo_muusick_spotify-color.png">
        <div class="close" @click="closePopup">
          <i class="fa fa-times" aria-hidden="true"></i>
        </div>
      </div><!-- noselect-header -->


      <div class="inner">
        <div class="panel left">
          <div class="current-video-info">
            <h3>NOW PLAYING</h3>
            <img v-if="!!currentVideoId" :src="'https://img.youtube.com/vi/' + currentVideoId + '/mqdefault.jpg'" alt=""/>
            <p> {{ currentVideoTitle }} </p>
          </div>
      </div><!-- panel left -->

        <div class="panel right">

          <div v-show="!showLogin" class="playlist-container">

            <h3>Add to Your Playlists</h3>

            <div
              v-for="pl in playlists"
              @click="add2List(pl.id)"
              :class="{'playlist': true, 'active': pl.is_added}">

              <div class="thumbnail"
                   :style="{background: 'url(' + (pl.image ? pl.image : defaultImage) + ')'}"></div>

              <div class="playlist-background"
                :style="{background: 'url(' + (pl.image ? pl.image : defaultImage) + ')'}"
                ></div>

              <div class="title">
                <p>{{ pl.name }}</p>
              </div>

              <div class="action">
                <i class="fa fa-plus-square add" aria-hidden="true"></i>
                <i class="fa fa-check-square added" aria-hidden="true"></i>
              </div>

            </div><!-- playlist -->
          </div><!-- playlist-container -->

          <div v-show="!showLogin"  class="new-playlist-btn-container">
            <button class="new-playlist-button"
             @click="showAddNew = true">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              Create New Playlist
            </button>
          </div>

          <div id="new-playlist-container"
            v-show="showAddNew"
            transition="expand">
            <div class="playlist-desc">
              <input type="text" v-model="newlist.name" placeholder="Playlist Name"/>
              <textarea v-model="newlist.description" placeholder="Playlist Description"></textarea>
            </div><!-- playlist-desc -->
            <div class="error-msg" v-show="newlist.msg">{{ newlist.msg }}</div>

            <p class="error-msg">
              {{ newlist.msg }}
            </p>
            <div class="action">
              <button class="create" @click="createList" class="create">
                CREATE
              </button>
              <button class="cancel" @click="showAddNew = false">
                CANCEL
              </button>
            </div>
          </div><!-- new-playlist-container -->


<!-- ⬇︎ when not loged in -->
          <div id="muuz-login" v-show="showLogin" transition="expand" >
            <h1 class="msg">
              Please login to muusick.tv first!
            </h1>
            <p>
              <a target="_blank" href="https://muusick.tv/accounts/login/">Login Page</a>
            </p>
            <p>
              Please reload after logged in !
            </p>
          </div>
<!-- ⬆︎︎ when not loged in -->

        </div><!-- panel right -->

      </div><!-- inner -->
    </div><!-- awesome-container -->
  </div><!-- popup -->

<script type="text/javascript" src="js/frame.js"></script>
</body>
</html>

