<template>

  <div id="main-inner" >

    <h2>
      <i class="fa fa-heart favorite" aria-hidden="true"></i>
       Liked Videos
      <span class="button shuffle-play"
        v-show="videos.length > 0"
        @click="playAllFavorite()" >
        <i class="fa fa-play" aria-hidden="true"></i>
        Shuffle Play
      </span>

    </h2>


    <div class="full-width-responsive-inner">
      <video-item v-for="video in videos" :video="video"></video-item>
    </div>
  </div>
</template>

<script>
import http from '../../services/http'
import VideoItem from '../shared/video-item'

export default {
  components: {VideoItem},
  data () {
    return {
      videos: [],
      openTab: 'playlist'
    }
  },
  events: {
  },
  ready () {
    this.$root.$broadcast('player:minimize')
    this.fetchData()
  },
  methods: {
    fetchData: function () {
      var self = this
      http.get('/api/get_favorites', {}, function (res) {
        self.videos = res.videos
      })
    },
    playAllFavorite: function () {
      this.$root.$broadcast('player:play-video', undefined, undefined, {favorite: 'all'})
    }
  }
}
</script>



<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import 'assets/sass/_vars.scss';
@import 'assets/sass/common.scss';
@import 'assets/sass/responsive-full-width.scss';

.button.green{
    position: absolute;
    top: 63px;
    left: 278px;
}

</style>
